{% extends 'base/profile.html.twig' %}

{% import 'utils/macros.html.twig' as macros %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block side_navigation %}
    {{ knp_menu_render('account') }}
{% endblock %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div class="uk-text-large">{{ 'changePassword'|trans({}, 'profile') }}</div>
                    </div>
                </div>
                <span class="uk-hidden" id="password-changed-success-message">{{ 'passwordChanged'|trans({}, 'profile') }}</span>
                <div class="uk-margin-left uk-margin-right">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="uk-panel uk-margin-large-bottom">

                            {# TODO: add explanation text here #}
                            {% set nomatch = null %}
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_label(form.old_password) }}
                                        {% if form.old_password.vars.valid %}
                                            {{ form_widget(form.old_password) }}
                                        {% else %}
                                            {{ form_widget(form.old_password, { 'attr': {'class' : 'uk-form-danger'} }) }}
                                            {{ form_errors(form.old_password) }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.new_password.first) }}
                                        {% if form.new_password.vars.valid %}
                                            {{ form_widget(form.new_password.first) }}
                                        {% else %}
                                            {{ form_widget(form.new_password.first, { 'attr': {'class' : 'uk-form-danger'} }) }}
                                            {% for error in form.new_password.first.vars.errors %}
                                                {% if error.messageTemplate == 'Passwords do not match' %}
                                                    {% set nomatch = 'true' %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if nomatch is null %}
                                                {{ form_errors(form.new_password.first) }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.new_password.second) }}
                                        {% if form.new_password.vars.valid %}
                                            {{ form_widget(form.new_password.second) }}
                                        {% else %}
                                            {% if nomatch is not null %}
                                                {{ form_widget(form.new_password.second, { 'attr': {'class' : 'uk-form-danger'} }) }}
                                                {{ form_errors(form.new_password.first) }}
                                            {% else %}
                                                {{ form_widget(form.new_password.second) }}
                                            {% endif %}
                                        {% endif %}
                                        {{ form_errors(form.new_password.second) }}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="uk-panel uk-margin-large-bottom">
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_widget(form.save) }}</td>
                                </tr>
                            </table>
                        </div>
                        {{ form_row(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% if passwordChanged %}
        <script>
            window.onload = function() {
                UIkit.notify(document.querySelector("#password-changed-success-message").textContent);
            }
        </script>
    {% endif %}
{% endblock %}
