{% extends 'CommsyBundle:base:profile.html.twig' %}

{% import 'CommsyBundle:utils:macros.html.twig' as macros %}

{% form_theme form 'CommsyBundle:form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'contactData'|trans({}, 'profile') }}</div>
                    </div>
                </div>
                <div class="uk-margin-left uk-margin-right">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="uk-panel uk-margin-large-bottom">
                            <table class="uk-table">
                                <h1 class='uk-panel-title'>{{ 'email'|trans({}, 'profile') }}</h1>
                                <div style="margin-bottom: 10px;">{{ 'Email choice text'|trans({}, 'profile') }}</div>
                                <tr>
                                    <td>
                                        <label class="uk-form-label">
                                            {{ form_widget(form.emailChoice.0) }} {{ form_label(form.emailChoice.0) }}:
                                        </label>
                                        <div class="uk-form-controls" style="margin-top: 5px;">
                                            {{ form.emailAccount.vars.value }}
                                        </div>
                                    </td>
                                    <td rowspan="2" style="vertical-align: middle;">{{ form_row(form.emailChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="uk-form-label">
                                            {{ form_widget(form.emailChoice.1) }} {{ form_label(form.emailChoice.1) }}:
                                        </label>
                                        {{ form_widget(form.emailRoom) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.hideEmailInThisRoom) }}</td>
                                    <td>{{ form_row(form.hideEmailInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><hr/></td>
                                </tr>
                                <tr>
                                    <td><h1 class='uk-panel-title'>{{ 'phone'|trans({}, 'profile') }}</h1></td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.phone) }}</td>
                                    <td>{{ form_row(form.phoneChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.mobile) }}</td>
                                    <td>{{ form_row(form.mobileChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><hr/></td>
                                </tr>
                                <tr>
                                    <td><h1 class='uk-panel-title'>{{ 'Additional'|trans({}, 'menu') }}</h1></td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.skype) }}</td>
                                    <td>{{ form_row(form.skypeChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.homepage) }}</td>
                                    <td>{{ form_row(form.homepageChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{ form_row(form.description) }}
                                        {{ form_row(form.descriptionChangeInAllContexts) }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                           
                        <div class="uk-panel uk-margin-large-bottom">
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_widget(form.save) }}</td>
                                </tr>
                            </table>
                        </div>
                        {{ form_row(form.emailAccount) }}
                        {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
