{% extends 'base/profile.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <main id="main-content" aria-label="{{ 'lockOrDeleteRoomMembership'|trans({}, 'profile') }}">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-warning">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <h2 id="room-settings-heading-lock" class="uk-panel-title uk-text-uppercase">{{ 'lockRoomMembership'|trans({}, 'profile') }}</h2>
                    </div>
                </div>
                <div class="uk-alert uk-alert-warning">
                    {{ form_start(form_lock) }}
                        <span>{{ 'lockRoomMembershipText'|trans({}, 'profile') }}</span>

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'lock'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form_lock.confirm_field) }}
                            {{ form_widget(form_lock.confirm_field) }}
                            {{ form_widget(form_lock.confirm_button) }}
                        </div>
                    {{ form_end(form_lock) }}
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-top">
                <div class="uk-panel-teaser cs-panel-teaser-danger">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <h2 id="room-settings-heading-delete" class="uk-panel-title uk-text-uppercase">{{ 'deleteRoomMembership'|trans({}, 'profile') }}</h2>
                    </div>
                </div>
                <div class="uk-alert uk-alert-danger">
                    {{ form_start(form_delete) }}
                    {% if override == 'FALSE' %}
                        <span>{{ 'deleteRoomMembershipTextFalse'|trans({}, 'profile') }}</span>
                    {% elseif override == 'FLAG' %}
                        <span>{{ 'deleteRoomMembershipTextFlag'|trans({}, 'profile') }}</span>
                    {% else %}
                        <span>{{ 'deleteRoomMembershipText'|trans({}, 'profile') }}</span>
                    {% endif %}

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'delete'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form_delete.confirm_field) }}
                            {{ form_widget(form_delete.confirm_field) }}
                            {{ form_widget(form_delete.confirm_button) }}
                            <span class="uk-margin-left uk-text-uppercase uk-text-bold">{{ 'warning'|trans({}, 'menu') }}</span> {{ 'irreversibleMessage'|trans({}, 'menu') }}
                        </div>
                    {{ form_end(form_delete) }}
                </div>
            </div>
            </main>
        </div>
    </div>
{% endblock content %}
