{% extends 'base/profile.html.twig' %}

{% block side_navigation %}
    {{ knp_menu_render('account') }}
{% endblock %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-warning">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <span class="uk-text-uppercase uk-text-bold">
                            {{ 'lockAccount'|trans({}, 'profile') }}
                        </span>
                    </div>
                </div>
                <div class="uk-alert uk-alert-warning">
                    {{ form_start(form_lock) }}
                        <span>{{ 'lockAccountText'|trans({}, 'profile') }}</span>

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'lock'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {% for error in form_lock.confirm_field.vars.errors  %}
                                {% if ' ' not in error.message %}
                                    <br /><a href="/room/{{ error.message}}">
                                    {{ error.message | roomtitle}}
                                </a><br />
                                {% else %}
                                    {{ error.message |trans({}, "validators")}}<br/>
                                {% endif %}
                            {% endfor %}
                            {{ form_widget(form_lock.confirm_field) }}
                            {{ form_widget(form_lock.confirm_button) }}
                        </div>
                    {{ form_end(form_lock) }}
                </div>

                <br/>

                <div class="uk-panel-teaser cs-panel-teaser-danger">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <span class="uk-text-uppercase uk-text-bold">
                            {{ 'deleteAccount'|trans({}, 'profile') }}
                        </span>
                    </div>
                </div>
                <div class="uk-alert uk-alert-danger">
                    {{ form_start(form_delete) }}
                    {% if override == 'FALSE' %}
                        <span>{{ 'deleteAccountTextFalse'|trans({}, 'profile') }}</span>
                    {% elseif override == 'FLAG' %}
                        <span>{{ 'deleteAccountTextFlag'|trans({}, 'profile') }}</span>
                    {% else %}
                        <span>{{ 'deleteAccountText'|trans({}, 'profile') }}</span>
                    {% endif %}

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'delete'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {% for error in form_delete.confirm_field.vars.errors  %}
                                {% if ' ' not in error.message %}
                                    <br /><a href="/room/{{ error.message}}">
                                    {{ error.message | roomtitle}}
                                </a><br />
                                    {% else %}
                                        {{ error.message}}<br/>
                                {% endif %}
                            {% endfor %}
                            {{ form_widget(form_delete.confirm_field) }}
                            {{ form_widget(form_delete.confirm_button) }}
                            <span class="uk-margin-left uk-text-uppercase uk-text-bold">{{ 'warning'|trans({}, 'menu') }}</span> {{ 'irreversibleMessage'|trans({}, 'menu') }}
                        </div>
                    {{ form_end(form_delete) }}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}