{% if roomId != "" %}
    <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar">
        <ul class="uk-nav uk-nav-navbar">
            {% if userId != "" and userId != "0" %}
                {% if portalUser is defined and portalUser is not null %}
                    <li>
                        <a href="{{ path('app_profile_personal', {'roomId': portalUser.contextId, 'itemId': portalUser.itemId }) }}"><i class="uk-icon-justify uk-icon-user"></i> {{ 'Account'|trans([], 'profile') }}</a>
                    </li>
                {% endif %}
                {% if not inPrivateRoom and not inPortal %}
                    <li>
                        <a href="{{ path('app_profile_general', {'roomId': roomId, 'itemId': userId }) }}"><i class="uk-icon-justify uk-icon-th-list"></i> {{ 'Room profile'|trans([], 'profile') }}</a>
                    </li>
                {% endif %}
                <li class="uk-nav-divider"></li>
            {% endif %}
            <li>
                <a href="{{ path('app_logout') }}"><i class="uk-icon-justify uk-icon-power-off"></i> {{ 'Sign out'|trans([], 'profile') }}</a>
            </li>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li>
                    <a href="{{ path('app_room_listall', {'roomId': 1,'_switch_user': '_exit'}) }}" title="{{ 'Original user'|trans([], 'profile') }}">
                        <i class="uk-icon-sign-out"></i> {{ 'Original user'|trans([], 'profile') }}
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endif %}
