{% if roomId != "" %}
    <ul class="uk-nav uk-navbar-dropdown-nav">
        {% if userId != "" and userId != "0" %}
            <li>
                <a href="{{ path('app_profile_personal', {'roomId': roomId, 'itemId': userId }) }}">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                    {{ 'Account'|trans([], 'profile') }}
                </a>
            </li>
            {% if not inPrivateRoom and not inPortal %}
                <li>
                    <a href="{{ path('app_profile_general', {'roomId': roomId, 'itemId': userId }) }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span>
                        {{ 'Room profile'|trans([], 'profile') }}
                    </a>
                </li>
            {% endif %}
            <li class="uk-nav-divider"></li>
        {% endif %}
        <li>
            <a href="{{ path('app_logout') }}">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                {{ 'Sign out'|trans([], 'profile') }}
            </a>
        </li>
    </ul>
{% endif %}
