{% macro iconClassForItemType(type) %}
    {% if type == 'announcement' %}
        uk-icon-comment-o
    {% elseif type == 'date' %}
        uk-icon-calendar
    {% elseif type == 'material' %}
        uk-icon-file-o
    {% elseif type == 'section' %}
        uk-icon-file-o
    {% elseif type == 'discussion' %}
        uk-icon-comments-o
    {% elseif type == 'user' %}
        uk-icon-user
    {% elseif type == 'group' %}
        uk-icon-group
    {% elseif type == 'todo' %}
        uk-icon-check
    {% elseif type == 'task' %}
        uk-icon-home
    {% endif %}
{% endmacro %}

{% macro lastModified(item) %}
    {{ 'last modified on'|trans({})|capitalize }}: {{ item.modificationDate|date("d.m.Y") }}
    {{ 'at'|trans({}) }} {{ item.modificationDate|date("H:i") }}
    {{ 'by'|trans({}) }}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.modificatorItem.itemId}) }}">
        {{ item.modificatorItem.fullname }}
    </a>
{% endmacro %}

{% macro userStatus(user) %}
    {% if user.status == 0 %}
        {{ 'quit'|trans({})|capitalize }}
    {% elseif user.status == 1 %}
        {{ 'request'|trans({})|capitalize }}
    {% elseif user.status == 2 %}
        {{ 'user'|trans({})|capitalize }}
    {% elseif user.status == 3 %}
        {{ 'moderator'|trans({})|capitalize }}
    {% endif %}
{% endmacro %}

{% macro detailInformation(item, modifierList) %}
    {% import _self as macros %}
    <div class="uk-margin-bottom">
        <div class="toggle-{{ item.itemId }} uk-vertical-align">
            <div class="uk-margin-right uk-vertical-align-middle">
                {% if item.modificatorItem.isUser %}
                    {{  macros.userIconLink(item.modificatorItem, 'small') }}
                {% else %}
                    {{  macros.userIcon(item.modificatorItem, 'small') }}
                {% endif %}
            </div>
            <div class="uk-vertical-align-middle uk-margin-remove">
                <a class="toggle-{{ item.itemId }}" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show more'|trans({}) }}</a>
            </div>
        </div>
        <div class="uk-comment-header uk-flex uk-hidden toggle-{{ item.itemId }}">
            <div class="uk-margin-right">
                {% if item.modificatorItem.isUser %}
                    {{  macros.userIconLink(item.modificatorItem) }}
                {% else %}
                    {{  macros.userIcon(item.modificatorItem) }}
                {% endif %}
            </div>
            <div class="uk-margin-right">
                <div class="uk-comment-meta">
                    {{ 'by'|trans({})|capitalize }}: {{item.modificatorItem.fullname}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'created'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}
                </div>
                <a class="toggle-{{ item.itemId }} uk-hidden" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show less'|trans({}) }}</a>
            </div>
            {% if modifierList[item.itemId] is defined %}
                {% if not modifierList[item.itemId] is empty %}
                    <div class="uk-margin-right">
                        <div class="uk-comment-meta">
                            {{ 'additional\neditors'|trans({})|capitalize|nl2br }}:
                        </div>
                    </div>
                    {% for modifier in modifierList[item.itemId] %}
                        <div class="uk-margin-small-right">
                            {% if modifier.isUser %}
                                {{  macros.userIconLink(modifier, 'small') }}
                            {% else %}
                                {{  macros.userIcon(modifier, 'small') }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro statusColor(readerList, itemId, type='comment') %}
    {% if type == 'grid' %}
        {% if readerList[itemId] is defined %}
           {% if readerList[itemId] == 'new' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newEntry'|trans({})}}">
                    <i class="uk-icon-medium uk-text-danger uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedEntry'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'new_annotation' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed_annotation' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if readerList[itemId] is defined %}
           {% if readerList[itemId] == 'new' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newEntry'|trans({})}}">
                    <i class="uk-icon-medium uk-text-danger uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedEntry'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'new_annotation' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed_annotation' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro iconClassForFileType(type) %}
    {% if type == 'xlsx' or type == 'xls' %}
        uk-icon-file-excel-o
    {% elseif type == 'docx' or type == 'doc' or type == 'ods' %}
        uk-icon-file-word-o
    {% elseif type == 'pptx' or type == 'ppt' %}
        uk-icon-file-powerpoint-o
    {% elseif type == 'pdf' %}
        uk-icon-file-pdf-o
    {% elseif type == 'zip' or type == 'ipa' %}
        uk-icon-file-archive-o
    {% elseif type == 'png' or type == 'jpg' or type == 'eps' or type == 'gif' or type == 'svg' %}
        uk-icon-file-image-o
    {% elseif type == 'txt' or type == 'csv' or type == 'md' %}
        uk-icon-file-text-o
    {% elseif type == 'mpg' or type == 'wmv' or type == 'mp4' or type == 'avi' %}
        uk-icon-file-movie-o
    {% else %}
        uk-icon-file-o
    {% endif %}
{% endmacro %}

{% macro fileList(item) %}
    {% import _self as macros %}
    {% set fileArray = item.fileList.to_array %}
    {% if not fileArray is empty %}
        <ul class="uk-list">
        {% for file in fileArray %}
            <li><i class="{{ macros.iconClassForFileType(file.extension) }}"></i> <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}">{{ file.filename }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro fileListShort(item) %}
    {% import _self as macros %}
    {% if item.itemType != 'material' %}
        {% set fileArray = item.fileList.to_array %}
    {% else %}
        {% set fileArray = item.fileListWithFilesFromSections.to_array %}
    {% endif %}
    {% if not fileArray is empty %}
        {% for file in fileArray %}
            <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}" data-uk-tooltip title="{{ file.filename }}"><i class="{{ macros.iconClassForFileType(file.extension) }}"></i></a>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro userIcon(user, size) %}
    {% if size == 'small' %}
        <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:30px; width:30px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
    {% elseif size matches '/^\\d+$/' %}
        <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:{{ size }}px; width:{{ size }}px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
    {% else %}
        <img class="uk-comment-avatar uk-thumbnail uk-border-circle cs-comment-thumbnail" style="height:42px; width:42px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
    {% endif %}
{% endmacro %}

{% macro userIconLink(user, size) %}
    {% import _self as macros %}
    <a href="{{ path('commsy_user_detail', {'roomId': user.contextId, 'itemId': user.itemId}) }}">
        {{  macros.userIcon(user, size) }}
    </a>
{% endmacro %}

{% macro actionIcons(title, item, edit) %}
    <div class="uk-width-1-10 uk-flex uk-text-right">
        {% if edit %}
            {% if is_granted('ITEM_EDIT', item.itemId) %}
                <div class="cs-edit uk-hidden">
                    <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                </div>
            {% endif %}        
        {% endif %}
        <div class="cs-toggle-icon uk-margin-left uk-width-1-1">
            <a class="cs-toggle" data-uk-toggle="{target:'.toggle-{{ title }}-{{ item.itemId }}'}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
        </div>
   </div>
{% endmacro %}

{% macro editContent(title, item, edit, content, preview, shortPreview, displayCount, count) %}
    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-9-10">
                <h4 class="cs-detail-section-header">
                    {{- title|trans({}) }}
                    {% if displayCount %}
                        ({{count}})
                    {% endif %}
                </h4>
            </div>

            {{ _self.actionIcons(title, item, edit) }}
        </div>

        {# content #}
        {% if not content is empty and not preview is empty %}
            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">

                {# preview #}
                <div class="toggle-{{ title }}-{{ item.itemId }} {% if shortPreview %}cs-toggle-preview-small{% else %}cs-toggle-preview{% endif %}">
                    {{ preview|raw }}

                    <a href="#">more</a>
                </div>

                {# full content #}
                <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-content uk-hidden">
                    {{ content|raw }}
                </div>

            </div>
        {% else %}
            <div class="uk-width-9-10 uk-margin-top-remove">
                
                {% if not content is empty %}
                    <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-content">
                        {{ content|raw }}
                    </div>
                {% else %}
                    <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-empty">
                        <span class="uk-text-muted">{{ 'no content'|trans({}, "room") }}</span>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </article>

{% endmacro %}

{% macro ratingStatus(item) %}
    <div class="uk-text-nowrap">
        <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
        <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
        <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
        <i class="cs-icon-star-small uk-icon-star-o"></i>
        <i class="cs-icon-star-small uk-icon-star-o"></i>
    </div>
{% endmacro %}

{% macro workflowTrafficLight(item) %}
    {% import _self as macros %}
    
    {{ macros.workflowStatus(item.workflowTrafficLight) }}
{% endmacro %}

{% macro workflowStatus(status) %}
    <div class="uk-text-nowrap">
    {% if status == '0_green' %}
        <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-success"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
    {% elseif status == '1_yellow' %}
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-warning"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
    {% elseif status == '2_red' %}
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-danger"></i>
    {% else %}
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
        <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
    {% endif %}
    </div>
{% endmacro %}

{% macro workflowWhoCreator(item) %}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.creatorItem.itemId}) }}">
        {{ item.creatorItem.fullname }}
    </a>
{% endmacro %}

{% macro workflowWhoModifier(item) %}
    {% import _self as macros %}
    
    {{ macros.workflowWhoCreator(item) }}
    
    {% for modifier in item.modifierList %}
        <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': modifier.itemId}) }}">
            {{ modifier.fullname }}
        </a>
    {% endfor %}
{% endmacro %}