{% macro iconClassForItemType(type) %}
    {% if type == 'announcement' %}
        uk-icon-home
    {% elseif type == 'date' %}
        uk-icon-calendar
    {% elseif type == 'material' %}
        uk-icon-file-o
    {% elseif type == 'discussion' %}
        uk-icon-comments-o
    {% elseif type == 'user' %}
        uk-icon-user
    {% elseif type == 'group' %}
        uk-icon-group
    {% elseif type == 'todo' %}
        uk-icon-check
    {% elseif type == 'task' %}
        uk-icon-home
    {% endif %}
{% endmacro %}


{% macro lastModified(item) %}
    {{ 'last modified on'|trans({})|capitalize }}: {{ item.modificationDate|date("d.m.Y") }}
    {{ 'at'|trans({}) }} {{ item.modificationDate|date("H:i") }}
    {{ 'by'|trans({}) }}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.modificatorItem.itemId}) }}">
        {{ item.modificatorItem.fullname }}
    </a>
{% endmacro %}

{% macro userStatus(user) %}
    {% if user.status == 0 %}
        {{ 'quit'|trans({})|capitalize }}
    {% elseif user.status == 1 %}
        {{ 'request'|trans({})|capitalize }}
    {% elseif user.status == 2 %}
        {{ 'user'|trans({})|capitalize }}
    {% elseif user.status == 3 %}
        {{ 'moderator'|trans({})|capitalize }}
    {% endif %}
{% endmacro %}

{% macro detailInformation(item, modifierList) %}
    <div class="uk-margin-bottom">
        <div class="toggle-{{ item.itemId }} uk-vertical-align">
            <div class="uk-margin-right uk-vertical-align-middle">
                <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.creatorId}) }}">
                    <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:30px; width:30px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ item.creatorID }}/image" alt="" data-uk-tooltip title="{{ item.creator.fullname }}">
                </a>
            </div>
            <div class="uk-vertical-align-middle uk-margin-remove">
                <a class="toggle-{{ item.itemId }}" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show more'|trans({}) }}</a>
            </div>
        </div>
        <div class="uk-comment-header uk-flex uk-hidden toggle-{{ item.itemId }}">
            <div class="uk-margin-right">
                <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.creatorId}) }}">
                    <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:60px; width:60px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ item.creatorID }}/image" alt="" data-uk-tooltip title="{{ item.creator.fullname }}">
                </a>
            </div>
            <div class="uk-margin-right">
                <div class="uk-comment-meta">
                    {{ 'by'|trans({})|capitalize }}: {{item.creator.fullname}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'created'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}
                </div>
                <a class="toggle-{{ item.itemId }} uk-hidden" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show less'|trans({}) }}</a>
            </div>
            {% if modifierList[item.itemId] is defined %}
                {% if not modifierList[item.itemId] is empty %}
                    <div class="uk-margin-right">
                        <div class="uk-comment-meta">
                            {{ 'additional\neditors'|trans({})|capitalize|nl2br }}:
                        </div>
                    </div>
                    {% for modifier in modifierList[item.itemId] %}
                        <div class="uk-margin-right">
                            <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': modifier.itemId}) }}">
                                <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:60px; width:60px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ modifier.itemId }}/image" alt="" data-uk-tooltip title="{{ modifier.fullname }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro statusBadge(readerList, itemId) %}
    {% if readerList[itemId] is defined %}
        {% if readerList[itemId] == 'new' %}
            <div class="uk-panel-badge uk-badge uk-badge-danger">{{ 'new'|trans({})|capitalize }}</div>
        {% elseif readerList[itemId] == 'changed' %}
            <div class="uk-panel-badge uk-badge uk-badge-warning">{{ 'changed'|trans({})|capitalize }}</div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro statusColor(readerList, itemId) %}
    {% if readerList[itemId] is defined %}
        {% if readerList[itemId] == 'new' %}
            uk-text-danger
        {% elseif readerList[itemId] == 'changed' %}
            uk-text-warning
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro iconClassForFileType(type) %}
    {% if type == 'xlsx' or type == 'xls' %}
        uk-icon-file-excel-o
    {% elseif type == 'docx' or type == 'doc' or type == 'ods' %}
        uk-icon-file-word-o
    {% elseif type == 'pptx' or type == 'ppt' %}
        uk-icon-file-powerpoint-o
    {% elseif type == 'pdf' %}
        uk-icon-file-pdf-o
    {% elseif type == 'zip' or type == 'ipa' %}
        uk-icon-file-archive-o
    {% elseif type == 'png' or type == 'jpg' or type == 'eps' or type == 'gif' or type == 'svg' %}
        uk-icon-file-image-o
    {% elseif type == 'txt' or type == 'csv' or type == 'md' %}
        uk-icon-file-text-o
    {% elseif type == 'mpg' or type == 'wmv' or type == 'mp4' or type == 'avi' %}
        uk-icon-file-movie-o
    {% else %}
        uk-icon-file-o
    {% endif %}
{% endmacro %}

{% macro fileList(item) %}
    {% import _self as macros %}
    {% set fileArray = item.fileList.to_array %}
    {% if not fileArray is empty %}
        {{ 'files'|trans({})|capitalize }}:
        <ul class="uk-list">
        {% for file in fileArray %}
            <li><i class="{{ macros.iconClassForFileType(file.extension) }}"></i> <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}">{{ file.filename }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro fileListShort(item) %}
    {% import _self as macros %}
    {% if item.itemType != 'material' %}
        {% set fileArray = item.fileList.to_array %}
    {% else %}
        {% set fileArray = item.fileListWithFilesFromSections.to_array %}
    {% endif %}
    {% if not fileArray is empty %}
        {% for file in fileArray %}
            <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}" data-uk-tooltip title="{{ file.filename }}"><i class="{{ macros.iconClassForFileType(file.extension) }}"></i></a>
        {% endfor %}
    {% endif %}
{% endmacro %}