{% macro iconClassForItemType(type) %}
    {% if type == 'announcement' %}
        uk-icon-home
    {% elseif type == 'date' %}
        uk-icon-calendar
    {% elseif type == 'material' %}
        uk-icon-file-o
    {% elseif type == 'discussion' %}
        uk-icon-comments-o
    {% elseif type == 'user' %}
        uk-icon-user
    {% elseif type == 'group' %}
        uk-icon-group
    {% elseif type == 'todo' %}
        uk-icon-check
    {% elseif type == 'task' %}
        uk-icon-home
    {% endif %}
{% endmacro %}


{% macro lastModified(item) %}
    {{ 'last modified on'|trans({})|capitalize }}: {{ item.modificationDate|date("d.m.Y") }}
    {{ 'at'|trans({}) }} {{ item.modificationDate|date("H:i") }}
    {{ 'by'|trans({}) }}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.modificatorItem.itemId}) }}">
        {{ item.modificatorItem.fullname }}
    </a>
{% endmacro %}

{% macro userStatus(user) %}
    {% if user.status == 0 %}
        {{ 'quit'|trans({})|capitalize }}
    {% elseif user.status == 1 %}
        {{ 'request'|trans({})|capitalize }}
    {% elseif user.status == 2 %}
        {{ 'user'|trans({})|capitalize }}
    {% elseif user.status == 3 %}
        {{ 'moderator'|trans({})|capitalize }}
    {% endif %}
{% endmacro %}

{% macro detailInformation(item) %}
    <a class="toggle-{{ item.itemId }}" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}"><i class="uk-icon-info"></i> {{ 'information'|trans({}) }}</a>
    <a class="toggle-{{ item.itemId }} uk-hidden" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}"><i class="uk-icon-angle-up"></i> {{ 'show less'|trans({}) }}</a>
    <div class="uk-comment-header uk-flex uk-hidden toggle-{{ item.itemId }}">
        <div class="uk-margin-right">
            <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.creatorId}) }}">
                <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:60px; width:60px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ item.creatorID }}/image" alt="">
            </a>
        </div>
        <div>
            <div class="uk-comment-meta">
                {{ 'by'|trans({})|capitalize }}: {{item.creator.fullname}}
            </div>
            <div class="uk-comment-meta">
                {{ 'created'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}
            </div>
            <div class="uk-comment-meta">
                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}
            </div>
            <div class="uk-comment-meta">
                {{ 'editors'|trans({})|capitalize }}: todo
            </div>
        </div>
    </div>
{% endmacro %}