{% macro iconClassForItemType(type) %}
    {% if type == 'announcement' %}
        uk-icon-comment-o
    {% elseif type == 'date' %}
        uk-icon-calendar
    {% elseif type == 'material' %}
        uk-icon-file-o
    {% elseif type == 'section' %}
        uk-icon-file-o
    {% elseif type == 'discussion' %}
        uk-icon-comments-o
    {% elseif type == 'user' %}
        uk-icon-user
    {% elseif type == 'group' %}
        uk-icon-group
    {% elseif type == 'todo' %}
        uk-icon-check-square-o
    {% elseif type == 'task' %}
        uk-icon-home
    {% elseif type == 'topic' %}
        uk-icon-book
    {% endif %}
{% endmacro %}

{% macro lastModified(item) %}
    {{ 'last modified on'|trans({})|capitalize }}: {{ item.modificationDate|date("d.m.Y") }}
    {{ 'at'|trans({}) }} {{ item.modificationDate|date("H:i") }}
    {{ 'by'|trans({}) }}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.modificatorItem.itemId}) }}">
        {{ item.modificatorItem.fullname }}
    </a>
{% endmacro %}

{% macro userStatus(user) %}
    {% if user.status == 0 %}
        {{ 'quit'|trans({}, 'user')|capitalize }}
    {% elseif user.status == 1 %}
        {{ 'request'|trans({}, 'user')|capitalize }}
    {% elseif user.status == 2 %}
        {{ 'user'|trans({}, 'user')|capitalize }}
    {% elseif user.status == 3 %}
        {{ 'moderator'|trans({}, 'user')|capitalize }}
    {% endif %}
{% endmacro %}

{% macro detailInformation(item, modifierList) %}
    {% import _self as macros %}
    <div class="uk-margin-bottom">
        <div class="toggle-{{ item.itemId }} uk-vertical-align">
            <div class="uk-margin-right uk-vertical-align-middle">
                {% if item.modificatorItem.isUser %}
                    {{  macros.userIconLink(item.modificatorItem, 'small') }}
                {% else %}
                    {{  macros.userIcon(item.modificatorItem, 'small') }}
                {% endif %}
            </div>
            <div class="uk-vertical-align-middle uk-margin-remove">
                <a class="toggle-{{ item.itemId }}" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show more'|trans({}) }}</a>
            </div>
        </div>
        <div class="uk-comment-header uk-flex uk-hidden toggle-{{ item.itemId }}">
            <div class="uk-margin-right">
                {% if item.modificatorItem.isUser %}
                    {{  macros.userIconLink(item.modificatorItem) }}
                {% else %}
                    {{  macros.userIcon(item.modificatorItem) }}
                {% endif %}
            </div>
            <div class="uk-margin-right">
                <div class="uk-comment-meta">
                    {{ 'by'|trans({})|capitalize }}: {{item.modificatorItem.fullname}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'created'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}
                </div>
                <div class="uk-comment-meta">
                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}
                </div>
                <a class="toggle-{{ item.itemId }} uk-hidden" data-uk-toggle="{target:'.toggle-{{ item.itemId }}', animation:'uk-animation-fade'}">{{ 'show less'|trans({}) }}</a>
            </div>
            {% if modifierList[item.itemId] is defined %}
                {% if not modifierList[item.itemId] is empty %}
                    <div class="uk-margin-right">
                        <div class="uk-comment-meta">
                            {{ 'additional\neditors'|trans({})|capitalize|nl2br }}:
                        </div>
                    </div>
                    {% for modifier in modifierList[item.itemId] %}
                        <div class="uk-margin-small-right">
                            {% if modifier.isUser %}
                                {{  macros.userIconLink(modifier, 'small') }}
                            {% else %}
                                {{  macros.userIcon(modifier, 'small') }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro statusColor(readerList, itemId, type='comment') %}
    {% if type == 'grid' %}
        {% if readerList[itemId] is defined %}
           {% if readerList[itemId] == 'new' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newEntry'|trans({})}}">
                    <i class="uk-icon-medium uk-text-danger uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedEntry'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'new_annotation' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed_annotation' %}
                <div class="cs-grid-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if readerList[itemId] is defined %}
           {% if readerList[itemId] == 'new' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newEntry'|trans({})}}">
                    <i class="uk-icon-medium uk-text-danger uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedEntry'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'new_annotation' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif readerList[itemId] == 'changed_annotation' %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedAnnotation'|trans({})}}">
                     <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro iconClassForFileType(type) %}
    {% if type == 'xlsx' or type == 'xls' %}
        uk-icon-file-excel-o
    {% elseif type == 'docx' or type == 'doc' or type == 'ods' %}
        uk-icon-file-word-o
    {% elseif type == 'pptx' or type == 'ppt' %}
        uk-icon-file-powerpoint-o
    {% elseif type == 'pdf' %}
        uk-icon-file-pdf-o
    {% elseif type == 'zip' or type == 'ipa' %}
        uk-icon-file-archive-o
    {% elseif type == 'png' or type == 'jpg' or type == 'eps' or type == 'gif' or type == 'svg' %}
        uk-icon-file-image-o
    {% elseif type == 'txt' or type == 'csv' or type == 'md' %}
        uk-icon-file-text-o
    {% elseif type == 'mpg' or type == 'wmv' or type == 'mp4' or type == 'avi' %}
        uk-icon-file-movie-o
    {% else %}
        uk-icon-file-o
    {% endif %}
{% endmacro %}

{% macro fileList(item) %}
    {% import _self as macros %}
    {% set fileArray = item.fileList.to_array %}
    {% if not fileArray is empty %}
        <ul class="uk-list">
        {% for file in fileArray %}
            <li><i class="{{ macros.iconClassForFileType(file.extension) }}"></i> <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}">{{ file.filename }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro fileListShort(item) %}
    {% import _self as macros %}
    {% if item.itemType != 'material' %}
        {% set fileArray = item.fileList.to_array %}
    {% else %}
        {% set fileArray = item.fileListWithFilesFromSections.to_array %}
    {% endif %}
    {% if not fileArray is empty %}
        {% for file in fileArray %}
            <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}" data-uk-tooltip title="{{ file.filename }}"><i class="{{ macros.iconClassForFileType(file.extension) }}"></i></a>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro userIcon(user, size, showTooltip) %}
    {% set showTooltip = showTooltip ?? true %}
    {% if user.itemId != "" %}
        {% if size == 'small' %}
            <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:30px; width:30px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}"{% if showTooltip %} data-uk-tooltip{% endif %} title="{{ user.fullname }}">
        {% elseif size matches '/^\\d+$/' %}
            <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:{{ size }}px; width:{{ size }}px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}"{% if showTooltip %} data-uk-tooltip{% endif %} title="{{ user.fullname }}">
        {% else %}
            <img class="uk-comment-avatar uk-thumbnail uk-border-circle cs-comment-thumbnail" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}"{% if showTooltip %} data-uk-tooltip{% endif %} title="{{ user.fullname }}">
        {% endif %}
    {% else %}
        <img class="uk-comment-avatar uk-thumbnail uk-border-circle cs-comment-thumbnail" src="{{ path('commsy_user_guestimage') }}"{% if showTooltip %} data-uk-tooltip{% endif %} title="{{ "guest"|trans({}, 'messages')}}" style="width: 30px; height: 30px;">
    {% endif %}
{% endmacro %}

{% macro userIconLink(user, size) %}
    {% import _self as macros %}
    <a href="{{ path('commsy_user_detail', {'roomId': user.contextId, 'itemId': user.itemId}) }}">
        {{  macros.userIcon(user, size) }}
    </a>
{% endmacro %}

{% macro actionIcons(title, item, edit, draft) %}
    <div class="uk-flex uk-flex-right">
        {% if edit %}
            {% if is_granted('ITEM_EDIT', item.itemId) %}
                <div class="uk-display-inline cs-edit uk-invisible {% if draft %}cs-edit-draft{% endif %}" data-edit-title="{{ "edit"|trans({}) }}">
                    <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                </div>
            {% endif %}        
        {% endif %}
        <div class="uk-display-inline cs-toggle-icon uk-margin-left">
            <a class="cs-toggle" data-uk-toggle="{target:'.toggle-{{ title }}-{{ item.itemId }}'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
        </div>
   </div>
{% endmacro %}

{% macro editContent(title, item, edit, content, preview, shortPreview, displayCount, count, draft) %}
    {% import _self as utilsMacros %}
    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- title|trans({}) }}
                    {% if displayCount %}
                        ({{count}})
                    {% endif %}
                </h4>
            </div>

            <div class="uk-width-2-10">
                {{ utilsMacros.actionIcons(title, item, edit, draft) }}
            </div>
        </div>

        {# content #}
        {% if not content is empty and not preview is empty %}
            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">

                {# preview #}
                <div class="toggle-{{ title }}-{{ item.itemId }} {% if shortPreview %}cs-toggle-preview-small{% else %}cs-toggle-preview{% endif %}">
                    {{ preview|raw }}
                </div>

                {# full content #}
                <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-content uk-hidden">
                    {{ content|raw }}
                </div>

            </div>
        {% else %}
            <div class="uk-width-9-10 uk-margin-top-remove">
                
                {% if not content is empty %}
                    <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-content">
                        {{ content|raw }}
                    </div>
                {% else %}
                    <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-empty">
                        <span class="uk-text-muted">{{ 'no content'|trans({}, "room") }}</span>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </article>

{% endmacro %}

{% macro ratingStatus(item, ratingList) %}
    {% set rating = 0 %}
    {% for ratingItemId, ratingValues in ratingList %}
        {% if item.itemId == ratingItemId %}
            {% set rating = ratingValues.average_assessment|round %}
        {% endif %}
    {% endfor %}
    <div class="uk-text-nowrap" data-uk-dropdown="{pos:'bottom-right', remaintime:200}">
        {% for i in 1..5 %}
            {% if rating >= i %}
                <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
            {% endif %}
        {% endfor %}
        {% for i in 1..5 %}
            {% if rating < i %}
                <i class="cs-icon-star-small uk-icon-star-o"></i>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro ratingStatusDetail(item, ratingArray) %}
    {% set rating = 0 %}
    {% set ratingPath = 'commsy_' ~ item.itemType ~ '_rating' %}
    {% if ratingArray.ratingAverageDetail.0 is defined %}
        {% set rating = ratingArray.ratingAverageDetail.0 %}
    {% endif %}
    <div id="cs-rating-div" data-uk-dropdown="{pos:'bottom-right', remaintime:200}">
        {% set hasVoted = false %}
        {% if ratingArray.ratingOwnDetail %}
            {% set hasVoted = true %}
        {% endif %}
    
        <div id="cs-rating-wrapper" data-cs-rating-wrapper='{"hasVoted": "{{ hasVoted }}"}'>
            {% for i in 1..5 %}
                {% if rating >= i %}
                    {% if not ratingArray.ratingOwnDetail %}
                        <a id="cs-rating-{{ i }}" class="cs-rating uk-text-muted" href="" data-cs-rating='{
                            "rating": "{{ i }}", "url": "{{ path(ratingPath, {'roomId': item.contextId, 'itemId': item.itemId, 'vote': i}) }}",
                            "successMessage": "<i class=\"uk-icon-star\"></i> {{ 'ratingStored'|trans({}, 'material') }}",
                            "errorMessage": "<i class=\"uk-icon-info\"></i> {{ 'action error'|trans }}"
                        }'><i class="cs-icon-star-small uk-icon-star uk-text-warning"></i></a>
                    {% else %}
                        <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for i in 1..5 %}
                {% if rating < i %}
                    {% if not ratingArray.ratingOwnDetail %}
                        <a id="cs-rating-{{ i }}" class="cs-rating uk-text-muted" href="" data-cs-rating='{
                            "rating": "{{ i }}", "url": "{{ path(ratingPath, {'roomId': item.contextId, 'itemId': item.itemId, 'vote': i}) }}",
                            "successMessage": "<i class=\"uk-icon-star\"></i> {{ 'ratingStored'|trans({}, 'material') }}",
                            "errorMessage": "<i class=\"uk-icon-info\"></i> {{ 'action error'|trans }}"
                        }'><i class="cs-icon-star-small uk-icon-star-o"></i></a>
                    {% else %}
                        <i class="cs-icon-star-small uk-icon-star-o uk-text-muted"></i>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="uk-dropdown uk-dropdown-close">
            <div class="uk-text-left">
                <b>{{ 'ratingTitle'|trans({}, 'material') }}</b><br/>
                <div class="uk-margin-small-top uk-margin-small-bottom">
                    <table class="uk-table uk-table-condensed">
                        {% for ratingValue in 1..5 %}
                            <tr>
                                <td class="uk-padding-top-remove uk-padding-bottom-remove">
                                    {% for i in 1..5 %}
                                        {% if ratingValue >= i %}
                                            <i class="cs-icon-star-small uk-icon-star uk-text-warning"></i>
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in 1..5 %}
                                        {% if ratingValue < i %}
                                            <i class="cs-icon-star-small uk-icon-star-o uk-text-muted"></i>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="uk-padding-top-remove uk-padding-bottom-remove uk-text-right">
                                    {% set ratingDisplay = 'rating'|transchoice(1, {}, 'material') %}
                                    <span class="uk-text-bold uk-margin-left">
                                    {% if ratingArray.ratingDetail[ratingValue] is defined %}
                                        {{ ratingArray.ratingDetail[ratingValue] }}
                                        {% if ratingArray.ratingDetail[ratingValue] == 1 %}
                                            {% set ratingDisplay = 'rating'|transchoice(0, {}, 'material') %}
                                        {% endif %}
                                    {% else %}
                                        0
                                    {% endif %}
                                    </span>
                                    <!-- {{ ratingDisplay }} -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if not hasVoted %}
                    {{ 'ratingNoOwn'|trans({}, 'material') }}
                {% else %}
                    {{ 'ratingOwn'|trans({}, 'material') }} <span class="uk-text-bold">{{ ratingArray.ratingOwnDetail }}</span> (<a id="cs-rating-remove" href="" data-cs-rating-remove='{
                        "url": "{{ path(ratingPath, {'roomId': item.contextId, 'itemId': item.itemId, 'vote': 'remove'}) }}",
                        "successMessage": "<i class=\"uk-icon-star\"></i> {{ 'ratingDeleted'|trans({}, 'material') }}",
                        "errorMessage": "<i class=\"uk-icon-info\"></i> {{ 'action error'|trans }}"
                    }'>{{ 'ratingDelete'|trans({}, 'material') }}</a>)
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro workflowTrafficLight(item, workflowTitles) %}
    {% import _self as macros %}
    
    {{ macros.workflowStatus(item.workflowTrafficLight, workflowTitles) }}
{% endmacro %}

{% macro workflowStatus(status, workflowTitles) %}
    {% set title = '' %}
    {% if workflowTitles[status] is defined %}
        {% set title = workflowTitles[status] %}
    {% endif %}
    <div class="uk-text-nowrap">
        <span class="cs-workflow-traffic-light" data-uk-tooltip title="{{ title }}">
            {% if status == '0_green' %}
                <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-success"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
            {% elseif status == '1_yellow' %}
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-warning"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
            {% elseif status == '2_red' %}
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle uk-text-danger"></i>
            {% else %}
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
                <i class="cs-icon-xs-small-workflow uk-icon-circle-o"></i>
            {% endif %}
        </span>
    </div>
{% endmacro %}

{% macro workflowWhoCreator(item) %}
    <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': item.creatorItem.itemId}) }}">
        {{ item.creatorItem.fullname }}
    </a>
{% endmacro %}

{% macro workflowWhoModifier(item) %}
    {% import _self as macros %}
    
    {{ macros.workflowWhoCreator(item) }}
    
    {% for modifier in item.modifierList %}
        <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': modifier.itemId}) }}">
            {{ modifier.fullname }}
        </a>
    {% endfor %}
{% endmacro %}

{% macro contextLink(roomId, context, contextMemberStatus) %}
    {% if contextMemberStatus == 'enter' %}
        <a href="{{ path('commsy_room_home', {'roomId': context.itemId}) }}"><i class="uk-icon-sign-in uk-icon"></i> {{ 'enter room'|trans({}, 'room') }}</a>
    {% else %}
        {% if contextMemberStatus == 'join' %}
            <a href="{{ path('commsy_context_request', {'roomId': roomId, 'itemId': context.itemId}) }}">{{ 'become member'|trans({}, 'room') }}</a>
        {% elseif contextMemberStatus == 'locked' %}
            {{ 'This room is currently locked.'|trans({}, 'room') }}
        {% elseif contextMemberStatus == 'requested' %}
            {{ 'Your request has not been processed yet.'|trans({}, 'room') }}
        {% elseif contextMemberStatus == 'rejected' %}
            {{ 'Your request has been rejected.'|trans({}, 'room') }}
        {% elseif contextMemberStatus == 'archived' %}
            {{ 'Archived room'|trans({}, 'room') }}
        {% else %}
            <a href="{{ path('commsy_context_request', {'roomId': roomId, 'itemId': context.itemId}) }}">{{ 'become member'|trans({}, 'room') }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro contextLinkIcon(roomId, context, contextMemberStatus) %}
    {% if contextMemberStatus == 'enter' %}
        <a href="{{ path('commsy_room_home', {'roomId': context.itemId}) }}"><i class="uk-icon-sign-in uk-icon-medium" style="width:24px; height:24px;" title="{{ 'enter room'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i></a>
    {% else %}
        {% if contextMemberStatus == 'join' %}
            <a href="{{ path('commsy_context_request', {'roomId': roomId, 'itemId': context.itemId}) }}"><i class="uk-icon-user-plus uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'become member'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i></a>
        {% elseif contextMemberStatus == 'locked' %}
            <i class="uk-icon-lock uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'This room is currently locked.'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i>
        {% elseif contextMemberStatus == 'requested' %}
            <i class="uk-icon-spinner uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'Your request has not been processed yet.'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i>
        {% elseif contextMemberStatus == 'rejected' %}
            <i class="uk-icon-lock uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'Your request has been rejected.'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i>
        {% elseif contextMemberStatus == 'archived' %}
            <i class="uk-icon-file-archive-o uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'Archived room'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i>
        {% else %}
            <a href="{{ path('commsy_context_request', {'roomId': roomId, 'itemId': context.itemId}) }}"><i class="uk-icon-user-plus uk-icon-medium uk-text-muted" style="width:24px; height:24px;" title="{{ 'become member'|trans({}, 'room') }}" data-uk-tooltip="{pos:'top-left'}"></i></a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro showAlert(alert) %}
    <div class="uk-alert-{{ alert.type }} uk-alert" uk-alert>
        <p>{{ alert.content }}</p>
    </div>
{% endmacro %}

{% macro calendarIcon(calendar, feed, size) %}
    {% if size is empty %}
        {% set size = 10 %}
    {% endif %}

    {% if calendar.hasLightColor %}
        {% if feed %}
            <span class="uk-vertical-align-middle uk-margin-right tooltipster uk-border-circle" style="background-color:{{calendar.color}}; border: 1px solid #444; width:{{ size-2 }}px; height:{{ size-2 }}px;" title="{{calendar.title}}"></span>
        {% else %}
            <span class="uk-vertical-align-middle tooltipster uk-border-circle" style="background-color:{{calendar.color}}; border: 1px solid #444; width:{{ size-2 }}px; height:{{ size-2 }}px;" title="{{calendar.title}}"></span>
        {% endif %}
    {% else %}
        {% if feed %}
            <span class="uk-vertical-align-middle uk-margin-right tooltipster uk-border-circle" style="background-color:{{calendar.color}}; width:{{ size }}px; height:{{ size }}px;" title="{{calendar.title}}"></span>
        {% else %}
            <span class="uk-vertical-align-middle tooltipster uk-border-circle" style="background-color:{{calendar.color}}; width:{{ size }}px; height:{{ size }}px;" title="{{calendar.title}}"></span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro mandatoryLinks(showHashtags, showCategories, form) %}
    <div class="uk-form-row">

        <ul class='form-errors'>
        {% if form.category_mapping.categories is defined %}
            {% if form.category_mapping.categories.vars.errors|length %}
                <li>{{ 'categories'|trans({})|capitalize }}: {{ form.category_mapping.categories.vars.errors[0].message }}</li>
            {% endif %}
        {% endif %}
        {% if form.hashtag_mapping.hashtags is defined %}
            {% if form.hashtag_mapping.hashtags.vars.errors|length %}
                <li>{{ 'hashtags'|trans({}, 'room')|capitalize }}: {{ form.hashtag_mapping.hashtags.vars.errors[0].message }}</li>
            {% endif %}
        {% endif %}
        </ul>

        <div class="uk-form-label">{{ 'links'|trans({}, "messages")|capitalize }}</div>
        <div class="uk-form-controls">
            <ul id="mandatoryLinkFormTabs" class="uk-tab" data-uk-tab="{connect:'#mandatoryLinksForm'}">
                {% if showCategories %}
                    <li><a href="">{{ 'categories'|trans({})|capitalize }}</a></li>
                {% endif %}
                {% if showHashtags %}
                    <li><a href="">{{ 'hashtags'|trans({}, 'room')|capitalize }}</a></li>
                {% endif %}
            </ul>
            <ul id="mandatoryLinksForm" class="uk-switcher uk-margin">
                {% if showCategories and form.category_mapping.categories is defined %}
                    <li>
                        {{ form_widget(form.category_mapping.categories) }}
                    </li>
                {% endif %}
                {% if showHashtags and form.hashtag_mapping.hashtags is defined %}
                    <li>
                        <div class="uk-grid-width-small-1-4 hashtag-form" data-uk-grid data-uk-check-display>
                            {% for hashtag in form.hashtag_mapping.hashtags %}
                                <div>
                                {{ form_widget(hashtag) }}
                                {{ form_label(hashtag) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="uk-margin-top uk-flex">
                            <div class="uk-margin-small-left">
                                {{ form_widget(form.hashtag_mapping.newHashtag) }}
                            </div>
                            <div class="uk-margin-small-left">
                                {{ form_widget(form.hashtag_mapping.newHashtagAdd) }}
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro showPath(pathTopicItem, item) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
    <div class="uk-alert" uk-alert>
        <div class="uk-flex">
            <div class="uk-margin-right">
                {{ 'Path'|trans({}, 'topic') }}:
            </div>
            {% for linkedItem in pathTopicItem.pathItemList.to_array %}
                <div>
                    {% if linkedItem.itemId != item.itemId %}
                        <a class="uk-text-muted" href="{{ path('commsy_'~linkedItem.itemType~'_detail', {'roomId': linkedItem.contextId, 'itemId': linkedItem.itemId}) }}?path={{ pathTopicItem.itemId }}">
                            <i class="{{ macros.iconClassForItemType(linkedItem.itemType) }} uk-margin-small-right" data-uk-tooltip title="{{ linkedItem.title|decodeHtmlEntity }}"></i>
                        </a>
                    {% else  %}
                        <i class="{{ macros.iconClassForItemType(linkedItem.itemType) }} uk-margin-small-right" data-uk-tooltip title="{{ linkedItem.title|decodeHtmlEntity }}"></i>
                    {% endif %}
                </div>

                {% if not loop.last %}
                    <div>
                        <i class="uk-icon uk-icon-arrow-right uk-margin-small-right uk-text-muted uk-text-small"></i>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}