{% extends "form/uikit_layout.html.twig" %}

{# Widgets #}

{%- block choice_widget_collapsed -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock choice_widget_collapsed -%}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}

{% block file_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock %}

{%- block textarea_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock checkbox_widget -%}

{# Rows #}

{%- block form_row -%}
    {% apply spaceless %}
        <div class="uk-form-row">
            {{- parent() -}}
        </div>
    {% endapply %}
{%- endblock form_row -%}

{%- block button_row -%}
    <div class="uk-form-row">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{# Misc #}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-stacked')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}