{% extends "form/uikit_horizontal_layout.html.twig" %}

{% macro nestedList(choices, level) %}
    {% import _self as macros %}
    {% set opened = false %}

    {% for child in choices %}
        {% if child.choices is defined %}
            <ul>
                {{ macros.nestedList(child.choices, level+1) }}
            </ul>
        {% else %}
            {% if not loop.first %}
                </li>
            {% endif %}

            <li id="tag_{{ child.value }}" data-jstree='{"opened": {{ opened }}}'>
            {{ child.label|decodeHtmlEntity }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{# Widgets #}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' cs-form-horizontal-full-width')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{% block hashtag_widget %}
    {% set expanded = roomExpandedHashtags(app.request.attributes.get('roomId')) %}
    <div id="room-hashtag" class="uk-margin-bottom">

        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'hashtags'|trans({}, "room") }}
                
                {% if is_granted('HASHTAG_EDIT') %}
                    <a href="{{ path('app_hashtag_edit', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-edit"></i></a>
                {% endif %}

                {% if form.children|length > 0 %}
                    <span class="cs-detail-section-header-background uk-align-right">
                        <a id="room-hashtags-toggle" class="cs-toggle uk-margin-small-right" data-uk-toggle="{
                            target:'#room-hashtags',
                            cls: 'cs-toggle-full-filter'
                        }" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}" data-cs-toggle-link-moreless="#room-hashtags-toggle-moreless">
                            <i class="uk-icon uk-icon-chevron-{% if expanded %}up{% else %}down{% endif %}"></i>
                        </a>
                    </span>
                {% endif %}
            </span>
        </h4>

        <div id="room-hashtags" class="cs-toggle-preview-filter{% if expanded %} cs-toggle-full-filter{% endif %}">
            {% if form is not empty %}
                {% for child in form %}
                    <input class="uk-hidden" type="radio" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" onchange="this.form.submit()" {% if child.vars.checked %} checked="checked"{% endif %} />

                    <span>
                        <span class="uk-button uk-margin-small-bottom uk-margin-small-right{% if child.vars.checked %} uk-button-primary{% endif %}" onclick="$(this).parent().prev().prop('checked', !$(this).parent().prev().prop('checked')); $(this).parents('form').submit(); return false;">{{ child.vars.label }}</span>
                    </span>
                {% endfor %}
            {% else %}
                {{ 'no hashtags'|trans({}, 'room') }}
            {% endif %}
        </div>

        {% if form.children|length > 0 %}
            <a id="room-hashtags-toggle-moreless" class="uk-margin-left" href="#" data-cs-unhide-collapsed="{src: '#room-hashtags'}" data-cs-toggle-link="#room-hashtags-toggle" data-cs-readmore>
                <span class="cs-readmoreless{% if expanded %} uk-hidden{% endif %}">{{- "read more"|trans({}) -}}</span>
                <span class="cs-readmoreless{% if not expanded %} uk-hidden{% endif %}">{{- "read less"|trans({}) -}}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block category_widget %}
    {% import _self as macros %}
    {% set expanded = roomExpandedCategories(app.request.attributes.get('roomId')) %}

    <div id="room-category">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'categories'|trans({}, "room") }} 

                {% if is_granted('CATEGORY_EDIT') %}
                    <a href="{{ path('app_category_edit', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-edit"></i></a>
                {% endif %}

                {% if form.children|length > 0 %}
                    <span class="cs-detail-section-header-background uk-align-right">
                        <a id="room-categories-toggle" class="cs-toggle uk-margin-small-right" data-uk-toggle="{
                            target:'#room-categories',
                            cls: 'cs-toggle-full-filter'
                        }" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}" data-cs-toggle-link-moreless="#room-categories-toggle-moreless">
                                <i class="uk-icon uk-icon-chevron-{% if expanded %}up{% else %}down{% endif %}"></i>
                        </a>
                    </span>
                {% endif %}
            </span>
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="room-categories" class="cs-toggle-preview-filter{% if expanded %} cs-toggle-full-filter{% endif %}" data-cs-tree='{ "custom": {"customCascade": true } }'>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No Categories'|trans({}, 'category') }}
            {% endif %}
        </div>

        {% if form.children|length > 0 %}
            <a id="room-categories-toggle-moreless" class="uk-margin-left" href="#" data-cs-unhide-collapsed="{src: '#room-categories'}" data-cs-toggle-link="#room-categories-toggle" data-cs-readmore>
                <span class="cs-readmoreless{% if expanded %} uk-hidden{% endif %}">{{- "read more"|trans({}) -}}</span>
                <span class="cs-readmoreless{% if not expanded %} uk-hidden{% endif %}">{{- "read less"|trans({}) -}}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block participant_widget %}
    {% import _self as macros %}

    <div id="room-category">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'participants'|trans({}, "date") }} 
            </span>
            {% if form.children|length > 0 %}
                <span class="cs-detail-section-header-background uk-align-right">
                    <a id="participants-toggle" class="cs-toggle uk-margin-small-right" data-uk-toggle="{target:'#participants', cls: 'cs-toggle-full-filter'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}" data-cs-toggle-link-moreless="#participants-toggle-moreless"><i class="uk-icon uk-icon-chevron-down"></i></a>
                </span>
            {% endif %}
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="participants" class="cs-toggle-preview-filter" data-cs-tree>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No Participants'|trans({}, 'category') }}
            {% endif %}
        </div>

        {% if form.children|length > 0 %}
            <a id="participants-toggle-moreless" class="uk-margin-left" href="#" data-cs-unhide-collapsed="{src: '#participants'}" data-cs-toggle-link="#participants-toggle" data-cs-readmore>
                <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block calendar_widget %}
    {% import _self as macros %}

    <div id="room-calendar">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
            {{ 'calendars'|trans({}, "date") }}

            {% if is_granted('CALENDARS_EDIT') %}
                <a href="{{ path('app_calendar_edit', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-edit"></i></a>
            {% endif %}

            {% if form.children|length > 0 %}
                <span class="cs-detail-section-header-background uk-align-right">
                    <a id="calendars-toggle" class="cs-toggle uk-margin-small-right" data-uk-toggle="{target:'#calendars', cls: 'cs-toggle-full-filter'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}" data-cs-toggle-link-moreless="#calendars-toggle-moreless"><i class="uk-icon uk-icon-chevron-down"></i></a>
                </span>
            {% endif %}
            </span>
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="calendars" class="cs-toggle-preview-filter" data-cs-tree>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No calendars'|trans({}, 'category') }}
            {% endif %}
        </div>
        {% if form.children|length > 0 %}
            <a id="calendars-toggle-moreless" class="uk-margin-left" href="#" data-cs-unhide-collapsed="{src: '#calendars'}" data-cs-toggle-link="#calendars-toggle" data-cs-readmore>
                <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{%- block submit_widget -%}
    {% if label == 'Filter' -%}
        <button type="submit" style="min-width: fit-content" {{ block('button_attributes') }}><i class="uk-icon-arrow-right"></i> {{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</button>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock submit_widget -%}

{# Misc #}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' cs-form-horizontal-dynamic')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}