{% extends 'App:base:room.html.twig' %}

{% form_theme form 'App:form:uikit_horizontal_layout.html.twig' %}

{% if form.request is defined %}
    {% form_theme form.request 'App:form:uikit_layout.html.twig' %}
{% endif %}

{% if form.cancel is defined %}
    {% form_theme form.cancel 'App:form:uikit_layout.html.twig' %}
{% endif %}

{% if form.coderequest is defined %}
    {% form_theme form.coderequest 'App:form:uikit_layout.html.twig' %}
{% endif %}

{% if form.codecancel is defined %}
    {% form_theme form.codecancel 'App:form:uikit_layout.html.twig' %}
{% endif %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-1">

            {# request content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Request membership'|trans({}, "room") }} {{ 'for'|trans({}, 'messages') }} {{ 'room'|trans({}, 'profile') }} '{{ title }}'</div>
                    </div>
                </div>

                {# content #}
                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {# code request #}
                    {% if form.code is defined %}
                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-form-controls-text">
                                {{ 'room code description'|trans({}, 'room') }}
                            </div>
                        </div>
                        {{ form_row(form.code) }}
                    {% endif %}

                    {# regular request with free text #}
                    {% if form.description is defined %}
                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-form-controls-text">
                                {{ 'room join description'|trans({}, 'room') }}
                            </div>
                        </div>
                        {{ form_row(form.description) }}
                    {% endif %}

                    {# optional agb #}
                    {% if form.agb is defined %}
                        <div class="uk-form-row">
                            {{ form_label(form.agb) }}

                            <div class="uk-form-controls">
                                <pre class="uk-scrollable-text">{{ agbText|raw }}</pre>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-form-controls-text">
                                {{ form_errors(form.agb) }}
                                <input style="vertical-align: baseline;" id="{{ form.agb.vars.id }}" name="{{ form.agb.vars.full_name }}" value="{{ form.agb.vars.value }}" type="checkbox">
                                <label>{{ 'Accept'|trans({}, 'room') }}</label>
                            </div>

                            {% do form.agb.setRendered %}
                        </div>
                    {% endif %}

                    {# buttons #}
                    {% if form.coderequest is defined and form.codecancel is defined %}
                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-button-group">
                                {{ form_widget(form.coderequest) }}

                                <div class="uk-margin-small-left">
                                    {{ form_widget(form.codecancel) }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if form.request is defined and form.cancel is defined %}
                            <div class="uk-form-row">
                                <div class="uk-form-controls uk-button-group">
                                    {{ form_widget(form.request) }}

                                    <div class="uk-margin-small-left">
                                        {{ form_widget(form.cancel) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
