{% extends 'CommsyBundle:Base:room.html.twig' %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set project = item %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# material content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        {{ render(controller(
                            'CommsyBundle:Item:stepper',
                            { 'roomId': roomId, 'itemId': item.itemId }
                        ))}}

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">

                        </div>
                    </div>
                </div>

                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {{ project.title }}
                    
                    {{ project.contactModeratorListString }}
                    
                    {{ project.description }}
                    
                    {{ macros.contextLink(roomId, project, currentUser) }}
                </article>
            </div>
        </div>
        
        <div class="uk-width-medium-1-5 cs-addon-navigation">
            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    
                </div>
                <div>
                    
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}