{% extends 'layout.html.twig' %}
{% form_theme form 'form/uikit_layout.html.twig' %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        {% if context.portal %}
                            {% set title = 'Portal'|trans({}, 'portal') %}
                        {% else %}
                            {% set title = 'Workspace'|trans({}, 'room') %}
                        {% endif %}

                        {% set title = title ~ ' "' ~ context.title ~ '"' %}

                        <div class="uk-text-large">{{ 'AGB'|trans({}, "room") }} - {{ title }}</div>
                    </div>
                </div>

                <div>
                    <div>{{ 'The terms of usage has been updated. In order to continue you need to accept them.'|trans({}, 'tou') }}</div>
                    <div>{{ 'last changed'|trans()|capitalize }}: {{ context.aGBChangeDate|craue_datetime }}</div>
                    <blockquote>{{ touText|raw }}</blockquote>

                    {{ form_start(form) }}
                        <div class="uk-flex uk-flex-between">
                            {{ form_widget(form.accept) }}
                            {{ form_widget(form.decline) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}