{% extends 'base/profile.html.twig' %}

{% import 'utils/macros.html.twig' as macros %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block side_navigation %}
    <nav aria-label="{{ 'Account'|trans({}, 'profile') }}">
    {{ knp_menu_render('account') }}
    </nav>
{% endblock %}

{% block content %}
    {% component 'v2:panel' with { title: 'additional'|trans({}, 'menu') } %}
        {% block content %}
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <table class="uk-table">
                    <tr>
                        <td>
                            <h3 class="uk-text-primary">{{ 'dashboard'|trans({},'menu')|capitalize }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><h3 class="uk-text-primary">{{ 'language'|trans({},'profile') }}</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <div>{{ 'languageDescription'|trans({}, "profile") }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_widget(form.language) }}
                        </td>
                    </tr>
                    {% if form.emailToCommsy is defined %}
                        <tr>
                            <td><hr/></td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="uk-text-primary">{{ 'emailToCommsy'|trans({},'profile') }}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>{{ 'email_to_commsy_description'|trans({}, "profile")|format(portalEmail,uploadEmail)|raw }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_row(form.emailToCommsy) }}
                                <div class="uk-form-controls">
                                    {{ 'emailToCommsyText'|trans({},'profile') }} <span class='uk-text-bold'>{{ uploadEmail }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_row(form.emailToCommsySecret) }}</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="uk-form-controls">
                                    <span>{{ 'emailToCommsyTextPassword'|trans({}, 'profile') }}</span>
                                    <br/>
                                    <span class="uk-text-bold">{{ 'emailToCommsyTextPasswordTemplate'|trans({}, 'profile') }}</span>
                                    <br/>
                                    <span>{{ 'emailToCommsyTextAccounts'|trans({}, 'profile') }}</span>
                                    <br/>
                                    <span class="uk-text-bold">{{ 'emailToCommsyTextAccountsTemplate'|trans({}, 'profile') }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><hr/></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="uk-text-primary">{{ 'portfolioStatus'|trans({}, 'profile') }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_row(form.portfolio) }}
                        </td>
                    </tr>
                </table>

                <table class="uk-table">
                    <tr>
                        <td>{{ form_widget(form.save) }}</td>
                    </tr>
                </table>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %}
    {% endcomponent %}
{% endblock content %}
