{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block main %}
    <div class="uk-grid-match uk-flex uk-flex-center" uk-grid>

        <div class="uk-width-large">

            <div class="uk-card uk-card-default uk-card-small">
                {% if portal.logoFilename is not empty %}
                    <div class="uk-card-body uk-padding-remove">
                        <img data-src="{{ path('app_file_portallogo', { 'portalId': portal.id }) }}" width="260" height="80" alt="portal logo" uk-img>
                    </div>
                {% endif %}

                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{ portal.title }}</h3>

                    <p class="uk-text-small">{{ 'registration.about'|trans({}, 'registration') }}</p>

                    {{ form_start(form, {
                        'attr': {
                            'class': 'uk-form-stacked uk-grid-small',
                            'uk-grid': ''
                        }
                    }) }}
                        {{ form_errors(form) }}

                        <div class="uk-width-1-2">
                            {{ form_row(form.firstname) }}
                        </div>

                        <div class="uk-width-1-2">
                            {{ form_row(form.lastname) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.username) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.email.first) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.email.second) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.plainPassword.first) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.plainPassword.second) }}
                        </div>

                        {% if form.touAccept is defined %}
                            {% do form.touAccept.setRendered %}
                            <div class="uk-margin-1-1">
                                {{ form_errors(form.touAccept) }}
                                <label><input id="{{ form.touAccept.vars.id }}" class="uk-checkbox" type="checkbox" name="{{ form.touAccept.vars.full_name }}" required> {{ 'registration.terms_accept'|trans({}, 'registration') }} <a href="#modal_sign_up_tou" uk-toggle>{{ 'terms'|trans({}, 'portal') }}</a></label>

                                <div id="modal_sign_up_tou" uk-modal>
                                    <div class="uk-modal-dialog">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h2 class="uk-modal-title">{{ 'terms'|trans({}, 'portal') }}</h2>
                                        </div>

                                        <div class="uk-modal-body" uk-overflow-auto>

                                            <div>{{ 'last changed'|trans()|capitalize }}: {{ portal.aGBChangeDate|craue_datetime }}</div>

                                            <blockquote>
                                                <header class="uk-text-small">{{ 'Translation german'|trans({}, 'translation') }}</header>
                                                <p>{{ portal.termsGerman|raw }}</p>
                                            </blockquote>
                                            <blockquote>
                                                <header class="uk-text-small">{{ 'Translation english'|trans({}, 'translation') }}</header>
                                                <p>{{ portal.termsEnglish|raw }}</p>
                                            </blockquote>

                                        </div>

                                        <div class="uk-modal-footer uk-text-right">
                                            <button class="uk-button uk-button-primary uk-modal-close" type="button">{{ 'Close'|trans({}, 'messages') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="uk-width-1-2">
                            {{ form_row(form.submit) }}
                        </div>

                        <div class="uk-width-1-2 uk-text-right">
                            {{ form_row(form.cancel) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
