{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block main %}
    <div class="uk-grid-match uk-flex uk-flex-center" uk-grid>

        <div class="uk-width-large">

            <div class="uk-card uk-card-default uk-card-small">
                {% if portal.logoFilename is not empty %}
                    <div class="uk-card-body uk-padding-remove">
                        <img data-src="{{ path('app_file_portallogo', { 'portalId': portal.id }) }}" width="260" height="80" alt="portal logo" uk-img>
                    </div>
                {% endif %}

                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{ portal.title }}</h3>

                    <p class="uk-text-small">{{ 'registration.about'|trans({}, 'registration') }}</p>

                    {{ form_start(form, {
                        'attr': {
                            'class': 'uk-form-stacked uk-grid-small',
                            'uk-grid': ''
                        }
                    }) }}
                        {{ form_errors(form) }}

                        <div class="uk-width-1-2">
                            {{ form_row(form.firstname) }}
                        </div>

                        <div class="uk-width-1-2">
                            {{ form_row(form.lastname) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.username) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.email.first) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.email.second) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.plainPassword.first) }}
                        </div>

                        <div class="uk-width-1-1">
                            {{ form_row(form.plainPassword.second) }}
                        </div>

                        <div class="uk-margin-1-1">
                            <label><input class="uk-checkbox" type="checkbox" name="checkbox1"> Ich akzeptiere die <a href="#modal_sign_up_tou" uk-toggle>Nutzungsbedingungen</a></label>

                            <div id="modal_sign_up_tou" uk-modal>
                                <div class="uk-modal-dialog">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Nutzungsbedingungen</h2>
                                    </div>

                                    <div class="uk-modal-body" uk-overflow-auto>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                    </div>

                                    <div class="uk-modal-footer uk-text-right">
                                        <button class="uk-button uk-button-primary uk-modal-close" type="button">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-1-2">
                            {{ form_row(form.submit) }}
                        </div>

                        <div class="uk-width-1-2 uk-text-right">
                            {{ form_row(form.cancel) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
