{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}

            {{ form_start(form) }}
            <h2>{{ 'Are you sure you want to delete'|trans({},'portal') }} {{ user.fullName }}?</h2>
            {{ form_widget(form.cancel) }}
            {{ form_widget(form.execute) }}
            <br />
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}