{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}
{% form_theme filterForm 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% import 'account/macros.html.twig' as macros %}

        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {% set savingSuccessfull = app.flashes('performedSuccessfully')|first %}
            {% if(savingSuccessfull) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Performed action'|trans({},'portal') }}.
                </div>
            {% endif %}

            {{ form(filterForm) }}

            {% if not pagination is empty %}
                {{ form_start(form) }}
                    <div class="uk-overflow-auto">
                        <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
                            <thead>
                                <tr>
                                    <th class="uk-table-shrink"><input class="uk-checkbox" type="checkbox" onclick="form.querySelectorAll('td input[type=\'checkbox\']').forEach((e) => e.checked = this.checked)"></th>
                                    <th>
                                        {{ knp_pagination_sortable(pagination, 'Name (user id)'|trans({},"portal"), 'a.username') }}
                                    </th>
                                    <th>
                                        {{ knp_pagination_sortable(pagination, 'Mail'|trans({},"portal"), 'a.email') }}
                                    </th>
                                    <th class="uk-table-shrink uk-text-nowrap">
                                        {{ knp_pagination_sortable(pagination, 'Last login'|trans({},"portal"), 'a.lastLogin') }}
                                    </th>
                                    <th>{{'Status'|trans({},'portal') }}</th>
                                    <th class="uk-table-shrink">{{'authSource'|trans({}, 'portal') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in pagination %}
                                    {% set portalUser = (portalUsersForAccounts[loop.index0] is defined) ? portalUsersForAccounts[loop.index0] : null %}
                                    <tr>
                                        <td>
                                            {% if portalUser is not null %}
                                                {{ form_widget(form.ids[portalUser.itemId]) }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if portalUser is not null %}
                                            <a href="{{ path('app_portalsettings_accountindexdetail', {
                                                'portalId': portal.id,
                                                'userId': portalUser.itemId
                                            }) }}" uk-tooltip="title: {{ 'created'|trans({}, 'user') }} {{ portalUser.creationDate|format_datetime|default('Never'|trans({}, 'portal')) }}">
                                                {{ account.firstname }} {{ account.lastname }}
                                            </a> ({{ account.username }})
                                            {% else %}
                                                {{ account.firstname }} {{ account.lastname }} ({{ account.username }})
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if portalUser is not null %}
                                            <a href="{{ path('app_user_sendmailviacontactform', {
                                                'roomId': portal.id,
                                                'itemId': portalUser.itemId,
                                                'originPath': 'app_portalsettings_accountindex'
                                            }) }}">
                                                {{ account.email }}
                                            </a>
                                            {% else %}
                                                {{ account.email }}
                                            {% endif %}
                                        </td>
                                        <td class="uk-text-nowrap">{{ account.lastLogin|format_datetime|default('Never'|trans({}, 'portal')) }}</td>
                                        <td>
                                            {% if portalUser is not null %}
                                                {{ macros.userStatus(portalUser.status) }}
                                            {% endif %}
                                        </td>
                                        <td>{{ account.authSource.title }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {{ 'Found users'|trans({},"portal") }}: {{ pagination.getTotalItemCount }}<br />
                        {% if pagination.count < pagination.totalItemCount %}
                            <a href="{{ path('app_portalsettings_accountindex', app.request.query.all|merge({
                                'portalId': portal.id,
                                'limit': pagination.totalItemCount,
                                'page': 1
                            })) }}">{{ 'messages.load_all'|trans() }}</a><br />
                        {% endif %}
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {{ form_end(form) }}
            {% else %}
                {{ 'No results found'|trans({}, 'search') }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
