{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {% set savingSuccessfull = app.flashes('savedSuccess')|first %}

            {% if(savingSuccessfull) %}
            <div class="uk-alert uk-alert-success">
                <i class="uk-icon-check-square-o uk-icon-medium"></i>
                {{ 'Save success'|trans({},'portal') }}.  <a href="{{ savingSuccessfull }}">{{'Back to user %username%'|trans({'%username%': user.firstname},'portal') }}</a>
            </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            <hr />
            {{ form_row(form.academicDegree) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.street) }}
            {{ form_row(form.zip) }}
            {{ form_row(form.city) }}
            {{ form_row(form.workspace) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.secondTelephone) }}
            {{ form_row(form.email) }}
            {{ form_row(form.emailChangeAll) }}
            {{ form_row(form.icq) }}
            {{ form_row(form.msn) }}
            {{ form_row(form.skype) }}
            {{ form_row(form.yahoo) }}
            {{ form_row(form.homepage) }}
            {{ form_row(form.description) }}
            <hr />
{#            {{ form_row(form.picture) }}#}
{#            {{ form_row(form.overrideExistingPicture) }}#}
{#            <hr />#}
            {{ form_label(form.mayCreateContext) }}
            {{ form_row(form.mayCreateContext[0]) }}
            {{ form_row(form.mayCreateContext[1]) }}
            {{ form_row(form.mayCreateContext[2]) }}
            <hr />
            {{ form_row(form.save) }}
            <a href="{{ path('app_portalsettings_accountindexdetail', {'portalId': portal.id, 'userId': user.itemId}) }}" class="data-uk-button">{{'Cancel'|trans({},'portal') }}</a>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}