{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_end(form) }}
            <a href="{{ path('app_portalsettings_accountindexdetail', {'portalId': portal.id, 'userId': user.itemId}) }}" class="data-uk-button">{{'Cancel'|trans({},'portal') }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}