{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% import 'account/macros.html.twig' as macros %}

        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {% set performedSuccessfully = app.flashes('performedSuccessfully')|first %}
            {% set notYetImplemented = app.flashes('notYetImplemented')|first %}
            {% if(performedSuccessfully) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Performed action'|trans({}, 'portal') }}.  <a href="{{  performedSuccessfully }}">{{'Back to overview'|trans({}, 'portal') }}</a>
                </div>
            {% endif %}
            {% if(notYetImplemented) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Not yet implemented'|trans({}, 'portal') }}.  <a href="{{ notYetImplemented }}">{{'Back to overview'|trans({}, 'portal') }}</a>
                </div>
            {% endif %}
            {{ form_start(form) }}

            <div class="uk-flex">
                {% if(hasPrevious) %}
                    {{ form_row(form.previous) }}
                {% else %}
                    {{ form_row(form.hasNoPrevious) }}
                {% endif %}

                {% if(hasNext) %}
                    {{ form_row(form.next) }}
                {% else %}
                    {{ form_row(form.hasNoNext) }}
                {% endif %}
            </div>

            <h2 class="uk-margin-remove-top">{{ user.firstname }} {{ user.lastname }}</h2>
            <hr />

            <button class="uk-button uk-button-default" type="button">Aktionen</button>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{{ path('app_portalsettings_accountindexdetailedit', {'portalId': portal.id, 'userId': user.itemId}) }}">
                        {{ 'Edit' | trans({}, 'portal') }}
                    </a></li>

                    {% if not portalUser.canImpersonateAnotherUser or (portalUser.impersonateExpiryDate is not null and portalUser.impersonateExpiryDate < date())%}
                        <li class="uk-text-muted">
                            {{'Login...'|trans({}, 'portal') }} {{ user.firstname }} {{ user.lastname }} {{'...As'|trans({}, 'portal') }}
                        </li>
                    {% else %}
                        <li><a href="{{ path('app_portalsettings_accountindexdetailtakeover', {'portalId': portal.id, 'userId': user.itemId}) }}">
                            {{'Login...'|trans({}, 'portal') }} {{ user.firstname }} {{ user.lastname }} {{'...As'|trans({}, 'portal') }}
                        </a></li>
                    {% endif %}

                    <li class="uk-nav-divider"></li>

                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangepassword', {'portalId': portal.id, 'accountId': accountOfUser.id}) }}">
                        {{ 'Change password' | trans({}, 'portal') }}
                    </a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangestatus', {'portalId': portal.id, 'userId': user.itemId}) }}">
                        {{ 'Change status' | trans({}, 'portal') }}
                    </a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailassignworkspace', {'portalId': portal.id, 'userId': user.itemId}) }}">
                        {{ 'Assign workspace' | trans({}, 'portal') }}
                    </a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailhidemailallwrks', {'portalId': portal.id, 'userId': user.itemId}) }}">
                        {{ 'Hide mail all wrks' | trans({}, 'portal') }}
                    </a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailshowmailallwroks', {'portalId': portal.id, 'userId': user.itemId}) }}">
                        {{ 'Show mail all wrks' | trans({}, 'portal') }}
                    </a></li>
                </ul>
            </div>

            <dl class="uk-description-list">
                <dt>{{ 'User ID' | trans({}, 'portal') }}</dt>
                <dd>{{ user.userid }}</dd>

                <dt>{{ 'authSource' | trans({}, 'portal') }}</dt>
                <dd>{{ authSource.title }}</dd>

                <dt>{{ 'Status' | trans({}, 'portal') }}</dt>
                <dd>{{ macros.userStatus(user.status) }}</dd>

                <dt>{{ 'Language' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if(user.getLanguage() == 'de') %}
                        {{'German' | trans({}, 'portal') }}
                    {% else %}
                        {{'English' | trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'Login as... active' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if not user.canImpersonateAnotherUser %}
                        {{'No'|trans({}, 'portal') }}
                    {% elseif user.impersonateExpiryDate is not null %}
                        {{ user.impersonateExpiryDate|craue_date }}
                    {% else %}
                        {{'Yes'|trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'Agreed to the terms of service on the...' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if user.getAGBAcceptanceDate() %}
                        {{ user.getAGBAcceptanceDate()|craue_date }}
                    {% else %}
                        {{ 'Never' | trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'Hide mail' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if user.isEmailVisible() %}
                        {{ 'No' | trans({}, 'portal') }}
                    {% else %}
                        {{ 'Yes' | trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'User is allowed to create context' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if user.isModerator() %}
                        {% if user.isAllowedToCreateContext() == 'standard' %}
                            {{ 'Standard' | trans({}, 'portal') }}
                        {% elseif user.isAllowedToCreateContext() == 1 %}
                            {{ 'Yes' | trans({}, 'portal') }}
                        {% else %}
                            {{ 'No' | trans({}, 'portal') }}
                        {% endif %}
                    {% else %}
                        {{ 'Standard' | trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'Default settings for authentification sources' | trans({}, 'portal') }}</dt>
                <dd>
                    {% if user.isAllowedToCreateContext() == 'standard' %}
                        {{ 'Standard' | trans({}, 'portal') }}
                    {% elseif user.isAllowedToCreateContext() == 1 %}
                        {{ 'Yes' | trans({}, 'portal') }}
                    {% else %}
                        {{ 'No' | trans({}, 'portal') }}
                    {% endif %}
                </dd>

                <dt>{{ 'Default settings of the portal' | trans({}, 'portal') }}</dt>
                <dd>{{ 'lock' | trans({}, 'profile') }}</dd>
            </dl>

            <div class="uk-child-width-expand@s uk-margin-bottom" uk-grid>
                <div>
                    <h3>{{ 'Workspace membership' |trans({}, 'portal') }}</h3>
                    <dl class="uk-description-list">
                        <dt>{{ 'Community workspaces' |trans({}, 'portal') }}</dt>
                        <dd>{{ communities | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{ 'Project workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ projects | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{ 'Userroom workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ userrooms | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{'Privateroom workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ privaterooms | default('None' | trans({}, 'portal')) }}</dd>
                    </dl>
                </div>

                <div>
                    <h3>{{ 'Archived workspaces' | trans({}, 'portal') }}</h3>
                    <dl class="uk-description-list">
                        <dt>{{ 'Community workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ communitiesArchived | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{ 'Project workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ projectsArchived | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{ 'Userroom workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ userroomsArchived | default('None' | trans({}, 'portal')) }}</dd>

                        <dt>{{ 'Privateroom workspaces' | trans({}, 'portal') }}</dt>
                        <dd>{{ privateRoomsArchived | default('None' | trans({}, 'portal')) }}</dd>
                    </dl>
                </div>
            </div>

            {{ form_row(form.back) }}
            {% do form.next.setRendered %}
            {% do form.hasNoNext.setRendered %}
            {% do form.previous.setRendered %}
            {% do form.hasNoPrevious.setRendered %}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
