{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {% set savingSuccessfull = app.flashes('performedSuccessfully')|first %}
            {% if(savingSuccessfull) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Performed action'|trans({},'portal') }}.
                </div>
            {% endif %}
            {{ form_start(form) }}
            {{ form_row(form.accountIndexSearchString) }}
            {{ form_row(form.userIndexFilterChoice) }}
            {{ form_row(form.search) }}

            {% if not userList is empty %}
                <table>
                    <tr>
                        <th></th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name (user id)'|trans({},"portal"), 'userid') }}</th>
                        <th{% if pagination.isSorted('lastlogin') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Last login'|trans({},"portal"), 'lastlogin') }}
                        </th>
                        <th{% if pagination.isSorted('email') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Mail'|trans({},"portal"), 'email') }}
                        </th>
                        <th>{{'authSource'|trans({}, 'portal') }}</th>
                    </tr>
                    {% for user in pagination %}
                        <tr>
                            <td>{{ form_widget(form.ids[user.itemId]) }}</td>
                            <td><a href="{{ path('app_portalsettings_accountindexdetail', {'portalId': portal.id, 'userId': user.itemId}) }}">{{ user.firstname }} {{ user.lastname }}</a> ({{ user.userid }})</td>
                            <td>{{ user.lastlogin|craue_date }}</td>
                            <td><a href="{{ path('app_user_sendmailviacontactform', {'roomId': portal.id, 'itemId': user.itemId, 'originPath': 'app_portalsettings_accountindex'}) }}">{{ user.email }}</a></td>
                            <td>{{ authSources|filter(source => source.id == user.authSource)|first.title }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ 'Found users'|trans({},"portal") }}: {{ pagination.getTotalItemCount }}<br />
                {{ knp_pagination_render(pagination) }}
            {% endif %}

            {{ form_row(form.indexViewAction) }}
            {{ form_row(form.execute) }}
            {% do form.ids.setRendered %}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}