{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {% set performedSuccessfully = app.flashes('performedSuccessfully')|first %}
            {% set notYetImplemented = app.flashes('notYetImplemented')|first %}
            {% if(performedSuccessfully) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Performed action'|trans({},'portal') }}.  <a href="{{  performedSuccessfully }}">{{'Back to overview'|trans({},'portal') }}</a>
                </div>
            {% endif %}
            {% if(notYetImplemented) %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Not yet implemented'|trans({},'portal') }}.  <a href="{{ notYetImplemented }}">{{'Back to overview'|trans({},'portal') }}</a>
                </div>
            {% endif %}
            {{ form_start(form) }}

            {% if(hasPrevious) %}
                {{ form_row(form.previous) }}
            {% else %}
                {{ form_row(form.hasNoPrevious) }}
            {% endif %}

            {% if(hasNext) %}
                {{ form_row(form.next) }}
            {% else %}
                {{ form_row(form.hasNoNext) }}
            {% endif %}

            <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            <hr />
            <div style="border: 1px solid black; padding: 10px; width: 50%;">
                <ul style="list-style: none;">
                    <li><a href="{{ path('app_portalsettings_accountindexdetailedit', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Edit'|trans({},'portal') }}</a></li>
                    {% if portalUser.isDeactivatedLoginAsAnotherUser() %}
                        <li style="font-style:italic; color:lightgrey">> {{'Login...'|trans({},'portal') }} {{ user.firstname }} {{ user.lastname }} {{'...As'|trans({},'portal') }}</li>
                    {% else %}
                        <li><a href="{{ path('app_portalsettings_accountindexdetailtakeover', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Login...'|trans({},'portal') }} {{ user.firstname }} {{ user.lastname }} {{'...As'|trans({},'portal') }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <hr />
            <h3>{{'Settings only visible...'|trans({},'portal') }}{{ user.firstname }}{{'...for'|trans({},'portal') }}</h3>
            <div style="border: 1px solid black; padding: 10px; width: 50%;">
                <ul style="list-style: none;">
                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangepassword', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Change password'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangestatus', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Change status'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailassignworkspace', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Assign workspace'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailhidemail', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Hide mail'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailhidemailallwrks', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Hide mail all wrks'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailshowmail', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Show mail'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailshowmailallwroks', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Show mail all wrks'|trans({},'portal') }}</a></li>
                </ul>
            </div>
                <table>
                    <tr>
                        <td> {{'User ID'|trans({},'portal') }}: </td>
                        <td>{{ user.userid }}</td>
                    </tr>
                    <tr>
                        <td> {{'Status'|trans({},'portal') }}: </td>
                        {% if(user.getStatus() == 1) %}
                            <td>{{'Applying'|trans({},'portal') }}</td>
                        {% elseif(user.getStatus() == 2) %}
                            <td>{{'User'|trans({},'portal') }}</td>
                        {% elseif(user.getStatus() == 3) %}
                            <td>{{'Moderator'|trans({},'portal') }}</td>
                        {% else %}
                            <td>{{'User'|trans({},'portal') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{'Language'|trans({},'portal') }}</td>
                        {% if(user.getLanguage() == 'de') %}
                            <td>{{'German'|trans({},'portal') }}</td>
                        {% else %}
                            <td>{{'English'|trans({},'portal') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{'Login as... active'|trans({},'portal') }}</td>
                        <td>{% if user.isDeactivatedLoginAsAnotherUser() %}
                                {{'No'|trans({},'portal') }}
                        {% elseif user.isTemporaryAllowedToLoginAs() %}
                            {{ user.getTimestampForLoginAs() }}
                        {% else %}
                            {{'Yes'|trans({},'portal') }}
                        {%  endif %}</td>
                    </tr>
                    <tr>
                        <td>{{'Agreed to the terms of service on the...'|trans({},'portal') }}:</td>
                        <td>
                            {% if user.getAGBAcceptanceDate() %}
                                {{ user.getAGBAcceptanceDate()|craue_date }}
                            {% else %}
                                {{'Never'|trans({},'portal') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{'Hide mail'|trans({},'portal') }}</td>
                        {% if user.isEmailVisible() %}
                            <td>{{'No'|trans({},'portal') }}</td>
                        {% else %}
                            <td>{{'Yes'|trans({},'portal') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{'User is allowed to create context'|trans({},'portal') }}</td>
                        <td>{% if user.isModerator() %}
                                {% if user.isAllowedToCreateContext() == 'standard' %}
                                    {{'Standard'|trans({},'portal') }}
                                {% elseif user.isAllowedToCreateContext() == 1 %}
                                    {{'Yes'|trans({},'portal') }}
                                {% else %}
                                    {{'No'|trans({},'portal') }}
                                {% endif %}
                        {% else %}
                            {{'Standard'|trans({},'portal') }}
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{'Default settings for authentification sources'|trans({},'portal') }}</td>
                        <td>{% if user.isAllowedToCreateContext() == 'standard' %}
                                {{'Standard'|trans({},'portal') }}
                            {% elseif user.isAllowedToCreateContext() == 1 %}
                                {{'Yes'|trans({},'portal') }}
                            {% else %}
                                {{'No'|trans({},'portal') }}
                            {% endif %}</td>
                    </tr>
                    <!--
                    <tr>
                        <td>{# {{'May use caldav'|trans({},'portal') }}#}:</td>
                        <td>-</td>
                    </tr>
                    -->
                    <tr>
                        <td>{{'Default settings of the portal'|trans({},'portal') }}</td>
                        <td>{{'Lock'|trans({},'profile') }}</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>{{'Workspace membership'|trans({},'portal') }}:</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>{{'Community workspaces'|trans({},'portal') }}</td>
                        <td>{{communities}}</td>
                    </tr>
                    <tr>
                        <td>{{'Project workspaces'|trans({},'portal') }}</td>
                        <td>{{ projects }}</td>
                    </tr>
                    <tr>
                        <td>{{'Userroom workspaces'|trans({},'portal') }}</td>
                        <td>{{ userrooms }}</td>
                    </tr>
                    <tr>
                        <td>{{'Privateroom workspaces'|trans({},'portal') }}</td>
                        <td>{{ privaterooms }}</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr style="font-style:italic; color:lightgrey">
                        <td>{{'Archived workspaces'|trans({},'portal') }}: </td>
                        <td> </td>
                    </tr>
                    <tr style="font-style:italic; color:lightgrey">
                        <td>{{'Community workspaces'|trans({},'portal') }}</td>
                        <td>{{ communitiesArchived }}</td>
                    </tr>
                    <tr style="font-style:italic; color:lightgrey">
                        <td>{{'Project workspaces'|trans({},'portal') }}</td>
                        <td>{{ projectsArchived }}</td>
                    </tr>
                    <tr style="font-style:italic; color:lightgrey">
                        <td>{{'Userroom workspaces'|trans({},'portal') }}</td>
                        <td>{{ userroomsArchived }}</td>
                    </tr>
                    <tr style="font-style:italic; color:lightgrey">
                        <td>{{'Privateroom workspaces'|trans({},'portal') }}</td>
                        <td>{{ privateRoomsArchived }}</td>
                    </tr>
                </table>
            {{ form_row(form.back) }}
            {% do form.next.setRendered %}
            {% do form.hasNoNext.setRendered %}
            {% do form.previous.setRendered %}
            {% do form.hasNoPrevious.setRendered %}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}