{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Accounts'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_row(form.previous) }}
            {{ form_row(form.next) }}
            <h1>{{ user.firstname }} {{ user.lastname }}</h1>
            <hr />
            <div style="border: 1px solid black; padding: 10px; width: 50%;">
                <ul style="list-style: none;">
                    <li><a href="{{ path('app_portalsettings_accountindexdetailedit', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Edit'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Print page'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Save page'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Login...'|trans({},'portal') }} {{ user.firstname }} {{ user.lastname }} {{'...As'|trans({},'portal') }}</a></li>
                </ul>
            </div>
            <hr />
            <h3>Einstellungen (nur für {{ user.firstname }} sichtbar)</h3>
            <div style="border: 1px solid black; padding: 10px; width: 50%;">
                <ul style="list-style: none;">
                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangepassword', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Change password'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailchangestatus', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Change status'|trans({},'portal') }}</a></li>
                    <li><a href="{{ path('app_portalsettings_accountindexdetailassignworkspace', {'portalId': portal.id, 'userId': user.itemId}) }}">> {{'Assign workspace'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Terminate membership'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Hide mail'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Hide mail all wrks'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Show mail'|trans({},'portal') }}</a></li>
                    <li><a href="">> {{'Show mail all wrks'|trans({},'portal') }}</a></li>
                </ul>
            </div>
                <table>
                    <tr>
                        <td> {{'User ID'|trans({},'portal') }}: </td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td> {{'Status'|trans({},'portal') }}: </td>
                        <td>{{ user.getStatus() }}</td>
                    </tr>
                    <tr>
                        <td>{{'Language'|trans({},'portal') }}</td>
                        <td>{{ user.getLanguage() }}</td>
                    </tr>
                    <tr>
                        <td>{{'Login as... active'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Agreed to the terms of service on the...'|trans({},'portal') }}:</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Hide mail'|trans({},'portal') }}</td>
                        <td>{{ user.isEmailVisible() }}</td>
                    </tr>
                    <tr>
                        <td>{{'User is allowed to create context'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Default settings for authentification sources'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'May use caldav'|trans({},'portal') }}:</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Default settings of the portal'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Workspace membership'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Community workspaces'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Project workspaces'|trans({},'portal') }}</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{{'Archived workspaces'|trans({},'portal') }}</td>
                        <td>(keine)</td>
                    </tr>
                    <tr>
                        <td>{{'Community workspaces'|trans({},'portal') }}</td>
                        <td>(keine)</td>
                    </tr>
                    <tr>
                        <td>{{'Project workspaces'|trans({},'portal') }}</td>
                        <td>(keine)</td>
                    </tr>
                </table>
            {{ form_row(form.back) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}