{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Auth'|trans({}, "portal") }}{% endblock %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_row(form.typeChoice) }}
            {{ form_row(form.type) }}
            <hr />
            {{ form_row(form.enabled) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.default) }}
            <hr />
            {{ form_row(form.loginUrl) }}
            {{ form_row(form.logoutUrl) }}
            {{ form_row(form.passwordResetURL) }}
            <hr />
            {{ form_row(form.mappingUsername) }}
            {{ form_row(form.mappingFirstname) }}
            {{ form_row(form.mappingLastname) }}
            {{ form_row(form.mappingEmail) }}
            <hr />
            {{ form_row(form.createRoom) }}

            <div data-form-collection="{{ {
                'selector': '#auth_shibboleth_identityProviders',
                'removeMessage': 'Remove'|trans({}, 'form')
            }|json_encode|e('html_attr') }}">
                {{ form_row(form.identityProviders) }}
                <button class="uk-button uk-button-primary add_item_link" type="button">{{ 'Add'|trans({}, 'form') }}</button>
            </div>

            <hr />
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}