{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% include 'components/context_navigation.html.twig' with {'menu_name': 'portal_settings'} only %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'CSV-Import'|trans({}, "portal") }}{% endblock %}

        {% block body %}
            {% for message in app.flashes('notice') %}
                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ message|trans({}, 'portal') }}.
                </div>
            {% endfor %}

            <a href="{{ asset('files/csv_import_sample.csv') }}">{{ 'Download sample'|trans({}, 'portal') }}</a>

            {{ form(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}