{% extends 'layout.html.twig' %}

{% form_theme inactiveAccountsForm 'form/uikit3/uikit_horizontal_layout.html.twig' %}
{% form_theme inactiveRoomsForm 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'Deprovisioning'|trans({}, "portal") }}{% endblock %}

        {% block body %}
            <ul uk-tab>
                <li class="{% if tab is same as 'inactiveAccounts' %}uk-active{% endif %}"><a href="#">{{ 'portal.inactive.account.title'|trans({}, "portal") }}</a></li>
                <li class="{% if tab is same as 'inactiveRooms' %}uk-active{% endif %}"><a href="#">{{ 'portal.inactive.room.title'|trans({}, "portal") }}</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <li>{{ form(inactiveAccountsForm) }}</li>
                <li>{{ form(inactiveRoomsForm) }}</li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}