{% extends 'layout.html.twig' %}

{% import 'common/announcements.html.twig' as announcements %}

{% block title %}
    {{ portal.title|default('CommSy') }}
{% endblock %}

{% block top_navigation_left %}
    <div class="uk-navbar-item uk-text-large">
        <div class="uk-navbar-item">
            <a class="uk-text-large" href="{{ path('app_server_show') }}">
                Portalübersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block cover %}
    {% if server.logoImageName %}
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large">
                <div class="uk-flex uk-flex-between">
                    <div>
                        <img data-src="{{ path('app_file_serverlogo') }}" width="300" height="120" alt="server logo" uk-img>
                    </div>

                    {% if portal is not null and portal.logoFilename is not empty %}
                        <div>
                            <img data-src="{{ path('app_file_portallogo', { 'portalId': portal.id }) }}" width="260" height="80" alt="portal logo" uk-img>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    {{ announcements.server(server, portal) }}
    {{ announcements.portal(portal) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="uk-alert-{{ label }}" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="uk-grid-match uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-large">
            <div class="uk-card uk-card-default uk-card-small">
                {% if portal is null %}
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{{ 'login.system_admin'|trans({}, 'login') }}</h3>
                    </div>
                {% endif %}

                <div class="uk-card-body">
                    <!-- Tabs -->
                    <ul uk-tab>

                        {% if portal is not null %}
                            {% for authSource in portal.authSources %}
                                {% if authSource.enabled %}
                                    <li class="{% if (lastSource is null and authSource.default) or (authSource.type is same as (lastSource)) %}uk-active{% endif %}">
                                        <a href="">
                                            {{ authSource.title }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if portal.isOpenForGuests %}
                                <li>
                                    <a href="">{{ 'login.guest_tab'|trans({}, 'login') }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="uk-active">
                                <a href="">Admin</a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="uk-switcher">
                        {% if portal is not null %}
                            {% for authSource in portal.authSources %}
                                {% if authSource.enabled %}
                                    {% if authSource.type is same as('local') %}
                                        <!-- Lokal -->
                                        <div>
                                            {% if authSource.description is not empty %}
                                                <p class="uk-text-small">{{ authSource.description|raw }}</p>
                                            {% endif %}

                                            <form class="uk-form-stacked" method="post">
                                                {% if error and authSource.type is same as (lastSource) %}
                                                    <div class="uk-form-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}

                                                {# hidden #}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                <input type="hidden" name="context" value="{{ context }}">

                                                {# username #}
                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="inputEmail">{{ 'login.label_username'|trans({}, 'login') }}</label>

                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                            <input class="uk-input" id="inputEmail" type="text" name="email" value="{{ last_username }}" placeholder="{{ 'login.placeholder_username'|trans({}, 'login') }}" required autofocus>
                                                        </div>
                                                    </div>
                                                </div>

                                                {# password #}
                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="inputPassword">{{ 'login.label_password'|trans({}, 'login') }}</label>
                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                            <input class="uk-input" id="inputPassword" type="password" name="password" placeholder="{{ 'login.placeholder_password'|trans({}, 'login') }}" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                {#
                                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                    See https://symfony.com/doc/current/security/remember_me.html

                                                    <div class="checkbox mb-3">
                                                        <label>
                                                            <input type="checkbox" name="_remember_me"> Remember me
                                                        </label>
                                                    </div>
                                                #}

                                                <div class="uk-margin">
                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="login_local">{{ 'login.sign_in'|trans({}, 'login') }}</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% if authSource.addAccount %}
                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="form-stacked-register">{{ 'registration.no_account'|trans({}, 'registration' ) }}</label>
                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <a class="uk-button uk-button-default uk-width-1-1" href="{{ path('app_account_signup', { 'id': context }) }}">{{ 'registration.sign_up'|trans({}, 'registration' ) }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}

                                                <div class="uk-margin uk-text-small">
                                                    <div class="uk-flex uk-flex-around">
                                                        <div class="">
                                                            <a href="{{ path('app_security_requestpasswordreset', { 'portalId': context }) }}">{{ 'login.forget_password'|trans({}, 'login') }}</a>
                                                        </div>

                                                        <div class="">
                                                            <a href="#">{{ 'login.forget_account'|trans({}, 'login') }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    {% elseif authSource.type is same as('ldap') %}
                                        <!-- LDAP -->
                                        <div>
                                            {% if authSource.description is not empty %}
                                                <p class="uk-text-small">{{ authSource.description|raw }}</p>
                                            {% endif %}

                                            <form class="uk-form-stacked" method="post">
                                                {% if error and authSource.type is same as (lastSource) %}
                                                    <div class="uk-form-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}

                                                {# hidden #}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                <input type="hidden" name="context" value="{{ context }}">

                                                {# username #}
                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="inputEmail">{{ 'login.label_username'|trans({}, 'login') }}</label>

                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                            <input class="uk-input" id="inputEmail" type="text" name="email" value="{{ last_username }}" placeholder="{{ 'login.placeholder_username'|trans({}, 'login') }}" required autofocus>
                                                        </div>
                                                    </div>
                                                </div>

                                                {# password #}
                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="inputPassword">{{ 'login.label_password'|trans({}, 'login') }}</label>
                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                            <input class="uk-input" id="inputPassword" type="password" name="password" placeholder="{{ 'login.placeholder_password'|trans({}, 'login') }}" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uk-margin">
                                                    <div class="uk-form-controls">
                                                        <div class="uk-inline uk-width-1-1">
                                                            <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="login_ldap">{{ 'login.sign_in'|trans({}, 'login') }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% elseif authSource.type is same as('shib') %}
                                        <!-- Shibboleth -->
                                        <div>
                                            {% if authSource.description is not empty %}
                                                <p class="uk-text-small">{{ authSource.description|raw }}</p>
                                            {% endif %}

                                            {% if error and authSource.type is same as (lastSource) %}
                                                <div class="uk-form-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            {# hidden #}
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <input type="hidden" name="context" value="{{ context }}">

                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <a class="uk-button uk-button-primary uk-width-1-1" href="{{ path('app_shibboleth_authshibbolethinit', {
                                                            'portalId': portal.id
                                                        }) }}">
                                                            {{ 'login.sign_in'|trans({}, 'login') }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if authSource.passwordResetUrl is not empty %}
                                                <div class="uk-margin uk-text-small">
                                                    <div class="uk-flex uk-flex-around">
                                                        <a href="{{ authSource.passwordResetUrl }}">{{ 'login.forget_password'|trans({}, 'login') }}</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <!-- Gast -->
                            {% if portal.isOpenForGuests %}
                                <div>
                                    <p class="uk-text-small">{{ 'login.guest_about'|trans({}, 'login') }}</p>

                                    <a class="uk-button uk-button-primary" href="{{ path('app_helper_portalenter', {
                                        'context': portal.id
                                    }) }}">
                                        {{ 'login.guest_login'|trans({}, 'login') }}
                                    </a>
                                </div>
                            {% endif %}

                        {% else %}
                            <!-- Admin -->
                            <div>
                                <form class="uk-form-stacked" method="post">
                                    {% if error %}
                                        <div class="uk-form-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {# hidden #}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="context" value="{{ context }}">

                                    {# username / email #}
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="inputEmail">{{ 'login.label_username'|trans({}, 'login') }}</label>

                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                <input class="uk-input" id="inputEmail" type="text" name="email" value="{{ last_username }}" placeholder="{{ 'login.placeholder_username'|trans({}, 'login') }}" required autofocus>
                                            </div>
                                        </div>
                                    </div>

                                    {# password #}
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="inputPassword">{{ 'login.label_password'|trans({}, 'login') }}</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                <input class="uk-input" id="inputPassword" type="password" name="password" placeholder="{{ 'login.placeholder_password'|trans({}, 'login') }}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="uk-margin">
                                        <div class="uk-form-controls">
                                            <div class="uk-inline uk-width-1-1">
                                                <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="login_local">{{ 'login.sign_in'|trans({}, 'login') }}</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}