{% extends 'layout.html.twig' %}

{% block title %}
    'CommSy'
{% endblock %}

{% block top_navigation_left %}
    <div class="uk-navbar-item uk-text-large">
        <div class="uk-navbar-item">
            <a class="uk-text-large" href="{{ path('app_server_show') }}">
                Portalübersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div class="uk-grid-match uk-flex uk-flex-center" uk-grid>
    <div class="uk-width-large">
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
                <h3 class="uk-card-title">{{ 'login.system_admin'|trans({}, 'login') }}</h3>
            </div>
            <div class="uk-card-body">
                {{ form_start(form) }}
                {{ form_errors(form.password) }}
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            {{ 'Password'|trans({}, 'portal') }}*<br/>
                            {{ form_row(form.password.pass) }}
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            {{ 'Repeat password'|trans({}, 'portal') }}*<br/>
                            {{ form_row(form.password.confirm) }}
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}