{% extends 'layout.html.twig' %}

{% block title %}
    'CommSy'
{% endblock %}

{% block top_navigation_left %}
    <div class="uk-navbar-item uk-text-large">
        <div class="uk-navbar-item">
            <a class="uk-text-large" href="{{ path('app_server_show') }}">
                Portalübersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    <div class="uk-grid-match uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-large">
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">{{ 'login.system_admin'|trans({}, 'login') }}</h3>
                </div>
                <div class="uk-card-body">

                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <div>
                            <p>{{ 'stateId'|trans({},'profile') }}</p>
                        </div>
                            {% if form.userId.vars.errors|length %}
                                <p>{{ form_errors(form.userId) }}</p>
                            {% endif %}
                            {{ form_label(form.userId) }}<br/>
                            {{ form_widget(form.userId) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-controls">
                            <div class="" style="float:left">
                                {{ form_widget(form.cancel) }}
                            </div>
                            <div class="" style="float:right">
                                {{ form_widget(form.save) }}
                            </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
        </div>
{% endblock %}