{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block top_navigation_left %}
    <div class="uk-navbar-item uk-text-large">
        <div class="uk-navbar-item">
            <a class="uk-text-large" href="{{ path('app_server_show') }}">
                Portalübersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'login.forget_password'|trans({}, 'login') }}{% endblock %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}