{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% if not groups is empty %}
    {% for group in groups %}
        <article class="uk-comment">
            <i class="{{ macros.iconClassForItemType(group.itemType) }} uk-icon-small {{ macros.statusColor(readerList, group.itemId) }}"></i>
            <header class="uk-comment-header uk-flex">
                <div class="groups-checkbox uk-margin-right uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox">
                    </form>
                </div>
                <div class="uk-margin-right">
                    {% if group.creator.isUser %}
                        {{  macros.userIconLink(group.creator) }}
                    {% else %}
                        {{  macros.userIcon(group.creator) }}
                    {% endif %}
                </div>
                <div>
                    <h4 class="uk-comment-title">
                        <a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">{{ group.title }}</a>
                    </h4>
    
                    <div class="uk-comment-meta">
                        {{ 'by'|trans({})|capitalize }}: {{group.creator.fullname}}
                    </div>
    
                    <div class="uk-comment-meta">
                        {{ 'last changed'|trans({})|capitalize }}: {{group.getModificationDate|date("d.m.Y H:i")}}
                    </div>
                    
                    {% if group.isGroupRoomActivated %}
                        <div class="uk-comment-meta">
                            <i class="uk-icon-home"></i>
                            <a href="{{ path('commsy_room_home', {'roomId': group.groupRoomItem.itemId}) }}">
                                {{group.groupRoomItem.title}}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </header>
        </article>
    {% endfor %}
{% endif %}