{% if not groups is empty %}
    {% for group in groups %}
        <article class="uk-comment">
            <header class="uk-comment-header uk-flex">
                <div class="groups-checkbox uk-margin-right uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox">
                    </form>
                </div>
                <div class="uk-margin-right">
                    <a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">
                        <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:60px; width:60px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ group.creatorId }}/image" alt="">
                    </a>
                </div>
                <div>
                    <h4 class="uk-comment-title">
                        <a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">{{ group.title }}</a>
                    </h4>
    
                    <div class="uk-comment-meta">
                        {{ 'by'|trans({})|capitalize }}: {{group.creator.fullname}}
                    </div>
    
                    <div class="uk-comment-meta">
                        {{ 'last changed'|trans({})|capitalize }}: {{group.getModificationDate|date("d.m.Y H:i")}}
                    </div>
                </div>
            </header>
        </article>
    {% endfor %}
{% endif %}