{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for group in groups %}

        <div class="uk-width-medium-1-2">

            {% set entryAllowedActions = '' %}
            {% if allowedActions[group.itemId] is defined %}
                {% set entryAllowedActions = allowedActions[group.itemId] %}
            {% endif %}
            <article class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
 
                <div class="uk-panel-teaser cs-panel-teaser-user">
                    {{ macros.statusColor(readerList, group.itemId, 'grid') }}
 
                    <div class="items-checkbox uk-float-left uk-margin-right uk-hidden">
                        <form class="uk-form">
                            <input type="checkbox" value="{{ group.itemId }}">
                        </form>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-3-4 uk-text-truncate">
                           <span class="uk-text-large uk-text-middle">
                               {% if is_granted('ITEM_SEE', group.itemId) %}
                                   <a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">{{ group.title|decodeHtmlEntity }} </a>
                               {% else %}
                                   {{ group.title|decodeHtmlEntity }}
                               {% endif %}
                           </span>
                        </div>
                        {% if group.isGroupRoomActivated %}
                            <!-- check whether user is member in group and grouproom -->
                            <div class="uk-width-1-4 uk-text-right">
                                {% if memberStatus[group.itemId].groupMember or isRoot %}
                                    {% if memberStatus[group.itemId].groupRoomMember =='enter' or isRoot %}
                                        <a href="{{ path('commsy_room_home', {'roomId': group.groupRoomItemID}) }}" class="uk-icon-button uk-icon-sign-in cs-grouproom-sign-in" data-uk-tooltip title="{{'enter grouproom'|trans({}) }}"></a>
                                    {% elseif memberStatus[group.itemId].groupRoomMember =='join' %}
                                        <a href="{{ path('commsy_context_request', {'roomId': roomId, 'itemId': group.groupRoomItem.itemId}) }}" class="uk-icon-button uk-icon-sign-in cs-grouproom-sign-in" data-uk-tooltip title="{{'get grouproom access'|trans({}, 'group') }}"></a>
                                    {% endif %}
                                {% else %}
                                    <span class="uk-icon-button uk-icon-sign-in uk-text-muted cs-grouproom-sign-in" data-uk-tooltip title="{{'access restricted to group members'|trans({}, 'group') }}"></span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-flex-space-between uk-margin-small-top">
                    <div>
                        {{'members'|trans({}) }}: {{group.getCountMemberItemList}}                   
                    </div>
                    <div>
                        {{'links'|trans({}) }}: {{group.getCountAllLinkItemList(false)}}              
                    </div>
                </div>
            </article>
        </div>




    
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}

