{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for group in groups %}

        <div class="uk-width-medium-1-4">

            {% set entryAllowedActions = '' %}
            {% if allowedActions[group.itemId] is defined %}
                {% set entryAllowedActions = allowedActions[group.itemId] %}
            {% endif %}
            <article class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
 
                <div class="uk-panel-teaser cs-panel-teaser-user">
                    {{ macros.statusColor(readerList, group.itemId, 'grid') }}
 
                    <div class="items-checkbox uk-float-left uk-margin-right uk-hidden">
                        {% if is_granted('ITEM_EDIT', group.itemId) %}
                            <form class="uk-form">
                                <input type="checkbox" value="{{ group.itemId }}">
                            </form>
                        {% else %}
                            <i class="uk-icon-ban uk-icon-small red"></i>
                        {% endif %}
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-3-4 uk-text-truncate">
                           <span class="uk-text-large uk-text-middle">
                               <a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">{{ group.title }} </a>
                           </span>
                        </div>
                        {% if group.isGroupRoomActivated %}
                            <div class="uk-width-1-4 uk-text-right">
                                <a href="{{ path('commsy_room_home', {'roomId': group.groupRoomItemID}) }}" class="uk-icon-button uk-icon-sign-in cs-grouproom-sign-in" data-uk-tooltip title="{{'enter grouproom'|trans({}) }}"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <span>
                   <!-- <i class="uk-icon-send-o"></i> --><a href="mailto:">{{'send mail to group'|trans({}) }}</a>
                </span><br/>
                <div class="uk-flex uk-flex-space-between">
                    <div>
                        {{'members'|trans({}) }}: {{group.getCountMemberItemList}}                   
                    </div>
                    <div>
                        {{'links'|trans({}) }}: {{group.getCountAllLinkItemList(false)}}              
                    </div>
                </div>
            </article>
        </div>




    
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}

