{% extends 'base.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as utils_items %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-2-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ group.title }}</div>
                        <div>
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#group-info', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="group-info">
                    <div class="uk-panel">
                        {{ group.description|raw }}
                    </div>
                    <div data-uk-grid="{gutter: 20}">
                        {% for member in members %}
                            <div class="uk-width-medium-1-2 uk-width-large-1-3">
                                <div class="uk-panel">
                                    <a href="{{ path('commsy_user_index', {'roomId': app.request.attributes.get('roomId'), 'itemId': member.itemId}) }}">
                                        <img class="uk-thumbnail uk-border-circle" style="height:60px; width:60px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ member.itemID }}/image" alt="">
                                    </a>
                                    <span class="uk-text-middle">
                                        <a href="{{ path('commsy_user_index', {'roomId': app.request.attributes.get('roomId'), 'itemId': member.itemId}) }}">
                                            {{ member.fullname }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-main', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'Info'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
                
                <div id="user-main" class="uk-overflow-container">
                    <div class="">
                        {{ utils_items.lastModified(group) }} 
                    </div>
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-sub', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'linked entries'|trans({}, "room")|capitalize }}
                        </div>
                    </div>
                </div>
                
                <div id="user-sub" class="uk-overflow-container">
                    {{ render(controller(
                        'CommsyBundle:Link:link',
                        { 'roomId': app.request.attributes.get('roomId'), 'itemId': group.itemId }
                    ))}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}