{% extends 'CommsyBundle:base:list.html.twig' %}
{% form_theme form 'CommsyBundle:form:uikit_horizontal_layout.html.twig' %}

{% import 'CommsyBundle:utils:macros.html.twig' as utilsMacros %}

{% block feed %}
    <div id="group-feed" class="uk-grid">
        {{ render(controller(
            'CommsyBundle:Group:feed', {
                'roomId': roomId,
                'groupFilter': app.request.query.get('group_filter')
             }
        ))}}
    </div>
    <div class="feed-load-more-grid" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/group/feed/", "target": "#group-feed"}'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}

{% block editbox %}
    <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <button class="uk-button uk-button-mini">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
        <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                <li>
                    {% if is_granted('ITEM_EDIT', 'NEW') %}
                        <a href="{{ path('commsy_group_create', {'roomId': roomId}) }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                        </span>
                    {% endif %}
                </li>

                {# print #}
                <li>
                    <a href="{{ path('commsy_group_printlist', {'roomId': roomId}) }}" target="_blank" id="print">
                        <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                    </a>
                </li>

                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                        'url': path('commsy_group_xhrmarkread', {'roomId': roomId}),
                        'action': 'markread',
                        'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                        'mode': 'selection',
                        'noSelectionMessage': 'no entry selected'|trans({},'item')
                    }|json_encode|e('html_attr') }}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-check-square-o uk-visible-large"></i> {{ 'mark read'|trans({},'rubric')|capitalize }}
                    </a>
                </li>

                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                        'url': path('commsy_group_sendmultiple', {'roomId': roomId}),
                        'action': 'sendmail',
                        'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                        'mode': 'selection',
                        'noSelectionMessage': 'no entry selected'|trans({},'item')
                    }|json_encode|e('html_attr') }}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-send-o uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                    </a>
                </li>

                <li>
                    {% if (user.isUser and not user.isReadOnlyUser) and not isArchived %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('commsy_group_xhrdelete', {'roomId': roomId}),
                            'action': 'delete',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                            'confirmQuestion': 'confirm delete'|trans({}, 'rubric'),
                            'confirmCancel': 'confirm delete cancel'|trans({}, 'rubric'),
                            'confirmOk': 'confirm delete confirm'|trans({}, 'rubric'),
                            'returnUrl': path('commsy_group_list', {'roomId': roomId})
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'delete'|trans({},'rubric')|capitalize }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'delete'|trans({},'rubric')|capitalize }}
                        </span>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
{% endblock %}

{% block sortbox %}
        {# sort dropdown #}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini cs-button-list">{{ 'list sort'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    {# sorting options #}
                    {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', '') }}
                    {{ utilsMacros.sortActor('modificator', 'modifier', 'rubric', 'modificator', 'modificator_rev', '') }}
                    {{ utilsMacros.sortActor('date', 'modification_date', 'rubric', 'date_rev', 'date', 'desc') }}
                </ul>
            </div>
        </div>
{% endblock %}
