{% extends 'CommsyBundle:base:portal.html.twig' %}
{% form_theme editForm 'CommsyBundle:form:uikit_horizontal_layout.html.twig' %}
{% form_theme linkForm 'CommsyBundle:form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Edit room categories'|trans({}, "portal") }}</div>
                    </div>
                </div>

                <div>
                    <div class="uk-grid">
                        {# form column #}
                        <div class="uk-width-1-3">
                            {{ form_start(editForm) }}
                            {{ form_widget(editForm) }}
                            {{ form_end(editForm) }}
                        </div>
                        {# show existing categories #}
                        <div id="categories" class="uk-width-2-3">
                            {% for roomCategory in roomCategories %}
                                <span>
                                     <a class="uk-button uk-margin-small-bottom uk-margin-small-right{% if roomCategoryId == roomCategory.id %} uk-button-primary{% endif %}" href="{{ path('commsy_portal_roomcategories', { 'roomId': roomId, 'roomCategoryId': roomCategory.id }) }}">
                                         <span class="uk-vertical-align-middle">
                                            {{- roomCategory.title|trans({},'portal') -}}
                                        </span>
                                    </a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'links'|trans({}, "messages") }}</div>
                    </div>
                </div>

                <div>
                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            {{ form(linkForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function toggleMandatoryLinksCheckbox() {
            $('#roomcategories_link_mandatory').prop('disabled', $("#categories .uk-margin-small-bottom").length < 1);
        }

        window.onload = function() {
            toggleMandatoryLinksCheckbox();
        }
    </script>
{% endblock %}