{% extends 'base/portal.html.twig' %}
{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div class="uk-text-large">{{ 'AGB'|trans({}, "room") }}</div>
                    </div>
                </div>

                <div>
                    <div class="uk-alert">
                        <a href="{{ path('app_portal_roomtermstemplates', { 'roomId': portal.itemId }) }}">{{ 'You can set up templates for room terms here'|trans({}, 'portal') }}</a>
                    </div>

                    <div class="uk-grid">
                        {{ form_start(form) }}
                        {{ form_row(form.status)}}
                        {{ form_row(form.DE)}}
                        {{ form_row(form.EN)}}
                        <div class="uk-form-row">
                            <label class="uk-form-label"><em>{{ 'note'|trans({}, "messages") }}</em></label>
                            <div class="uk-form-controls">{{ 'terms update note'|trans({}, "portal") }}</div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}