{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Item:macros.html.twig' as macrosItem %}
{% import 'CommsyBundle:Material:macros.html.twig' as macrosMaterial %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-5 uk-sticky-placeholder cs-addon-navigation">
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary data-uk-sticky">
               <div class="uk-panel-teaser panel-teaser-primary uk-margin-remove">
               {{ 'quick navigation'|trans({})|capitalize }}
               </div>
               <div>
                 <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li class="uk-comment"><a href="#description">{{ 'entry description'|trans({})}}</a></li>
                    <li class="uk-comment"><a href="#files">{{ 'files'|trans({})}}</a></li>
                    <li class="uk-comment"><a href="#links">{{ 'links'|trans({})}}</a></li>
                    <li class="uk-comment"><a href="#workflow">{{ 'workflow information'|trans({})}}</a></li>
                    {% if not sectionList is empty %}
                    <li class="uk-comment uk-parent ">
                        <a href="#">{{ 'sections'|trans({})|capitalize }}</a>
                        <ul class="uk-nav-sub">
                        {% set counter = 1 %}                        
                        {% for section in sectionList %}
                            <li>
                                <a href="#section{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ counter }}. {{ section.title|raw|truncate(20) }}</a>
                            </li>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="uk-comment"><a href="#annotations">{{ 'annotations'|trans({})|capitalize }}</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-4-5">       
            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-bottom">
               <div class="uk-panel-teaser panel-teaser-primary">
                    {# navigation #}
                    <div class="uk-grid">
                        <div class="uk-width-1-3">
                            <div class="uk-flex">
                                <div  class="uk-margin-right">
                                    {% if firstItemId %}
                                        <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                    {% else %}
                                        <i class="uk-icon-small uk-icon-angle-double-left uk-button-primary"></i>
                                    {% endif %}
                                    {% if prevItemId %}
                                        <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                    {% else %}
                                        <i class="uk-icon-small uk-icon-angle-left uk-button-primary"></i>
                                    {% endif %}
                                </div>
                                <div class="uk-margin-right">
                                    <div class="uk-button-dropdown" data-uk-dropdown>
                                        <button class="uk-button uk-button-mini">Material {{ counterPosition }} / {{ count }} <i class="uk-icon-caret-down"></i></button>
                                        <div class="uk-dropdown">
                                            <ul class="uk-nav uk-nav-dropdown">
                                                {% for tempMaterial in materialList %}
                                                    {% if tempMaterial.itemId != material.itemId %}
                                                        <li><a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': tempMaterial.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempMaterial.title|raw }}">{{ tempMaterial.title|raw|truncate(25) }}</a></li>
                                                    {% else %}
                                                        <li class="uk-nav-divider"></li>
                                                        <li class="uk-margin-left">{{ tempMaterial.title }}</li>
                                                        <li class="uk-nav-divider"></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    {% if nextItemId %}
                                        <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                    {% else %}
                                        <i class="uk-icon-small uk-icon-angle-right uk-button-primary"></i>
                                    {% endif %}
                                    {% if lastItemId %}
                                        <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                    {% else %}
                                        <i class="uk-icon-small uk-icon-angle-double-right uk-button-primary"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-2-3 uk-text-right">
                            <a class="uk-margin-left uk-button-primary" href="{{ path('commsy_material_create', {'roomId': roomId}) }}"><i class="uk-icon-small uk-icon-plus-circle"></i> <span class="cs-addon-navigation-large">{{ 'new'|trans({})}}</span></a>
                            <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-save"></i> <span class="cs-addon-navigation-large">{{ 'save'|trans({})|capitalize }}</span></a>
                            <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-copy"></i> <span class="cs-addon-navigation-large">{{ 'copy'|trans({})|capitalize }}</span></a>
                            <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-send"></i> <span class="cs-addon-navigation-large">{{ 'send'|trans({})|capitalize }}</span></a>
                            <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-print"></i> <span class="cs-addon-navigation-large">{{ 'print'|trans({})|capitalize }}</span></a>
                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-trash"></i> <span class="cs-addon-navigation-large">{{ 'trash'|trans({})|capitalize }}</span></a>
                            {% else %}
                                <i class="uk-icon-small uk-icon-trash"></i> <span class="cs-addon-navigation-large">{{ 'trash'|trans({})|capitalize }}</span>
                            {% endif %}
                        </div>
                    </div>
    
    
                    </div>
                
                    {# content #}
                    <article class="uk-article uk-position-relative" data-uk-observe>
                        {# title, etc. #}
                        <div class="cs-toggle" data-uk-observe>
                            {{ macrosMaterial.title(material, modifierList) }}
                        </div>
                
                        {# description #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                            {{ macros.editContent('description', material, true, material.description, material.description) }}
                        </div>
                
                        {# files #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                            <a name="files"></a>
                            {{ macrosItem.files(material) }}
                        </div>
            
                        {# links #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editlinks', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                            <a name="links"></a>
                            {{ macrosItem.links(material) }}
                        </div>
            
                        {# workflow #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editworkflow', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                            <a name="workflow"></a>
                            {{ macrosItem.workflow(material) }}
                        </div>
            
                        {# sections #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe>
                            <a name="sections"></a>
                            {{ macrosMaterial.sections(material, sectionList) }}
                        </div>
                        
                    </article> 
                </div>
    
    
                
                {# material sections #}
                <a name="sections"></a>
                {% for section in sectionList %}
                    <div class="uk-panel uk-panel-box">
                        <article class="uk-article uk-position-relative">
                            {# title #}
                            <div class="cs-toggle" data-uk-observe>
                                {{ macrosMaterial.title(section, modifierList) }}
                            </div>
                            
                            {# description #}
                            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                                {{ macros.editContent('description', section, true, section.description, section.description) }}
                            </div>
                    
                            {# files #}
                            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                                {{ macrosItem.files(section) }}
                            </div>
                        </article>
                    </div>
                {% endfor %}
                
                <div class="uk-panel uk-panel-box-primary uk-margin-bottom">
                    {# annotations #}
                    <a name="annotations"></a>
                    <div class="uk-panel-teaser">
                        <h3>{{ 'annotations'|trans({})|capitalize }}</h3>
                    </div>
                    {% if item.itemType != 'discussion' %}
                        {{ render(controller(
                            'CommsyBundle:Annotation:feed',
                            { 'roomId': roomId, 'linkedItemId': item.itemId }
                        ))}}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}