{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
{% import 'CommsyBundle:Material:macros.html.twig' as macrosMaterial %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-5 uk-sticky-placeholder">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li><a href="#description">{{ 'description'|trans({})|capitalize }}</a></li>
                    <li><a href="#files">{{ 'files'|trans({})|capitalize }}</a></li>
                    <li><a href="#links">{{ 'links'|trans({})|capitalize }}</a></li>
                    <li><a href="#workflow">{{ 'workflow'|trans({})|capitalize }}</a></li>
                    <li><a href="#editing information">{{ 'editing information'|trans({})|capitalize }}</a></li>
                    {% if not sectionList is empty %}
                    <li class="uk-parent">
                        <a href="#">{{ 'sections'|trans({})|capitalize }}</a>
                        <ul class="uk-nav-sub">
                        {% for section in sectionList %}
                            <li>
                                <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw|truncate(20) }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="#annotations">{{ 'annotations'|trans({})|capitalize }}</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-medium-4-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# navigation #}
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-2-10">
                                {% if firstItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left"></i>
                                {% endif %}
                            </div>
                            <div class="uk-width-medium-6-10">
                                <div class="uk-button-dropdown" data-uk-dropdown>
                                    <button class="uk-button">Material {{ counterPosition }} / {{ count }} <i class="uk-icon-caret-down"></i></button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            {% for tempMaterial in materialList %}
                                                {% if tempMaterial.itemId != material.itemId %}
                                                    <li><a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': tempMaterial.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempMaterial.title|raw }}">{{ tempMaterial.title|raw|truncate(25) }}</a></li>
                                                {% else %}
                                                    <li class="uk-nav-divider"></li>
                                                    <li class="uk-margin-left">{{ tempMaterial.title }}</li>
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10">
                                {% if nextItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right"></i>
                                {% endif %}
                            </div>
                         </div>
                    </div>
                    <div class="uk-width-1-3">
                        <a href="{{ path('commsy_material_create', {'roomId': roomId}) }}"><i class="uk-icon-small uk-icon-plus-circle"></i> {{ 'new material'|trans({})|capitalize }}</a>
                    </div>
                    <div class="uk-width-1-3">
                        <a href="#"><i class="uk-icon-small uk-icon-print"></i> {{ 'print'|trans({})|capitalize }}</a>
                    </div>
                </div>
            
                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_edit', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosMaterial.title(material) }}
                    </div>
            
                    {# description #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_editdescription', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosMaterial.description(material) }}
                    </div>
            
                    {# files #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosMaterial.files(material) }}
                    </div>
        
                    {# links #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macros.editSectionStart('links', material) }}
                        ToDo: Vorschau ...
                        {{ macros.editSectionSeperator('links', material) }}
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-3">
                                {{ render(controller(
                                    'CommsyBundle:Link:show',
                                    { 'roomId': app.request.attributes.get('roomId'), 'itemId': material.itemId }
                                ))}}
                            </div>
                            <div class="uk-width-medium-1-3">
                                {{ render(controller(
                                    'CommsyBundle:Category:show',
                                    { 'roomId': roomId }
                                ))}}
                            </div>
                            <div class="uk-width-medium-1-3">
                                {{ render(controller(
                                    'CommsyBundle:Hashtag:show',
                                    { 'roomId': roomId }
                                ))}}
                            </div>
                        </div>
                        {{ macros.editSectionEnd('links', material) }}
                    </div>
        
                    {# workflow #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macros.editSectionStart('workflow', material) }}
                        ToDo: Vorschau ...
                        {{ macros.editSectionSeperator('workflow', material) }}
                        ToDo: Inhalt ...
                        {{ macros.editSectionEnd('workflow', material) }}
                    </div>
        
                    {# sections #}
                    <div class="cs-edit-section cs-toggle" data-uk-observe>
                        {{ macros.editSectionStart('sections', material) }}
                        <ul class="uk-list uk-list-striped">
                            {% for section in sectionList|slice(0, 3) %}
                                <li>
                                    <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw }}</a><br/>
                                    {{ macros.fileListShort(section) }}
                                </li>
                            {% endfor %}
                        </ul>
                        {{ macros.editSectionSeperator('sections', material) }}
                        <ul class="uk-list uk-list-striped">
                            {% for section in sectionList %}
                                <li>
                                    <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw }}</a><br/>
                                    {{ macros.fileListShort(section) }}
                                </li>
                            {% endfor %}
                        </ul>
                        {{ macros.editSectionEnd('sections', material) }}
                    </div>
                    
                </article> 
            </div>
            
            {# material sections #}
            <a name="sections"></a>
            {% for section in sectionList %}
                <div class="uk-panel uk-panel-box uk-margin-bottom">
                    <article class="uk-article uk-position-relative">
                        {# title #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_edit', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                            {{ macrosMaterial.title(section) }}
                        </div>
                        
                        {# description #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_editdescription', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                            {{ macrosMaterial.description(section) }}
                        </div>
                
                        {# files #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                            {{ macrosMaterial.files(section) }}
                        </div>
                    </article>
                </div>
            {% endfor %}
            
            <div class="uk-panel uk-panel-box-primary uk-margin-bottom">
                {# annotations #}
                <a name="annotations"></a>
                <div class="uk-panel-teaser">
                    <h3>{{ 'annotations'|trans({})|capitalize }}</h3>
                </div>
                {% if item.itemType != 'discussion' %}
                    {{ render(controller(
                        'CommsyBundle:Annotation:feed',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}