{% extends 'CommsyBundle:Room:room.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-2-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-bottom">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ material.title }}</div>
                        <div>
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#material-info', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="material-info" class="uk-overflow-container">
                
                    <div class="uk-panel">
                        <div class="uk-panel-badge"><i class="{{ macros.iconClassForItemType(material.itemType) }} uk-icon-small {{ macros.statusColor(readerList, material.itemId) }}"></i></div>
                        {{ macros.detailInformation(material, modifierList) }}
                    </div>
                
                    <div class="uk-panel uk-margin-left uk-margin-bottom">
                        {{ material.description|raw }}</td>
                    </div>
                    
                    <div class="uk-panel uk-margin-left uk-margin-bottom">
                        {{  macros.fileList(material) }}
                    </div>
                    
                    <div class="uk-panel uk-margin-left">
                        <h3 class="uk-panel-title">{{ 'sections'|trans({})|capitalize }}:</h3>
                        <ul class="uk-list">
                        {% for section in sectionList %}
                            <li><a href="#{{ section.itemId }}">{{ section.title }}</a> {{  macros.fileListShort(section) }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                    {% for section in sectionList %}
                        <div class="uk-panel uk-panel-divider">
                            <div class="uk-panel-badge"><i class="{{ macros.iconClassForItemType(section.itemType) }} uk-icon-small {{ macros.statusColor(readerList, section.itemId) }}"></i></div>
                            <a name="{{ section.itemId }}"></a>
                            <div class="uk-panel">
                                <h3 class="uk-panel-title">{{ section.title }}</h3>
                                {{ macros.detailInformation(section, modifierList) }}
                            </div>
                            <div class="uk-panel uk-margin-left uk-margin-bottom">
                                {{ section.description|raw }}
                            </div>
                            <div class="uk-panel uk-margin-left">
                                {{  macros.fileList(section) }}
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                
            </div>
        </div>
        
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-main', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'Info'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
                
                <div id="user-main" class="uk-overflow-container">
                    <div class="">
                        {{ macros.lastModified(material) }} 
                    </div>
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-sub', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'linked entries'|trans({}, "room")|capitalize }}
                        </div>
                    </div>
                </div>
                
                <div id="user-sub" class="uk-overflow-container">
                    {{ render(controller(
                        'CommsyBundle:Link:link',
                        { 'roomId': app.request.attributes.get('roomId'), 'itemId': material.itemId }
                    ))}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}