{% extends 'CommsyBundle:Base:detail.html.twig' %}

{% set item = material %}

{% block content_left_column %}
    <article class="uk-article uk-position-relative" data-cs-edit="{editUrl: '{{ path('commsy_material_edit', {'roomId': roomId, 'itemId': material.itemId}) }}' }">
        {# edit #}
        {% if is_granted('ITEM_EDIT', material.itemId) %}
            <div class="uk-position-top-right cs-article-edit uk-hidden">
                <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
            </div>
        {% endif %}

        {# title #}
        <h2 class="uk-artitcle-title">{{ material.title|raw }}</h2>

        {# modifier information #}
        {{ macros.detailInformation(material, modifierList) }}

        {# additional meta description #}
        <p class="uk-article-meta">
            {% include 'CommsyBundle:Material:biblio.html.twig' %}
        </p>

        <div class="uk-margin-left">
            {# main description #}
            <div class="cs-detail-description">
                {{ material.description|raw }}
            </div>

            {# files #}
            <div class="cs-detail-files">
                {{  macros.fileList(material) }}
            </div>
        </div>
    </article>

    {# material sections #}
    <div id="cs-sections">
        {% for section in sectionList %}
            <hr class="uk-article-divider">

            <article class="uk-article uk-position-relative" data-cs-edit="{editUrl: '{{ path('commsy_material_editsection', {'roomId': roomId, 'itemId': section.itemId}) }}' }">
                {# anchor #}
                <a name="{{ section.itemId }}"></a>

                {# edit #}
                <div class="uk-position-top-right cs-article-edit uk-hidden">
                    <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                </div>

                {# title #}
                <h3 class="uk-artitcle-title">{{ section.title|raw }}</h3>

                {# modifier information #}
                {{ macros.detailInformation(section, modifierList) }}

                <div class="uk-margin-left">
                    {# section description #}
                    <div class="cs-detail-description">
                        {{ section.description|raw }}
                    </div>

                    {# files #}
                    <div class="cs-detail-files">
                        {{  macros.fileList(section) }}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block content_right_column %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser panel-teaser-primary">
            <div class="uk-clearfix">
                <div class="uk-float-right">
                    <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-main', animation: 'uk-animation-fade'}">
                        <i class="uk-icon-chevron-up"></i>
                    </a>
                </div>
                <div class="uk-float-left">
                    {{ 'Sections'|trans({}, "room") }} ({{ sectionList|length }})
                </div>
            </div>
        </div>
        
        <div id="user-main" class="uk-overflow-container">
            <div class="">
                <ul class="uk-list uk-list-striped uk-margin-bottom-remove">
                {% for section in sectionList [0:10] %}
                    <li>
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-1-10">{{ loop.index }}.</div>
                            <div class="uk-width-9-10 uk-text-truncate"><a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw }}</a></div>
                        </div>
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-1-10"></div>
                            <div class="uk-width-9-10">{{ macros.fileListShort(section) }}</div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% if sectionList|length > 10 %}
                    <div class="show-more-sections uk-hidden">
                        <ul class="uk-list uk-list-striped">
                        {% for section in sectionList [10:sectionList|length-10] %}
                            <li>
                            <div class="uk-grid uk-grid-collapse">
                                <div class="uk-width-1-10">{{ loop.index + 10 }}.</div>
                                <div class="uk-width-9-10 uk-text-truncate"><a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw }}</a></div>
                            </div>
                            <div class="uk-grid uk-grid-collapse">
                                <div class="uk-width-1-10"></div>
                                <div class="uk-width-9-10">{{ macros.fileListShort(section) }}</div>
                            </div>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="uk-margin-small">
                        <a class="show-more-sections" data-uk-toggle="{target:'.show-more-sections', animation:'uk-animation-fade'}">{{ 'show all'|trans({}) }}</a>
                        <a class="show-more-sections uk-hidden" data-uk-toggle="{target:'.show-more-sections', animation:'uk-animation-fade'}">{{ 'show less'|trans({}) }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    {{ render(controller(
        'CommsyBundle:Link:show',
        { 'roomId': app.request.attributes.get('roomId'), 'itemId': material.itemId }
    ))}}

    {{ render(controller(
        'CommsyBundle:Hashtag:show',
        { 'roomId': roomId }
    ))}}

    {{ render(controller(
        'CommsyBundle:Category:show',
        { 'roomId': roomId }
    ))}}
{% endblock %}