{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Item:macros.html.twig' as macrosItem %}
{% import 'CommsyBundle:Material:macros.html.twig' as macrosMaterial %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div>
                    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ material.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ material.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#files{{ material.itemId }}">{{ 'files'|trans({})}}</a></li>
                        <li><a href="#links{{ material.itemId }}">{{ 'links'|trans({})}}</a></li>
                        <li><a href="#workflow{{ material.itemId }}">{{ 'workflow information'|trans({})}}</a></li>

                        {% if not sectionList is empty %}
                            <li class="uk-parent">
                                <a href="#sections{{ material.itemId }}">{{ 'sections'|trans({})|capitalize }}</a>
                                <ul class="uk-nav-sub">                      
                                    {% for section in sectionList %}
                                        <li>
                                            <a href="#section{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ loop.index }}. {{ section.title|raw|truncate(20) }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        <li><a href="#annotations{{ material.itemId }}">{{ 'annotations'|trans({})|capitalize }}</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="uk-width-medium-4-5">

            {# material content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-bottom">

                {# panel teaser #}
                <div class="uk-panel-teaser panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        <div class="uk-width-1-5 uk-flex-inline uk-flex-space-between">

                            {# back navigation #}
                            <div>
                                {% if firstItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left uk-button-primary"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left uk-button-primary"></i>
                                {% endif %}
                            </div>

                            {# item dropdown #}
                            <div class="uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    Material {{ counterPosition }} / {{ count }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        {% for tempMaterial in materialList %}
                                            {% if tempMaterial.itemId != material.itemId %}
                                                <li><a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': tempMaterial.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempMaterial.title|raw }}">{{ tempMaterial.title|raw|truncate(25) }}</a></li>
                                            {% else %}
                                                <li class="uk-nav-divider"></li>
                                                <li class="uk-margin-left">{{ tempMaterial.title }}</li>
                                                <li class="uk-nav-divider"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            {# forward navigation #}
                            <div>
                                {% if nextItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right uk-button-primary"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right uk-button-primary"></i>
                                {% endif %}
                            </div>
                        </div>

                        {# actions #}
                        <div class="uk-width-2-5 uk-push-2-5 uk-flex-inline uk-flex-space-between">
                            <a class="uk-margin-left uk-button-primary" href="{{ path('commsy_material_create', {'roomId': roomId}) }}"><i class="uk-icon-small uk-icon-plus-circle"></i> <span class="cs-addon-navigation-large">{{ 'new'|trans({})}}</span></a>
                            <a class="uk-margin-left uk-button-primary" href="#"><i class="uk-icon-small uk-icon-print"></i> <span class="cs-addon-navigation-large">{{ 'print'|trans({})|capitalize }}</span></a>

                            {# additional actions #}
                            <div class="uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'additional actions'|trans({}, 'item') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        {# save #}
                                        <li>
                                            <a class="uk-margin-left uk-button-primary" href="#">
                                                <i class="uk-icon-small uk-icon-save"></i>
                                                <span class="cs-addon-navigation-large">{{ 'save'|trans({})|capitalize }}</span>
                                            </a>
                                        </li>

                                        {# copy #}
                                        <li>
                                            <a class="uk-margin-left uk-button-primary" href="#">
                                                <i class="uk-icon-small uk-icon-copy"></i>
                                                <span class="cs-addon-navigation-large">{{ 'copy'|trans({})|capitalize }}</span>
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a class="uk-margin-left uk-button-primary" href="#">
                                                <i class="uk-icon-small uk-icon-send"></i>
                                                <span class="cs-addon-navigation-large">{{ 'send'|trans({})|capitalize }}</span>
                                            </a>
                                        </li>

                                        {# delete #}
                                        <li>
                                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                <a class="uk-margin-left uk-button-primary" href="#">
                                                    <i class="uk-icon-small uk-icon-trash"></i>
                                                    <span class="cs-addon-navigation-large">{{ 'trash'|trans({})|capitalize }}</span>
                                                </a>
                                            {% else %}
                                                <i class="uk-icon-small uk-icon-trash"></i>
                                                <span class="cs-addon-navigation-large">{{ 'trash'|trans({})|capitalize }}</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosMaterial.title(material, modifierList, userCount, readCount, readSinceModificationCount, draft) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macros.editContent('description', material, true, material.description, material.description, false, false, 0) }}
                    </div>
            
                    {# files #}
                    <div id="files{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosItem.files(material) }}
                    </div>
        
                    {# links #}
                    <div id="links{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editlinks', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosItem.links(material) }}
                    </div>
        
                    {# workflow #}
                    <div id="workflow{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editworkflow', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
                        {{ macrosItem.workflow(material, workflowGroupArray, workflowUserArray, workflowText, workflowValidityDate, workflowResubmissionDate) }}
                    </div>
        
                    {# sections #}
                    <div id="sections{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe>
                        {{ macrosMaterial.sections(material, sectionList) }}
                    </div>
                </article> 
            </div>
      
            {# material sections #}
            {% for section in sectionList %}
                <div class="uk-panel uk-panel-box">
                    <article class="uk-article uk-position-relative">
                        {# title #}
                        <div class="cs-toggle" data-uk-observe>
                            {{ macrosMaterial.title(section, modifierList, userCount, readCount, readSinceModificationCount) }}
                        </div>
                        
                        {# description #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                            {{ macros.editContent('description', section, true, section.description, section.description, false, false, 0) }}
                        </div>
                
                        {# files #}
                        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
                            {{ macrosItem.files(section) }}
                        </div>
                    </article>
                </div>
            {% endfor %}
            
            {# annotations #}
            <div id="annotations{{ material.itemId }}" class="uk-panel uk-panel-box-primary uk-margin-bottom">
                <div class="uk-panel-teaser">
                    <h3>{{ 'annotations'|trans({})|capitalize }}</h3>
                </div>
                {% if item.itemType != 'discussion' %}
                    {{ render(controller(
                        'CommsyBundle:Annotation:feed',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}