{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-5 uk-sticky-placeholder">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li><a href="#description">{{ 'description'|trans({})|capitalize }}</a></li>
                    <li><a href="#files">{{ 'files'|trans({})|capitalize }}</a></li>
                    <li><a href="#links">{{ 'links'|trans({})|capitalize }}</a></li>
                    <li><a href="#workflow">{{ 'workflow'|trans({})|capitalize }}</a></li>
                    <li><a href="#editing information">{{ 'editing information'|trans({})|capitalize }}</a></li>
                    {% if not sectionList is empty %}
                    <li class="uk-parent">
                        <a href="#">{{ 'sections'|trans({})|capitalize }}</a>
                        <ul class="uk-nav-sub">
                        {% for section in sectionList %}
                            <li>
                                <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw|truncate(20) }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="#annotations">{{ 'annotations'|trans({})|capitalize }}</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-medium-4-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# navigation #}
                <div class="uk-grid uk-margin-bottom">
                    <div class="uk-width-1-3">
                        <div class="uk-grid">
                            <div class="uk-width-medium-2-10">
                                {% if firstItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left"></i>
                                {% endif %}
                            </div>
                            <div class="uk-width-medium-6-10">
                                <div class="uk-button-dropdown" data-uk-dropdown>
                                    <button class="uk-button">Material {{ counterPosition }} / {{ count }} <i class="uk-icon-caret-down"></i></button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            {% for tempMaterial in materialList %}
                                                {% if tempMaterial.itemId != material.itemId %}
                                                    <li><a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': tempMaterial.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempMaterial.title|raw }}">{{ tempMaterial.title|raw|truncate(25) }}</a></li>
                                                {% else %}
                                                    <li class="uk-nav-divider"></li>
                                                    <li class="uk-margin-left">{{ tempMaterial.title }}</li>
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10">
                                {% if nextItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a href="{{ path('commsy_material_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right"></i>
                                {% endif %}
                            </div>
                         </div>
                    </div>
                    <div class="uk-width-1-3">
                        New
                    </div>
                    <div class="uk-width-1-3">
                        Print
                    </div>
                </div>
            
                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_edit', {'roomId': roomId, 'itemId': material.itemId}) }}' }">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', material.itemId) %}
                        <div class="uk-position-top-right cs-article-edit uk-hidden">
                            <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                        </div>
            
                        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}
                    {% endif %}

                    <div class="uk-grid uk-margin-bottom">
                        <div class="uk-width-1-2">
                            <div class="uk-flex">
                                <div class="uk-margin-right">
                                    {% if material.creator.isUser %}
                                        {{  macros.userIconLink(material.creator) }}
                                    {% else %}
                                        {{  macros.userIcon(material.creator) }}
                                    {% endif %}
                                </div>
                                <div class="uk-margin-right">
                                    <h3 class="uk-artitcle-title">{{ material.title|raw }}</h3>
                                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}
                                    <div class="">
                                        <i class="uk-icon-small uk-icon-star"></i>
                                        <i class="uk-icon-small uk-icon-star"></i>
                                        <i class="uk-icon-small uk-icon-star"></i>
                                        <i class="uk-icon-small uk-icon-star-o"></i>
                                        <i class="uk-icon-small uk-icon-star-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="uk-width-1-2">
                            {% if modifierList[item.itemId] is defined %}
                                {% if not modifierList[item.itemId] is empty %}
                                    <div class="uk-flex">
                                        <div class="uk-margin-right">
                                            {{ 'additional\neditors'|trans({})|capitalize|nl2br }}:
                                        </div>
                                        {% for modifier in modifierList[item.itemId] %}
                                            <div class="uk-margin-small-right">
                                                {% if modifier.isUser %}
                                                    {{  macros.userIconLink(modifier) }}
                                                {% else %}
                                                    {{  macros.userIcon(modifier) }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
            
                    <div class="uk-margin-left uk-margin-right">
                        {# biblio #}
                        <div class="uk-margin-bottom">
                            <h4>{{ 'bibliographic information'|trans({})|capitalize }}</h4>
                            {% include 'CommsyBundle:Material:biblio.html.twig' %}
                        </div>
                    
                        {# gallery #}
                        {% set fileArray = material.fileList.to_array %}
                        {% for section in sectionList %}
                            {% set fileArray = fileArray|merge(section.fileList.to_array) %}
                        {% endfor %}
                        {% if not fileArray is empty %}
                        <div class="uk-margin-bottom">
                            <h4>{{ 'gallery'|trans({})|capitalize }}</h4>
                            <div class="uk-grid cs-detail-toggle">
                                <div class="uk-width-9-10">
                                    <div class="toggle-gallery-{{ material.itemId }}">
                                        <div class="uk-slidenav-position" data-uk-slider="{infinite: false}">
                                            <div class="uk-slider-container">
                                                <ul class="uk-slider uk-grid uk-grid-width-medium-1-4">
                                                    {% for file in fileArray %}
                                                        {% if file.extension|lower == 'jpg' or file.extension|lower == 'jpeg' or file.extension|lower == 'png' or file.extension|lower == 'gif' %}
                                                             <li>
                                                                <a class="uk-margin-remove" href="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" data-uk-lightbox="{group:{{ material.itemId }}}" data-lightbox-type="image">
                                                                    <div class="uk-clearfix">
                                                                        <div class="uk-align-center">
                                                                            <img class="uk-align-center" style="max-height:90px;" src="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" />
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% if fileArray|length > 4 %}
                                                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous" draggable="false"></a>
                                                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next" draggable="false"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="toggle-gallery-{{ material.itemId }} uk-hidden">
                                        <div data-uk-grid="{gutter: 20}">
                                            {% for file in fileArray %}
                                                {% if file.extension|lower == 'jpg' or file.extension|lower == 'jpeg' or file.extension|lower == 'png' or file.extension|lower == 'gif' %}
                                                    <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                                        <div class="uk-panel uk-panel-box-secondary uk-vertical-align">
                                                            <a class="uk-margin-remove" href="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" data-uk-lightbox="{group:{{ material.itemId }}}" data-lightbox-type="image">
                                                                <div class="uk-clearfix">
                                                                    <div class="uk-align-center">
                                                                        <img class="uk-align-center" style="max-height:90px;" src="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" />
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-10 cs-detail-toggle-icon">
                                    <a class="" data-uk-toggle="{target:'.toggle-gallery-{{ material.itemId }}', animation:'uk-animation-fade'}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    
                        {# main description #}
                        <div class="uk-margin-bottom">
                            <a name="description"></a>
                            <h4>{{ 'description'|trans({})|capitalize }}</h4>
                            {{  macros.descriptionDetailView(material) }}
                        </div>
            
                        {# files #}
                        <div class="uk-margin-bottom">
                            <a name="files"></a>
                            {{  macros.fileListDetailView(material) }}
                        </div>
                        
                        {# sections #}
                        <div class="uk-margin-bottom">
                            <div class="uk-flex">
                                <div>
                                    <h4>{{ 'sections'|trans({})|capitalize }} ({{ sectionList|length }})</h4>
                                </div>
                                <div class="uk-margin-left">
                                    <a class="" data-uk-toggle="{target:'.toggle-sections', animation:'uk-animation-fade'}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="toggle-sections uk-hidden">
                                <ul class="uk-list uk-list-striped">
                                    {% for section in sectionList %}
                                        <li>
                                            <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ section.title|raw }}</a><br/>
                                            {{ macros.fileListShort(section) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        
                        <div class="uk-margin-bottom">
                            <a name="links"></a>
                            <h4>{{ 'links'|trans({})|capitalize }}</h4>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-3">
                                    {{ render(controller(
                                        'CommsyBundle:Link:show',
                                        { 'roomId': app.request.attributes.get('roomId'), 'itemId': material.itemId }
                                    ))}}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ render(controller(
                                        'CommsyBundle:Category:show',
                                        { 'roomId': roomId }
                                    ))}}
                                </div>
                                <div class="uk-width-medium-1-3">
                                    {{ render(controller(
                                        'CommsyBundle:Hashtag:show',
                                        { 'roomId': roomId }
                                    ))}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="uk-margin-bottom">
                            <a name="workflow"></a>
                            <h4>{{ 'workflow'|trans({})|capitalize }}</h4>
                        </div>
                        
                        <div class="uk-margin-bottom">
                            <a name="editing information"></a>
                            <h4>{{ 'editing information'|trans({})|capitalize }}</h4>
                            {{ 'reference number'|trans({})|capitalize }}: {{ material.itemId }}<br/>
                            {{ 'created by'|trans({})|capitalize }}: {{ material.creator.fullname }}
                        </div>
                    </div>
                </article>
            </div>
            
            {# material sections #}
            {% for section in sectionList %}
                <div class="uk-panel uk-panel-box uk-margin-bottom">
                    <a name="sections"></a>
                    <article class="uk-article uk-position-relative" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_material_editsection', {'roomId': roomId, 'itemId': section.itemId}) }}' }">
                        {# anchor #}
                        <a name="{{ section.itemId }}"></a>
                        {# edit #}
                        {% if is_granted('ITEM_EDIT', section.itemId) %}
                            <div class="uk-position-top-right cs-article-edit uk-hidden">
                                <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                            </div>
        
                            {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}
                        {% endif %}
                        {# title #}
                        <div class="uk-grid uk-margin-bottom">
                            <div class="uk-width-1-1">
                                <div class="uk-flex">
                                    <div class="uk-margin-right">
                                        {% if material.creator.isUser %}
                                            {{  macros.userIconLink(section.creator) }}
                                        {% else %}
                                            {{  macros.userIcon(section.creator) }}
                                        {% endif %}
                                    </div>
                                    <div class="uk-margin-right">
                                        <h3 class="uk-artitcle-title">{{ section.title|raw }}</h3>
                                        {{ 'last changed'|trans({})|capitalize }}: {{section.modificationDate|date("d.m.Y H:i")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-left">
                            {# section description #}
                            <div class="uk-margin-bottom">
                                {{  macros.descriptionDetailView(section) }}
                            </div>
                            {# files #}
                            <div class="uk-margin-bottom">
                                {{  macros.fileListDetailView(section) }}
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
            
            <div class="uk-panel uk-panel-box-primary uk-margin-bottom">
                {# annotations #}
                <a name="annotations"></a>
                <div class="uk-panel-teaser">
                    <h3>{{ 'annotations'|trans({})|capitalize }}</h3>
                </div>
                {% if item.itemType != 'discussion' %}
                    {{ render(controller(
                        'CommsyBundle:Annotation:feed',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}