<hr class="uk-width-9-10"/>
<div class="uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    {% if not form.biblio is defined %}
        <div class="uk-flex">
            <div>
                {{ form_widget(form.title) }}
            </div>
            <div class="uk-margin-small-left">
                {{ form_row(form.save) }}
            </div>
            <div class="uk-margin-small-left">
                {{ form_row(form.cancel) }}
            </div>
        </div>
    {% else %}
        <div class="uk-flex">
            <div>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="uk-flex uk-margin-small-top">
            <div>
                {{ form_widget(form.biblio_select) }}
                {{ form_widget(form.biblio) }}
            </div>
        </div>
        <div class="uk-flex uk-margin-small-top">
            <div>
                {{ form_row(form.save) }}
            </div>
            <div class="uk-margin-small-left">
                {{ form_row(form.cancel) }}
            </div>
        </div>
    {% endif %}
    
    {{ form_end(form) }}
</div>

<script>
var $biblio = $('#material_biblio_select');
// When sport gets selected ...
$biblio.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      $('#material_biblio').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#material_biblio')
      );
      console.log(html);
      // Position field now displays the appropriate positions.
    }
  });
});
</script>