<div class="uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
    <div class="uk-form-horizontal">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="uk-flex">
            <div class="uk-width-9-10">
                    {{ form_widget(form.title) }}
            </div>
        </div>
        {% if not form.biblio_sub is defined %}
            {% if form.vars.name != "section"  %}
                {% if isDraft %}
                    <div>
                        {{ form_label(form.editor_switch) }}
                        <div class="uk-margin-left">
                            {{ form_widget(form.editor_switch) }}  
                        </div>
                    </div>
                {% endif %}
                <div class="uk-flex uk-margin-bottom uk-margin-small-top">
                    <div>
                        <label class="">
                            {{ 'permission'|trans({'%name%': currentUser.fullname}, "form") }}
                        </label>
                    </div>
                    <div class="uk-margin-left">
                        {{ form_widget(form.permission) }}  
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top">
                    <div>
                        {{ form_label(form.biblio_select) }}
                        {{ form_widget(form.biblio_select) }}
                        {# {{ form_widget(form.biblio_sub) }} #}
                    </div>
                </div>
            {% endif %}

            <div class="uk-flex uk-margin-small-top">
                <div class="uk-margin-small-left">
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>
        {% else %}
            {% if isDraft %}
                <div>
                    <label class="uk-form-label">
                        {{ form_label(form.editor_switch) }}
                    </label>
                    <div class="uk-margin-left">
                        {{ form_widget(form.editor_switch) }}  
                    </div>
                </div>
            {% endif %}
            <div class="uk-flex">
                <label class="uk-form-label">
                    {{ 'permission'|trans({'%name%': currentUser.fullname}, "form") }}
                </label>
                <div>
                    {{ form_widget(form.permission) }}  
                </div>
                
            </div>
            <div class="uk-flex uk-margin-small-top">
                <div>
                    {{ form_label(form.biblio_select) }}
                    {{ form_widget(form.biblio_select) }}
                    {# {{ form_widget(form.biblio_sub) }} #}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-top">
                <div id="material_biblio_sub">
                    {% for subField in form.biblio_sub %}
                        <div class="uk-flex uk-margin-small-top">
                            <div>
                                {# {{ form_errors(subField) }} #}
                                {{ form_row(subField) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-top">
                <div>
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>
        {% endif %}
        
        {{ form_end(form) }}
    </div>
</div>

<script>
var $biblio = $('#material_biblio_select');
// When sport gets selected ...
$biblio.change(function() {
    // ... retrieve the corresponding form.
    var $form = $(this).closest('form');
    // Simulate form data, but only include the selected sport value.
    var data = {};

    data[$(this).attr('name')] = $(this).val();
    // Submit data via AJAX to the form's action path.
    $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
            // Replace current position field ...
            // add field
            if (!$('#material_biblio_sub').length) {
                $('#material_biblio_select').after(
                // ... with the returned one from the AJAX response.
                $(html).find('#material_biblio_sub')
                // html
                );
            } else {
                $('#material_biblio_sub').replaceWith(
                // ... with the returned one from the AJAX response.
                $(html).find('#material_biblio_sub')
                // html
                );
            }
            // console.log(html);
            // Position field now displays the appropriate positions.
        }
    });
});
</script>