{% extends 'CommsyBundle:Base:list.html.twig' %}

{% block feed %}
    <ul id="materials-feed" class="uk-comment-list" data-uk-observe>
        {{ render(controller(
            'CommsyBundle:Material:feed', {
                'roomId': roomId,
                'materialFilter': app.request.query.get('material_filter')
            }
        ))}}
    </ul>

    <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/material/feed/", "target": "#materials-feed"}'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}

{% block sortbox %}
        {# sort dropdown #}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini cs-button-list">{{ 'list sort'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    <li><a href="#" id="commsy-sort-title" class="uk-clearfix"><span class="uk-float-left">{{ 'title'|trans({},'rubric')}}</span><span class="uk-float-right"><i id="commsy-sort-title-chevron" class=""></i></span></a></li>
                    <li><a href="#" id="commsy-sort-creator" class="uk-clearfix"><span class="uk-float-left">{{ 'creator'|trans({},'messages') }}</span><span class="uk-float-right"><i id="commsy-sort-creator-chevron" class=""></i></span></a></li>
                    <li><a href="#" id="commsy-sort-modificator" class="uk-clearfix"><span class="uk-float-left">{{ 'modifier'|trans({},'rubric') }}</span><span class="uk-float-right"><i id="commsy-sort-modificator-chevron" class=""></i></span></a></li>
                    <li><a href="#" id="commsy-sort-date" class="cs-sort-active uk-clearfix"><span class="uk-float-left">{{ 'modification_date'|trans({},'rubric') }}</span><span class="uk-float-right"><i id="commsy-sort-date-chevron" class="uk-icon-chevron-down"></i></span></a></li>
                    {% if showRating %}
                        <li><a href="#" id="commsy-sort-assessment" class="uk-clearfix"><span class="uk-float-left">{{ 'rating'|trans({},'rubric') }}</span><span class="uk-float-right"><i id="commsy-sort-assessment-chevron" class=""></i></span></a></li>
                    {% endif %}
                    {% if showWorkflow %}
                        <li><a href="#" id="commsy-sort-workflow_status" class="uk-clearfix"><span class="uk-float-left">{{ 'Workflow (status)'|trans({},'rubric') }}</span><span class="uk-float-right"><i id="commsy-sort-workflow_status-chevron" class=""></i></span></a></li>
                    {% endif %}
               </ul>
            </div>
        </div>
{% endblock %}

{% block editbox %}
    <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <button class="uk-button uk-button-mini cs-button-list">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
        <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                {% if is_granted('ITEM_EDIT', 'NEW') %}
                <li>
                     <a href="{{ path('commsy_material_create', {'roomId': roomId}) }}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                    </a>
                </li>
                {% endif %}

                {# print #}
                <li>
                    <a href="{{ path('commsy_material_printlist', {'roomId': roomId,'material_filter':app.request.query.get('material_filter')}) }}" target="_blank" id="print">
                        <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                    </a>
                </li>

                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target":".feed ul", "actionUrl": "{{ path('commsy_material_feedaction', {'roomId': roomId}) }}", "action": "markread"}' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-check-square-o uk-visible-large"></i> {{ 'mark read'|trans({},'rubric')|capitalize }}
                    </a>
                </li>


                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target":".feed ul", "actionUrl": "{{ path('commsy_material_feedaction', {'roomId': roomId}) }}", "action": "copy"}' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-copy uk-visible-large"></i> {{ 'copy'|trans({},'rubric')|capitalize }}
                    </a>
                </li>


                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target":".feed ul", "actionUrl": "{{ path('commsy_material_feedaction', {'roomId': roomId}) }}", "action": "save"}' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                        <i class="uk-icon-justify uk-icon-small uk-icon-save uk-visible-large"></i> {{ 'save'|trans({},'rubric')|capitalize }}
                    </a>
                </li>


                {% if not isArchived %}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target":".feed ul", "actionUrl": "{{ path('commsy_material_feedaction', {'roomId': roomId}) }}", "action": "delete"}' data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}}" data-confirm-delete-cancel ="{{'confirm delete cancel'|trans({},'rubric')}}" data-confirm-delete-confirm ="{{'confirm delete confirm'|trans({},'rubric')}}" data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'delete'|trans({},'rubric')|capitalize }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
