{% macro title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, showWorkflow, ratingArray, workflowTitles) %}
    {% import 'CommsyBundle:utils:macros.html.twig' as macros %}
    {% set pathName = '' %}
    {% if item.itemType == 'material' %}
        {% set pathName = 'commsy_material_edit' %}
    {% elseif item.itemType == 'section' %}
        <a name="section{{item.ItemID}}"></a>
        {% set pathName = 'commsy_material_edit' %}
    {% endif %}
    {% if userCount == 0 %}
        {% set userCount = 1 %}
    {% endif %}
    
    <div id="section{{ item.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{editUrl: '{{ path(pathName, {'roomId': item.contextId, 'itemId': item.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': item.contextId, 'itemId': item.itemId}) }}', draft: '{{ draft }}'}">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                    {% if item.itemType != 'section' %}
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title uk-text-break">{{ item.title|decodeHtmlEntity }}</h1>
                            {% if item.itemType == 'material' %}
                                {% set material = item %}
                                {% include 'CommsyBundle:material:biblio.html.twig' %}
                            {% endif %}
                        </div>
                        {% if showRating or showWorkflow %}
                            <div class="uk-width-2-10 uk-text-right uk-padding-remove">
                            {% if showRating %}
                                {{  macros.ratingStatusDetail(material, ratingArray) }}
                            {% endif %}
                            {% if showWorkflow %}
                                {{  macros.workflowTrafficLight(material, workflowTitles) }}
                            {% endif %}
                            {{  macros.license(material) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="uk-width-1-1">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                        </div>
                    {% endif %}
                    </div>
                </div>        
                <div class="uk-width-2-10">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'CommsyBundle:utils:edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {% if '9999-00-00' not in item.getModificationDate %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {% else %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}<br/>
                                                {% endif %}
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <ul class="uk-grid" data-uk-grid-margin>
                                    <li class="uk-grid-width-4-10">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uk-grid-width-2-10">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}}
                                        </div>
                                    </li>
                                    <li class="uk-width-4-10">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}}
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endmacro %}

{% macro titleSave(item, modifierList, userCount, readCount, readSinceModificationCount, showRating, showWorkflow, workflowTitles) %}
    {% import 'CommsyBundle:utils:macros.html.twig' as macros %}
    <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                    {% if item.itemType != 'section' %}
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                            {% if item.itemType == 'material' %}
                                {% set material = item %}
                                {% include 'CommsyBundle:material:biblio.html.twig' %}
                            {% endif %}
                        </div>
                        {%if showRating or showWorkflow%}
                            <div class="uk-width-2-10  uk-text-right uk-padding-remove">
                             {%if showRating%}
                                {{  macros.ratingStatus(material) }}
                             {% endif %}
                             {%if showWorkflow%}
                                {{  macros.workflowTrafficLight(material, workflowTitles) }}
                             {% endif %}
                             {{  macros.license(material) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="uk-width-1-1">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                        </div>
                    {% endif %}
                </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'CommsyBundle:utils:edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}

{% macro sections(item, sectionList) %}
    {% import 'CommsyBundle:utils:macros.html.twig' as macrosUtils %}

    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'CommsyBundle:utils:edit_spinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- "sections"|trans({}) }}
                    ({{ sectionList|length }})
                </h4>
            </div>

            <div class="uk-width-2-10 uk-flex uk-flex-right">
                {# edit action #}
                {% if is_granted('ITEM_EDIT', item.itemId) %}
                    <div class="uk-display-inline cs-edit" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                {% if not sectionList is empty %}
                    <div class="uk-display-inline cs-toggle-icon uk-margin-left uk-invisible" data-cs-unhide-collapsed="{src: '.toggle-sections-{{ item.itemId }}'}">
                        <a class="cs-toggle" data-uk-toggle="{target:'.toggle-sections-{{ item.itemId }}', cls: 'cs-toggle-full'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
                    </div>
                {% endif %}
           </div>
        </div>

        {# content #}
        {% if not sectionList is empty %}
            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">

                {# preview #}
                <div class="toggle-sections-{{ item.itemId }} cs-toggle-preview">
                    <ul id="section-list" class="uk-list uk-list-striped uk-width-2-3">
                        {% for section in sectionList %}
                            <li>
                                <a href="#section{{ section.itemId }}" data-uk-tooltip title="{{ section.title|decodeHtmlEntity }}">
                                    {{ loop.index }}. {{ section.title|decodeHtmlEntity }}
                                </a>

                                {{ macrosUtils.fileListShort(section) }}
                            </li>                      
                        {% endfor %}
                    </ul>
                </div>

                <a class="uk-invisible" href="#" data-cs-unhide-collapsed="{src: '.toggle-sections-{{ item.itemId }}'}" data-cs-readmore>
                    <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                    <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
                </a>

            </div>
        {% else %}
            <div class="uk-width-9-10 uk-margin-top-remove">
                
                <div class="toggle-sections-{{ item.itemId }} cs-toggle-empty">
                    <span class="uk-text-muted">{{ 'no content'|trans({}, "room") }}</span>
                </div>

            </div>
        {% endif %}
    </article>
{% endmacro %}