{% macro title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, showWorkflow) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
    {% set pathName = '' %}
    {% if item.itemType == 'material' %}
        {% set pathName = 'commsy_material_edit' %}
    {% elseif item.itemType == 'section' %}
        <a name="section{{item.ItemID}}"></a>
        {% set pathName = 'commsy_material_edit' %}
    {% endif %}
    {% if userCount == 0 %}
        {% set userCount = 1 %}
    {% endif %}
    
    <div id="section{{ item.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{editUrl: '{{ path(pathName, {'roomId': item.contextId, 'itemId': item.itemId}) }}', draft: '{{ draft }}'}">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-9-10 uk-margin-small-bottom" >        
                    <div class="uk-grid">
                    {% if item.itemType != 'section' %}
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|raw }}</h1>
                            {% if item.itemType == 'material' %}
                                {% set material = item %}
                                {% include 'CommsyBundle:Material:biblio.html.twig' %}
                            {% endif %}
                        </div>
                       {%if showRating or showWorkflow%}
                            <div class="uk-width-2-10  uk-text-right uk-padding-remove">
                             {%if showRating%}
                                {{  macros.ratingStatus(material) }}
                            {% endif %}
                            {%if showWorkflow%}
                                {{  macros.workflowTrafficLight(material) }}
                            {% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="uk-width-1-1">
                            <h1 class="uk-article-title">{{ item.title|raw }}</h1>
                        </div>
                {% endif %}
                </div>
                </div>        
                <div class="uk-width-1-10  uk-text-right">
                    <!-- <i class="uk-icon-small uk-icon-hover uk-icon-edit"></i> -->
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endmacro %}

{% macro titleSave(item, modifierList, userCount, readCount, readSinceModificationCount) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
    <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-9-10 uk-margin-small-bottom" >        
                    <div class="uk-grid">
                    {% if item.itemType != 'section' %}
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|raw }}</h1>
                            {% if item.itemType == 'material' %}
                                {% set material = item %}
                                {% include 'CommsyBundle:Material:biblio.html.twig' %}
                            {% endif %}
                        </div>
                        {%if showRating or showWorkflow%}
                            <div class="uk-width-2-10  uk-text-right uk-padding-remove">
                             {%if showRating%}
                                {{  macros.ratingStatus(material) }}
                            {% endif %}
                            {%if showWorkflow%}
                                {{  macros.workflowTrafficLight(material) }}
                            {% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="uk-width-1-1">
                            <h1 class="uk-article-title">{{ item.title|raw }}</h1>
                        </div>
                    {% endif %}
                </div>
                </div>        
                <div class="uk-width-1-10  uk-text-right">
                    <!-- <i class="uk-icon-small uk-icon-hover uk-icon-edit"></i> -->
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}

{% macro sections(item, sectionList) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

    {% set preview = '' %}
    {% set content = '' %}
    
    {% if not sectionList is empty %}
        {% set preview %}
        <ul class="uk-list uk-list-striped uk-width-2-3">
            {% set counter = 1 %}                        
            {% for section in sectionList %}
                <li>
                    <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ counter }}. {{ section.title|raw }}</a> {{ macros.fileListShort(section) }}
                </li>
            {% set counter = counter + 1  %}                        
            {% endfor %}
        </ul>
        {% endset %}
    
        {% set content %}
        <ul class="uk-list uk-list-striped uk-width-2-3">
            {% set counter = 1 %}                        
            {% for section in sectionList %}
                <li>
                    <a href="#{{ section.itemId }}" data-uk-tooltip title="{{ section.title|raw }}">{{ counter }}. {{ section.title|raw }}</a> {{ macros.fileListShort(section) }}
                </li>
            {% set counter = counter + 1  %}                        
            {% endfor %}
        </ul>
        {% endset %}
    {% endif %}
       
    {{ macros.editContent('sections', item, true, content, preview, false, true, sectionList|length) }}
{% endmacro %}