{% macro rawNestedList(data, level) %}
    {% set opened = level <= 2 %}

    <li data-jstree='{"opened": {{ opened }}}'>
        {{ data.title }}

        {% if data.children is not empty %}
            <ul>
                {% for child in data.children %}
                    {{ _self.rawNestedList(child, level+1) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<div>
    <hr class="cs-list-divider"/>
    <h4 class="cs-list-section-header">
        <span class="cs-detail-section-header-background">{{ 'categories'|trans({}, "room") }} 
        </span>
    </h4>
    <div id="room-categories" data-cs-tree>
        {% if tags is not empty %}
            <ul class="uk-list uk-list-striped">
                {% for tag in tags %}
                    {{ _self.rawNestedList(tag, 0) }}
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No Categories'|trans({}, 'category') }}
        {% endif %}
    </div>
</div>