{# {% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %} #}

{% macro nestedList(data) %}
    <li class="uk-visible-hover">
        <div class="uk-clear-float">
            <div class="uk-float-right">
                <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit uk-hidden"></a>
            </div>
            <div class="uk-float-left">
                {{ data.title }}
            </div>
        </div>

        {% if data.children is not empty %}
            <ul>
                {% for child in data.children %}
                    {{ _self.nestedList(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<div class="uk-panel uk-panel-box uk-panel-box-secondary">
    <div class="uk-panel-teaser panel-teaser-secondary">

        <div class="uk-flex uk-flex-middle uk-flex-space-between">
            <div>
                {{ 'Categories'|trans({}, 'category') }}
                <a href="#" class="uk-icon-hover uk-icon-small uk-icon-external-link"></a>
            </div>
            <div>
                <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-categories', animation: 'uk-animation-fade'}">
                    <i class="uk-icon-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>

    <div id="room-categories" class="uk-overflow-container">
        {% if tags is not empty %}
            <ul class="uk-list uk-list-striped">
                {% for tag in tags %}
                    {{ _self.nestedList(tag) }}
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No Categories'|trans({}, 'category') }}
        {% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_errors(form.title) }}
            <div class="uk-form-icon">
                <i class="uk-icon-tag"></i>
                {{ form_widget(form.title) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>