{% macro nestedList(data) %}
    <li class="uk-visible-hover">
        <div class="uk-clear-float">
            <div class="uk-float-right">
                {% if is_granted('CATEGORY_EDIT') %}
                    <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit uk-hidden"></a>
                {% endif %}
            </div>
            <div class="uk-float-left">
                {{ data.title }}
            </div>
        </div>

        {% if data.children is not empty %}
            <ul>
                {% for child in data.children %}
                    {{ _self.nestedList(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro rawNestedList(data) %}
    <li>
        {{ data.title }}

        {% if data.children is not empty %}
            <ul>
                {% for child in data.children %}
                    {{ _self.rawNestedList(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<div>
    <hr class="cs-list-divider"/>
    <h4 class="cs-list-section-header">
        <span class="cs-detail-section-header-background">{{ 'categories'|trans({}, "room") }} 
        </span>
    </h4>
    <div id="room-categories" data-cs-tree>
        {% if tags is not empty %}
            <ul class="uk-list uk-list-striped">
                {% for tag in tags %}
                    {{ _self.rawNestedList(tag) }}
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No Categories'|trans({}, 'category') }}
        {% endif %}
    </div>
</div>