<ul class="uk-tab" data-uk-tab="{connect:'#external-access-contet'}">
    <li><a href="">{{ 'external access to my entries'|trans({}, "dashboard") }}</a></li>
    <li><a href="">{{ 'external access to other entries'|trans({}, "dashboard") }}</a></li>
</ul>

<!-- This is the container of the content items -->
<ul id="external-access-contet" class="uk-switcher uk-margin">
    <li>
        {% if not releaseItems is empty %}
            {% for releaseItem in releaseItems %}
                {{ releaseItem.title }}<br/>
            {% endfor %}
        {% else %}
            {{ 'no items'|trans({}, "dashboard") }}
        {% endif %}
    </li>
    <li>
        {% if not viewableItems is empty %}
            {% for viewableItem in viewableItems %}
                {{ viewableItem.title }}<br/>
            {% endfor %}
        {% else %}
            {{ 'no items'|trans({}, "dashboard") }}
        {% endif %}
    </li>
</ul>