{% extends 'base/room.html.twig' %}

{% form_theme form 'form/uikit_horizontal_dynamic_layout.html.twig' %}

{% block main %}
    <div class="uk-grid" uk-grid>

        {# sidebar #}
        {% block listsidebar %}
            <div class="uk-width-1-3@m uk-flex-last@m">

                {# pinned items #}
                {% if pinnedItemsCount is defined and pinnedItemsCount > 0 %}

                    {% component 'v2:panel' with { title: 'Pinned entries'|trans({}, "room") } %}
                        {% block teaser_right %}
                            <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#pinned-items'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        {% endblock %}

                        {% block content %}
                            <div id="pinned-items">
                                {{ component('pinned_items', { roomId: commsy.room.itemId, itemTypes: [module, relatedModule] }) }}
                            </div>
                        {% endblock %}
                    {% endcomponent %}
                {% endif %}

                {% if usageInfo is defined and usageInfo is not empty %}

                    {% component 'v3:card' with { title: usageInfo.title } %}
                        {% block teaser_right %}
                            <a href="#" class="button-toggle uk-button-small uk-button-secondary" uk-toggle="{target: '#usage-info'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        {% endblock %}

                        {% block content %}
                            <div id="usage-info" class="uk-hidden-small">
                                {{ usageInfo.text|raw }}
                            </div>
                        {% endblock %}
                    {% endcomponent %}
                {% endif %}

                {% component 'v3:card' with { title: 'list filter'|trans({},"room") } %}
                    {% block teaser_right %}
                        <a href="#" class="button-toggle uk-button-small uk-button-secondary" uk-toggle="{target: '.cs-toggleable'}">
                            <i class="uk-icon-chevron-up"></i>
                        </a>
                    {% endblock %}

                    {% block content %}
                        <div class="cs-toggleable uk-hidden-small">
                            {{ form_start(form) }}
                            <div class="uk-section uk-section-default uk-padding-remove" uk-sticky="{boundary: true}">
                                <div class="uk-margin-top uk-margin-small-bottom uk-text-right">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            <div id="list-filter" class="uk-margin-top">
                                {{ form_rest(form) }}

                            </div>
                            {{ form_end(form) }}
                        </div>
                    {% endblock %}
                {% endcomponent %}
            </div>
        {% endblock %}

        {# feed #}
        {% block contentwidth %}
            <div class="uk-width-2-3@m">
        {% endblock %}

            {% component 'v3:card' with { sticky: true } %}
                {% block teaser_left %}
                    <div class="uk-card-title">
                        {% block listTitle %}
                            {% if module is defined and module is not empty %}

                                {{ module|capitalize|trans({'%count%': 1}, "rubric") }}
                            {% else %}
                                {{ 'Rooms'|trans([], 'room') }}
                            {% endif %}
                        {% endblock %}

                        <div id="commsy-list-count-display" style="display:inline;">
                            ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})
                        </div>
                        <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">
                            (<span id="commsy-list-count-all">{{itemsCountArray.count}}</span> {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}}, <span id="commsy-list-count-selected">0</span> {{ 'selected'|trans({},'messages')}})
                        </div>
                    </div>
                {% endblock %}

                {% block teaser_right %}
                    {{ block(outerBlocks.sortbox) }}
                    {{ block(outerBlocks.editbox) }}
                    {{ block(outerBlocks.listAddons) }}
                {% endblock %}

                {% block content %}
                    {# will be displayed when selection mode is active #}
                    <div id="commsy-select-actions" class="uk-hidden" style="margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px" uk-sticky>
                        <div class="uk-grid uk-margin-remove">
                            {# may contain optional form controls required for the current action #}
                            <div id="commsy-select-actions-custom-choices" class="uk-width-1-1 uk-margin-remove uk-margin-top uk-padding-remove"></div>

                            {# change selection #}
                            <div class="cs-list-select-buttons uk-width-2-4 uk-margin-remove uk-margin-top uk-padding-bottom uk-padding-top">
                                <button id="commsy-select-actions-select-all" class="uk-button" type="button" data-uk-button>{{ 'select all entries'|trans({},'rubric')}}</button>
                                <button id="commsy-select-actions-unselect" class="uk-button" type="button" data-uk-button>{{ 'unselect entries'|trans({},'rubric')}}</button>
                            </div>

                            {# selection actions old code #}
                            <div class="cs-list-select-buttons uk-text-right uk-width-2-4 uk-margin-remove uk-margin-top uk-padding-bottom">
                                <button id="commsy-select-actions-ok" class="uk-button">{{ 'execute'|trans({},'rubric')}}</button>
                                <button id="commsy-select-actions-cancel" class="uk-button" type="button" data-uk-button>{{ 'cancel'|trans({},'rubric')}}</button>
                            </div>

                        </div>
                    </div>

                    {{ block(outerBlocks.taskinfo) }}

                    <div class="feed uk-margin-top">
                        {{ block(outerBlocks.feed) }}
                    </div>
                {% endblock %}
            {% endcomponent %}
        </div>

    </div>
{% endblock %}
