{% extends 'base/room.html.twig' %}

{% form_theme form 'form/uikit_horizontal_dynamic_layout.html.twig' %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>

        {# sidebar #}
        {% block listsidebar %}
            <div class="uk-width-medium-1-3 uk-push-2-3">
                {% if usageInfo is defined and usageInfo is not empty %}
                    <div class="uk-panel uk-panel-box uk-panel-box-primary">
                        <div class="uk-panel-teaser cs-panel-teaser-primary">
                            <div class="uk-clearfix">
                                <div class="uk-float-right">
                                    <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#usage-info'}">
                                        <i class="uk-icon-chevron-up"></i>
                                    </a>
                                </div>
                                <div class="uk-text-large uk-float-left">
                                    {{ usageInfo.title }}
                                </div>
                            </div>
                        </div>
                        <div id="usage-info" class="uk-hidden-small">
                            {{ usageInfo.text|raw }}
                        </div>
                    </div>
                {% endif %}

                <div class="uk-panel uk-panel-box uk-panel-box-primary">
                    {{ form_start(form) }}
                    <div class="cs-panel-teaser-header" data-uk-sticky="{boundary: true}" style="margin-top: -10px; margin-left: -10px; margin-right: -10px">
                        <div class="uk-panel-teaser cs-panel-teaser-primary">
                            <div class="uk-clearfix">
                                <div class="uk-flex uk-flex-space-between uk-flex-middle">
                                    <div class="uk-text-large">
                                        {{ 'list filter'|trans({},"room")}}
                                    </div>
                                    <div class="uk-flex-right uk-flex-inline uk-flex-middle">
                                        <a href="#" class="button-toggle uk-button-mini uk-button-secondary uk-margin-small-left" data-uk-toggle="{target: '.cs-toggleable'}" style="padding-top: 1px; padding-bottom: 1px">
                                            <i class="uk-icon-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cs-toggleable uk-hidden-small uk-margin-top uk-margin-small-bottom uk-margin-right">
                            <div class="uk-flex uk-flex-right">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    </div>
                    <div id="list-filter" class="cs-toggleable uk-hidden-small uk-margin-top">
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {# feed #}
        {% block contentwidth %}
            <div class="uk-width-medium-2-3 uk-pull-1-3">
        {% endblock %}

            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div data-uk-sticky="{boundary: true}" style="margin-top: -10px; margin-left: -10px; margin-right: -10px">
                    <div class="uk-panel-teaser cs-panel-teaser-primary">
                        <div class="uk-flex uk-flex-middle uk-flex-space-between">
                            <div class="uk-text-large">
                                {% block listTitle %}
                                    {% if module is defined and module is not empty %}
                                        {{ module|capitalize|trans({'%count%': 1}, "rubric") }}
                                    {% else %}
                                        Missing rubric title
                                    {% endif %}
                                {% endblock %}

                                <div id="commsy-list-count-display" style="display:inline;">
                                    ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})
                                </div>
                                <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">
                                    (<span id="commsy-list-count-all">{{itemsCountArray.count}}</span> {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}}, <span id="commsy-list-count-selected">0</span> {{ 'selected'|trans({},'messages')}})
                                </div>
                            </div>
                            <div>
                            {% block sortbox %}
                            {% endblock %}

                            {% block editbox %}
                            {% endblock %}

                            {% block listAddons %}
                            {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                {# will be displayed when selection mode is active #}
                <div id="commsy-select-actions" class="uk-hidden" style="margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px" data-uk-sticky>
                    <div class="uk-grid uk-margin-remove">
                        {# may contain optional form controls required for the current action #}
                        <div id="commsy-select-actions-custom-choices" class="uk-width-1-1 uk-margin-remove uk-margin-top uk-padding-bottom uk-padding-top"></div>

                        {# change selection #}
                        <div class="cs-list-select-buttons uk-width-2-4 uk-margin-remove uk-margin-top uk-padding-bottom uk-padding-top">
                                <button id="commsy-select-actions-select-all" class="uk-button" type="button" data-uk-button>{{ 'select all entries'|trans({},'rubric')}}</button>
                                <button id="commsy-select-actions-unselect" class="uk-button" type="button" data-uk-button>{{ 'unselect entries'|trans({},'rubric')}}</button>
                        </div>

                        {# selection actions old code #}
                        <div class="cs-list-select-buttons uk-text-right uk-width-2-4 uk-margin-remove uk-margin-top uk-padding-bottom">
                            <button id="commsy-select-actions-ok" class="uk-button">{{ 'execute'|trans({},'rubric')}}</button>
                            <button id="commsy-select-actions-cancel" class="uk-button" type="button" data-uk-button>{{ 'cancel'|trans({},'rubric')}}</button>
                        </div>

                    </div>
                </div>

                {% block taskinfo %}
                {% endblock %}

                <div class="feed uk-margin-top">
                    {% block feed %}
                    {% endblock%}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}