{% extends 'base/sidebar_layout.html.twig' %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('main') }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block sidebar_right %}
    {% embed 'components/toggable_card.twig' %}
        {% form_theme form 'form/uikit3/uikit_layout.html.twig' %}

        {% block title %}{{ 'list filter'|trans({},"room")}}{% endblock %}

        {% block body %}
            <div id="list-filter" class="uk-hidden-small">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}