{% import 'item/macros.html.twig' as macrosItem %}
{% import 'discussion/macros.html.twig' as macrosDiscussion %}

<article class="uk-comment">
<div id="discarticle_{{count}}" class="uk-panel uk-panel-box uk-margin-top discussion-article">

    {# panel teaser #}
    <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow cs-remove-section cs-toggle">
        <div class="uk-grid">
            {# left article navigation #}
            <div class="uk-flex-inline uk-width-2-5 ">
                {% if loop.last and loop.length > 1 %}
                    <div class="uk-margin-right">
                        <a class="uk-button-primary" href="#discarticle_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                        <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                    </div>
                {% elseif loop.first and loop.length > 1 %}
                    <div>
                        <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                        <a class="uk-button-primary" href="#discarticle_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                    </div>
                {% elseif loop.length == 1 %}
                    <div>
                        <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                        <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                    </div>
                {% else %}
                    <div class="uk-margin-right">
                        <a class="uk-button-primary" href="#discarticle_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                        <a class="uk-button-primary" href="#discarticle_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <article class="uk-article uk-position-relative">
        {# title #}
        <div class="cs-toggle" data-uk-observe>
            {{ macrosDiscussion.title(article, modifierList, userCount, readCount, readSinceModificationCount) }}
        </div>

        {# description #}
        <div id="description{{ article.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': article.contextId, 'itemId': article.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': article.contextId, 'itemId': article.itemId}) }}' }">
            {{ macrosItem.itemDescription('description', article, true, article.description) }}
        </div>

        {# files #}
        {% if not article.hasOverwrittenContent -%}
            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': article.contextId, 'itemId': article.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': article.contextId, 'itemId': article.itemId}) }}' }">
                {{ macrosItem.files(article) }}
            </div>
        {%- endif %}
    </article>
</div>
</article>