<!DOCTYPE html>
{% import 'base/printmacro.html.twig' as macros %}

{% if discussion is defined %}
    {% set item = discussion %}
{% endif %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {{ macros.encore_absolute_link_tags('app_default') }}
        {% endblock %}

    </head>

    <body>

        {% block content %}
        <div >

            <div>

                {# discussion content panel #}
                <div class="uk-panel-box-primary">
                    {# content #}
                    <article>
                        {# title, etc. #}
                        <div>
                            {{ macros.title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, ratingArray) }}
                        </div>
                
                        {# description #}
                        <div>
                            {{ macros.itemDescription('description', item, true, item.description) }}
                        </div>
                
                        {# files #}
                        <div>
                            {{ macros.files(item) }}
                        </div>
            
                        {# links #}
                        <div>
                            {{ macros.links(item,showHashtags,showCategories,roomCategories) }}
                        </div>
            
                        
                    </article>
                
                {% if articleList is not empty %}
                    <div class="uk-panel-teaser cs-panel-teaser-primary uk-margin-bottom-remove uk-margin-top page-break-before">
                        <div class="uk-grid">
                            <div class="uk-text-large">
                                {{ 'Abschnitte'|trans({})|capitalize }}
                            </div>
                        </div>
                    </div>       
                    {# discussion sections #}
                    {% for section in articleList %}

                            <article class="uk-article uk-position-relative">
                                {# title #}
                                <div>
                                    {{ macros.title(section, modifierList, userCount, readCount, readSinceModificationCount) }}
                                </div>
                                
                                {# description #}
                                <div>
                                    {{ macros.itemDescription('description', section, true, section.description) }}
                                </div>

                                {# files #}
                                {% if not section.hasOverwrittenContent -%}
                                    <div>
                                        {{ macros.files(section) }}
                                    </div>
                                {%- endif %}
                                <hr>
                            </article>
                        
                    {% endfor %}
                {% endif %}
                
            </div>
        </div>
            


			        
		{% endblock %}
          
        
    </body>
</html>