{% import 'utils/macros.html.twig' as macros %}

{% for discussion in discussions %}
    {% set entryAllowedActions = '' %}
    {% if allowedActions[discussion.itemId] is defined %}
        {% set entryAllowedActions = allowedActions[discussion.itemId] %}
    {% endif %}
    <article class="uk-comment" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
           
        {# item change information #}
            {{ macros.statusColor(readerList, discussion.itemId) }}
            
        <header class="uk-comment-header uk-flex">
            <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                <form class="uk-form">
                    <input type="checkbox" value="{{ discussion.itemId }}">
                </form>
            </div>
            
            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if not discussion.modificatorItem.isDeleted and discussion.modificatorItem.isUser %}
                    {{ macros.userIconLink(discussion.modificatorItem) }}
                {% else %}
                    {{ macros.userIcon(discussion.modificatorItem) }}
                {% endif %}
                <div class="uk-comment-meta">
                    <span class="uk-text-nowrap">
                        {% if discussion.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                            {{ 'today'|trans({})|capitalize }}, {{ discussion.modificationDate|date("H:i") }}
                        {% else %}
                            {% if '9999-00-00' not in discussion.modificationDate %}
                                {{ discussion.modificationDate|craue_date }}
                            {% else %}
                                {{ discussion.creationDate|craue_date }}
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
             </div>
            
            {# title and meta #}
            <div class="uk-width-8-10">
                <h4 class="uk-comment-title">
                    {% if is_granted('ITEM_SEE', discussion.itemId) %}
                        <a href="{{ path('app_discussion_detail', {'roomId': roomId, 'itemId': discussion.itemId}) }}">{{ discussion.title|decodeHtmlEntity }}</a>
                    {% else %}
                        <span class="uk-text-muted">{{ 'Deactivated entry'|trans({}) }}  {% if is_granted('ITEM_SEE_TITLE', material.itemId) %} {{ discussion.title|decodeHtmlEntity }} {% endif %}</span>
                    {% endif %}
                </h4>

                <div class="uk-comment-meta">
                    {{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(discussion.modificatorItem) }} ({{ discussion.creationDate|craue_date }})
                </div>
               
                <div class="uk-comment-meta">
                    {{ macros.fileListShort(discussion) }}
                </div>
            </div>
            {%if showRating or showWorkflow%}
                <div class="uk-width-2-10 uk-text-right">
                {% if showRating%}
                    {{ macros.ratingStatus(discussion, ratingList) }}
                {% endif %}
            </div>
            {% endif %}
            
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
