</!DOCTYPE html>
{% import 'base/printmacro.html.twig' as macros %}
{% import 'utils/macros.html.twig' as utilsMacros %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {{ macros.encore_absolute_link_tags('app_default') }}
        {% endblock %}
</head>
<body>
{% block content %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        
        <div class="uk-panel-teaser cs-panel-teaser-primary">
            <div class="uk-flex uk-flex-middle uk-flex-space-between">
                <div class="uk-text-large">
                    {% if not module is empty %}

                        {{module|trans({'%count%':1}, "rubric")|capitalize }}
                    {% else %}
                        Missing rubric title
                    {% endif %}

                    <div id="commsy-list-count-display" style="display:inline;">
                        ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})
                    </div>
                </div>
            </div>
        </div>

        <div>
            {% block feed %}
                {% for discussion in discussions %}
                    <article class="uk-comment page-break-inside">
                    
                        {# item change information #}
                        {{ macros.statusColor(readerList, discussion.itemId) }}
                 
                        <header class="uk-grid uk-comment-header">
                            
                            {# user icon and modification time #}
                            <div class="uk-width-1-10">
                                <div class="uk-comment-meta">
                                    <span class="uk-text-nowrap">
                                        {% if discussion.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                                            {{ 'today'|trans({})|capitalize }}, {{ discussion.modificationDate|date("H:i") }}
                                        {% else %}
                                            {{ discussion.modificationDate|craue_date }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            {# title and meta #}
                            <div class="uk-width-7-10">
                                <h4 class="uk-comment-title">
                                    <a>{{ discussion.title|decodeHtmlEntity }}</a>
                                </h4>

                                <div class="uk-comment-meta">

                                        {{ 'by'|trans({})|capitalize }}: {{ utilsMacros.userFullname(discussion.modificatorItem) }} ({{ discussion.creationDate|craue_date }})

                                </div>
                               
                                <div class="uk-comment-meta">
                                    {{ macros.fileListShort(discussion) }}
                                </div>
                            </div>
                            {% if showRating or showWorkflow %}
                                <div class="uk-width-2-10 uk-text-right">
                                {%if showRating%}
                                    {{ macros.ratingStatus(discussion, ratingList) }}
                                {% endif %}
                                {%if showWorkflow%}
                                    {{ macros.workflowTrafficLight(discussion) }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </header>
                    </article>
                {% else %}
                    {{ 'No more results found'|trans}}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>
