{% macro title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, ratingArray) %}
    {% import 'utils/macros.html.twig' as macros %}
    {% set pathName = '' %}
    {% if item.itemType == 'discussion' %}
        {% set pathName = 'app_discussion_edit' %}
    {% elseif item.itemType == 'discarticle' %}
        <a name="discarticle{{item.ItemID}}"></a>
        {% set pathName = 'app_discussion_edit' %}
    {% endif %}
    {% if userCount == 0 %}
        {% set userCount = 1 %}
    {% endif %}
    
    <div id="article{{ item.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{editUrl: '{{ path(pathName, {'roomId': item.contextId, 'itemId': item.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': item.contextId, 'itemId': item.itemId}) }}', draft: '{{ draft }}'}">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                    {% if item.itemType != 'discarticle' %}
                       <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                            {% if item.itemType == 'discussion' %}
                                {% set discussion = item %}
                            {% endif %}
                        </div>
                        {%if showRating %}
                            <div class="uk-width-2-10  uk-text-right uk-padding-remove">
                                {{ macros.ratingStatusDetail(item, ratingArray) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="uk-width-1-1">
                            <h1 class="uk-article-title">
                                <span class="{% if item.hasOverwrittenContent %}uk-text-muted{% endif %}">{{ item.title|decodeHtmlEntity }}</span>
                            </h1>
                        </div>
                    {% endif %}
                    </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'utils/edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove{% if item.hasOverwrittenContent %} uk-text-muted{% endif %}">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if not item.modificatorItem.isDeleted and item.modificatorItem.isUser %}
                                                    {{ macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {% if '9999-00-00' not in item.getModificationDate %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{ item.modificationDate|craue_date }} {{ item.modificationDate|craue_time }}<br/>
                                                {% else %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{ item.creationDate|craue_date }} {{ item.creationDate|craue_time }}<br/>
                                                {% endif %}
                                                {{ 'changed by'|trans({})|capitalize }}: {{ macros.userFullname(item.modificatorItem) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <ul class="uk-grid" data-uk-grid-margin>
                                    <li class="uk-grid-width-4-10">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if not item.modificatorItem.isDeleted and item.modificatorItem.isUser %}
                                                    {{ macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{ item.modificationDate|craue_date }} {{ item.modificationDate|craue_time }}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{ macros.userFullname(item.modificatorItem) }}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uk-grid-width-2-10">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if not item.creator.isDeleted and item.creator.isUser %}
                                                    {{ macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </li>
                                    <li class="uk-grid-width-4-10">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if not modifier.isDeleted and modifier.isUser %}
                                                                        {{ macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{ macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endmacro %}

{% macro titleSave(item, modifierList, userCount, readCount, readSinceModificationCount, showRating, ratingArray) %}
    {% import 'utils/macros.html.twig' as macros %}
    <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                        </div>
                        {%if showRating %}
                            <div class="uk-width-2-10  uk-text-right uk-padding-remove">
                                {{ macros.ratingStatusDetail(item, ratingArray) }}
                            </div>
                        {% endif %}
                    </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'utils/edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if not item.modificatorItem.isDeleted and item.modificatorItem.isUser %}
                                                    {{ macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{ item.modificationDate|craue_date }} {{ item.modificationDate|craue_time }}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{ macros.userFullname(item.modificatorItem) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if not item.modificatorItem.isDeleted and item.modificatorItem.isUser %}
                                                    {{ macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{ item.modificationDate|craue_date }} {{ item.modificationDate|craue_time }}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{ macros.userFullname(item.modificatorItem) }}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if not item.creator.isDeleted and item.creator.isUser %}
                                                    {{ macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{ macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if not modifier.isDeleted and modifier.isUser %}
                                                                        {{ macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{ macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}


{% macro answersTree(articles, level) %}
    {% import _self as discussionMacros %}

    {% set opened = false %}

    {% for child in articles %}
        <li id="article_{{ child.item.itemId }}" data-jstree='{"opened": {{ opened }}}'>
            <a href="#discarticle{{ child.item.itemId }}">{{- child.item.title|decodeHtmlEntity -}}</a>

        {% if child.children is defined %}
            <ul>
                {{ discussionMacros.answersTree(child.children, level+1) }}
            </ul>
        {% endif %}

        </li>
    {% endfor %}
{% endmacro %}

{% macro answersSection(item, articleList, articleTree) %}
    {% import 'utils/macros.html.twig' as macrosUtils %}
    {% import _self as discussionMacros %}

    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'utils/edit_spinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-9-10">
                <h4 class="cs-detail-section-header">
                    {{- "articles"|trans({},'discussion') }}
                    ({{ articleList|length }})
                    <a id="toggleDiscussionTree" href="#"><i class="uk-icon-expand"></i></a>
                </h4>
            </div>
        </div>

        {# content #}
        {% if not articleList is empty %}
            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">

                <div class="uk-width-2-3" data-cs-tree='{"tree": {"checkbox": {"visible": false}}, "custom": {"toggle": "toggleDiscussionTree"}}'>
                    <ul class="uk-list">
                        {{ discussionMacros.answersTree(articleTree.children, 0) }}
                    </ul>
                </div>
            </div>
        {% endif %}
    </article>
{% endmacro %}

{% macro answers(list, discussion, roomId, modifierList, userCount, readCount, readSinceModificationCount, count = 0) %}
    {% import _self as discussionMacros %}

    {% if list is not empty %}
        <ul class="uk-comment-list">
            {% for child in list %}
                <li data-id="{{ child.item.itemId }}">
                    {{ include('discussion/answer.html.twig', {
                        article: child.item
                    }) }}
                    {% set count = count + 1 %}

                    {% if child.children is defined %}
                        {{ discussionMacros.answers(child.children, discussion, roomId, modifierList, userCount, readCount, readSinceModificationCount, count) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}