<div class="uk-overflow-container">
    <table id="commsy-portfolio" class="uk-table" border="0">
        <!-- table header row - first cell is empty and sticky, the other cells show the categories-->
        <tr>
            <th class="">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-box-portfolio">
                    <div class="uk-panel-badge">
                    </div>
                    <h3 class="uk-panel-title uk-text-right">
                        <a href=""><i class="uk-icon-edit"></i></a>
                    </h3>
                    <div class="portfolio-content portfolio-description">
                        <span class="uk-text-bold">{{ portfolio.title }}</span><br/>
                        <span class="uk-text-small"><i>{{ user.fullname }}</i></span><br/>
                        {{ portfolio.description }}
                    </div>
                </div>
            </th>
            {% for tag in portfolio.tags %}
                {% if tag.row == 0 %}
                    <th>
                        <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-box-portfolio">
                            <div class="uk-panel-badge">
                            </div>
                            <h3 class="uk-panel-title uk-text-right">
                                <a href=""><i class="uk-icon-edit"></i></a>
                            </h3>
                            <div class="portfolio-content">
                                {{ tag.title }}
                            </div>
                        </div>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        <!-- rows with categories column (first column; sticky) and content -->
        {% set counter1 = 0 %}
        {% for tag in portfolio.tags %}
            {% if tag.row != 0 %}
                <tr>
                    {% if tag.column == 0 %}
                        <th class="">
                            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-box-portfolio">
                                <div class="uk-panel-badge">
                                </div>
                                <h3 class="uk-panel-title uk-text-right">
                                    <a href=""><i class="uk-icon-edit"></i></a>
                                </h3>
                                <div class="portfolio-content">
                                    {{ tag.title }}
                                </div>
                            </div>
                        </th>
                        {% for secondTag in portfolio.tags %}
                            {% if secondTag.row == 0 %}
                                {% set foundContent = false %}
                                {% set content = '<ul class="uk-list uk-list-line">' %}
                                {% set firstTagId = '' %}
                                {% set secondTagId = '' %}
                                {% for link in linkPositions %}
                                    {% for linkData in link %}
                                        {% if (linkData[0] == tag.t_id and linkData[1] == secondTag.t_id) or (linkData[1] == tag.t_id and linkData[0] == secondTag.t_id) %}
                                            {% set foundContent = true %}
                                            {% set firstTagId = tag.t_id %}
                                            {% set secondTagId = secondTag.t_id %}
                                            {% for firstLink in portfolio.links|keys %}
                                                {% for secondLink in portfolio.links|keys %}
                                                    {% if (firstLink == tag.t_id and secondLink == secondTag.t_id) %}
                                                        {% for firstLinkEntry in portfolio.links[firstLink] %}
                                                            {% for secondLinkEntry in portfolio.links[secondLink] %}
                                                                {% if (firstLinkEntry.itemId == secondLinkEntry.itemId) %}
                                                                    {% set content = content ~ '<li><a href=' ~ path('commsy_' ~ firstLinkEntry.itemType ~ '_detail', {'roomId': roomId, 'itemId': firstLinkEntry.itemId}) ~ '>' ~ firstLinkEntry.title|decodeHtmlEntity ~ '</a></li>' %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% set content = content ~ '</ul>' %}
                                <td>
                                    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                                        <div class="uk-panel-badge">
                                        </div>
                                        <h3 class="uk-panel-title uk-text-right">
                                            {% if foundContent %}
                                                <a href="{{ path('commsy_portfolio_detail', {'roomId': roomId, 'portfolioId': portfolioId, 'firstTagId': firstTagId, 'secondTagId': secondTagId}) }}"><i class="uk-icon-list"></i></a>
                                                <a href="{{ path('commsy_portfolio_detail', {'roomId': roomId, 'portfolioId': portfolioId, 'firstTagId': firstTagId, 'secondTagId': secondTagId}) }}"><i class="uk-icon-comments-o"></i></a>
                                            {% else %}
                                                <i class="uk-icon-list uk-text-muted"></i>
                                                <i class="uk-icon-comments-o uk-text-muted"></i>
                                            {% endif %}
                                        </h3>
                                        {% if foundContent %}
                                            <div class="portfolio-content">
                                                {{ content|raw }}
                                            </div>
                                        {% else %}
                                            <div class="portfolio-content-empty">
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>