<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/build/commsy.css'|asset_version) }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="commsy" class="nav-collapsed">

        <div id="commsy_navigation">

            <div id="portal_logo">
            </div>

            <div id="my_avatar">
                {% block profile %}
                {% endblock %}
            </div>

            {% block side_navigation %}
            {% endblock %}

        </div>

        <div id="content">
            <!-- navbar -->
            <nav class="uk-navbar uk-navbar-attached">
                <!-- right -->
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        {# global search #}
                        {{ render(controller(
                            'CommsyBundle:Search:searchForm',
                            { 'roomId': app.request.attributes.get('roomId') }
                        ))}}
                    </div>
                    
                    {# global actions #}
                    {{ render(controller(
                        'CommsyBundle:User:globalNavbar',
                        { 'roomId': app.request.attributes.get('roomId') }
                    ))}}

                    {% block additionalNavbarContent %}
                    {% endblock %}

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{{ path('commsy_logout_logout', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-power-off"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- toggle -->
                <a href="" class="uk-navbar-toggle uk-visible-small"></a>
                
                <ul class="uk-navbar-nav">

                    <li data-uk-dropdown="{mode:'click'}" data-commsy-room-navigation="{
                        source:'{{ path('commsy_search_roomnavigation', {'roomId': app.request.attributes.get('roomId') }) }}',
                        minLength: 0
                    }">
                        <a class="cs-link-highlight">
                            {% block roomTitle %}
                                {{ app.request.attributes.get('roomId')|roomTitle }}
                            {% endblock %}
                            <i class="uk-icon-chevron-down"></i>
                        </a>

                        <!-- This is the dropdown -->
                        <div class="uk-dropdown uk-dropdown-scrollable uk-dropdown-width-2" style="height: 200px;">
                            
                            <a class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" href="{{ path('commsy_room_listall', {'roomId': app.request.attributes.get('roomId') }) }}">
                                {{ 'All rooms'|trans([], 'room') }}
                            </a>

                            <div class="uk-form">
                                <input class="uk-width-1-1" type="text" placeholder="{{ 'room search text'|trans({}, "rubric")}}">
                                <script type="text/autocomplete">
                                    {%- verbatim -%}
                                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                        {{#items && items.length}}
                                            {{~items}}
                                            <li data-url="{{!$item.url}}">
                                                <a>
                                                    {{ $item.title }}
                                                    <div>{{ $item.text }}</div>
                                                </a>
                                            </li>
                                            {{/items}}
                                        {{/end}}
                                        {{^items.length}}
                                            {{#msgNoResults}}<li class="uk-skip"><a>{{msgNoResults}}</a></li>{{/msgNoResults}}
                                        {{/end}}
                                    </ul>
                                    {%- endverbatim -%}
                                </script>
                            </div>

                            <div class="loading uk-text-center uk-margin-small-top uk-container-center">
                                <i class="uk-icon-spinner uk-icon-small uk-icon-spin"></i>
                            </div>

                        </div>
                    </li>
                </ul>
                
            </nav>

            <!-- breadcrumb -->
            {% block breadcrumb %}
            {% endblock %}

            <!-- cover -->
            {% block cover %}
            {% endblock %}

            <!-- container -->
            <div id="container" class="uk-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            <script src="{{ asset('js/build/commsy.js'|asset_version) }}"></script>
        {% endblock %}
    </body>
</html>
