<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'bundles/commsy/components/jstree/dist/themes/default/style.css'
                'bundles/commsy/css/application.less' filter='cssrewrite' output='css/compiled/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="commsy" class="nav-collapsed">

        <div id="sidebar">

            <div id="sidebar-brand">
                <a href="#">
                    CommSy
                </a>
            </div>

            <div id="sidebar-profile">
                {% block profile %}
                {% endblock %}
            </div>

            {% block side_navigation %}
            {% endblock %}

        </div>

        <div id="content">
            <!-- navbar -->
            <nav class="uk-navbar uk-navbar-attached">
                <!-- right -->
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="uk-search" data-uk-search="{source:'{{ path('commsy_search_quick', {'roomId': app.request.attributes.get('roomId') }) }}'}">
                            <input class="uk-search-field" type="search" placeholder="Suche...">

                            <!-- This is the dropdown, which is injected through JavaScript -->
                            <div class="uk-dropdown uk-dropdown-search">
                                <ul class="uk-nav uk-nav-search">...</ul>
                            </div>
                        </form>
                    </div>

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#"><i class="uk-icon-bell-o"></i></a>
                            </li>
                            {% if is_granted('MODERATOR') %}
                                <li>
                                    <a href="{{ path('commsy_settings_dashboard', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-wrench"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{{ path('commsy_logout_logout', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-power-off"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- toggle -->
                <a href="" class="uk-navbar-toggle"></a>

                <div class="uk-navbar-brand">
                    <a href="{{ path('commsy_room_home', {'roomId': app.request.attributes.get('roomId') }) }}">
                        {{ app.request.attributes.get('roomId')|roomTitle }}
                    </a>
                </div>
            </nav>

            <!-- breadcrumb -->
            {% block breadcrumb %}
            {% endblock %}

            <!-- cover -->
            {% block cover %}
            {% endblock %}

            <!-- container -->
            <div id="container" class="uk-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
                'bundles/commsy/components/jquery/dist/jquery.js'
                'bundles/commsy/components/jstree/dist/jstree.js'
                'bundles/commsy/components/uikit/js/uikit.js'
                'bundles/commsy/components/uikit/js/components/autocomplete.js'
                'bundles/commsy/components/uikit/js/components/search.js'
                'bundles/commsy/components/uikit/js/components/nestable.js'
                'bundles/commsy/components/uikit/js/components/tooltip.js'
                'bundles/commsy/components/uikit/js/components/grid.js'
                'bundles/commsy/components/uikit/js/components/accordion.js'
                'bundles/commsy/components/uikit/js/components/upload.js'
                'bundles/commsy/components/uikit/js/components/sticky.js'
                'bundles/commsy/components/uikit/js/components/slider.js'
                'bundles/commsy/js/application.js'
                'bundles/commsy/js/*.js' output='js/compiled/main.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
