<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'bundles/commsy/css/application.less' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="commsy" class="nav-collapsed">

        <div id="sidebar">

            <div id="sidebar-brand">
                <a href="#">
                    CommSy
                </a>
            </div>

            <div id="sidebar-profile">
                Profile
            </div>

            {{ knp_menu_render('main') }}

        </div>

        <div id="content">
            <!-- navbar -->
            <nav class="uk-navbar uk-navbar-attached">
                <!-- right -->
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="uk-search" data-uk-search="{source:'my-results.json'}">
                            <input class="uk-search-field" type="search" placeholder="Suche...">
                        </form>
                    </div>

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#"><i class="uk-icon-bell-o"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="uk-icon-wrench"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#"><i class="uk-icon-power-off"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- toggle -->
                <a href="" class="uk-navbar-toggle"></a>

                <div class="uk-navbar-brand">
                    <a href="#">Raumtitel</a>
                </div>
            </nav>

            <!-- breadcrumb -->
            {{ knp_menu_render('breadcrumb', 
                {'template': 'CommsyBundle:Menu:knp_menu_breadcrumb.html.twig', 
                'currentAsLink':false}) 
            }}

            <!-- cover -->
            {% block cover %}
            {% endblock %}

            <!-- container -->
            <div id="container" class="uk-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
                'bundles/commsy/components/jquery/dist/jquery.js'
                'bundles/commsy/components/uikit/js/uikit.js'
                'bundles/commsy/components/uikit/js/components/autocomplete.js'
                'bundles/commsy/components/uikit/js/components/search.js'
                'bundles/commsy/components/uikit/js/components/nestable.js'
                'bundles/commsy/components/uikit/js/components/tooltip.js'
                'bundles/commsy/components/uikit/js/components/grid.js'
                'bundles/commsy/components/uikit/js/components/accordion.js'
                'bundles/commsy/js/application.js'
                'bundles/commsy/js/*.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
