{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Item:macros.html.twig' as macrosItem %}
{% import 'CommsyBundle:Announcement:macros.html.twig' as macrosAnnouncement %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set item = announcement %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# announcement content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        <div class="uk-flex-inline uk-width-2-5 ">

                            {# back navigation #}
                            <div class="uk-margin-right">
                                {% if firstItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left uk-button-primary"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left uk-button-primary"></i>
                                {% endif %}
                            </div>

                            {# item dropdown #}
                            <div class="uk-button-dropdown uk-margin-right" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    Announcement {{ counterPosition }} / {{ count }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div id="cs-entry-navigation" class="uk-dropdown uk-padding-remove">
                                   <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                                       {% for tempAnnouncement in announcementList %}
                                            {% if tempAnnouncement.itemId != announcement.itemId %}
                                                <li><a href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': tempAnnouncement.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempAnnouncement.title|raw }}">{{ tempAnnouncement.title|raw|truncate(25) }}</a></li>
                                            {% else %}
                                                <li><a href="#" data-uk-tooltip="{delay:'250'}" title="{{ tempAnnouncement.title|raw }}" class="uk-text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tempAnnouncement.title|raw|truncate(20)  }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            {# forward navigation #}
                            <div>
                                {% if nextItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right uk-button-primary"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right uk-button-primary"></i>
                                {% endif %}
                            </div>
                        </div>

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">


                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'actions'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                        {# new entry #}
                                        <li>
                                            <a class="" href="{{ path('commsy_announcement_create', {'roomId': roomId}) }}" id="newEntry">
                                                <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                            </a>
                                        </li>
                                        {# print #}
 
                                        <li>
                                            <a class="" href="#" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>


                                        {# save #}
                                        <li>
                                            <a class="" href="#">
                                                <i class="uk-icon-small uk-icon-save uk-icon-justify uk-visible-large"></i> {{ 'save'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# copy #}
                                        <li>
                                            <a class="" href="#">
                                                <i class="uk-icon-small uk-icon-copy uk-icon-justify uk-visible-large"></i> {{ 'copy'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a class="" href="#">
                                                <i class="uk-icon-small uk-icon-send-o uk-icon-justify uk-visible-large"></i> {{ 'send'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# delete #}
                                        <li>
                                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                <a class="" href="#">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </a>
                                            {% else %}
                                                <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosAnnouncement.title(announcement, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                        {{ macros.editContent('description', announcement, true, announcement.description, announcement.description, false, false, 0) }}
                    </div>
            
                    {# files #}
                    <div id="files{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                        {{ macrosItem.files(announcement) }}
                    </div>
        
                    {# links #}
                    <div id="links{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editlinks', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                        {{ macrosItem.links(announcement,showHashtags,showCategories) }}
                    </div>
        
                </article>
            </div>
            
            {# annotations #}
            {% if item.itemType != 'discussion' %}
                <div class="uk-panel-teaser cs-panel-teaser-primary uk-margin-bottom-remove uk-margin-top">
                    <div class="uk-grid">
                        <div class="uk-width-3-5 uk-text-large ">
                            {{ 'annotations'|trans({})|capitalize }}
                        </div>
                    </div>
                </div>              
                
                <div id="annotations{{ announcement.itemId }}" class="uk-panel uk-panel-box uk-margin-bottom uk-panel-box-primary ">

                    <article class="uk-comment">
                        <header class="uk-comment-header uk-flex">
                            <div class="uk-margin-right uk-flex-item-none">
                                {{  macros.userIconLink(user) }}
                            </div>
                            <div class="uk-width-8-10">
                                {{ form_start(annotationForm, {'action': path('commsy_annotation_create', {'roomId': announcement.contextId, 'itemId': announcement.itemId}), 'method': 'POST'}) }}
                                {{ form_widget(annotationForm) }}
                                {{ form_end(annotationForm) }}
                            </div>                            
                        </header>
                    </article>

                    {{ render(controller(
                        'CommsyBundle:Annotation:feed',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}

                </div>

            {% endif %}
        </div>

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ announcement.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ announcement.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#files{{ announcement.itemId }}">{{ 'files'|trans({})}}</a></li>
                        <li><a href="#links{{ announcement.itemId }}">{{ 'links'|trans({})}}</a></li>
                        <li><a href="#annotations{{ announcement.itemId }}">{{ 'annotations'|trans({})|capitalize }}</a></li>
                    </ul>
                </div>
            </div>

        </div>
      
    </div>
{% endblock %}

{# end #}