
{# 
{% if not roomList is empty %}
        {% for room in roomList %}
            <div class="uk-width-1-2">
                <a href="{{ path('commsy_room_home', {'roomId': room.itemId}) }}">
                    <div class="cs-room-block">
                        {{ room.title }}<br/>
                        <p class="uk-text-small uk-text-muted uk-text-truncate">
                            {{ room.contactModeratorListString }}<br/>
                            {{ 'new Entries'|trans({}, "rubric")}}:{{ room.newEntries }} ({{ room.timeSpread }} {{ 'days'|trans({}, "rubric")}})
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
{% endif %} #}