{% import 'utils/macros.html.twig' as macros %}
{% import 'material/macros.html.twig' as macrosMaterial %}
{% import 'item/macros.html.twig' as macrosItem %}

<div class="uk-panel uk-panel-box uk-margin-top">
    <article class="uk-article uk-position-relative cs-edit-draft">
        {# title #}
        <div class="cs-toggle" data-uk-observe>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="uk-flex">
                <div id="remove-on-click" class="uk-width-9-10">
                    {{ form_widget(form.title) }}
                </div>
            </div>  
            <div class="uk-flex uk-margin-small-top">
                <div class="uk-margin-small-left">
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>
            
            {{ form_end(form) }}
            {#{ macrosMaterial.title(section, modifierList, userCount, readCount, readSinceModificationCount) }#}
        </div>
        
        {# description #}
        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': section.contextId, 'itemId': section.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
            {{ macrosItem.itemDescription('description', section, true, section.description, true) }}
        </div>

        {# files #}
        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': section.contextId, 'itemId': section.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': section.contextId, 'itemId': section.itemId}) }}' }">
            {{ macrosItem.files(section, true) }}
        </div>

        <div id="draft-buttons-wrapper" data-item-type="section">
            <a id="draft-save-combine-link" href="" class="uk-button uk-button-primary">
                {{ 'create entry'|trans({}, "form") }}
            </a>
            <a id="draft-cancel-link" href="" class="uk-button uk-button-secondary">
                {{ 'cancel'|trans({}, "form") }}
            </a>
        </div>
    </article>
</div>