{% extends 'base/room.html.twig' %}

{% import 'utils/macros.html.twig' as macros %}

{% form_theme form 'form/uikit_stacked_layout.html.twig' %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li><a href="#">{{ 'description'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'files'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'links'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'workflow'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'editing information'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'annotations'|trans({})|capitalize }}</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-medium-4-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# content #}
                <article class="uk-article uk-position-relative">
                    {{ form_start(form, {'attr': {'class': 'uk-form-stacked'}}) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
