{% extends 'App:base:room.html.twig' %}

{% import 'App:utils:macros.html.twig' as macros %}

{% form_theme form 'App:form:uikit_stacked_layout.html.twig' %}

{% set item = material %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                    <li><a href="#">{{ 'description'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'files'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'links'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'workflow'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'editing information'|trans({})|capitalize }}</a></li>
                    <li><a href="#">{{ 'annotations'|trans({})|capitalize }}</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-medium-4-5">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# content #}
                <article class="uk-article uk-position-relative">
                    {{ form_start(form, {'attr': {'class': 'uk-form-stacked'}}) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                    
                    <script>
                    var $biblio = $('#material_biblio_select');
                    // When sport gets selected ...
                    $biblio.change(function() {
                      // ... retrieve the corresponding form.
                      var $form = $(this).closest('form');
                      // Simulate form data, but only include the selected sport value.
                      var data = {};
                      // Submit data via AJAX to the form's action path.
                      $.ajax({
                        url : $form.attr('action'),
                        type: $form.attr('method'),
                        data : data,
                        success: function(html) {
                          // Replace current position field ...
                          $('#material_biblio').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#material_biblio')
                          );
                        }
                      });
                    });
                    </script>
                </article>
            </div>
        </div>
    </div>
{% endblock %}