{% import 'utils/macros.html.twig' as macros %}
{% import 'material/macros.html.twig' as macrosMaterial %}
{% import 'item/macros.html.twig' as macrosItem %}

<div class="uk-panel uk-panel-box uk-margin-top">
    <article class="uk-article uk-position-relative cs-edit-draft">
        {# title #}
        <div class="cs-toggle" data-uk-observe>
            {{ macrosMaterial.title(section, modifierList, 0, 0, 0, true) }}
        </div>

        {# description #}
        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{
            editUrl: '{{ path('app_item_editdescription', { 'roomId': section.contextId, 'itemId': section.itemId }) }}',
            cancelEditUrl: '{{ path('app_item_canceledit', { 'roomId': section.contextId, 'itemId': section.itemId }) }}'
        }">
            {{ macrosItem.itemDescription('description', section, true, section.description, section.draft) }}
        </div>

        {# files #}
        <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{{ {
            'editUrl': path('app_upload_uploadform', {'roomId': section.contextId, 'itemId': section.itemId}),
            'cancelEditUrl': path('app_item_canceledit', {'roomId': section.contextId, 'itemId': section.itemId})
        }|json_encode|e('html_attr') }}">
            {{ component('item_files', {
                item: section,
                draft: section.draft
            }) }}
        </div>

        {{ macros.draftButtons(section.contextId, section.itemId, section.type) }}
    </article>
</div>
