{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
{% import 'CommsyBundle:Todo:macros.html.twig' as macrosTodo %}

<hr class="uk-width-9-10  cs-detail-divider"/>
<article class="uk-article uk-margin-left uk-margin-right">
    {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
    <div class="uk-form-horizontal">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="">
            <div class="">
                <div class="uk-width-9-10">
                    <h4 class="uk-width-1-2 cs-brand-color">
                        {{ 'sort steps'|trans }}
                    </h4>
                </div>

                <div class="uk-width-9-10" data-uk-observe>
                    <div style="position:absolute;" class="uk-list step-list uk-list-striped">
                        {% set counter = 1 %}
                        {% for step in form.steps %}
                            <div class="uk-panel uk-panel-box cs-remove-padding cs-brand-color">
                                {{counter}}.
                            </div>
                        {% set counter = counter + 1  %}
                        {% endfor %}
                    </div>
                    {% if not form.steps is empty %}
                        <ul class="uk-list uk-sortable step-list cs-padding-left-20 uk-list-striped uk-width-2-3" data-uk-sortable>
                            {% set counter = 1 %}
                            {% for stepId, stepName in form.steps %}
                                <li class="uk-panel uk-panel-box uk-sortable-handle" id="step_{{stepId}}">
                                    <a href="#step{{ stepId }}" data-uk-tooltip title="{{ stepName.vars.data|raw }}">{{ stepName.vars.data|raw }}</a>
                                </li>
                            {% set counter = counter + 1  %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_row(form.stepOrder) }}
        <div class="uk-flex uk-margin-small-top">
            <div class="uk-margin-small-left">
                {{ form_row(form.save) }}
            </div>
            <div class="uk-margin-small-left">
                {{ form_row(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</article>

{% block javascripts %}
    <script>
        var regExp = /#step(\d+)$/;
        function setStepsOrder(){
            var $steps = $(".step-list").find("a").map(function(){
                var stepId = regExp.exec($(this).attr('href'));
                if(stepId){
                    return stepId[1];
                }
            }).get();
            $("#todo_stepOrder").val($steps);
            console.log($("#todo_stepOrder").val());
        }
        //document.onload = setStepsOrder();
        $(".step-list").on('change.uk.sortable', setStepsOrder);
    </script>
{% endblock %}