{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}


{% for annotation in annotations %}
    <article class="uk-comment">
        {{ macros.statusColor(readerList, annotation.itemId) }}
        <header class="uk-comment-header uk-flex">
            <div class="uk-margin-right uk-flex-item-none toggle-{{ annotation.itemId }}">
                {% if annotation.creator.isUser %}
                    {{  macros.userIconLink(annotation.creator) }}
                {% else %}
                    {{  macros.userIcon(annotation.creator) }}
                {% endif %}
            </div>
            <div class="uk-margin-right uk-flex-item-none toggle-{{ annotation.itemId }} uk-hidden">
                {% if annotation.creator.isUser %}
                    {{  macros.userIconLink(annotation.creator) }}
                {% endif %}
            </div>
            <div class="uk-width">

                
                <div id="description{{ annotation.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editannotation', {'roomId': annotation.contextId, 'itemId': annotation.itemId}) }}' }">
                    {{ macros.editAnnotationContent('description', annotation, true, annotation.description, annotation.description, false, false, 0) }}
            </div>
        </header>
    </article>
{% endfor %}


