{% extends 'base/room.html.twig' %}

{% import 'utils/macros.html.twig' as macros %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-2-3">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# panel title bar #}
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ firstTag.title }} / {{ secondTag.title }}</div>
                    </div>
                </div>

                {% import 'utils/macros.html.twig' as macros %}
                {% if not feedList is empty %}
                    {% for feedItem in feedList %}
                        <article class="uk-comment" data-item-id="{{ feedItem.itemId }}">
                            {% if feedItem.type is same as('todo') %}
                                <i class="{{ macros.iconClassForItemType(feedItem.itemType, feedItem.internalStatus) }} uk-icon-small" data-uk-tooltip title="{{ feedItem.status }}"></i>
                            {% else %}
                                <i class="{{ macros.iconClassForItemType(feedItem.itemType) }} uk-icon-small"></i>
                            {% endif %}
                            {% if feedItem.type is not same as('date') %}
                                {{ macros.statusColor(readerList, feedItem.itemId) }}
                            {% else %}
                                {% if not feedItem.isExternal %}
                                    {{ macros.statusColor(readerList, feedItem.itemId) }}
                                {% endif %}
                            {% endif %}
                            <header class="uk-comment-header uk-flex">
                                <div class="uk-margin-right uk-flex-item-none">
                                    {% if feedItem.itemType is not same as('user') %}
                                        {% if feedItem.type is not same as('date') %}
                                            {% if feedItem.modificatorItem.isUser %}
                                                {{  macros.userIconLink(feedItem.modificatorItem) }}
                                            {% else %}
                                                {{  macros.userIcon(feedItem.modificatorItem) }}
                                            {% endif %}
                                        {% else %}
                                            {% if not feedItem.isExternal %}
                                                {% if feedItem.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(feedItem.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(feedItem.modificatorItem) }}
                                                {% endif %}
                                            {% else %}
                                                <div class="uk-vertical-align uk-text-center uk-thumbnail uk-border-circle cs-comment-thumbnail" style="height:42px; width:42px;" data-uk-tooltip title="{{ feedItem.calendar.title }}">
                                                    <div class="uk-container-center uk-vertical-align-middle" style="width:24px; height:24px;">
                                                        <i class="uk-icon-medium uk-icon-calendar" style="color:{{ feedItem.calendar.color }}; width:24px; height:24px;"></i>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if feedItem.isUser %}
                                            {{  macros.userIconLink(feedItem) }}
                                        {% else %}
                                            {{  macros.userIcon(feedItem) }}
                                        {% endif %}
                                    {% endif %}
                                    <div class="uk-comment-meta">
                                        <span class="uk-text-nowrap">
                                            {% if feedItem.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                                                {{ 'today'|trans({})|capitalize }}, {{ feedItem.modificationDate|date("H:i") }}
                                            {% else %}
                                                {% if '9999-00-00' not in feedItem.modificationDate %}
                                                    {{ feedItem.modificationDate|craue_date }}
                                                {% else %}
                                                    {{ feedItem.creationDate|craue_date }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-comment-meta"><a href="{{ app.request.baseURL }}/room/{{ feedItem.contextItem.itemId }}">{{feedItem.contextItem.title|decodeHtmlEntity}}</a></div>
                                    <h4 class="uk-comment-title">
                                        {% set feedItemType = feedItem.type %}
                                        {% if feedItem.type is same as('label') %}
                                            {% set feedItemType = feedItem.labelType %}
                                        {% endif %}

                                        <a href="{{ app.request.baseURL }}/room/{{ roomId }}/{{ feedItemType }}/{{ feedItem.itemID }}">
                                            {% if feedItem.itemType is not same as('user') %}
                                                {{ feedItem.title|decodeHtmlEntity }} {% if feedItem.itemType is same as('date') and feedItem.getRecurrencePattern != '' %} ({{ 'recurring date'|trans({}, 'date') }}) {% endif %}
                                            {% else %}
                                                {{ feedItem.getFullName }}
                                            {% endif %}
                                        </a>
                                    </h4>
                                    {% if feedItem.itemType is same as('announcement') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.creator.getFullName}}</div>
                                    {% elseif feedItem.itemType is same as('date') %}
                                        <div class="uk-comment-meta">{{ formatDateTimeRange(feedItem.wholeDay, feedItem.dateTimeObject_Start, feedItem.dateTimeObject_End) }}{% if feedItem.place != '' %}, {{ feedItem.place }}{% endif %}</div>
                                    {% elseif feedItem.itemType is same as('material') %}
                                        <div class="uk-comment-meta">
                                            {% if feedItem.author != '' %}
                                                {{ 'by'|trans({})|capitalize }}: {{feedItem.author}} ({{feedItem.publishingdate}})
                                            {% else %}
                                                {{ 'by'|trans({})|capitalize }}: {{feedItem.creator.fullname}} ({{ feedItem.creationDate|craue_date }})
                                            {% endif %}
                                        </div>
                                    {% elseif feedItem.itemType is same as('discussion') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.creator.getFullName}}</div>
                                    {% elseif feedItem.itemType is same as('user') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.getFullName}}</div>
                                    {% elseif feedItem.itemType is same as('group') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.creator.getFullName}}</div>
                                    {% elseif feedItem.itemType is same as('todo') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.creator.getFullName}}</div>
                                    {% elseif feedItem.itemType is same as('task') %}
                                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.creator.getFullName}}</div>
                                    {% endif %}
                                    <div class="uk-comment-meta">{{  macros.fileListShort(feedItem) }}</div>
                                </div>
                            </header>
                        </article>
                    {% endfor %}
                {% endif %}

                <div>
                    {% block content_left_column %}
                    {% endblock %}

                    {# annotations #}
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-margin-bottom uk-margin-small-top">
                <div class="uk-panel-teaser uk-margin cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Comments'|trans({}, 'portfolio') }}</div>
                    </div>
                </div>

                <div id="annotations" class="uk-panel uk-panel-box uk-margin-bottom uk-panel-box-primary ">

                        <article class="uk-comment">
                            <header class="uk-comment-header uk-flex">
                                <div class="uk-margin-right uk-flex-item-none">
                                    {#{  macros.userIconLink(user) }#}
                                </div>
                                <div class="uk-width-8-10">
                                    {{ form_start(annotationForm, {'action': path('app_annotation_create', {'roomId': app.request.attributes.get('roomId'), 'itemId': portfolioId, 'firstTagId': firstTag.itemId, 'secondTagId': secondTag.itemId}), 'method': 'POST'}) }}
                                    <p>
                                        {{ form_label(annotationForm.description) }}
                                    </p>
                                    {{ form_widget(annotationForm.description) }}
                                    {{ form_end(annotationForm) }}
                                </div>
                            </header>
                        </article>

                    {{ render(controller(
                        'App\\Controller\\AnnotationController::feedAction',
                        { 'roomId': roomId, 'linkedItemId': portfolioId, 'firstTagId': firstTag.itemId, 'secondTagId': secondTag.itemId }
                    ))}}

                </div>

            </div>
        </div>

        <div class="uk-width-medium-1-3">
            {% block content_right_column %}
            {% endblock %}
        </div>
    </div>
{% endblock %}