{% extends 'App:base:room.html.twig' %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-3-3">
            <div class="uk-panel uk-panel-box uk-margin-bottom">

                {# panel title bar #}
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{% if item.draft %}{{ 'Create new portfolio'|trans({}, 'portfolio') }}{% else %}{{ 'Edit Portfolio'|trans({}, 'portfolio') }}{% endif %}</div>
                    </div>
                </div>

                <div class="uk-form-horizontal">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="uk-flex">
                        <div class="uk-width-9-10">
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                    </div>

                    <div class="uk-margin-top">
                        {% if form.from_template is defined %}
                            <div class="uk-form-row">
                                <label class="uk-form-label">
                                    {{ form_label(form.from_template) }}
                                </label>
                                <div class="uk-margin-left">
                                    {{ form_widget(form.from_template) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="uk-form-row">
                            <label class="uk-form-label">
                                {{ form_label(form.description) }}
                            </label>
                            <div class="uk-margin-left">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">
                                {{ form_label(form.is_template) }}
                            </label>
                            <div class="uk-margin-left">
                                {{ form_widget(form.is_template) }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">
                                {{ form_label(form.external_template) }}
                            </label>
                            <div class="uk-margin-left">
                                {{ form_widget(form.external_template) }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">
                                {{ form_label(form.external_viewer) }}
                            </label>
                            <div class="uk-margin-left">
                                {{ form_widget(form.external_viewer) }}
                            </div>
                        </div>
                    </div>

                    <div class="uk-flex uk-flex-space-between uk-margin-top">
                        <div class="uk-flex">
                            <div class="uk-margin-small-left">
                                {{ form_row(form.save) }}
                            </div>
                            <div class="uk-margin-small-left">
                                {{ form_row(form.cancel) }}
                            </div>
                        </div>

                        {% if form.delete is defined %}
                            <div>
                                {{ form_row(form.delete) }}
                            </div>
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}