<ul id="portfolioTabs" class="uk-tab" data-uk-tab>
    {% if portfolios %}
        {% for portfolio in portfolios %}
            <li {% if loop.first %}class="uk-active"{% endif %} data-portfolio-id="{{ portfolio.id }}"><a href="">{{ portfolio.title }}</a></li>
        {% endfor %}

        {% if myPortfolios %}
            {#<li data-portfolio-id="new"><a href="{{ path('app_portfolio_edit', {'roomId': roomId, 'portfolioId': 'new'}) }}" data-uk-tooltip title="{{ 'new portfolio'|trans({}, 'portfolio') }}" data-uk-tooltip title="{{ 'edit'|trans({}, 'portfolio') }}" data-uk-tooltip title="{{ 'edit'|trans({}, 'portfolio') }}"><i class="uk-icon-plus uk-icon-small"></i></a></li>#}
        {% endif %}
    {% endif %}
</ul>