{% import 'utils/macros.html.twig' as macrosUtils %}
{% import _self as macros %}
    
{% macro activityBar(activity, maxActivity) %}
    {% set percentage = 0 %}

    {% if maxActivity > 0 %}
        {% set divisor = maxActivity / 20 %}

        {% set percentage = (activity / divisor + 1)|log %}

        {% if percentage < 0 %}
           {% set percentage = 0 %}
        {% endif %}

        {% set max = (maxActivity / divisor + 1)|log %}

        {% set percentage = (percentage / max) * 100 %}
    {% endif %}

    <div class="uk-progress uk-progress-small">
        <div class="uk-progress-bar" style="width: {{ percentage|round(2) }}%;"></div>
    </div>
{% endmacro %}

{% for room in rooms %}
    <article class="uk-comment uk-margin-top-remove">

        <div class="uk-grid">
            <div class="uk-width-6-10">
                <header class="uk-comment-header uk-flex">
                    <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                        <form class="uk-form">
                            <input type="checkbox" value="{{ room.itemId }}">
                        </form>
                    </div>
                    <div class="uk-margin-right uk-flex-item-none">
                        <div class="uk-container-center uk-margin-small-top" style="width:24px; height:24px;">
                            {{ macrosUtils.contextLinkIcon(roomId, room, projectsMemberStatus[room.itemId]) }}
                        </div>
                        <div class="uk-comment-meta">
                            <span class="uk-text-nowrap">
                                {% if room.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                                    {{ 'today'|trans({})|capitalize }}, {{ room.modificationDate|date("H:i") }}
                                {% else %}
                                    {% if '9999-00-00' not in room.modificationDate %}
                                        {{ room.modificationDate|craue_date }}
                                    {% else %}
                                        {{ room.creationDate|craue_date }}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div>
                        <h4 class="uk-comment-title">
                            {% if 'archived' not in projectsMemberStatus[room.itemId] %}
                                <a href="{{ path('app_room_detail', {'roomId': roomId, 'itemId': room.itemId}) }}">{{ room.title|decodeHtmlEntity }}</a>
                            {% else %}
                                <span class="uk-text-muted">{{ room.title|decodeHtmlEntity }}</span>
                            {% endif %}
                            {% if room.template == 1 %}<span class="uk-text-muted"> &ndash; {{ 'Template'|trans({}, 'room') }}</span>{% endif %}
                        </h4>

                        <div class="uk-comment-meta">
                            {% if room.contactPersons is not empty %}
                                {% set splitText = room.contactPersons|split(';') %}
                                {% if splitText|length > 1 %}

                                    <a href="{{ path('app_user_sendmailviacontactform', {'roomId': roomId, 'itemId': splitText[1], 'originPath': 'app_room_listall'}) }}">{{ splitText[0] }} </a>
                                {% else %}
                                    {{ room.contactPersons }}
                                {% endif %}
                            {% else %}
                                {{ room.getContactModeratorListString }}
                            {% endif %}
                        </div>

                        <div class="uk-comment-meta">
                            {{ macrosUtils.contextLink(roomId, room, projectsMemberStatus[room.itemId]) }}
                        </div>
                    </div>
                </header>
            </div>

            <div class="uk-width-4-10">
                {{ macros.activityBar(room.activity, portal.maxRoomActivityPoints) }}
            </div>
        </div>

    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}