{% for room in rooms %}
    {% embed 'components/feed_item.twig' %}
        {% import 'utils/macros.html.twig' as macrosUtils %}
        {% import _self as macros %}

        {% macro activityBar(activity, maxActivity) %}
            {% set percentage = 0 %}

            {% if maxActivity > 0 %}
                {% set divisor = maxActivity / 20 %}

                {% set percentage = (activity / divisor + 1)|log %}

                {% if percentage < 0 %}
                    {% set percentage = 0 %}
                {% endif %}

                {% set max = (maxActivity / divisor + 1)|log %}

                {% set percentage = (percentage / max) * 100 %}
            {% endif %}

            <div class="uk-progress uk-progress-small">
                <div class="uk-progress-bar" style="width: {{ percentage|round(2) }}%;"></div>
            </div>
        {% endmacro %}

        {% block item_id %}{{ room.itemId }}{% endblock %}

        {% block title %}
            {% if 'archived' not in projectsMemberStatus[room.itemId] %}
                <a href="{{ path('app_room_detail', {'roomId': roomId, 'itemId': room.itemId}) }}">{{ room.title|decodeHtmlEntity }}</a>
            {% else %}
                <span class="uk-text-muted">{{ room.title|decodeHtmlEntity }}</span>
            {% endif %}
            {% if room.template == 1 %}<span class="uk-text-muted"> &ndash; {{ 'Template'|trans({}, 'room') }}</span>{% endif %}
        {% endblock %}

        {% block meta_top %}
            {% if room.contactPersons is not empty %}
                {{ room.contactPersons }}
            {% else %}
                {{ room.getContactModeratorListString }}
            {% endif %}
        {% endblock %}

        {% block meta_bottom %}
            {{ macrosUtils.contextLink(roomId, room, projectsMemberStatus[room.itemId]) }}
        {% endblock %}

        {% block right %}
            {{ macros.activityBar(room.activity, portal.maxRoomActivityPoints) }}
        {% endblock %}
    {% endembed %}
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}