{% extends 'base/list.html.twig' %}
{% import 'common/feed.html.twig' as feed %}

{% block listTitle %}
    {{ 'Rooms'|trans([], 'room') }}
{% endblock %}

{% block feed %}
    <ul id="room-feed" class="uk-comment-list uk-list-striped">
        {{ render(controller(
            'App\\Controller\\RoomController::feedAll', {
                'roomId': roomId,
                'roomFilter': app.request.query.all('room_filter')
            }
        ))}}
    </ul>

    {{ feed.spinner('room', app.request.baseUrl ~ '/room/' ~ roomId ~ '/all/feed/') }}
{% endblock %}

{% block sortbox %}
    {% component 'v3:dropdown' with { icon: 'triangle-down', title: 'list sort'|trans({},'rubric')|capitalize } %}
        {% import 'utils/macros.html.twig' as utilsMacros %}

        {% block dropdown %}
            <ul class="uk-nav uk-dropdown-nav uk-list-striped">
                {# sorting options #}
                {%- set initialStateActivity = sort is same as('activity_rev') ? 'asc' : (sort is same as('activity') ? 'desc' : '') -%}
                {%- set initialStateTitle = sort is same as('title') ? 'asc' : (sort is same as('title_rev') ? 'desc' : '') -%}

                {{ utilsMacros.sortActor('activity', 'activity', 'rubric', 'activity_rev', 'activity',  initialStateActivity) }}
                {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', initialStateTitle) }}
            </ul>
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block editbox %}
    {% if userMayCreateContext %}
        {% component 'v3:dropdown' with { icon: 'triangle-down', title: 'selected entries'|trans({},'rubric')|capitalize } %}
            {% block dropdown %}
                <ul class="uk-nav uk-dropdown-nav uk-list-striped">

                    {% if is_granted('ITEM_NEW') %}
                        <li>
                            <a href="{{ path('app_room_create', {'roomId': roomId}) }}">
                                <span uk-icon="icon: plus"></span> {{ 'New room'|trans([], 'room') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        {% endcomponent %}
    {% endif %}
{% endblock%}
