{% extends 'base/list.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block sidebar_left %}
{% endblock %}

{% block content %}
    {% embed 'components/feed_card.twig' %}
        {% block feedTitle %}
            {{ 'Rooms'|trans([], 'room') }}
        {% endblock %}

        {% block sortbox %}
        {% endblock %}

        {% block editbox %}
            {% if userMayCreateContext %}
                {% embed 'components/dropdown.twig' %}
                    {% block title %}
                        {{ 'selected entries'|trans({},'rubric')|capitalize }}
                    {% endblock %}

                    {% block content %}
                        {% if is_granted('ITEM_EDIT', 'NEW') %}
                            <li>
                                <a href="{{ path('app_room_create', {'roomId': roomId}) }}">
                                    <span uk-icon="plus-circle"></span> {{ 'New room'|trans([], 'room') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock%}

        {% block listAddons %}
        {% endblock %}

        {% block feed %}
            <ul id="room-feed" class="uk-comment-list">
                {{ render(controller(
                    'App\\Controller\\RoomController::feedAllAction', {
                        'roomId': roomId,
                        'roomFilter': app.request.query.get('room_filter')
                    }
                )) }}
            </ul>

            <div class="feed-load-more" uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 0}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/all/feed/", "target": "#room-feed"}' uk-spinner>
            </div>
        {% endblock%}
    {% endembed %}
{% endblock %}








{#{% block title %}#}
{#    {% if module is defined and module is not empty %}#}
{#        {{ module|capitalize|transchoice(1, {}, "rubric") }}#}
{#    {% else %}#}
{#        Missing rubric title#}
{#    {% endif %}#}

{#    <div id="commsy-list-count-display" style="display:inline;">#}
{#        ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})#}
{#    </div>#}
{#    <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">#}
{#        (<span id="commsy-list-count-all">{{itemsCountArray.count}}</span> {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}}, <span id="commsy-list-count-selected">0</span> {{ 'selected'|trans({},'messages')}})#}
{#    </div>#}
{#{% endblock %}#}







