{% extends 'base/list.html.twig' %}

{% block listTitle %}
    {{ 'Rooms'|trans([], 'room') }}
{% endblock %}

{% block feed %}
    <ul id="room-feed" class="uk-comment-list" data-uk-observe>
        {{ render(controller(
            'App\\Controller\\RoomController::feedAllAction', {
                'roomId': roomId,
                'roomFilter': app.request.query.get('room_filter')
            }
        ))}}
    </ul>

    <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{
        "url": "{{ app.request.baseURL }}/room/{{ roomId }}/all/feed/",
        "target": "#room-feed"
    }'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div> 
{% endblock %}

{% block editbox %}
    {% if userMayCreateContext %}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                    {% if is_granted('ITEM_EDIT', 'NEW') %}
                        <li>
                            <a href="{{ path('app_room_create', {'roomId': roomId}) }}">
                                <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'New room'|trans([], 'room') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock%}