{% extends 'base/list.html.twig' %}

{% block listTitle %}
    {{ 'Rooms'|trans([], 'room') }}
{% endblock %}

{% block feed %}
    <ul id="room-feed" class="uk-comment-list" data-uk-observe>
        {{ render(controller(
            'App\\Controller\\RoomController::feedAll', {
                'roomId': roomId,
                'roomFilter': app.request.query.all('room_filter')
            }
        ))}}
    </ul>

    <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{
        "url": "{{ app.request.baseURL }}/room/{{ roomId }}/all/feed/",
        "target": "#room-feed"
    }'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}

{% block sortbox %}
    {% component 'v2:dropdown' with { icon: 'caret-down', title: 'list sort'|trans({},'rubric')|capitalize } %}
        {% import 'utils/macros.html.twig' as utilsMacros %}

        {% block dropdown %}
            <ul class="uk-nav uk-nav-dropdown uk-list-striped">
                {# sorting options #}
                {%- set initialStateActivity = sort is same as('activity_rev') ? 'asc' : (sort is same as('activity') ? 'desc' : '') -%}
                {%- set initialStateTitle = sort is same as('title') ? 'asc' : (sort is same as('title_rev') ? 'desc' : '') -%}

                {{ utilsMacros.sortActor('activity', 'activity', 'rubric', 'activity_rev', 'activity',  initialStateActivity) }}
                {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', initialStateTitle) }}
            </ul>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
{% block editbox %}
    {% if userMayCreateContext %}
        {% component 'v2:dropdown' with { icon: 'caret-down', title: 'selected entries'|trans({},'rubric')|capitalize } %}
            {% block dropdown %}
                <ul class="uk-nav uk-nav-dropdown uk-list-striped">

                    {% if is_granted('ITEM_NEW') %}
                        <li>
                            <a href="{{ path('app_room_create', {'roomId': roomId}) }}">
                                <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'New room'|trans([], 'room') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        {% endcomponent %}
    {% endif %}
{% endblock%}
