{% macro title(item) %}
    {% import 'utils/macros.html.twig' as macros %}

    <div id="section{{ item.itemId }}" class="cs-toggle">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-9-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">
                                {{ item.title|decodeHtmlEntity }}
                                {% if item.template == 1 %}<span class="uk-text-muted"> &ndash; {{ 'Template'|trans({}, 'room') }}</span>{% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro access(project, roomId, memberStatus, contactModeratorItems) %}
    {% import 'utils/macros.html.twig' as macros %}

    <div id="project{{ project.itemId }}" class="cs-edit-section cs-toggle">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-9-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <a name="grouproom"></a>

                            {# title row #}
                            <div class="uk-grid uk-margin-small-bottom">
                                <div class="uk-width-9-10">
                                    <h4 class="cs-detail-section-header">
                                        {{'Membership'|trans({},'room') }}
                                    </h4>
                                </div>
                            </div>

                            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">
                                <div class="uk-flex">
                                    <div class="uk-width-1-5 uk-text-left">
                                        {% if memberStatus == 'enter' %}
                                            <a href="{{ path('app_room_home', {'roomId': project.itemId}) }}" class="uk-icon-large uk-icon-button uk-icon-sign-in" data-uk-tooltip title="{{'enter room'|trans({}, 'room') }}"></a>
                                        {% else %}
                                            <span class="uk-icon-large uk-icon-button uk-icon-remove" data-uk-tooltip title="{{'no access'|trans({}, 'room') }}"> </span>
                                        {% endif %}
                                    </div>

                                    <div class="uk-width-2-5 uk-text-left">
                                        <span class="uk-text-bold">{{'Room-Information'|trans({}, 'room') }}</span><br/>
                                        <p>
                                            {# display an appropriate label if contact persons have been defined for this room: #}
                                            {% if project.contactModeratorListString is not same as(project.moderatorListString) %}
                                                {{ 'Contact persons:'|trans({}, 'room') }}
                                            {% else %}
                                                {{ 'Moderation:'|trans({}, 'room') }}
                                            {% endif %}
                                            {{ macros.userNamesWithMailLinks(contactModeratorItems, roomId) }}
                                        </p>
                                        <p>
                                            {{ macros.contextLink(roomId, project, memberStatus) }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
