    <div id="room-hashtags" class="uk-overflow-container uk-margin-bottom">
        <h4>{{ 'hashtags'|trans({}, "room") }} </h4>
        {% if hashtags is not empty %}
            <ul class="uk-list uk-list-striped">
                {% for hashtag in hashtags %}
                    <span>
                        <button class="uk-button uk-margin-small-bottom">{{ hashtag.name }}</button>
                    </span>
                {% endfor %}
            </ul>
        {% else %}
            {{ 'No Hashtags'|trans({}, 'hashtag') }}
        {% endif %}
        
{#         {% if is_granted('CATEGORY_EDIT') %}
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_errors(form.title) }}
                <div class="uk-form-icon">
                    <i class="uk-icon-tag"></i>
                    {{ form_widget(form.title) }}
                </div>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        {% endif %} #}
    </div>