{% extends 'CommsyBundle:Base:room.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_dynamic_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-3-5">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{'TODO-RubricTitle'|trans({})|capitalize }}</div>
                        {# select #}
                        <div>
                            <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                <button class="uk-button uk-button-mini">{{ 'list sort'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="#">{{ 'title'|trans({},'rubric')}}</a></li>
                                        <li><a href="#">{{ 'modifier'|trans({},'rubric') }}</a></li>
                                        <li><a href="#">{{ 'modification_date'|trans({},'rubric') }}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <button class="uk-button uk-button-mini" data-uk-button data-commsy-select="{target:'.feed ul'}">
                                {{ 'list choice'|trans({},'rubric')|capitalize }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="feed">
                    {% block feed %}
                    {% endblock%}
                </div>
            </div>
        </div>
        <div class="uk-width-medium-2-5">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#list-filter', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'list filter'|trans({},"room")}}
                        </div>
                    </div>
                </div>
                <div id="list-filter"> 
                <div class="uk-margin-bottom">
                   {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            {{ render(controller(
                'CommsyBundle:Category:show',
                { 'roomId': roomId }
            ))}}
           {{ render(controller(
                'CommsyBundle:Hashtag:show',
                { 'roomId': roomId }
            ))}}
            </div>
             </div>
         </div>
    </div>
{% endblock %}