{% extends 'base/room.html.twig' %}

{% import 'item/macros.html.twig' as macrosItem %}
{% import 'announcement/macros.html.twig' as macrosAnnouncement %}
{% import 'utils/macros.html.twig' as macros %}

{% set item = announcement %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# announcement content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        {{ render(controller(
                            'App\\Controller\\ItemController::stepperAction',
                            { 'roomId': roomId, 'itemId': item.itemId }
                        ))}}

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">


                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                        {# new entry #}
                                        <li>
                                            {% if is_granted('ITEM_EDIT', 'NEW') %}
                                                <a href="{{ path('app_announcement_create', {'roomId': roomId}) }}" id="newEntry">
                                                    <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                                </a>
                                            {% else %}
                                                <span class="uk-text-muted">
                                                    <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                                </span>
                                            {% endif %}
                                        </li>

                                        {# print #}
                                        <li>
                                            <a href="{{ path('app_announcement_print', {'roomId': roomId, 'itemId': announcement.itemId}) }}" target="_blank" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# save #}
                                        <li>
                                            <a href="#" data-cs-action="{{ {
                                                'url': path('app_announcement_download', {'roomId': roomId}),
                                                'action': 'save',
                                                'itemId': announcement.itemId,
                                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                'mode': 'click',
                                            }|json_encode|e('html_attr') }}">
                                                <i class="uk-icon-justify uk-icon-small uk-icon-save uk-visible-large"></i> {{ 'save'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# copy #}
                                        <li>
                                            <a href="#" data-cs-action="{{ {
                                                'url': path('app_announcement_xhrcopy', {'roomId': roomId}),
                                                'action': 'copy',
                                                'itemId': announcement.itemId,
                                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                'mode': 'click',
                                                'successMessage': '<i class="uk-icon-medium uk-icon-copy"></i>' ~ 'Entry stored in clipboard|%count% entries stored in clipboard'|transchoice(1, {}, 'item')
                                            }|json_encode|e('html_attr') }}">
                                                <i class="uk-icon-small uk-icon-copy uk-icon-justify uk-visible-large"></i> {{ 'copy'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a href="{{ path('app_item_send', {'roomId': roomId, 'itemId': announcement.itemId}) }}">
                                                <i class="uk-icon-small uk-icon-send-o uk-icon-justify uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                                            </a>
                                        </li>

                                        {# delete #}
                                        <li>
                                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                <a  href="#" data-cs-action="{{ {
                                                    'url': path('app_announcement_xhrdelete', {'roomId': roomId}),
                                                    'action': 'delete',
                                                    'itemId': announcement.itemId,
                                                    'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                    'mode': 'click',
                                                    'itemType': announcement.itemType,
                                                    'title': 'list choice'|trans({},'rubric')|capitalize,
                                                    'confirmQuestion': 'confirm delete'|trans({},'rubric'),
                                                    'confirmCancel': 'confirm delete cancel'|trans({},'rubric'),
                                                    'confirmOk': 'confirm delete confirm'|trans({},'rubric'),
                                                    'returnUrl': path('app_announcement_list', {'roomId': roomId})
                                                }|json_encode|e('html_attr') }}">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </a>
                                            {% else %}
                                                <span class="uk-text-muted">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% if alert %}
                    {{ macros.showAlert(alert) }}
                {%  endif %}

                {% if pathTopicItem %}
                    {{ macros.showPath(pathTopicItem, announcement) }}
                {%  endif %}

                {# content #}
                <article class="uk-article uk-position-relative {% if draft %}cs-edit-draft{% endif %}" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosAnnouncement.title(announcement, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, ratingArray) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                        {{ macrosItem.itemDescription('description', announcement, true, announcement.description, draft) }}
                    </div>
            
                    {# files #}
                    <div id="files{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                        {{ macrosItem.files(announcement, draft) }}
                    </div>

                    {% if not draft %}
                        {# links #}
                        <div id="links{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editlinks', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                            {{ macrosItem.linksAssociations(announcement,showHashtags,showCategories,roomCategories, draft, showAssociations) }}
                        </div>
                        {% if (showCategories or showHashtags) %}
                            <div id="categoriesAndBuzzwords{{ announcement.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editcatsbuzz', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': announcement.contextId, 'itemId': announcement.itemId}) }}' }">
                                {{ macrosItem.links(announcement,showHashtags,showCategories,roomCategories, draft, buzzExpanded, catzExpanded) }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if draft %}
                        <div id="draft-buttons-wrapper">
                            <a id="draft-save-combine-link" href="" class="uk-button uk-button-primary">
                                {{ 'create entry'|trans({}, "form") }}
                            </a>
                            <a id="draft-cancel-link" href="" class="uk-button uk-button-secondary">
                                {{ 'cancel'|trans({}, "form") }}
                            </a>
                        </div>
                    {% endif %}
                </article>
            </div>
            
            {# annotations #}
            {% if item.itemType != 'discussion' %}
                <div class="uk-panel-teaser cs-panel-teaser-primary uk-margin-bottom-remove uk-margin-top">
                    <div class="uk-grid">
                        <div class="uk-width-3-5 uk-text-large ">
                            {{ 'annotations'|trans({})|capitalize }}
                        </div>
                    </div>
                </div>              
                
                <div id="annotations{{ announcement.itemId }}" class="uk-panel uk-panel-box uk-margin-bottom uk-panel-box-primary ">

                    {% if is_granted('ITEM_ANNOTATE', announcement.itemId) %}
                        <article class="uk-comment">
                            <header class="uk-comment-header uk-flex">
                                <div class="uk-margin-right uk-flex-item-none">
                                    {% if not user.isDeleted and user.isUser %}
                                        {{ macros.userIconLink(user) }}
                                    {% else %}
                                        {{ macros.userIcon(user) }}
                                    {% endif %}
                                </div>
                                <div class="uk-width-8-10">
                                    {{ form_start(annotationForm, {'action': path('app_annotation_create', {'roomId': app.request.attributes.get('roomId'), 'itemId': announcement.itemId}), 'method': 'POST'}) }}
                                        <p>
                                            {{ form_label(annotationForm.description) }}
                                        </p>
                                        {{ form_widget(annotationForm.description) }}
                                    {{ form_end(annotationForm) }}
                                </div>
                            </header>
                        </article>
                    {% endif %}

                    {{ render(controller(
                        'App\\Controller\\AnnotationController::feedAction',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}

                </div>

            {% endif %}
        </div>

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ announcement.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ announcement.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#files{{ announcement.itemId }}">{{ 'files'|trans({})}}</a></li>
                        <li><a href="#links{{ announcement.itemId }}">{{ 'links'|trans({})}}</a></li>
                        {% if (showCategories or showHashtags) %}
                            <li><a href="#categoriesAndBuzzwords{{ announcement.itemId }}">{{ 'categoriesAndBuzzwords'|trans({})}}</a></li>
                        {% endif %}
                        <li><a href="#annotations{{ announcement.itemId }}">{{ 'annotations'|trans({})|capitalize }} ({{ amountAnnotations }})</a></li>
                    </ul>
                </div>
            </div>

        </div>
      
    </div>
{% endblock %}

{# end #}
