<!DOCTYPE html>
{% import 'base/printmacro.html.twig' as macros %}

{% if announcement is defined %}
    {% set item = announcement %}
{% endif %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {{ macros.encore_absolute_link_tags('app_default') }}
        {% endblock %}

    </head>

    <body>

        {% block content %}
        <div >

            <div>

                {# announcement content panel #}
                <div class="uk-panel-box-primary">
                    {# content #}
                    <article>
                        {# title, etc. #}
                        <div>
                            {{ macros.title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating) }}
                        </div>
                
                        {# description #}
                        <div>
                            {{ macros.itemDescription('description', item, true, item.description) }}
                        </div>
                
                        {# files #}
                        <div>
                            {{ macros.files(item) }}
                        </div>
            
                        {# links #}
                        <div>
                            {{ macros.links(item,showHashtags,showCategories) }}
                        </div>
            
                        
                    </article>
                

                {# annotations #}
                {{ render(controller(
                    'App\\Controller\\AnnotationController::feedPrintAction',
                    { 'roomId': roomId, 'linkedItemId': item.itemId }
                ))}}


            </div>
        </div>
            


			        
		{% endblock %}
          
        
    </body>
</html>