{% extends 'layout.html.twig' %}

{#{% import 'utils/macros.html.twig' as macros %}#}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('main') }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}Neue Ankündigung erstellen{% endblock %}

        {% block body %}
            {{ form(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{#<div class="uk-padding-small">#}
{#    {% include 'utils/save_spinner.html.twig' %}#}

{#    {{ form_start(form) }}#}
{#    {{ form_errors(form) }}#}

{#        {{ form_row(form.title) }}#}
{#        {{ form_row(form.validdate) }}#}

{#        {% if form.permission is defined %}{{ form_row(form.permission) }}{% endif %}#}
{#        {% if form.hidden is defined %}{{ form_row(form.hidden) }}{% endif %}#}
{#        {% if form.hiddendate is defined %}{{ form_row(form.hiddendate) }}{% endif %}#}

{#        {% if isDraft and (showHashtags or showCategories) %}#}
{#            {{ macros.mandatoryLinks(showHashtags, showCategories, form) }}#}
{#        {% endif %}#}

{#        {{ form_row(form.save) }}#}
{#        {{ form_row(form.cancel) }}#}

{#    {{ form_end(form) }}#}
{#</div>#}
