{% import 'utils/macros.html.twig' as macros %}

{% for announcement in announcements %}
    {% set entryAllowedActions = '' %}
    {% if allowedActions[announcement.itemId] is defined %}
        {% set entryAllowedActions = allowedActions[announcement.itemId] %}
    {% endif %}
    <article class="uk-comment" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
    
        {# item change information #}
            {{ macros.statusColor(readerList, announcement.itemId) }}
 
        <header class="uk-comment-header uk-flex">
            <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                <form class="uk-form">
                    <input type="checkbox" value="{{ announcement.itemId }}">
                </form>
            </div>

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if not announcement.modificatorItem.isDeleted and announcement.modificatorItem.isUser %}
                    {{ macros.userIconLink(announcement.modificatorItem) }}
                {% else %}
                    {{ macros.userIcon(announcement.modificatorItem) }}
                {% endif %}
                <div class="uk-comment-meta">
                    <span class="uk-text-nowrap">
                        {% if announcement.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                            {{ 'today'|trans({})|capitalize }}, {{ announcement.modificationDate|date("H:i") }}
                        {% else %}
                            {% if '9999-00-00' not in announcement.modificationDate %}
                                {{ announcement.modificationDate|craue_date }}
                            {% else %}
                                {{ announcement.creationDate|craue_date }}
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            </div>

            {# title and meta #}
            <div class="uk-width-8-10">
                <h4 class="uk-comment-title">
                    {% if is_granted('ITEM_SEE', announcement.itemId) %}
                        <a href="{{ path('app_announcement_detail', {'roomId': roomId, 'itemId': announcement.itemId}) }}">{{ announcement.title|decodeHtmlEntity }}</a>
                    {% else %}
                        {{ 'Deactivated entry'|trans({}) }} {{ announcement.title|decodeHtmlEntity }}
                    {% endif %}
                </h4>

                <div class="uk-comment-meta">
                    {% if announcement.secondDateTime != '' %}
                        {% if "now"|date("U") <= announcement.getSecondDateTime|date("U") %}
                            <span class="uk-text-bold">
                        {% endif %}
                        
                        {{ 'valid until'|trans({})}}: {{ announcement.getSecondDateTime|craue_date }}
                        
                        {% if "now"|date("U") <= announcement.getSecondDateTime|date("U") %}
                            </span>
                        {% endif %}
                    {% else %}
                        {{ 'valid until'|trans({})}}: 
                    {% endif %}
                </div>
               
                <div class="uk-comment-meta">
                    {{ macros.fileListShort(announcement) }}
                </div>
            </div>
            {%if showRating %}
                <div class="uk-width-2-10 uk-text-right">
                {%if showRating%}
                    {{ macros.ratingStatus(announcement, ratingList) }}
                {% endif %}
            </div>
            {% endif %}
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
