{% extends 'base/list.html.twig' %}

{% form_theme form 'form/uikit3/uikit_layout.html.twig' %}

{% block content %}
    {% embed 'components/feed_card.twig' %}
        {% block feedTitle %}
            {{ 'Announcement'|transchoice(1, {}, "rubric") }}

                <div id="commsy-list-count-display" style="display:inline;">
                    ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})
                </div>
                <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">
                    (<span id="commsy-list-count-all">{{itemsCountArray.count}}</span> {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}}, <span id="commsy-list-count-selected">0</span> {{ 'selected'|trans({},'messages')}})
                </div>
        {% endblock %}

        {% block feed %}
            <ul id="announcements-feed" class="uk-comment-list" data-uk-observe>
                {{ render(controller(
                    'App\\Controller\\AnnouncementController::feed', {
                        'roomId': roomId,
                        'announcementFilter': app.request.query.get('announcement_filter')
                    }
                )) }}
            </ul>

            <div class="feed-load-more" uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 0}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/announcement/feed/", "target": "#announcements-feed"}' uk-spinner>
            </div>
        {% endblock%}

        {% block sortbox %}
            {# sort dropdown #}
            {% embed 'components/dropdown.twig' %}
                {% import 'utils/macros.html.twig' as utilsMacros %}

                {% block title %}
                    {{ 'list sort'|trans({},'rubric')|capitalize }}
                {% endblock %}

                {% block content %}
                    {# sorting options #}
                    {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', '') }}
                    {{ utilsMacros.sortActor('modificator', 'modifier', 'rubric', 'modificator', 'modificator_rev', '') }}
                    {{ utilsMacros.sortActor('date', 'modification_date', 'rubric', 'date_rev', 'date', 'desc') }}

                    {% if showRating %}
                        {{ utilsMacros.sortActor('assessment', 'rating', 'rubric', 'assessment', 'assessment_rev', '') }}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endblock %}

        {% block editbox %}
            {# sort dropdown #}
            {% embed 'components/dropdown.twig' %}
                {% import 'utils/macros.html.twig' as utilsMacros %}

                {% block title %}
                    {{ 'selected entries'|trans({},'rubric')|capitalize }}
                {% endblock %}

                {% block content %}
                    <li>
                        {% if is_granted('ITEM_EDIT', 'NEW') %}
                            <a href="{{ path('app_announcement_create', {'roomId': roomId}) }}">
                                <span uk-icon="plus-circle"></span> {{ 'new'|trans({}) }}
                            </a>
                        {% else %}
                            <span class="uk-text-muted">
                                <span uk-icon="plus-circle"></span> {{ 'new'|trans({}) }}
                            </span>
                        {% endif %}
                    </li>

                    {# print #}
                    <li>
                        <a href="{{ path('app_announcement_printlist', {'roomId': roomId,'announcement_filter':app.request.query.get('announcement_filter')}) }}" target="_blank" id="print">
                            <span uk-icon="print"></span> {{ 'print'|trans({})|capitalize }}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_announcement_xhrmarkread', {'roomId': roomId}),
                            'action': 'markread',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({},'item')
                        }|json_encode|e('html_attr') }}">
                            <span uk-icon="check"></span> {{ 'mark read'|trans({},'rubric')|capitalize }}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_announcement_xhrcopy', {'roomId': roomId}),
                            'action': 'copy',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({},'item')
                        }|json_encode|e('html_attr') }}">
                            <span uk-icon="copy"></span> {{ 'copy'|trans({},'rubric')|capitalize }}
                        </a>
                    </li>

                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_announcement_download', {'roomId': roomId}),
                            'action': 'save',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({},'item')
                        }|json_encode|e('html_attr') }}">
                            <span uk-icon="download"></span> {{ 'save'|trans({},'rubric')|capitalize }}
                        </a>
                    </li>

                    <li>
                        {% if (user.isUser and not user.isReadOnlyUser) and not isArchived %}
                            <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                                'url': path('app_announcement_xhrdelete', {'roomId': roomId}),
                                'action': 'delete',
                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                'mode': 'selection',
                                'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                                'confirmQuestion': 'confirm delete'|trans({}, 'rubric'),
                                'confirmCancel': 'confirm delete cancel'|trans({}, 'rubric'),
                                'confirmOk': 'confirm delete confirm'|trans({}, 'rubric'),
                                'returnUrl': path('app_announcement_list', {'roomId': roomId})
                            }|json_encode|e('html_attr') }}">
                                <span uk-icon="trash"></span> {{ 'delete'|trans({},'rubric')|capitalize }}
                            </a>
                        {% else %}
                            <span class="uk-text-muted">
                                <span uk-icon="trash"></span> {{ 'delete'|trans({},'rubric')|capitalize }}
                            </span>
                        {% endif %}
                    </li>
                {% endblock %}
            {% endembed %}
        {% endblock%}

    {% endembed %}
{% endblock %}