{% use "form_div_layout.html.twig" %}

{# Widgets #}

{%- block form_widget_compound -%}
    <fieldset>
        {{- parent() -}}
    </fieldset>
{%- endblock form_widget_compound -%}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-button')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block file_widget -%}
    {% if image_url is defined and image_url is not null %}
        <img src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/image"/>
    {% endif %}

    <div class="upload uk-placeholder">
        <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>
        {{ 'Attach files by dropping them here or'|trans({}, 'form') }}
        <a class="uk-form-file">{{ 'selecting one'|trans({}, 'form') }}{{ block('form_widget') }}</a>.
    </div>

    <div class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">...</div>
    </div>
{%- endblock %}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' uk-form-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{# Rows #}

{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{%- endblock form_row -%}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row -%}

{# Misc #}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}