{% extends "CommsyBundle:form:uikit_layout.html.twig" %}

{% macro nestedEditList(choices, level) %}
    {% import _self as nestedMacro %}
    {% set opened = false %}

    {% for child in choices %}
        {% if child.choices is defined %}
            <ul>
                {{ nestedMacro.nestedEditList(child.choices, level+1) }}
            </ul>
        {% else %}
            {% if not loop.first %}
                </li>
            {% endif %}

            <li class="uk-nestable-item" id="category_{{ child.value }}" data-id='{{ child.data }}'>
                <div class="uk-nestable-panel uk-clearfix">
                    <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                    <div class="uk-nestable-toggle" data-nestable-action="toggle">
                    </div>
                    {{ child.label -}}
                    <a class="uk-button uk-button-mini uk-button-primary uk-float-right uk-margin-left" href="{{ path('commsy_category_edit', {
                        roomId: app.request.attributes.get('roomId'),
                        categoryId: child.data
                    }) }}">
                        {{- 'Edit'|trans({}, 'form') -}}
                    </a>
                    <button class="category_delete uk-button uk-button-mini uk-button-danger uk-float-right" data-id='{{ child.data }}'>
                        {{- 'Delete'|trans({}, 'form') -}}
                    </button>
                </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{# Widgets #}

{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-controls uk-form-controls-text')|trim}) %}

    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        <br>
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block button_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock button_widget -%}

{%- block checkbox_widget -%}
    {# <div class="uk-form-controls"> #}
        {{- parent() -}}
    {# </div> #}
{%- endblock checkbox_widget -%}

{% block form_widget_simple %}
    {% if label is not empty -%}
        <div class="uk-form-controls">
    {%- endif -%}

        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% if label is not empty -%}
        </div>
    {%- endif -%}
{% endblock form_widget_simple %}

{% block file_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock %}

{%- block textarea_widget -%}
    <div class="uk-form-controls">
        {{- parent() -}}
    </div>
{%- endblock textarea_widget -%}

{# Labels #}

{%- block checkbox_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock checkbox_label -%}

{# Rows #}

{%- block form_row -%}
    {% spaceless %}
        <div class="uk-form-row">
            {{- parent() -}}
        </div>
    {% endspaceless %}
{%- endblock form_row -%}

{%- block button_row -%}
    <div class="uk-form-row">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{# Misc #}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' uk-form-horizontal')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}

{% block _category_edit_category_widget %}
    {% import _self as macros %}

    <div class="uk-hidden">
        {% if form.children is not empty %}
            {% for child in form.children %}
                <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
            {% endfor %}
        {% endif %}
    </div>

    {% if form.children is not empty %}
        <ul id="categoryEditList" class="uk-nestable" data-uk-nestable>
            {{ macros.nestedEditList(form.vars.choices, 0) }}
            </li>
        </ul>
    {% else %}
        {{ 'No categories has been created yet.'|trans({}, 'category') }}
    {% endif %}

{% endblock %}

{% block _license_sort_license_widget %}
    {% import _self as macros %}

    <div class="uk-hidden">
        {% if form.children is not empty %}
            {% for child in form.children %}
                <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
            {% endfor %}
        {% endif %}
    </div>

    {% if form.children is not empty %}
        <ul id="licenseSortList" class="uk-nestable" data-uk-nestable="{maxDepth:1}">
            {% for child in form.vars.choices %}
                <li class="uk-nestable-item" id="license_{{ child.value }}" data-id='{{ child.data.id }}'>
                    <div class="uk-nestable-panel uk-clearfix">
                        <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                        <div class="uk-nestable-toggle" data-nestable-action="toggle">
                        </div>
                        {{ child.label -}}
                        <a class="uk-button uk-button-mini uk-button-primary uk-float-right uk-margin-left" href="{{ path('commsy_portal_licenses', {
                            roomId: app.request.attributes.get('roomId'),
                            licenseId: child.data.id
                        }) }}">
                            {{- 'Edit'|trans({}, 'form') -}}
                        </a>
                        <button class="license_delete uk-button uk-button-mini uk-button-danger uk-float-right" data-id='{{ child.data.id }}'>
                            {{- 'Delete'|trans({}, 'form') -}}
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'No categories has been created yet.'|trans({}, 'category') }}
    {% endif %}

{% endblock %}

{% block _additional_settings_template_status_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}


