{% extends "CommsyBundle:Form:uikit_horizontal_layout.html.twig" %}

{% macro nestedList(choices, level) %}
    {% set opened = false %}

    {% for child in choices %}
        {% if child.choices is defined %}
            <ul>
                {{ _self.nestedList(child.choices, level+1) }}
            </ul>
        {% else %}
            {% if not loop.first %}
                </li>
            {% endif %}

            <li id="tag_{{ child.value }}" data-jstree='{"opened": {{ opened }}}'>
            {{ child.label }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{# Widgets #}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' cs-form-horizontal-full-width')|trim}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{% block hashtag_widget %}
    <div id="room-hashtags" class="uk-margin-bottom">

        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'hashtags'|trans({}, "room") }}
                
                {% if is_granted('HASHTAG_EDIT') %}
                    <a href="{{ path('commsy_hashtag_edit', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-edit"></i></a>
                {% endif %}
            </span>
        </h4>

        {% if form is not empty %}
            {% for child in form %}
                <input class="uk-hidden" type="radio" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" onchange="this.form.submit()" {% if child.vars.checked %} checked="checked"{% endif %} />

                <span>
                    <span class="uk-button uk-margin-small-bottom uk-margin-small-right{% if child.vars.checked %} uk-button-primary{% endif %}" onclick="$(this).parent().prev().prop('checked', !$(this).parent().prev().prop('checked')); $(this).parents('form').submit(); return false;">{{ child.vars.label }}</span>
                </span>
            {% endfor %}
        {% else %}
            {{ 'no hashtags'|trans({}, 'room') }}
        {% endif %}
    </div>
{% endblock %}

{% block category_widget %}
    {% import _self as macros %}

    <div id="room-category">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'categories'|trans({}, "room") }} 

                {% if is_granted('CATEGORY_EDIT') %}
                    <a href="{{ path('commsy_category_edit', {'roomId': app.request.attributes.get('roomId') }) }}"><i class="uk-icon-edit"></i></a>
                {% endif %}
            </span>
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="room-categories" data-cs-tree>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No Categories'|trans({}, 'category') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block participant_widget %}
    {% import _self as macros %}

    <div id="room-category">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
                {{ 'participants'|trans({}, "date") }} 
            </span>
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="participants" data-cs-tree>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No Participants'|trans({}, 'category') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block calendar_widget %}
    {% import _self as macros %}

    <div id="room-category">
        <hr class="cs-list-divider"/>
        <h4 class="cs-list-section-header">
            <span class="cs-detail-section-header-background">
            {{ 'calendars'|trans({}, "date") }}
            </span>
        </h4>

        <div class="uk-hidden">
            {% if form.children is not empty %}
                {% for child in form.children %}
                    <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
                {% endfor %}
            {% endif %}
        </div>

        <div id="participants" data-cs-tree>
            {% if form.vars is not empty %}
                <ul class="uk-list uk-list-striped">
                    {{ macros.nestedList(form.vars.choices, 0) }}
                    </li>
                </ul>
            {% else %}
                {{ 'No calendars'|trans({}, 'category') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{# Misc #}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' cs-form-horizontal-dynamic')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}