{% extends 'base/settings.html.twig' %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div>{{ 'Appearance configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <!-- Events -->
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Configure events'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Configure events text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.dates_status) }}
                        </div>

                        <!-- Theme -->
                        {% if form.theme is defined %}
                            <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                                <h1 class='uk-panel-title'>{{ 'Configure color theme'|trans({}, 'settings') }}</h1>
                                <div style="margin-bottom: 25px;">{{ 'Configure color theme text'|trans({}, 'settings') }}</div>
                                {{ form_row(form.theme) }}
                            </div>
                        {% else %}
                            <div id="appearance_settings_theme" style="display:none;">
                                {{ pre_definition }}
                            </div>

                        {% endif %}

                        <!-- Room image -->
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Room image'|trans({}, 'settings') }}</h1>
                            <div class="uk-margin-small-bottom">{{ 'Room image text'|trans({}, 'settings') }}</div>
                            <div style="margin-bottom: 25px;"><em>{{ 'tip'| trans({}, 'messages') }}:</em> {{ 'Room image tip'|trans({}, 'settings') }}</div>

                            {{ form_widget(form.room_image.choice) }}

                            <div id="bgPreview" class="uk-form-controls uk-cover-background uk-position-relative uk-hidden">
                                {% if bgImageFilepathCustom is not empty %}
                                    {# <img id="customBackgroundImage" style="display: none; width: 100%; height: 180px;" src="{{bgImageFilepathCustom}}" /> #}
                                    <img id="customBackgroundImage" style="display: none; width: 856px; height: 180px;" src="{{bgImageFilepathCustom}}" />
                                {% else %}
                                    {# <img id="customBackgroundImage" style="display: none; width: 100%; height: 180px;" src="" /> #}
                                    <img id="customBackgroundImage" style="display: none; width: 856px; height: 180px;" src="" />
                                {% endif %}

                                {% if bgImageFilepathTheme is not empty %}
                                    {# <img id="themeBackgroundImage" style="width: 100%; height: 180px;" src="{{bgImageFilepathTheme}}" /> #}
                                    <img id="themeBackgroundImage" style="width: 856px; height: 180px;" src="{{bgImageFilepathTheme}}" />
                                {% else %}
                                    {# <img id="themeBackgroundImage" style="width: 100%; height: 180px;" src="" /> #}
                                    <img id="themeBackgroundImage" style="width: 856px; height: 180px;" src="" />
                                {% endif %}

                                {# <div class="uk-position-cover" style="opacity: 0.7;"> #}
                                <div class="uk-position-cover" style="width: 856px; opacity: 0.7;">
                                    {{ form_widget(form.room_image.room_image_upload) }}
                                </div>

                                <!-- for debugging -->
                                <ul id="imageInfo"></ul>
                            </div>

                            <script>
                                var uploads = document.getElementsByClassName('upload');
                                if(uploads.length){
                                    uploads[0].className = uploads[0].className.replace(/\bupload\b/,'');
                                }
                            </script>
                            {# {{ form_row(form.room_image.repeat_x) }} #}
                            {# {{ form_row(form.room_image.scroll_image) }} #}
                            {# {{ form_row(form.room_image.delete_custom_image) }} #}
                            {{ form_row(form.room_image.room_image_data) }}
                        </div>

                        <!-- Room logo -->
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Room logo'|trans({}, 'settings') }}</h1>
                            <div class="uk-margin-small-bottom">{{ 'Room logo text'|trans({}, 'settings') }}</div>
                            <div style="margin-bottom: 25px;"><em>{{ 'tip'|trans({}, 'messages')}}:</em> {{ 'Room logo tip'|trans({}, 'settings') }}</div>
                            {{ form_row(form.room_logo.activate) }}
                            <div id="logo_preview" class="uk-form-controls uk-cover-background uk-position-relative uk-hidden">
                                {% if logoImageFilepath is not empty %}
                                    <img id="logoImage" style="width: 200px; height: 200px;" src="{{logoImageFilepath}}" />
                                {% else %}
                                    <img id="logoImage" style="width: 200px; height: 200px;" src="" />
                                {% endif %}
                                <div class="uk-position-cover" style="width: 200px; height: 200px; opacity: 0.7;">
                                    {{ form_widget(form.room_logo.room_logo_upload) }}
                                </div>
                            </div>
                            {{ form_widget(form.room_logo.room_logo_data) }}
                        </div>
                    {{ form_end(form) }}
                </div>
                
            </div>
        </div>
        
{#         <div class="uk-width-medium-1-4">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>
                <div>
                    {{ 'Useful information'|trans({}, 'settings') }}
                </div>
            </div>
        </div> #}

    </div>
    <script>
    window.onload = function(){

        var spinner = document.createElement("i");
        spinner.className = "uk-icon-refresh uk-icon-spin uk-icon-medium uk-margin-small-left";
        spinner.style = "display: none;";

        let positionCovers = document.getElementsByClassName('uk-position-cover');
        for(var i = 0; i < positionCovers.length; i++) {
            let coverFormControls = positionCovers[i].getElementsByClassName('uk-form-controls')[0];
            coverFormControls.style.marginLeft = "0px";
        }
        var themeSelect = document.getElementById("appearance_settings_theme");
        themeSelect.parentElement.appendChild(spinner);

        // let deleteRow = document.getElementById('appearance_settings_room_image_delete_custom_image').parentElement.parentElement;
        // let repeatRow = document.getElementById('appearance_settings_room_image_repeat_x').parentElement.parentElement;
        // let scrollRow = document.getElementById('appearance_settings_room_image_scroll_image').parentElement.parentElement;

        // deleteRow.className += " uk-form-controls";
        // repeatRow.className += " uk-form-controls";
        // scrollRow.className += " uk-form-controls";

        document.getElementById('logo_preview').classList.remove('uk-hidden');
        document.getElementById('bgPreview').classList.remove('uk-hidden');

        document.getElementById('appearance_settings_room_image_choice').onchange = function(event){
            // toggleUploadListener(this, deleteRow, scrollRow, repeatRow);
            // toggleUploadListener(this, deleteRow, repeatRow);
            toggleUploadListener(this);
        }

        document.getElementById('appearance_settings_room_logo_activate').onchange = function(event) {
            toggleLogoUploadListener(this.checked);
        }

        themeSelect.onchange = function(event) {
            let selectedOption = this.options[this.selectedIndex];
            let themeBackgroundImage = document.getElementById("themeBackgroundImage");
            themeBackgroundImage.src = this.getAttribute('data-themeurl').replace("THEME", selectedOption.value);
            themeSelect.disabled = true;
            spinner.style = "display: inline-block;";
            themeBackgroundImage.onload = function(loadEvent) {
                themeSelect.disabled = false;
                spinner.style = "display: none;";
            }
            themeBackgroundImage.onerror = function(errorEvent) {
                themeSelect.disabled = false;
                spinner.style = "display: none;";
                alert("Unable to load background image for theme '" + selectedOption.textContent + "'. Please select a different theme!");
            }
        }

        document.querySelector('form.uk-form-horizontal').onsubmit = function(event){
            this.querySelector('input[type="file"]').disabled = true;
        }

        // toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'), deleteRow, scrollRow, repeatRow);
        // toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'), deleteRow, repeatRow);
        toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'));
        toggleLogoUploadListener(document.getElementById('appearance_settings_room_logo_activate').checked);

    };

    function setImageData(f, previewImage, dataElementId){
        // TODO: set threshold to sensible value (e.g. the real upload size limit of the server)!
        if(f.size > 2000000){
            alert("File size too large ("+(f.size / 1000) +" KB)! \n This service accepts image files up to 500 KB only!");
            return false;
        }
        else if(f.type.substring(0, 5) != 'image'){
            alert("'"+f.type+"' is not a valid image type!");
            return false;
        }
        let reader = new FileReader();
        reader.onload = function(event) {
            previewImage.src = event.target.result;
            document.getElementById(dataElementId).value = f.name + ";" + event.target.result;
        }
        reader.readAsDataURL(f);
    }

    function toggleLogoUploadListener(activateUpload) {
        let logoPreview = document.getElementById("logo_preview");

        logoPreview.querySelector('input[type="file"]').disabled = !activateUpload;
        logoPreview.style.display = activateUpload ? 'block' : 'none';

        if (activateUpload) {
            logoPreview.onmouseover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };

            logoPreview.onmouseleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };

            logoPreview.ondragover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };

            logoPreview.ondragleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };

            logoPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            logoPreview.ondrop = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                setImageData(e.dataTransfer.files[0], logoPreview.querySelector('img'), 'appearance_settings_room_logo_room_logo_data');
            };

            logoPreview.querySelector('input[type="file"]').onchange = function(e){
                setImageData(e.target.files[0], logoPreview.querySelector('img'), 'appearance_settings_room_logo_room_logo_data');
            };
        }
        else {
            logoPreview.onmouseover = function(e){
                e.preventDefault();
                return false;
            };

            logoPreview.onmouseleave = function(e){
                e.preventDefault();
                return false;
            };

            logoPreview.ondragover = function(e){
                e.preventDefault();
                return false;
            };
            logoPreview.ondragleave = function(e){
                e.preventDefault();
                return false;
            };
            logoPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            logoPreview.ondrop = function(e){
                e.preventDefault();
                return false;
            };
            logoPreview.querySelector('input[type="file"]').onchange = function(e){
                e.preventDefault();
                return false;
            };
        }
    }

    // function toggleUploadListener(containerElement, deleteRow, scrollRow, repeatRow){
    // function toggleUploadListener(containerElement, deleteRow, repeatRow){
    function toggleUploadListener(containerElement){

        let bgPreview = document.getElementById("bgPreview");

        let themeBg = document.getElementById("themeBackgroundImage");
        let customBg = document.getElementById("customBackgroundImage");

        let imageType = containerElement.querySelector('input:checked').value;

        // TODO: dynamically load bg preview depending on choice (custom image / default theme image)
        if(imageType === 'default_image'){
            document.getElementsByClassName("cs-upload-form")[0].style.display = 'none';
            // repeatRow.style.display = 'block';
            // deleteRow.style.display = 'none';
            // scrollRow.style.display = 'none';

            themeBg.style.display = 'inline';
            customBg.style.display = 'none';

            bgPreview.onmouseover = function(e){
                e.preventDefault();
                return false;
            };

            bgPreview.onmouseleave = function(e){
                e.preventDefault();
                return false;
            };

            bgPreview.ondragover = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondragleave = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondrop = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.querySelector('input[type="file"]').onchange = function(e){
                e.preventDefault();
                return false;
            };
        }
        else if(imageType === 'custom_image'){
            document.getElementsByClassName("cs-upload-form")[0].style.display = 'block';
            // repeatRow.style.display = 'none';
            // deleteRow.style.display = 'block';
            // scrollRow.style.display = 'block';

            themeBg.style.display = 'none';
            customBg.style.display = 'inline';

            bgPreview.onmouseover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };

            bgPreview.onmouseleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };

            bgPreview.ondragover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };
            bgPreview.ondragleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };
            bgPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondrop = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                setImageData(e.dataTransfer.files[0], bgPreview.querySelector('img'), 'appearance_settings_room_image_room_image_data');
            };

            bgPreview.querySelector('input[type="file"]').onchange = function(e){
                setImageData(e.target.files[0], bgPreview.querySelector('img'), 'appearance_settings_room_image_room_image_data');
            };
        }
    }
    </script>
{% endblock content %}
