{% extends 'base/settings.html.twig' %}
{% import "utils/macros.html.twig" as utilsMacros %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-card uk-card-default">
                <div class="uk-panel-teaser cs-panel-teaser-danger">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div>{{ 'Delete room'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div class="uk-alert uk-alert-danger">
                    <p class="uk-text-uppercase uk-text-bold">
                        {{ 'Delete intro'|trans({}, 'settings') }}
                    </p>

                    {% if relatedGroupRooms is not empty %}
                        <div class="uk-margin">
                            {{ 'Deletion of grouprooms'|trans({}, 'settings') }}:

                            <ul>
                                {% for relatedGroupRoom in relatedGroupRooms %}
                                    <li>{{ relatedGroupRoom.title }} ({{ utilsMacros.userListToString(relatedGroupRoom.moderatorList) }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="uk-margin">
                        {{ 'Delete explanation start'|trans({}, 'settings') }}
                        <span class="uk-text-uppercase uk-text-bold">{{ 'delete'|trans({}, 'profile') }}</span>
                        {{ 'Delete explanation end'|trans({}, 'settings') }}
                    </div>
                    <div class="uk-margin">
                        {{ form_start(form) }}

                        <div class="uk-form-row">
                            {{ form_errors(form.confirm) }}
                            {{ form_label(form.confirm) }}
                            {{ form_widget(form.confirm) }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_widget(form.delete) }}
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}