{% extends 'base/settings.html.twig' %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Extensions configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Assessment'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Assessment text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.assessment) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Workflow'|trans({}, 'settings') }}</h1> 
                            <div style="margin-bottom: 25px;">{{ 'Workflow text'|trans({}, 'settings') }}</div>

                            {{ form_row(form.workflow.resubmission) }}
                            {{ form_row(form.workflow.validity) }}
                            {{ form_row(form.workflow.traffic_light.status_view) }}

                            <div class='uk-form-row'>
                                {{ form_label(form.workflow.traffic_light.default_status) }}
                                <div class='uk-form-controls'>
                                    <span style='width: 205px; display: inline-block;'>
                                        <label for='extension_settings_workflow_traffic_light_default_status_0'>
                                            <i class="uk-icon-small uk-icon-circle uk-text-success"></i>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                        </label>
                                        {{ form_widget(form.workflow.traffic_light.default_status.0) }}
                                    </span>

                                    <span style='width: 205px; display: inline-block;'>
                                        <label for='extension_settings_workflow_traffic_light_default_status_1'>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                            <i class="uk-icon-small uk-icon-circle uk-text-warning"></i>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                        </label>
                                        {{ form_widget(form.workflow.traffic_light.default_status.1) }}
                                    </span>

                                    <span style='width: 205px; display: inline-block;'>
                                        <label for='extension_settings_workflow_traffic_light_default_status_2'>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                            <i class="uk-icon-small uk-icon-circle-o"></i>
                                            <i class="uk-icon-small uk-icon-circle uk-text-danger"></i>
                                        </label>
                                        {{ form_widget(form.workflow.traffic_light.default_status.2) }}
                                    </span>
                                    <label for='extension_settings_workflow_traffic_light_default_status_3'>
                                        {{ 'No default status' | trans({}, 'settings') }}
                                    </label>
                                    {{ form_widget(form.workflow.traffic_light.default_status.3) }}
                                </div>
                            </div>

                            <div class='uk-form-row'>
                                <div class='uk-form-label'>{{ 'Status description' | trans({} , 'settings') }}</div>
                                <div class='uk-form-controls'>
                                    <span style='width: 205px; display: inline-block;'>
                                        <i class="uk-icon-small uk-icon-circle uk-text-success"></i>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        {{ form_widget(form.workflow.traffic_light.green_text) }}
                                    </span>

                                    <span style='width: 205px; display: inline-block;'>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        <i class="uk-icon-small uk-icon-circle uk-text-warning"></i>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        {{ form_widget(form.workflow.traffic_light.yellow_text) }}
                                    </span>

                                    <span style='width: 205px; display: inline-block;'>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        <i class="uk-icon-small uk-icon-circle-o"></i>
                                        <i class="uk-icon-small uk-icon-circle uk-text-danger"></i>
                                        {{ form_widget(form.workflow.traffic_light.red_text) }}
                                    </span>
                                </div>
                            </div>

                            <div class='uk-form-row'>
                                <div class='uk-form-label'>{{ 'Reader view' | trans({} , 'settings') }}</div>
                                <div class='uk-form-controls'>
                                    {{ form_row(form.workflow.reader) }}
                                    {{ form_row(form.workflow.reader_group) }}
                                    {{ form_row(form.workflow.reader_person) }}

                                    {{ form_widget(form.workflow.resubmission_show_to.0) }}{{ form_label(form.workflow.resubmission_show_to.0) }}
                                    <br/>
                                    {{ form_widget(form.workflow.resubmission_show_to.1) }}{{ form_label(form.workflow.resubmission_show_to.1) }}
                                </div>
                            </div>
                        </div>

                        {% if form.wikiEnabled is defined %}
                            <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                                <h1 class='uk-panel-title'>{{ 'wiki'|trans({}, 'settings') }}</h1>
                                <div style="margin-bottom: 25px;">{{ 'wiki text'|trans({}, 'settings') }}</div>
                                {{ form_row(form.wikiEnabled) }}
                            </div>
                        {% endif %}

                    {% if form.bilateral is defined %}
                    <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                        <h1 class='uk-panel-title'>{{ 'Bilateral heading'|trans({}, 'settings') }}</h1>
                        {{ form_row(form.bilateral) }}
                    </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}