{% extends 'base/settings.html.twig' %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'General Configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Basic settings'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Basic settings text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.title) }}

                            <div style="margin-top: 10px;">
                                {{ 'Room language tip'|trans({}, 'settings') }}
                            </div>
                            {{ form_row(form.language) }}

                            <div class="uk-form-row">
                                {{ form_label(form.access_check) }}
                                <div class="uk-form-controls">
                                    <select id="general_settings_access_check" name="general_settings[access_check]">
                                        {% for key,val in form.access_check.vars.choices %}
                                            {% if form.access_check.vars.value == val.value %}
                                                <option value="{{val.value}}" selected>{{val.label|trans({}, 'settings')}}</option>
                                            {% else %}
                                                <option value="{{val.value}}">{{val.label|trans({}, 'settings')}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <input id="general_settings_access_code" name="general_settings[access_code]" style="display: none;" type="text" class="uk-margin-left" value="{{form.access_code.vars.value}}">
                                </div>
                            </div>
                            {% if form.assignment_restricted is defined %}
                                {{ form_row(form.assignment_restricted) }}
                            {% endif %}
                            {% if form.community_rooms is defined %}
                                {{ form_row(form.community_rooms) }}
                            {% endif %}
                            {% if form.categories is defined %}
                                {{ form_row(form.categories) }}
                            {% endif %}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Rubric selection'|trans({}, 'settings') }}</h1>
                            <div class="uk-margin-small-bottom">{{ 'Rubric selection text'|trans({}, 'settings') }}</div>
                            <div style="margin-bottom: 25px;">
                                <em class="uk-text-bold">{{ 'note'| trans({}, 'messages') }}</em> {{ 'Rubric selection tip'|trans({}, 'settings')|raw }}
                            </div>
                            {{ form_label(form.rubrics) }}
                            <fieldset>
                                <div id ="general_settings_rubrics" class="uk-sortable" data-uk-sortable="">
                                    {% for rubric in form.rubrics %}
                                        <div class="uk-form-row">
                                            <label class="uk-form-label" style="cursor: move;">
                                                <i class="uk-sortable-handle uk-icon uk-icon-bars uk-margin-right"></i>{{ rubric.vars.name|capitalize|transchoice(1, {}, 'rubric') }}
                                            </label>
                                            {{ form_widget(rubric) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Room description'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Room description text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.room_description) }}
                        </div>

                        {% if form.time_pulses is defined %}
                            <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                                <h1 class='uk-panel-title'>{{ 'Time context'|trans({}, 'settings') }}</h1>
                                <div style="margin-bottom: 25px;">{{ 'Time context description'|trans({}, 'settings') }}</div>
                                {{ form_row(form.time_pulses) }}
                            </div>
                        {% endif %}

                        {% if form.open_for_guest is defined or form.material_open_for_guest is defined %}
                            <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                                <h1 class='uk-panel-title'>{{ 'Guest Access'|trans({}, 'settings') }}</h1>
                                {% if form.open_for_guest is defined %}
                                    {{ form_row(form.open_for_guest) }}
                                {% endif %}
                                {% if form.material_open_for_guest is defined %}
                                    {{ form_row(form.material_open_for_guest) }}
                                {% endif %}
                            </div>
                        {% endif %}
                        {{ form_row(form.rubricOrder) }}
                        {{ form_row(form._token) }}
                        {{ form_row(form.save) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var regExp = /\[([^\]]+)\]$/;
        function setRubricOrder(){
            var $rubrics = $("#general_settings_rubrics").find("select").map(function(){
                var rubricsName = regExp.exec($(this).attr("name"));
                if(rubricsName){
                    return rubricsName[1];
                }
            }).get();
            $("#general_settings_rubricOrder").val($rubrics);
        }
        function toggleAccessCode() {
            if($("#general_settings_access_check").val() == "withcode") {
                $("#general_settings_access_code").show();
            }
            else {
                $("#general_settings_access_code").hide();
            }
        }
        window.onload = function() {
            setRubricOrder();
            toggleAccessCode();
        };
        $("#general_settings_rubrics").on('change.uk.sortable', setRubricOrder);
        $("#general_settings_access_check").change(toggleAccessCode);
    </script>
{% endblock %}
