{% extends 'CommsyBundle:base:room.html.twig' %}

{% import 'CommsyBundle:utils:macros.html.twig' as macros %}

{% form_theme form 'CommsyBundle:form:uikit_horizontal_dynamic_layout.html.twig' %}

{% block cover %}
    <div id="cover" class="uk-cover-background uk-position-relative cs-cover-background" aria-hidden="false">
        {% if bgImageFilepath is not empty %}
            <img id="room_image" src="{{ bgImageFilepath }}">
        {% endif %}
        {% if bgImageFilepath is not empty and countAnnouncements > 0 %}
            <div class="uk-position-cover uk-grid cs-cover-grid" style="padding-bottom: 0px;">
        {% else %}
            <div class="uk-position-cover uk-grid cs-cover-grid">
        {% endif %}
            {# home information text #}
            <div class="uk-width-medium-2-3 cs-cover-height uk-margin-bottom">
                {% if roomItem.withInformationBox %}
                    <div class="uk-panel uk-panel-box cs-cover-grid-opacity " data-uk-parallax="{opacity: '0.5'}">
                        <div>
                            {{ homeInformationEntry.description|commsyMarkup|raw }}
                        </div>
                        <div class="uk-margin-top uk-align-right">
                        {% set pathName = 'commsy_' ~ homeInformationEntry.type ~ '_detail' %}
                        <a href="{{ path(pathName, {'roomId': roomItem.itemId, 'itemId': homeInformationEntry.itemId}) }}">{{ 'link to entry'|trans({}, "room") }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {# logo and announcements #}
            <div class="uk-width-medium-1-3 uk-margin-bottom uk-display-inline cs-cover-height">
                {% if logoImageFilepath is not empty %}
                    <div id="room-logo-wrapper" style="height: 50%;">
                        <img src="{{ logoImageFilepath }}">
                    </div>
                    {% if countAnnouncements > 0 %}
                        <div class="uk-panel uk-panel-box cs-cover-grid-opacity" data-uk-parallax="{opacity: '0.5'}" style="padding-bottom: 0px; padding-top: 0px;">
                            <ul id="announcements-feed" class="uk-comment-list" data-uk-observe>
                                {{ render(controller(
                                    'CommsyBundle:Announcement:shortfeed',
                                    { 'roomId': roomItem.itemId }
                                ))}}
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    {% if countAnnouncements > 0 %}
                        <div class="uk-panel uk-panel-box cs-cover-grid-opacity" data-uk-parallax="{opacity: '0.5'}">
                            <ul id="announcements-feed" class="uk-comment-list" data-uk-observe>
                                {{ render(controller(
                                    'CommsyBundle:Announcement:shortfeed',
                                    { 'roomId': roomItem.itemId }
                                ))}}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}

            {# usage notes #}
            {% if roomItem.usageInfoTextForRubric('home') is not empty %}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-notice'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {% if roomItem.getUsageInfoHeaderForRubric('home') is not empty %}
                                {{ roomItem.getUsageInfoHeaderForRubric('home') }}
                            {% else %}
                                {{ 'Usage notes'|trans({}, "room") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <ul id="user-notice" class="uk-list uk-list-striped uk-hidden-small">
                    {{ roomItem.usageInfoTextForRubric('home')|raw }}
                </ul>
            </div>
            {% endif %}

            {# room information #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-info'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'Room-Information'|trans({}, "room") }}
                        </div>
                    </div>
                </div>

                <ul id="room-info" class="uk-list uk-list-striped uk-hidden-small">
                    {# RSS / Wiki #}
                    {% if rss.show or wiki.show %}
                        <li>
                            {% if rss.show %}
                                <a href="{{ rss.url }}">
                                    RSS <i class="uk-icon-rss uk-icon-small"></i>
                                </a>
                            {% endif %}

                            {% if wiki.show %}
                                <a href="{{ wiki.url }}">
                                    Wiki <i class="uk-external-link uk-icon-small"></i>
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}

                    <li class="uk-flex">
                        <div class="uk-width-1-3">{{ 'Entries:'|trans({}, "room") }}</div>
                        <div class="uk-width-2-3">
                            {% transchoice numNewEntries with {'%days%': timeSpread, '%num%': numNewEntries} from "room" %}
                            One new entry in the last %days% days|%num% new entries in the last %days% days
                            {% endtranschoice %}
                        </div>
                    </li>
                    <li class="uk-flex">
                        <div class="uk-width-1-3">{{ 'Persons:'|trans({}, "room") }}</div>
                        <div class="uk-width-2-3">
                            {% trans with {'%total%': numTotalMember, '%active%': numActiveMember} from "room" %}
                            total %total% | active %active%
                            {% endtrans %}
                            <div class="uk-progress">
                                {% set activePercent = (numActiveMember/numTotalMember*100)|round %}
                                <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;"></div>
                            </div>
                        </div>
                    </li>
                    <li  class="uk-flex">
                        <div class="uk-width-1-3">{% trans from "room" %}Page Impressions:{% endtrans %}</div>
                        <div class="uk-width-2-3">{{ pageImpressions }}</div>
                    </li>
                    <li  class="uk-flex uk-flex-column">
                        <div class="uk-flex">
                            <div class="uk-width-1-3">{{ 'Moderation:'|trans({}, "room") }}</div>
                            <div class="uk-width-2-3 uk-text-truncate">
                                {% for roomModerator in roomModerators %}
                                    <a href="{{ path('commsy_user_detail', {'roomId': roomItem.itemId, 'itemId': roomModerator.itemId}) }}">{{ macros.userFullname(roomModerator) }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                <br/>
                                <a id="cs-moderation-support-link" href="#" data-form-url="{{ path('commsy_room_moderationsupport', {'roomId': roomItem.itemId}) }}">{{ 'moderation support'|trans({}, "room") }}</a>
                            </div>
                        </div>
                        <div class="uk-flex">
                            <div id="cs-moderation-support-spinner" class="uk-margin-small-top uk-margin-small-bottom uk-container-center uk-hidden">
                                <i class="uk-icon-spinner uk-icon-small uk-icon-spin"></i>
                            </div>
                        </div>
                        <div class="uk-flex">
                            <div id="cs-moderation-support" class="uk-width-1-1 uk-hidden">
                            </div>
                        </div>
                    </li>
                    {% if serviceContact.show %}
                        <li  class="uk-flex">
                            <div class="uk-width-1-3">{% trans from "room" %}Support:{% endtrans %}</div>
                            <div class="uk-width-2-3">
                                <a href="{{ serviceContact.link }}" target="_blank">{% trans from "room" %}E-Mail to support{% endtrans %}</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>

            {# filter #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#list-filter'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'list filter'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
                <div id="list-filter" class="uk-hidden-small">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
{% endblock %}

{% block main_content %}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ header|trans({}, "room") }}</div>
                     </div>
                </div>

                {% if isModerator and userTasks|length > 0 %}
                    <div class="uk-alert uk-alert-danger">
                        {{ userTasks|length }} {{ 'taskinfo'|trans({},'user') }} : <a href="{{ path('commsy_user_list', {'roomId': roomItem.itemId,'user_filter[user_status]':1}) }}">
                            {{ 'show user'|trans({},'user') }}
                        </a>
                    </div>
                {% endif %}

                <div class="feed">
                    <ul id="room-feed" class="uk-comment-list">
                        {{ render(controller(
                            'CommsyBundle:Room:feed',
                            { 'roomId': roomItem.itemId }
                        ))}}
                    </ul>
                    <div class="feed-load-more" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 0}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomItem.itemId }}/feed/", "target": "#room-feed"}'>
                        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
                    </div>
                </div>
                
            </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $("#room_image").on('load', function(){
        var cover_width = $("#cover").width();
        var cover_height = $("#cover").height();

        var img_width = $("#room_image").width();
        var img_height = $("#room_image").height();

        // determines image height as imgHeight = coverHeight * heightFactor;
        var heightFactor = 1.2;

        // 1 => set 'margin-bottom' => parallax * 1
        // -1 => set 'margin-top' => parallax * -1,
        // default: 1 (nicely fakes stereoscopic effect on panorama images! ;)
        // TODO: pass via parameter (perhaps let user choose direction?)
        var transDir = 1;
        var marginSelect = 'margin-top';
        if(transDir < 0) marginSelect = 'margin-bottom';

        if(img_width < cover_width){
            // scale image width to cover width
            img_width  *= (cover_width / img_width);
            img_height *= (cover_width / img_width);
        }
        if(img_height < cover_height*heightFactor){
            // scale image height to heightFactor * cover height
            img_width  *= ( (cover_height*heightFactor) / img_height );
            img_height *= ( (cover_height*heightFactor) / img_height );
        }

        img_width = parseInt(img_width);
        img_height = parseInt(img_height);

        $("#room_image").css({'width' : img_width, 'height' : img_height, 'max-width' : 'none'});

        var marginOffset = -1*(Math.abs(img_height - cover_height)/2);
        $("#room_image").css(marginSelect, marginOffset);

        // horizontically center image if its wider than the cover area
        if(img_width > cover_width){
            $("#room_image").css('margin-left', -1*(Math.abs(img_width - cover_width)/2));
        }

        // activate parallax scrolling
        if(window.innerHeight > img_height){
            $("#room_image").attr("data-uk-parallax", "{y: '"+(transDir * Math.abs(img_height - cover_height))+"'}");
        }

        window.onresize = function(e){
            var activated = typeof($("#room_image").attr('data-uk-parallax'));
            var heightDiff = this.innerHeight - img_height;
            if(heightDiff < 0 && activated !== 'undefined'){
                // FIXME: this does not seem to deactive the parallax scrolling effect!
                $("#room_image").removeAttr("data-uk-parallax");
            }
            else if(heightDiff >= 0 && activated === 'undefined'){
                $("#room_image").attr("data-uk-parallax", "{y: '"+(transDir * Math.abs(img_height - cover_height))+"'}");
            }
        }
    });
    </script>
{% endblock %}
