{% extends 'base.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>Neueste Aktivitäten in diesem Raum(TODO)</div>
                        <form class="uk-form">
                            <fieldset>
                                <select class="form-transparent uk-form-tiny">
                                    <option>Option A</option>
                                    <option>Option B</option>
                                    <option>Option C</option>
                                </select>
                            </fieldset>
                        </form>
                        <div>
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-feed', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <ul id="room-feed" class="uk-comment-list">
                        {{ render(controller(
                            'CommsyBundle:Feed:homeFeed',
                            { 'roomId': roomItem.itemId }
                        ))}}
                        
                    </ul>
                    <div id="feed-load-more" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true}">
                        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-dates', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'Dates'|trans({}, "room") }}
                        </div>
                    </div>
                </div>

                <div id="room-dates" class="uk-overflow-container">
                    Termine
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-info', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'Room-Information'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
                
                <dl id="room-info" class="uk-description-list-horizontal description-striped">
                    <dt>{{ 'Entries:'|trans({}, "room") }}</dt>
                    <dd>
                        {% transchoice numNewEntries with {'%days%': timeSpread, '%num%': numNewEntries} from "room" %}
                            One new entry in the last %days% days|%num% new entries in the last %days% days
                        {% endtranschoice %}
                    </dd>
                    <dt>{{ 'Persons:'|trans({}, "room") }}</dt>
                    <dd>
                        {% trans with {'%total%': numTotalMember, '%active%': numActiveMember} from "room" %}
                            total %total% | active %active%
                        {% endtrans %}
                        <div class="uk-progress uk-progress-mini">
                            {% set activePercent = (numActiveMember/numTotalMember*100)|round %}
                            <div class="uk-progress-bar" style="width: {{ activePercent }}%;"></div>
                            }
                        </div>
                    </dd>
                    <dt>{% trans from "room" %}Page Impressions:{% endtrans %}</dt>
                    <dd>{{ pageImpressions }}</dd>
                    <dt>{{ 'Moderation:'|trans({}, "room") }}</dt>
                    <dd>
                        {{ roomModerators|join(', ') }}
                    </dd>
                </dl>
            </div>

            {{ render(controller(
                'CommsyBundle:Category:show',
                { 'roomId': roomItem.itemId }
            ))}}
        </div>
    </div>
{% endblock %}