{% extends 'CommsyBundle:Base:room.html.twig' %}

{% block cover %}
    <div id="cover" class="uk-cover-background">
        <img class="uk-invisible" src="" width="" height="" alt="">
    </div>
{% endblock %}


{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-5">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">Neueste Aktivitäten in diesem Raum(TODO)</div>
                     </div>
                </div>

                <div>
                    <ul id="room-feed" class="uk-comment-list">
                        {{ render(controller(
                            'CommsyBundle:Feed:homeFeed',
                            { 'roomId': roomItem.itemId }
                        ))}}
                    </ul>
                    <div class="feed-load-more" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 500}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomItem.itemId }}/feed/", "target": "#room-feed"}'>
                        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="uk-width-medium-2-5">
            
            <!--
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-dates', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'Dates'|trans({}, "room") }}
                        </div>
                    </div>
                </div>

                <div id="room-dates" class="uk-overflow-container">
                    Termine
                </div>
            </div> --!>

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-info', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'Room-Information'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
               
                <ul id="room-info" class="uk-list uk-list-striped">
                    <li class="uk-flex">
                        <div class="uk-width-1-3">{{ 'Entries:'|trans({}, "room") }}</div>
                        <div class="uk-width-2-3">
                            {% transchoice numNewEntries with {'%days%': timeSpread, '%num%': numNewEntries} from "room" %}
                                One new entry in the last %days% days|%num% new entries in the last %days% days
                            {% endtranschoice %}
                        </div>
                    </li>
                    <li class="uk-flex">
                        <div class="uk-width-1-3">{{ 'Persons:'|trans({}, "room") }}</div>
                        <div class="uk-width-2-3">
                            {% trans with {'%total%': numTotalMember, '%active%': numActiveMember} from "room" %}
                                total %total% | active %active%
                            {% endtrans %}
                            <div class="uk-progress uk-progress-mini">
                                {% set activePercent = (numActiveMember/numTotalMember*100)|round %}
                                <div class="uk-progress-bar" style="width: {{ activePercent }}%;"></div>
                                }
                            </div>
                        </div>
                    </li>
                    <li  class="uk-flex">
                        <div class="uk-width-1-3">{% trans from "room" %}Page Impressions:{% endtrans %}</div>
                        <div class="uk-width-2-3">{{ pageImpressions }}</div>
                    </li>
                    <li  class="uk-flex">
                        <div class="uk-width-1-3">{{ 'Moderation:'|trans({}, "room") }}</div>
                        <div class="uk-width-2-3">
                            {{ roomModerators|join(', ') }}
                        </div>
                    </li>
                </ul>
            </div>

 
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#list-filter', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'list filter'|trans({}, "room") }} 
                       </div>
                    </div>
                </div>
                <dl id="list-filter">
            {{ render(controller(
                'CommsyBundle:Category:show',
                { 'roomId': roomItem.itemId }
            ))}}
            {{ render(controller(
                'CommsyBundle:Hashtag:show',
                { 'roomId': roomItem.itemId }
            ))}}
            </dl>
 
            </div>
        </div>
    </div>
{% endblock %}