{% if show %}
    <div id="modalMessage" data-title="{{ modalTitle }}" data-message="{{ modalMessage }}" data-confirm="{{ modalConfirm }}" data-cancel="{{ modalCancel }}" data-confirmbuttontext="{{ 'confirm'|trans({}, 'room')}}" data-cancelbuttontext="{{ 'reject'|trans({}, 'room')}}"></div>
{% endif %}