{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% if not users is empty %}
    {% for user in users %}
        <article class="uk-comment">
            <i class="{{ macros.iconClassForItemType(user.itemType) }} uk-icon-small {{ macros.statusColor(readerList, user.itemId) }}"></i>
            <header class="uk-comment-header uk-flex">
                <div class="users-checkbox uk-margin-right uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox">
                    </form>
                </div>
                <div class="uk-margin-right">
                    {% if user.isUser %}
                        {{  macros.userIconLink(user) }}
                    {% else %}
                        {{  macros.userIcon(user) }}
                    {% endif %}
                </div>
                <div>
                    <h4 class="uk-comment-title">
                        <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">{{ user.fullname }}</a>
                    </h4>
    
                    <div class="uk-comment-meta">
                        {{ 'by'|trans({})|capitalize }}: {{user.fullname}}
                    </div>
    
                    <div class="uk-comment-meta">
                        {{ 'last changed'|trans({})|capitalize }}: {{user.getModificationDate|date("d.m.Y H:i")}}
                    </div>
                </div>
            </header>
        </article>
    {% endfor %}
{% endif %}