{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for user in users %}
    {% set entryAllowedActions = '' %}
    {% if allowedActions[user.itemId] is defined %}
        {% set entryAllowedActions = allowedActions[user.itemId] %}
    {% endif %}
    <article class="uk-comment" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">

        {# item change information #}
            {{ macros.statusColor(readerList, user.itemId) }}

        <header class="uk-comment-header uk-flex">
            <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                <form class="uk-form">
                    <input type="checkbox" value="{{ user.itemId }}">
                </form>
            </div>

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if user.modificatorItem.isUser %}
                    {{  macros.userIconLink(user.modificatorItem) }}
                {% else %}
                    {{  macros.userIcon(user.modificatorItem) }}
                {% endif %}
                <div class="uk-comment-meta">
                    {% if user.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                        {{ 'today'|trans({})|capitalize }}, {{user.getModificationDate|date("H:i")}}
                    {% else %}
                        {% if '9999-00-00' not in user.getModificationDate %}
                            {{user.getModificationDate|date("d.m.Y")}}
                        {% else %}
                            {{user.getCreationDate|date("d.m.Y")}}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {# name and meta #}
            <div class="uk-width-5-10">
                <h4 class="uk-comment-title">
                    <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">{{ user.fullName|decodeHtmlEntity }}</a>
                </h4>

                <div class="uk-comment-meta">
                    {% if user.isContact %}
                        <i class="uk-text-small uk-icon-phone" data-uk-tooltip title="{{'is contact'|trans({}, 'user') }}"></i>
                    {% endif %}
                    {% if user.status == 0 %}
                        <i class="uk-text-small uk-icon-ban uk-text-danger" data-uk-tooltip title="{{'is blocked'|trans({}, 'user') }}"></i> <i class="uk-icon-user uk-text-danger" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i>
                    {% elseif user.status == 1 %}
                        <i class="uk-text-small uk-icon-sign-in uk-text-success" data-uk-tooltip title="{{'is applying'|trans({}, 'user') }}"></i> <i class="uk-icon-user uk-text-success" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i>
                    {% elseif user.status == 2 %}
                        <!-- <i class="uk-icon-user" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i> -->
                    {% elseif user.status == 3 %}
                        <i class="uk-text-small uk-icon-wrench" data-uk-tooltip title="{{'moderator'|trans({}, 'user') }}"></i> 
                    {% elseif user.status == 4 %}
                        <i class="uk-icon-user-secret"></i>
                    {% endif %}
                </div>
            </div>
            <div class="uk-width-5-10">
                {% if user.email %}
                    {% if user.isEmailVisible %}
                        <td>{{ 'email'|trans({}, 'user')}}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    {% endif %}
                {% endif %}
                <br/>
                {% if user.telephone %}
                    <span>{{ 'phone'|trans({}, 'user')}}: <a href="tel:{{user.telephone}}">{{ user.telephone|truncate(20) }}</a></span>
                {% endif %}
                <br/>
                {% if user.cellularphone %}
                    <span>{{ 'mobile'|trans({}, 'user')}}: <a href="tel:{{user.cellularphone}}">{{ user.cellularphone|truncate(20) }}</a></span>
                {% endif %}
            </div>
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
