{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for user in users %}

        <div class="uk-width-medium-1-2">

            <article class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom {% if not user.isUser %}cs-moderation-warning{% endif %}">
 
                <div class="uk-panel-teaser cs-panel-teaser-user {% if not user.isUser %}cs-moderation-warning-title{% endif %}">
                    {{ macros.statusColor(readerList, user.itemId, 'grid') }}
 
                    <div class="items-checkbox uk-float-left uk-margin-right uk-hidden">
                        {#% if is_granted('ITEM_EDIT', user.itemId) %#}
                            <form class="uk-form">
                                <input type="checkbox" value="{{ user.itemId }}">
                            </form>
                        {#% else %#}
                            <!-- <i class="uk-icon-ban uk-icon-small red"></i> -->
                        {#% endif %#}
                    </div>
                   <img class="uk-thumbnail uk-border-circle" style="height:50px; width:50px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
                    <span class="uk-text-large uk-text-middle uk-text-truncate">
                        <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">{{ user.title }} {{user.fullname}}</a>
                        <div class="uk-link uk-align-right">
                            {% if user.status == 0 %}
                                <i class="uk-icon-minus"></i>
                            {% elseif user.status == 1 %}
                                <i class="uk-icon-plus"></i>
                            {% elseif user.status == 2 %}
                                <i class="uk-icon-user"></i>
                            {% elseif user.status == 3 %}
                                <i class="uk-icon-user-plus"></i>
                            {% elseif user.status == 4 %}
                                <i class="uk-icon-user-secret"></i>
                            {% endif %}
                            {% if user.isContact %}
                                <i class="uk-icon-edit"></i>
                            {% endif %}
                        </div>
                    </span>
                </div>
                <span>
                    {% if user.email %}
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    {% else %}
                        {'no email'|trans({}) }
                    {% endif %}
                </span><br/>
                <div class="uk-flex uk-flex-space-between">
                    <div>
                        {% if user.telephone %}
                            <a href="tel:{{user.telephone}}" data-uk-tooltip title="{{user.telephone}}" >{{ user.telephone|truncate(20) }}</a><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no telephone'|trans({}) }}">---</span><br/>
                        {% endif %}
                        {% if user.cellularphone %}
                            <a href="tel:{{user.cellularphone}}" data-uk-tooltip title="{{user.cellularphone}}" >{{ user.cellularphone|truncate(20) }}</a>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no handy'|trans({}) }}">---</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.street %}
                            <span data-uk-tooltip title="{{user.street}}">{{ user.street |truncate(20)}}</span><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no street'|trans({}) }}">---</span><br/>
                        {% endif %}
                        
                        {% if user.city %}
                            <span >{{ user.zipcode }} {{ user.city }}</span>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no city'|trans({}) }}">---</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </article>
        </div>




    
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}

