{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for user in users %}

        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom">
                <div class="uk-panel-teaser cs-panel-teaser-user">
                    {{ macros.statusColor(readerList, user.itemId, 'grid') }}
 
                   <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                        {% if is_granted('ITEM_EDIT', user.itemId) %}
                            <form class="uk-form">
                                <input type="checkbox" value="{{ user.itemId }}">
                            </form>
                        {% else %}
                            <i class="uk-icon-ban uk-icon-small red"></i>
                        {% endif %}
                    </div>
                    <img class="uk-thumbnail uk-border-circle" style="height:50px; width:50px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
                    <span class="uk-text-large uk-text-middle">
                        <a href="">{{ user.title }} {{user.fullname}}</a>
                    </span>
                </div>
                <span>
                    {% if user.email %}
                        {{ user.email }}
                    {% else %}
                        {'no email'|trans({}) }
                    {% endif %}
                </span><br/>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        {% if user.telephone %}
                            <span data-uk-tooltip title="{{user.telephone}}" >{{ user.telephone|truncate(20) }}</span><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no telephone'|trans({}) }}">---</span><br/>
                        {% endif %}
                        {% if user.cellularphone %}
                            <span data-uk-tooltip title="{{user.cellularphone}}" >{{ user.cellularphone|truncate(20) }}</span>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no handy'|trans({}) }}">---</span>
                        {% endif %}
                    </div>
                    <div class="uk-width-medium-1-2">
                        {% if user.street %}
                            <span data-uk-tooltip title="{{user.street}}">{{ user.street |truncate(20)}}</span><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no street'|trans({}) }}">---</span><br/>
                        {% endif %}
                        
                        {% if user.city %}
                            <span >{{ user.zipcode }} {{ user.city }}</span>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no city'|trans({}) }}">---</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>




    
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}

