{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% if not users is empty %}
    {% for user in users %}
        <article class="uk-comment">
        <div class="cs-comment-change-info {{ macros.statusColor(readerList, user.itemId) }}" data-uk-tooltip title="ToDo:New Short Changed Info"></div>
            <header class="uk-comment-header uk-flex">
                <div class="users-checkbox uk-margin-right uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox">
                    </form>
                </div>
                <div class="uk-margin-right">
                    {% if user.isUser %}
                        {{  macros.userIconLink(user) }}
                    {% else %}
                        {{  macros.userIcon(user) }}
                    {% endif %}
                     <div class="uk-comment-meta">
                        {% if user.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                            {{ 'today'|trans({})|capitalize }}, {{user.getModificationDate|date("H:i")}}
                        {% else %}
                            {{user.getModificationDate|date("d.m.Y")}}
                        {% endif %}
                     </div>   
                </div>
                <div>
                    <h4 class="uk-comment-title">
                        <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">{{ user.fullname }}</a>
                    </h4>
    
                    <div class="uk-comment-meta">
                        {{ 'EMail'|trans({})|capitalize }}: {{user.getEMail}}
                    </div>
                </div>
            </header>
        </article>
    {% endfor %}
{% endif %}