{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for user in users %}
    <div class="uk-width-medium-1-2">
        {% set entryAllowedActions = '' %}
        {% if allowedActions[user.itemId] is defined %}
            {% set entryAllowedActions = allowedActions[user.itemId] %}
        {% endif %}
        <article class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">

            <div class="uk-panel-teaser cs-panel-teaser-user {% if not user.isUser %}cs-moderation-warning{% endif %}">
                {{ macros.statusColor(readerList, user.itemId, 'grid') }}

                <div class="items-checkbox uk-float-left uk-margin-right uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox" value="{{ user.itemId }}">
                    </form>
                </div>
                <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">
                    <img class="uk-thumbnail uk-border-circle" style="height:50px; width:50px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
                </a>

                {% if user.status == 1 and is_granted('MODERATOR') %}
                    <div style="float: right;">
                        <a href="{{ path('commsy_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-confirm', 'userDetail': 1}) }}" id="status-confirm">
                            <button class="uk-button-small uk-button uk-button-success uk-icon-check uk-margin uk-border-rounded" data-uk-tooltip title="{{'reject'|trans({}, 'room') }}"></button>
                        </a>
                        <a href="{{ path('commsy_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-block', 'userDetail': 1}) }}" id="status-block">
                            <button class="uk-button-small uk-button uk-button-danger uk-icon-times uk-margin uk-border-rounded"  data-uk-tooltip title="{{'Confirm'|trans({}, 'settings') }}"></button>
                        </a>
                    </div>
                {% endif %}

                <div class="uk-text-large uk-text-middle uk-text-truncate uk-link">
                    <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': user.itemId}) }}">{{ user.title }} {{user.fullname}}</a>
                    <div class="uk-align-right {% if not user.isUser %}cs-moderation-warning{% endif %} uk-text-muted">
                        {% if user.isContact %}
                            <i class="uk-text-small uk-icon-phone" data-uk-tooltip title="{{'is contact'|trans({}, 'user') }}"></i>
                        {% endif %}
                        {% if user.status == 0 %}
                            <i class="uk-text-small uk-icon-ban uk-text-danger" data-uk-tooltip title="{{'is blocked'|trans({}, 'user') }}"></i> <i class="uk-icon-user uk-text-danger" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i>
                        {% elseif user.status == 1 %}
                            <i class="uk-text-small uk-icon-sign-in uk-text-success" data-uk-tooltip title="{{'is applying'|trans({}, 'user') }}"></i> <i class="uk-icon-user uk-text-success" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i>
                        {% elseif user.status == 2 %}
                            <!-- <i class="uk-icon-user" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i> -->
                        {% elseif user.status == 3 %}
                            <i class="uk-text-small uk-icon-wrench" data-uk-tooltip title="{{'moderator'|trans({}, 'user') }}"></i> <!-- <i class="uk-icon-user" data-uk-tooltip title="{{'user'|trans({}, 'user') }}"></i> -->
                        {% elseif user.status == 4 %}
                            <i class="uk-icon-user-secret"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <span>
                {% if user.email %}
                    {% if user.isEmailVisible %}
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    {% endif %}
                {% else %}
                    {{ 'no email'|trans({}) }}
                {% endif %}
            </span><br/>
            <div class="uk-flex uk-flex-space-between">
                <div>
                    {% if user.telephone %}
                        <a href="tel:{{user.telephone}}">{{ user.telephone|truncate(20) }}</a><br/>
                    {% else %}
                        <span class="uk-text-muted" data-uk-tooltip title="{{'no telephone'|trans({}) }}">&#8230;</span><br/>
                    {% endif %}
                    {% if user.cellularphone %}
                        <a href="tel:{{user.cellularphone}}">{{ user.cellularphone|truncate(20) }}</a>
                    {% else %}
                        <span class="uk-text-muted" data-uk-tooltip title="{{'no handy'|trans({}) }}">&#8230;</span>
                    {% endif %}
                </div>
                <div>
                    {% if user.street %}
                        <span>{{ user.street |truncate(20)}}</span><br/>
                    {% else %}
                        <span class="uk-text-muted" data-uk-tooltip title="{{'no street'|trans({}) }}">&#8230;</span><br/>
                    {% endif %}
                    
                    {% if user.city %}
                        <span >{{ user.zipcode }} {{ user.city }}</span>
                    {% else %}
                        <span class="uk-text-muted" data-uk-tooltip title="{{'no city'|trans({}) }}">&#8230;</span>
                    {% endif %}
                    </span>
                </div>
            </div>
        </article>
    </div>
{% else %}
    <div class="uk-width-medium-1-1">
        {{ 'No more results found'|trans}}
    </div>
{% endfor %}

