{% extends 'base.html.twig' %}

{% import 'CommsyBundle:Utils:utils_items.html.twig' as utils_items %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-2-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ user.fullName }}</div>
                        <div>
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-info', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="user-info" class="uk-overflow-container">
                    <div class="uk-flex">
                        <div class="uk-margin-right">
                            <img class="uk-comment-avatar uk-thumbnail uk-border-circle" style="height:120px; width:120px;" src="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ user.itemID }}/image" alt="">
                        </div>
                        <div>
                            <div class="">{{ 'email'|trans({})|capitalize }}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                            <div class="">{{ 'phone'|trans({})|capitalize }}: <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a></div>
                            <div class="">{{ 'mobile'|trans({})|capitalize }}: <a href="tel:{{ user.cellularphone }}">{{ user.cellularphone }}</a></div>
                            <div class="">{{ 'street'|trans({})|capitalize }}: {{ user.street }}</div>
                            <div class="">{{ 'city'|trans({})|capitalize }}: {{ user.city }}</div>
                            <div class="">{{ 'userid'|trans({})|capitalize }}: {{ user.userid }}</div>
                            <div class="">{{ 'status'|trans({})|capitalize }}: {{ utils_items.userStatus(user) }}</div>
                            <br/>
                            <div class="">{{ user.description|raw }}</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-main', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'Info'|trans({}, "room") }}
                        </div>
                    </div>
                </div>
                
                <div id="user-main" class="uk-overflow-container">
                    <div class="">
                        {{ utils_items.lastModified(user) }} 
                    </div>
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-sub', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            {{ 'linked entries'|trans({}, "room")|capitalize }}
                        </div>
                    </div>
                </div>
                
                <div id="user-sub" class="uk-overflow-container">
                    {{ render(controller(
                        'CommsyBundle:Link:link',
                        { 'roomId': app.request.attributes.get('roomId'), 'itemId': user.itemId }
                    ))}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}