{% extends 'CommsyBundle:Base:list.html.twig' %}
{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as utilsMacros %}

{% block feed %}
    {% if view == 'feedView' %}
        <ul id="user-feed" class="uk-comment-list">
            {{ render(controller(
                'CommsyBundle:User:feed', {
                    'roomId': roomId,
                    'userFilter': app.request.query.get('user_filter')
                }
            )) }}
        </ul>
        <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/user/feed/", "target": "#user-feed"}'>
            <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
            <div class="cs-toggle-class"></div>
        </div>
    {% elseif view == 'gridView' %}
        <div id="user-feed" class="uk-grid">
            {{ render(controller(
                'CommsyBundle:User:grid', {
                    'roomId': roomId,
                    'userFilter': app.request.query.get('user_filter')
                }
            )) }}
        </div>
        <div class="feed-load-more-grid" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/user/grid/", "target": "#user-feed"}'>
            <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
            <div class="cs-toggle-class"></div>
        </div>
    {% endif %}
{% endblock %}

{% block taskinfo %}
    {% if isModerator and userTasks|length > 0 %}
        <div class="uk-alert uk-alert-danger">
            {{ userTasks|length }} {{ 'taskinfo'|trans({},'user') }} : <a href="{{ path('commsy_user_list', {'roomId': roomId,'user_filter[user_status]':1}) }}">
                {{ 'show user'|trans({},'user') }}
            </a>
        </div>

    {% endif %}
{% endblock %}

{% block editbox %}
    <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <button class="uk-button uk-button-mini cs-button-list">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
        <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                <li>
                    <a href="{{ path('commsy_user_printlist', {'roomId': roomId,'user_filter':app.request.query.get('user_filter')}) }}" target="_blank" id="print">
                        <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                    </a>
                </li>
                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target": ".feed", "actionUrl": "{{ path('commsy_user_feedaction', {'roomId': roomId}) }}", "action": "markread"}'>
                        <i class="uk-icon-justify uk-icon-small uk-icon-check-square-o uk-visible-large"></i> {{ 'mark read'|trans({},'rubric')|capitalize }}
                    </a>
                </li>
                <li>
                    <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{"target": ".feed", "actionUrl": "{{ path('commsy_user_feedaction', {'roomId': roomId}) }}", "action": "sendmail"}'>
                        <i class="uk-icon-justify uk-icon-small uk-icon-send-o uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                    </a>
                </li>
            </ul>

        </div>
    </div>

    {% if is_granted('MODERATOR') and not isArchived %}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini cs-button-list">{{ 'Manage users'|trans({},'user') }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    {# delete #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_feedaction', {'roomId': roomId}) }}",
                            "action": "user-delete"
                        }' data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}}" data-confirm-delete-cancel ="{{'confirm delete cancel'|trans({},'rubric')}}" data-confirm-delete-confirm ="{{'confirm delete confirm'|trans({},'rubric')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-times-circle uk-visible-large"></i> {{ 'delete'|trans({},'user') }}
                        </a>
                    </li>

                    {# block #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-block'
                            }) }}",
                            "action": "user-block"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-ban uk-visible-large"></i> {{ 'block'|trans({},'user') }}
                        </a>
                    </li>

                    {# confirm #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-confirm'
                            }) }}",
                            "action": "user-confirm"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-sign-in uk-visible-large"></i> {{ 'confirm'|trans({},'user') }}
                        </a>
                    </li>

                    {# reading #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-status-reading-user'
                            }) }}",
                            "action": "user-status-reading-user"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-user-secret uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'reading user'|trans({},'user') }}
                        </a>
                    </li>

                    {# user #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-status-user'
                            }) }}",
                            "action": "user-status-user"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-user uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'user'|trans({},'user') }}
                        </a>
                    </li>

                    {# moderator #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-status-moderator'
                            }) }}",
                            "action": "user-status-moderator"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-wrench uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'moderator'|trans({},'user') }}
                        </a>
                    </li>

                    {# contact #}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-contact'
                            }) }}",
                            "action": "user-contact"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-phone uk-visible-large"></i> {{ 'contact'|trans({},'user') }}
                        </a>
                    </li>

                    {# remove contact#}
                    <li>
                        <a href="#" class="commsy-select-action" data-uk-button data-commsy-list-action='{
                            "target": ".feed",
                            "actionUrl": "{{ path('commsy_user_changestatus', {
                                'roomId': roomId,
                                'status': 'user-contact-remove'
                            }) }}",
                            "action": "user-contact-remove"
                        }' data-no-selection="{{'no entry selected'|trans({},'item')}}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-square-o uk-visible-large"></i> {{ 'contact remove'|trans({},'user') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock%}

{% block sortbox %}
        {# sort dropdown #}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini cs-button-list">{{ 'list sort'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    {# sorting options #}
                    {{ utilsMacros.sortActor('name', 'surname', 'user', 'name', 'name_rev', 'asc') }}
                    {{ utilsMacros.sortActor('email', 'email', 'user', 'email', 'email', '') }}
                    {{ utilsMacros.sortActor('status', 'user status', 'user', 'status', 'status_rev', '') }}
                </ul>
            </div>
        </div>
{% endblock %}

{% block listAddons %}
    {% if view == 'feedView' %}
        <div class="uk-float-right uk-margin-small-left">
            <a href="{{ path('commsy_user_list', app.request.query.all|merge({'roomId': roomId, 'view': 'gridView'})) }}" class="uk-text-contrast">
                <i class="uk-icon-folder-o uk-icon-small" data-uk-tooltip title="{{ 'tiles'|trans({}, "user") }}"></i>
            </a>
        </div>
        <div class="uk-float-right uk-margin-small-left">
            <i class="uk-icon-list-ul uk-icon-small cs-icon-mute" data-uk-tooltip title="{{ 'list view'|trans({}, "date") }}"></i>
        </div>
    {% elseif view == 'gridView' %}
        <div class="uk-float-right uk-margin-small-left">
            <i class="uk-icon-folder-o uk-icon-small cs-icon-mute" data-uk-tooltip title="{{ 'tiles'|trans({}, "user") }}"></i>
        </div>
        <div class="uk-float-right uk-margin-small-left">
            <a href="{{ path('commsy_user_list', app.request.query.all|merge({'roomId': roomId, 'view': 'feedView'})) }}" class="uk-text-contrast">
                <i class="uk-icon-list-ul uk-icon-small" data-uk-tooltip title="{{ 'list view'|trans({}, "date") }}"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}
