{% extends 'CommsyBundle:Room:room.html.twig' %}
{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-5">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        {# title #}
                        <div>{{ 'users'|trans({})|capitalize }}</div>
                        
                        {# select #}
                        <div>
                            <button class="uk-button" data-uk-toggle="{target:'article', cls:'selectable'}">
                                Auswahl(TODO)
                            </button>
                        </div>
                    </div>
                </div>
                
                <div>
                    <ul id="user-feed" class="uk-comment-list">
                        {{ render(controller(
                            'CommsyBundle:User:feed',
                            { 'roomId': roomId }
                        ))}}
                    </ul>

                    <div class="feed-load-more" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 500}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/user/feed/", "target": "#user-feed"}'>
                        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="uk-width-medium-2-5">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#list-filter', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            Filter
                        </div>
                    </div>
                </div>

                <div id="list-filter" class="uk-overflow-container">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

            {{ render(controller(
                'CommsyBundle:Category:show',
                { 'roomId': roomId }
            ))}}
        </div>
    </div>
{% endblock %}