{% import 'utils/macros.html.twig' as macros %}

{% for result in results %}
    {% set entity = result.entity %}

    <article class="uk-comment" data-allowed-actions="{{ result.allowedActions|json_encode() }}">

        <header class="uk-comment-header uk-flex">

            {# change status (aka read status) #}
            {% if result.readStatus is same as('new') %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newEntry'|trans({}) }}">
                    <i class="uk-icon-medium uk-text-danger uk-icon-exclamation"></i>
                </div>
            {% elseif result.readStatus is same as('changed') %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedEntry'|trans({})}}">
                    <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif result.readStatus is same as('new_annotation') %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'newAnnotation'|trans({})}}">
                    <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% elseif result.readStatus is same as('changed_annotation') %}
                <div class="cs-comment-change-info" data-uk-tooltip="{pos:'right'}" title="{{ 'changedAnnotation'|trans({})}}">
                    <i class="uk-icon-medium uk-text-warning uk-icon-exclamation"></i>
                </div>
            {% endif %}

            <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                <form class="uk-form">
                    <input type="checkbox" value="{{ entity.itemId }}">
                </form>
            </div>

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if entity.modifier is defined and entity.modifier is not empty %}
                    {# NOTE: `status >= 2` is used here since, opposed to the legacy model classes,
                             the Doctrine entity User.php doesn't offer an `isUser()` function #}
                    {% if not entity.modifier.isDeleted and entity.modifier.status >= 2 %}
                        {{ macros.userIconLink(entity.modifier) }}
                    {% else %}
                        {{ macros.userIcon(entity.modifier) }}
                    {% endif %}
                {% else %}
                    {# if modifier is undefined, show creator #}
                    {% if not entity.creator.isDeleted and entity.creator.status >= 2 %}
                        {{ macros.userIconLink(entity.creator) }}
                    {% else %}
                        {{ macros.userIcon(entity.creator) }}
                    {% endif %}
                {% endif %}
                <div class="uk-comment-meta">
                    <span class="uk-text-nowrap">
                        {% if entity.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                            {{ 'today'|trans({})|capitalize }}, {{ entity.modificationDate|date("H:i") }}
                        {% else %}
                            {{ entity.modificationDate|craue_date }}
                        {% endif %}
                    </span>
                </div>
            </div>

            {# title and meta #}
            <div class="uk-width-8-10">
                <div class="uk-comment-meta">
                    {% set privateRoom = user.ownRoom %}
                    {% if privateRoom.itemID is defined and privateRoom.itemID == entity.contextId -%}
                        <a href="{{ path('app_material_list', {'roomId': entity.contextId}) }}">{{ entity.contextId|roomTitle|decodeHtmlEntity }}</a>
                    {%- else -%}
                        <a href="{{ path('app_room_home', {'roomId': entity.contextId}) }}">{{ entity.contextId|roomTitle|decodeHtmlEntity }}</a>
                    {%- endif %}
                </div>

                <h4 class="uk-comment-title">
                {% if is_granted('ITEM_SEE', entity.itemId) -%}
                    <a href="{{ path(result.routeName, {'roomId': entity.contextId, 'itemId': entity.itemId}) }}">
                {%- else -%}
                    <span class="uk-text-muted">
                {%- endif %}
                        {% if entity.title is defined %}
                            {{ entity.title|decodeHtmlEntity }}
                        {% endif %}

                        {% if entity.firstname is defined and entity.lastname is defined %}
                            {{ entity.firstname }} {{ entity.lastname }}
                        {% endif %}
                {% if is_granted('ITEM_SEE', entity.itemId) -%}
                    </a>
                {%- else -%}
                    </span>
                {%- endif %}
                </h4>

                <div class="uk-comment-meta">
                    {% if result.type is same as('date') %}
                        {{ formatDateTimeRange(entity.wholeDay, entity.datetimeStart, entity.datetimeEnd) }}{% if entity.place != '' %}, {{ entity.place }}{% endif %}
                    {% elseif entity.author is defined and entity.author is not empty %}
                        {{ 'by'|trans({})|capitalize }}: {{ entity.author }} ({{ entity.publishingDate }})
                    {% else %}
                        {% if entity.creator is defined and entity.creator is not empty %}
                            {{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(entity.creator) }} ({{ entity.creationDate|craue_date }})
                        {% endif %}
                    {% endif %}
                </div>

                <div class="uk-comment-meta">
                    {{  macros.fileListShortSearch(entity, result.files) }}
                </div>
            </div>

            <div class="uk-width-2-10 uk-text-right">
                {% if result.type is same as('todo') and result.status in [1, 2, 3] %}
                    {% set statusDescriptions = ['pending'|trans({},'todo'), 'in progress'|trans({},'todo'), 'done'|trans({},'todo')] %}
                    <i class="{{ macros.iconClassForItemType(result.type, result.status) }} uk-icon-small" data-uk-tooltip title="{{ statusDescriptions[result.status - 1] }}"></i>
                {% else %}
                    <i class="{{ macros.iconClassForItemType(result.type) }} uk-icon-small"></i>
                {% endif %}
            </div>
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}