{% set searchAllRooms = 'Search in all my rooms'|trans({}, 'search') %}
{% set searchCurrentRoom = 'Search in this room'|trans({}, 'search') ~ ' ' ~ originalRoomTitle %}
{%- verbatim -%}
<ul class="uk-nav uk-nav-search uk-autocomplete-results">\
    {{#msgResultsHeader}}<li class="uk-nav-header uk-skip">{{msgResultsHeader}}</li>{{/msgResultsHeader}}\
    {{#items && items.length}}\
        {{~items}}\
        <li data-url="{{!$item.url}}">\
            <a href="{{!$item.url}}">\
                {{{$item.title}}}\
                <div>\
                    {{#$item.text}}{{{$item.text}}}{{/$item.text}}\
                    {{#$item.roomTitle}} &#8211; {{{$item.roomTitle}}}{{/$item.roomTitle}}\
                </div>\
            </a>\
        </li>\
        {{/items}}\
        {{#msgMoreResults}}\
            <li class="uk-nav-header uk-skip">{{msgMoreResults}}</li>\
            <li class="uk-search-moreresults" data-moreresults="true"><a href="#" onclick="jQuery(this).closest(\'form\').submit()">{%- endverbatim -%}{{ searchAllRooms }}{%- verbatim -%}</a></li>\
            {%- endverbatim -%}{% if originalRoomId is not same as 1 %}{%- verbatim -%}<li class="uk-search-moreresults" data-moreresults="true" data-url="{%- endverbatim -%}{{ path('app_search_results', { 'roomId': roomId, 'originalContext': originalRoomId }) }}\
                {%- verbatim -%}&search%5Bphrase%5D={{#items && items.length}}{{#$item.searchPhrase}}{{{$item.searchPhrase}}}{{/$item.searchPhrase}}{{/items}}">\
                    <a href="#">{%- endverbatim -%}{{ searchCurrentRoom }}{%- verbatim -%}</a>\
            </li>\{%- endverbatim -%}{% endif %}{%- verbatim -%}
        {{/msgMoreResults}}\
    {{/end}}\
    {{^items.length}}\
      {{#msgNoResults}}<li class="uk-skip"><a>{{msgNoResults}}</a></li>{{/msgNoResults}}\
    {{/end}}\
</ul>
{%- endverbatim -%}
