
{% import 'utils/macros.html.twig' as macros %}

<div class="">
 
    <div id="user-sub" class="uk-overflow-container">
       {% if not linkedItemsByRubric is empty %} 
            <div class="uk-accordion" data-uk-accordion="{collapse: false}">
                {% for type,rubric in linkedItemsByRubric %}
                    <div class="uk-accordion-title cs-accordion-detail uk-margin-remove">
                    <i class="{{ macros.iconClassForItemType(type) }}"></i> {{ type|capitalize|transchoice(1,{},"rubric") }} ({{ rubric|length }})</a>
                    </div>
                    <div class="uk-accordion-content uk-padding-remove">
                        <ul class="uk-list uk-margin-bottom-remove">
                        {% for linkedItem in rubric [0:10] %}
                            <li><a href="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/{{ linkedItem.itemType }}/{{ linkedItem.itemID }}">{{ linkedItem.title|decodeHtmlEntity|truncate(30) }}</a></li>
                        {% endfor %}
                        </ul>
                        {% if rubric|length > 10 %}
                            <div class="show-more-{{ type }} uk-hidden">
                                <ul class="uk-list">
                                {% for linkedItem in rubric [10:rubric|length-10] %}
                                    <li><i class="{{ macros.iconClassForItemType(linkedItem.itemType) }} uk-text-primary"></i> <a href="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/{{ linkedItem.itemType }}/{{ linkedItem.itemID }}">{{ linkedItem.title|decodeHtmlEntity }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="uk-margin-small">
                                <a class="show-more-{{ type }}" data-uk-toggle="{target:'.show-more-{{ type }}', animation:'uk-animation-fade'}">{{ 'show all'|trans({}) }}</a>
                                <a class="show-more-{{ type }} uk-hidden" data-uk-toggle="{target:'.show-more-{{ type }}', animation:'uk-animation-fade'}">{{ 'show less'|trans({}) }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{ 'no linked items'|trans({}, "room")}}    
        {% endif %}  
    </div>
</div>