{% extends 'CommsyBundle:Base:room.html.twig' %}

{% import 'CommsyBundle:Item:macros.html.twig' as macrosItem %}
{% import 'CommsyBundle:Discussion:macros.html.twig' as macrosDiscussion %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% set item = discussion %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# material content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        {{ render(controller(
                            'CommsyBundle:Item:stepper',
                            { 'roomId': roomId, 'itemId': item.itemId }
                        ))}}

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">

                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                        {# new entry #}
                                        <li>
                                            <a href="{{ path('commsy_discussion_create', {'roomId': roomId}) }}" id="newEntry">
                                                <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                            </a>
                                        </li>

                                        {# print #}
                                        <li>
                                            <a href="{{ path('commsy_discussion_print', {'roomId': roomId, 'itemId': discussion.itemId}) }}" target="_blank" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# save #}
                                        <li>
                                            <a href="{{ path('commsy_item_download', {'roomId': roomId, 'itemId': discussion.itemId}) }}" download>
                                                <i class="uk-icon-small uk-icon-save uk-icon-justify uk-visible-large"></i> {{ 'save'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# copy #}
                                        <li>
                                            <a href="#" data-cs-action-copy="{
                                                'url': '{{ path('commsy_item_copy', {'roomId': roomId}) }}',
                                                'successMessage': '<i class=\'uk-icon-medium uk-icon-copy\'></i> {{ 'Entry stored in clipboard|%count% entries stored in clipboard'|transchoice(1, {}, 'item') }}',
                                                'errorMessage': '<i class=\'uk-icon-medium uk-icon-info\'></i> {{ 'action error'|trans }}',
                                                'itemIds': [ {{ discussion.itemId}} ]
                                            }">
                                                <i class="uk-icon-small uk-icon-copy uk-icon-justify uk-visible-large"></i> {{ 'copy'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a href="{{ path('commsy_item_send', {'roomId': roomId, 'itemId': discussion.itemId}) }}">
                                                <i class="uk-icon-small uk-icon-send-o uk-icon-justify uk-visible-large"></i> {{ 'send'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# delete #}
                                        <li>
                                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                <a class="commsy-action-delete" id="" href="#" data-delete-url="{{ path('commsy_item_delete', {'roomId': roomId, 'itemId': discussion.itemId}) }}" data-item-type="{{discussion.itemType}}" data-title="{{ 'list choice'|trans({},'rubric')|capitalize }}" data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}}" data-confirm-delete-cancel ="{{'confirm delete cancel'|trans({},'rubric')}}" data-confirm-delete-confirm ="{{'confirm delete confirm'|trans({},'rubric')}}" data-return-url="{{ path('commsy_discussion_list', {'roomId': roomId}) }}">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </a>
                                            {% else %}
                                                <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                            {% endif %}
                                        </li>

                                        {# separator #}
                                        <li>&nbsp;</li>

                                        {# new article #}
                                         <li>
                                            <a class="newArticle" href="#" id="newArticle" data-article-url="{{ path('commsy_discussion_createarticle', {'roomId': roomId, 'itemId': discussion.itemId}) }}">
                                                <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new article'|trans({},'discussion') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% if alert %}
                    {{ macros.showAlert(alert) }}
                {%  endif %}

                {% if pathTopicItem %}
                    {{ macros.showPath(pathTopicItem, discussion) }}
                {%  endif %}

                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosDiscussion.title(discussion, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, ratingArray) }}
                    </div>
        
                    {# links #}
                    <div id="links{{ discussion.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editlinks', {'roomId': discussion.contextId, 'itemId': discussion.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': discussion.contextId, 'itemId': discussion.itemId}) }}' }">
                        {{ macrosItem.links(discussion,showHashtags,showCategories,roomCategories) }}
                    </div>
                    
                    {# articles #}
                    <div id="articles{{ discussion.itemId }}" class="cs-edit-section cs-toggle">
                        {{ macrosDiscussion.articles(discussion, articleList, articleTree) }}
                    </div>
                    
                </article>
            </div>
            
            <div data-uk-observe id="article-content">
                <ul class="uk-comment-list">
                    {# discussion articles #}
                    {% set lastLevel = 1 %}

                    {% for article in articleList %}

                        {% set currentLevel = article.position|split('.')|length %}

                        {% if currentLevel > lastLevel %}
                            <ul>
                        {% elseif currentLevel < lastLevel %}
                            {% for i in currentLevel..lastLevel-1 %}
                                </li></ul>
                            {% endfor %}
                        {% else %}
                            </li>
                        {% endif %}

                        {% set lastLevel = currentLevel %}

                        <li data-id="{{ article.itemId }}">
                            {% set count = loop.index0 %}
                            <div id="discarticle_{{count}}" class="uk-panel uk-panel-box uk-margin-top discussion-article">

                                {# panel teaser #}
                                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow cs-remove-section cs-toggle" data-cs-edit="{removeUrl: '/app_dev.php/room/201/material/1419/remove', draft: ''}">
                                    <div class="uk-grid">
                                        {# left article navigation #}
                                        <div class="uk-flex-inline uk-width-2-5 ">
                                            {% if loop.last and loop.length > 1 %}
                                                <div class="uk-margin-right">
                                                    <a class="uk-button-primary" href="#article_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                                                    <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                                                </div>
                                            {% elseif loop.first and loop.length > 1 %}
                                                <div>
                                                    <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                                                    <a class="uk-button-primary" href="#article_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                                                </div>
                                            {% elseif loop.length == 1 %}
                                                <div>
                                                    <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                                                    <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                                                </div>
                                            {% else %}
                                                <div class="uk-margin-right">
                                                    <a class="uk-button-primary" href="#article_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                                                    <a class="uk-button-primary" href="#article_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                                                </div>
                                            {% endif %}
                                        </div>

                                        {# right actions #}
                                        <div class="uk-width-3-5 uk-text-right">

                                            {# section actions #}
                                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                                <button class="uk-button uk-button-mini">
                                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                                    <i class="uk-icon-caret-down"></i>
                                                </button>

                                                <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                                        {# answer #}
                                                        <li>
                                                            <a class="newArticle" href="#" id="newArticle" data-article-url="{{ path('commsy_discussion_createarticle', {'roomId': roomId, 'itemId': discussion.itemId, 'answerTo': article.itemId }) }}">
                                                                <i class="uk-icon-small uk-icon-reply uk-icon-justify uk-visible-large"></i> {{ 'Answer'|trans({},'discussion') }}
                                                            </a>
                                                        </li>

                                                        {# delete #}
                                                        <li>
                                                            {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                                <a class="commsy-action-delete" id="" href="#" data-delete-url="{{ path('commsy_discussion_delete', {'roomId': roomId, 'itemId': article.itemId}) }}" data-item-type="{{article.itemType}}" data-title="{{ 'list choice'|trans({},'rubric')|capitalize }}" data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}}" data-confirm-delete-cancel ="{{'confirm delete cancel'|trans({},'rubric')}}" data-confirm-delete-confirm ="{{'confirm delete confirm'|trans({},'rubric')}}">
                                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                                </a>
                                                            {% else %}
                                                                <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <article class="uk-article uk-position-relative">
                                    {# title #}
                                    <div class="cs-toggle" data-uk-observe>
                                        {{ macrosDiscussion.title(article, modifierList, userCount, readCount, readSinceModificationCount) }}
                                    </div>

                                    {# description #}
                                    <div id="description{{ article.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': article.contextId, 'itemId': article.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': article.contextId, 'itemId': article.itemId}) }}' }">
                                        {{ macrosItem.itemDescription('description', article, true, article.description) }}
                                    </div>

                                    {# files #}
                                    <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_upload_uploadform', {'roomId': article.contextId, 'itemId': article.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': article.contextId, 'itemId': article.itemId}) }}' }">
                                        {{ macrosItem.files(article) }}
                                    </div>
                                </article>
                            </div>
                    {% endfor %}

                    {% for i in 1..lastLevel-1 %}
                            </ul></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#articles{{ discussion.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ discussion.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#files{{ discussion.itemId }}">{{ 'files'|trans({})}}</a></li>
                        <li><a href="#links{{ discussion.itemId }}">{{ 'links'|trans({})}}</a></li>
                        {% if not articleList is empty %}
                            <li class="uk-parent">
                                <a href="#articles{{ discussion.itemId }}">{{ 'articles'|trans({},'discussion')|capitalize }}</a>
                                <ul class="uk-nav-sub">                      
                                    {% for article in articleList %}
                                        <li>
                                            <a href="#article{{ article.itemId }}">{{ loop.index }}. {{ article.title|decodeHtmlEntity|truncate(20) }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
      
    </div>
{% endblock %}

{# end #}
