{% extends 'base/room.html.twig' %}

{% import 'item/macros.html.twig' as macrosItem %}
{% import 'todo/macros.html.twig' as macrosTodo %}
{% import 'utils/macros.html.twig' as macros %}

{% set item = todo %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# material content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        {{ render(controller(
                            'App\\Controller\\ItemController::stepperAction',
                            { 'roomId': roomId, 'itemId': item.itemId }
                        ))}}

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">

                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                        {# new entry #}
                                        {% if is_granted('ITEM_EDIT', 'NEW') %}
                                            <li>
                                                <a href="{{ path('app_todo_create', {'roomId': roomId }) }}" id="newEntry">
                                                    <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                                </a>
                                            </li>
                                        {% endif %}

                                        {# print #}
                                        <li>
                                            <a href="{{ path('app_todo_print', {'roomId': roomId, 'itemId': todo.itemId}) }}" target="_blank" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# save #}
                                        <li>
                                            <a href="#" data-cs-action="{{ {
                                                'url': path('app_todo_download', {'roomId': roomId}),
                                                'action': 'save',
                                                'itemId': todo.itemId,
                                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                'mode': 'click'
                                            }|json_encode|e('html_attr') }}">
                                                <i class="uk-icon-small uk-icon-save uk-icon-justify uk-visible-large"></i> {{ 'save'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# copy #}
                                        <li>
                                            <a href="#" data-cs-action="{{ {
                                                'url': path('app_todo_xhrcopy', {'roomId': roomId}),
                                                'action': 'copy',
                                                'itemId': todo.itemId,
                                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                'mode': 'click',
                                                'successMessage': '<i class="uk-icon-medium uk-icon-copy"></i>' ~ 'Entry stored in clipboard|%count% entries stored in clipboard'|transchoice(1, {}, 'item')
                                            }|json_encode|e('html_attr') }}">
                                                <i class="uk-icon-small uk-icon-copy uk-icon-justify uk-visible-large"></i> {{ 'copy'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a href="{{ path('app_item_send', {'roomId': roomId, 'itemId': todo.itemId}) }}">
                                                <i class="uk-icon-small uk-icon-send-o uk-icon-justify uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                                            </a>
                                        </li>

                                        {% if is_granted('ITEM_EDIT', item.itemId) %}
                                            {# delete #}
                                            <li>
                                                <a  href="#" data-cs-action="{{ {
                                                    'url': path('app_todo_xhrdelete', {'roomId': roomId, 'itemId': todo.itemId}),
                                                    'action': 'delete',
                                                    'itemId': todo.itemId,
                                                    'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                    'mode': 'click',
                                                    'itemType': todo.itemType,
                                                    'title': 'list choice'|trans({},'rubric')|capitalize,
                                                    'confirmQuestion': 'confirm delete'|trans({},'rubric'),
                                                    'confirmCancel': 'confirm delete cancel'|trans({},'rubric'),
                                                    'confirmOk': 'confirm delete confirm'|trans({},'rubric'),
                                                    'returnUrl': path('app_todo_list', {'roomId': roomId})
                                                }|json_encode|e('html_attr') }}">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </a>
                                            </li>

                                            {# participant #}
                                            <li>
                                                <a href="{{ path('app_todo_participate', {'roomId': roomId, 'itemId': todo.itemId}) }}">
                                                    {% if not isParticipating %}
                                                        <i class="uk-icon-small uk-icon-user-plus uk-icon-justify uk-visible-large"></i> {{ 'add responsibility'|trans({}, 'todo')|capitalize }}
                                                    {% else %}
                                                        <i class="uk-icon-small uk-icon-user-times uk-icon-justify uk-visible-large"></i> {{ 'remove responsibility'|trans({}, 'todo')|capitalize }}
                                                    {% endif %}
                                                </a>
                                            </li>

                                            {# separator #}
                                            <li>&nbsp;</li>

                                            {# new step #}
                                            <li>
                                                <a class="newStep" href="#" id="newStep" data-step-url="{{ path('app_todo_createstep', {'roomId': roomId, 'itemId': todo.itemId}) }}">
                                                    <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new step'|trans({}) }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if alert %}
                    {{ macros.showAlert(alert) }}
                {%  endif %}

                {% if pathTopicItem %}
                    {{ macros.showPath(pathTopicItem, todo) }}
                {%  endif %}

                {# content #}
                <article class="uk-article uk-position-relative {% if draft %}cs-edit-draft{% endif %}" data-uk-observe>
                    {# title, details, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosTodo.title(todo, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating, ratingArray, timeSpendSum) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ todo.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}' }">
                        {{ macrosItem.itemDescription('description', todo, true, todo.description, draft) }}
                    </div>
            
                    {# files #}
                    <div id="files{{ todo.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}' }">
                        {{ macrosItem.files(todo, draft) }}
                    </div>

                    {% if not draft %}
                        {# links #}
                        <div id="links{{ todo.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editlinks', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}' }">
                            {{ macrosItem.linksAssociations(todo,showHashtags,showCategories,roomCategories, draft, showAssociations) }}
                        </div>
                        {% if (showCategories or showCategories) %}
                            <div id="categoriesAndBuzzwords{{ todo.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editcatsbuzz', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': todo.contextId, 'itemId': todo.itemId}) }}' }">
                                {{ macrosItem.links(todo,showHashtags,showCategories,roomCategories, draft) }}
                            </div>
                        {% endif %}

                        {# steps #}
                        <div id="steps{{ todo.itemId }}" class="cs-edit-section cs-toggle">
                            {{ macrosTodo.steps(todo, stepList) }}
                        </div>
                    {% endif %}

                    {% if draft %}
                        <div id="draft-buttons-wrapper">
                            <a id="draft-save-combine-link" href="" class="uk-button uk-button-primary">
                                {{ 'create entry'|trans({}, "form") }}
                            </a>
                            <a id="draft-cancel-link" href="" class="uk-button uk-button-secondary">
                                {{ 'cancel'|trans({}, "form") }}
                            </a>
                        </div>
                    {% endif %}
                </article>
            </div>

            <div data-uk-observe id="step-content">
                {# todo steps #}
                {% for step in stepList %}
                    {% set count = loop.index0 %}
                    <div id="step_{{count}}" class="uk-panel uk-panel-box uk-margin-top todo-step">
                        <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow cs-remove-section cs-toggle">
                            <div class="uk-grid">
                                <div class="uk-flex-inline uk-width-2-5 ">
                                    {# step navigation #}
                                    {% if loop.last and loop.length > 1 %}
                                        <div class="uk-margin-right">
                                            <a class="uk-button-primary" href="#step_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                                            <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                                        </div>
                                    {% elseif loop.first and loop.length > 1 %}
                                        <div>
                                            <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                                            <a class="uk-button-primary" href="#step_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                                        </div>
                                    {% elseif loop.length == 1 %}
                                        <div>
                                            <i class="uk-icon-small uk-icon-angle-up uk-text-muted"></i>
                                            <i class="uk-icon-small uk-icon-angle-down uk-text-muted"></i>
                                        </div>
                                    {% else %}
                                        <div class="uk-margin-right">
                                            <a class="uk-button-primary" href="#step_{{count-1}}"><i class="uk-icon-small uk-icon-angle-up"></i></a>
                                            <a class="uk-button-primary" href="#step_{{count+1}}"><i class="uk-icon-small uk-icon-angle-down"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="uk-width-3-5 uk-text-right">

                                    {# step actions #}
                                    <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                        <button class="uk-button uk-button-mini">
                                            {{ 'selected entries'|trans({}, 'rubric') }}
                                            <i class="uk-icon-caret-down"></i>
                                        </button>

                                        <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                            <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                                {# new step #}
                                                <li>
                                                    <a class="newStep" href="#" id="newStep" data-step-url="{{ path('app_todo_createstep', {'roomId': roomId, 'itemId': todo.itemId}) }}">
                                                        <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new step'|trans({}) }}
                                                    </a>
                                                </li>

                                                {# delete #}
                                                <li>
                                                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                                                        <a  href="#" data-cs-action="{{ {
                                                            'url': path('app_step_xhrdelete', {'roomId': roomId, 'itemId': step.itemId}),
                                                            'action': 'delete',
                                                            'itemId': step.itemId,
                                                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                            'mode': 'click',
                                                            'itemType': step.itemType,
                                                            'title': 'list choice'|trans({},'rubric')|capitalize,
                                                            'confirmQuestion': 'confirm delete'|trans({},'rubric'),
                                                            'confirmCancel': 'confirm delete cancel'|trans({},'rubric'),
                                                            'confirmOk': 'confirm delete confirm'|trans({},'rubric')
                                                        }|json_encode|e('html_attr') }}">
                                                            <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                        </a>
                                                    {% else %}
                                                        <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <article class="uk-article uk-position-relative">
                            {# title #}
                            <div class="cs-toggle" data-uk-observe>
                                {{ macrosTodo.title(step, modifierList, userCount, readCount, readSinceModificationCount) }}
                            </div>
                            
                            {# description #}
                            <div id="description{{ step.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': step.contextId, 'itemId': step.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': step.contextId, 'itemId': step.itemId}) }}' }">
                                {{ macrosItem.itemDescription('description', step, true, step.description) }}
                            </div>

                            {# files #}
                            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': step.contextId, 'itemId': step.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': step.contextId, 'itemId': step.itemId}) }}' }">
                                {{ macrosItem.files(step) }}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>

            {# annotations #}
            {% if item.itemType != 'discussion' %}
                <div class="uk-panel-teaser cs-panel-teaser-primary uk-margin-bottom-remove uk-margin-top">
                    <div class="uk-grid">
                        <div class="uk-width-3-5 uk-text-large ">
                            {{ 'annotations'|trans({})|capitalize }}
                        </div>
                    </div>
                </div>              
                
                <div id="annotations{{ todo.itemId }}" class="uk-panel uk-panel-box uk-margin-bottom uk-panel-box-primary ">

                    {% if is_granted('ITEM_ANNOTATE', todo.itemId) %}
                        <article class="uk-comment">
                            <header class="uk-comment-header uk-flex">
                                <div class="uk-margin-right uk-flex-item-none">
                                    {% if not user.isDeleted and user.isUser %}
                                        {{ macros.userIconLink(user) }}
                                    {% else %}
                                        {{ macros.userIcon(user) }}
                                    {% endif %}
                                </div>
                                <div class="uk-width-8-10">
                                    {{ form_start(annotationForm, {'action': path('app_annotation_create', {'roomId': app.request.attributes.get('roomId'), 'itemId': todo.itemId}), 'method': 'POST'}) }}
                                        <p>
                                            {{ form_label(annotationForm.description) }}
                                        </p>
                                        {{ form_widget(annotationForm.description) }}
                                    {{ form_end(annotationForm) }}
                                </div>
                            </header>
                        </article>
                    {% endif %}

                    {{ render(controller(
                        'App\\Controller\\AnnotationController::feedAction',
                        { 'roomId': roomId, 'linkedItemId': item.itemId }
                    ))}}

                </div>

            {% endif %}
        </div>
        
        <div class="uk-width-medium-1-5 cs-addon-navigation">
            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#steps{{ todo.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ todo.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#files{{ todo.itemId }}">{{ 'files'|trans({})}}</a></li>
                        <li><a href="#links{{ todo.itemId }}">{{ 'links'|trans({})}}</a></li>
                        {% if (showCategories or showCategories) %}
                            <li><a href="#categoriesAndBuzzwords{{ todo.itemId }}">{{ 'categoriesAndBuzzwords'|trans({})}}</a></li>
                        {% endif %}
                        {% if not stepList is empty %}
                            <li class="uk-parent">
                                <a href="#steps{{ todo.itemId }}">{{ 'steps'|trans({})|capitalize }}</a>
                                <ul class="uk-nav-sub">                      
                                    {% for step in stepList %}
                                        <li>
                                            <a href="#step{{ step.itemId }}">{{ loop.index }}. {{ step.title|decodeHtmlEntity|truncate(20) }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="#annotations{{ todo.itemId }}">{{ 'annotations'|trans({})|capitalize }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{# end #}
