{% import 'App:item:macros.html.twig' as macrosItem %}

<div class="uk-panel uk-panel-box uk-margin-top">
    {% include 'App:utils:save_spinner.html.twig' %}

    <article class="uk-article uk-position-relative">
        {# title #}
        <div class="cs-toggle" data-uk-observe>
            <div class="uk-form-horizontal">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="uk-flex">
                    <div id="remove-on-click" class="uk-width-9-10">
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="uk-margin-small-top">
                    <div class="uk-form-row">
                        {{ form_errors(form.time_spend) }}
                        {{ form_label(form.time_spend) }}
                        {{ form_widget(form.time_spend) }}
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top">
                    <div class="uk-margin-small-left">
                        {{ form_row(form.save) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ form_row(form.cancel) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {% if new is defined and new %}
            {# description #}
            <div class="cs-edit-step">
                {{ macrosItem.itemDescription('description', step, false, step.description) }}
            </div>

            {# files #}
            <div class="cs-edit-step">
                {{ macrosItem.files(step) }}
            </div>
        {% endif %}
    </article>
</div>