{% import 'item/macros.html.twig' as macrosItem %}

<div class="uk-panel uk-panel-box uk-margin-top">
    {% include 'utils/save_spinner.html.twig' %}

    <article class="uk-article uk-position-relative {% if new is defined and new %}cs-edit-draft{% endif %}">
        {# title #}
        <div class="cs-toggle" data-uk-observe>
            <div class="uk-form-horizontal">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="uk-flex">
                    <div id="remove-on-click" class="uk-width-9-10">
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="uk-margin-small-top">
                    <div class="uk-form-row">
                        {{ form_errors(form.time_spend) }}
                        {{ form_label(form.time_spend) }}
                        {{ form_widget(form.time_spend) }}
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top">
                    <div class="uk-margin-small-left">
                        {{ form_row(form.save) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ form_row(form.cancel) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {% if new is defined and new %}
            {# description #}
            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': step.contextId, 'itemId': step.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': step.contextId, 'itemId': step.itemId}) }}' }">
                {{ macrosItem.itemDescription('description', step, true, step.description, step.draft) }}
            </div>

            {# files #}
            <div class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_upload_uploadform', {'roomId': step.contextId, 'itemId': step.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': step.contextId, 'itemId': step.itemId}) }}' }">
                {{ macrosItem.files(step, step.draft) }}
            </div>

            <div id="draft-buttons-wrapper" data-item-type="step">
                <a id="draft-save-combine-link" href="" class="uk-button uk-button-primary">
                    {{ 'create entry'|trans({}, "form") }}
                </a>
                <a id="draft-cancel-link" href="" class="uk-button uk-button-secondary">
                    {{ 'cancel'|trans({}, "form") }}
                </a>
            </div>
        {% endif %}
    </article>
</div>