{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for file in files %}
    {% set entryAllowedActions = '' %}
    {% if allowedActions[file.filesId] is defined %}
        {% set entryAllowedActions = allowedActions[file.filesId] %}
    {% endif %}
    <article class="uk-comment" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">

        {# item change information #}
        {#{{ macros.statusColor(readerList, file.filesId) }}#}

        <header class="uk-comment-header uk-flex">
            {#<div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">#}
                {#{% if is_granted('ITEM_EDIT', file.filesId) %}#}
                    {#<form class="uk-form">#}
                        {#<input type="checkbox" value="{{ file.filesId }}">#}
                    {#</form>#}
                {#{% else %}#}
                    {#<i class="uk-icon-ban uk-icon-small red"></i>#}
                {#{% endif %}#}
            {#</div>#}

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {#{% if file.creator.isUser %}#}
                    {#{{  macros.userIconLink(file.creator) }}#}
                {#{% else %}#}
                    {#{{  macros.userIcon(file.creator) }}#}
                {#{% endif %}#}
                <div class="uk-comment-meta">
                    {% if file.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                        {{ 'today'|trans({})|capitalize }}, {{file.getModificationDate|date("H:i")}}
                    {% else %}
                        {{file.getModificationDate|date("d.m.Y")}}
                    {% endif %}
                </div>
            </div>

            {# title and meta #}
            <div class="uk-width-8-10">
                {% if loop.index == 3 or loop.index == 4 %}
                    <h4 class="uk-comment-title">
                        Freie Datei
                    </h4>
                {% else %}
                    <h4 class="uk-comment-title">
                        {{ file.filename }}
                        <a href="{{ path('commsy_announcement_detail', {'roomId': roomId, 'itemId': file.filesId}) }}">Eintrag</a>
                    </h4>
                {% endif %}

                <div class="uk-comment-meta">
                    {#{{ 'by'|trans({})|capitalize }}: {{file.modificatorItem.fullname}} ({{file.getCreationDate|date("d.m.Y")}})#}
                </div>
            </div>

        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
