{% import 'utils/macros.html.twig' as macros %}

{% for entry in entries %}
    {% set entryAllowedActions = '' %}
    {% if allowedActions[entry.itemId] is defined %}
        {% set entryAllowedActions = allowedActions[entry.itemId] %}
    {% endif %}
    <article class="uk-comment" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
    
        <header class="uk-comment-header uk-flex">
            <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                <form class="uk-form">
                    <input type="checkbox" value="{{ entry.itemId }}">
                </form>
            </div>

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if not entry.modificatorItem.isDeleted and entry.modificatorItem.isUser %}
                    {{ macros.userIconLink(entry.modificatorItem) }}
                {% else %}
                    {{ macros.userIcon(entry.modificatorItem) }}
                {% endif %}
                <div class="uk-comment-meta">
                    {% if entry.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                        {{ 'today'|trans({})|capitalize }}, {{entry.getModificationDate|date("H:i")}}
                    {% else %}
                        {{ entry.modificationDate|craue_date }}
                    {% endif %}
                </div>
            </div>

            {# title and meta #}
            <div class="uk-width-8-10">
                <h4 class="uk-comment-title">
                    <a href="{{ path('app_' ~ entry.itemType ~ '_detail', {'roomId': roomId, 'itemId': entry.itemId}) }}">{{ entry.title|decodeHtmlEntity }}</a>
                </h4>
               
                <div class="uk-comment-meta">
                    <a href="{{ path('app_room_home', {'roomId': entry.contextId}) }}">{{ entry.contextItem.title|decodeHtmlEntity }}</a>
                </div>
               
                <div class="uk-comment-meta">
                    {{ macros.fileListShort(entry) }}
                </div>
            </div>
            
            <div class="uk-width-2-10 uk-text-right">
                <i class="{{ macros.iconClassForItemType(entry.itemType) }} uk-icon-small"></i>              
            </div>
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
