{% form_theme form 'CommsyBundle:Form:uikit_layout.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

<hr class="uk-width-9-10"/>
<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
    <div class="uk-grid uk-margin-small-bottom">
        <div class="uk-width-9-10">
            <h4>{{ 'links'|trans({})}}</h4>
        </div>
    </div>
    <div class="uk-grid uk-margin-top-remove">
        <div class="uk-width-9-10">
            {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
        
            <ul id="linksFormTabs" class="uk-tab" data-uk-tab="{connect:'#linksForm'}">
                <li><a href="">{{ 'linked entries'|trans({})|capitalize }}</a></li>
                <li><a href="">{{ 'categories'|trans({})|capitalize }}</a></li>
                <li><a href="">{{ 'hashtags'|trans({})|capitalize }}</a></li>
            </ul>
            
            {{ form_start(form) }}
            {{ form_errors(form) }}
            
            <!-- This is the container of the content items -->
            <ul id="linksForm" class="uk-switcher uk-margin">
                <li>
                    <div class="uk-grid">
                        <div class="uk-width-3-4">
                            <div id="itemsListWrapper" class="uk-block uk-block-muted uk-padding-remove uk-margin cs-form-scroll">
                                <ul id="itemsList">
                                {% for entry in form.items %}
                                    <li>{{ form_widget(entry) }} {{ form_label(entry) }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="uk-block uk-block-muted uk-padding-remove uk-margin cs-form-scroll">
                                <ul id="itemsLinkedList">
                                {% for entry in form.itemsLinked %}
                                    <li>{{ form_widget(entry) }} {{ form_label(entry) }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-1-4">
                            {{ form_widget(form.filterRubric) }}
                            {{ form_widget(form.filterPublic) }}
                        </div>
                    </div>
                </li>
                
                <li>
                    {{ form_widget(form.categories) }}
                </li>
                
                <li>
                    <div class="uk-grid-width-small-1-4" data-uk-grid data-uk-check-display>
                        {% for hashtag in form.hashtags %}
                            <div>
                            {{ form_widget(hashtag) }}
                            {{ form_label(hashtag) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="uk-margin-top uk-flex">
                        <div>
                            {{ form_label(form.newHashtag) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ form_widget(form.newHashtag) }}
                        </div>
                    </div>
                </li>
            </ul>
            
            <div class="uk-flex uk-margin-small-top">
                <div>
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>
            
            {{ form_end(form) }} 
        </div>
    </div>
</div>

<script>
//$("input[id^='itemLinks_rubricFilter_']").each(function() {
    $('#itemLinks_filterRubric').change(function(){
        filterItems($(this));
    });
    
    $('#itemLinks_filterPublic').change(function(){
        filterItems($(this));
    });
    
    function filterItems(element) {
        var article = element.parents('.cs-edit-section');
        $(article).find('.cs-save-spinner').toggleClass('uk-hidden', false);
        //$data = $("input[id^='itemLinks_rubricFilter_']:checked");
        //$data = element;
        $data = $("select[id^='itemLinks_filter']");
        var $form = element.closest('form');
        $.ajax({
            url : '/commsy.php/room/{{ roomId }}/item/{{ itemId }}/editlinks',
            type: $form.attr('method'),
            data : $data,
            success: function(html) {
                $(article).find('.cs-save-spinner').toggleClass('uk-hidden', true);
                
                $('#itemsList').replaceWith(
                    $(html).find('#itemsList')
                );
            }
        });
    }
    
    $('#itemsListWrapper').on('change', 'input[id^=itemLinks_items]', function(){
        var article = $(this).parents('.cs-edit-section');
        $(article).find('.cs-save-spinner').toggleClass('uk-hidden', false);
        $data = $("input[id^='itemLinks']:checked");
        
        console.log($data);
        
        var $form = $(this).closest('form');
        $.ajax({
            url : '/commsy.php/room/{{ roomId }}/item/{{ itemId }}/editlinks',
            type: $form.attr('method'),
            data : $data,
            success: function(html) {
                $(article).find('.cs-save-spinner').toggleClass('uk-hidden', true);
                
                $('#itemsLinkedList').replaceWith(
                    $(html).find('#itemsLinkedList')
                );
            }
        });
    });
//});
</script>