{% form_theme form 'CommsyBundle:Form:uikit_layout.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

<hr class="uk-width-9-10"/>
<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
    <div class="uk-grid uk-margin-small-bottom">
        <div class="uk-width-9-10">
            <h4>{{ 'links'|trans({})}}</h4>
        </div>
    </div>
    <div class="uk-grid uk-margin-top-remove">
        <div class="uk-width-9-10">
            {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
        
            <ul id="linksFormTabs" class="uk-tab" data-uk-tab="{connect:'#linksForm'}">
                <li><a href="">{{ 'linked entries'|trans({})|capitalize }}</a></li>
                <li><a href="">{{ 'categories'|trans({})|capitalize }}</a></li>
                <li><a href="">{{ 'hashtags'|trans({})|capitalize }}</a></li>
            </ul>
            
            {{ form_start(form) }}
            {{ form_errors(form) }}
            
            <!-- This is the container of the content items -->
            <ul id="linksForm" class="uk-switcher uk-margin">
                <li>
                    {{ form_widget(form.rubricFilter) }}
                    {{ form_widget(form.items) }}
                </li>
                
                <li>
                    {{ form_widget(form.categories) }}
                </li>
                
                <li>
                    <div class="uk-grid-width-small-1-4" data-uk-grid data-uk-check-display>
                        {% for hashtag in form.hashtags %}
                            <div>
                            {{ form_widget(hashtag) }}
                            {{ form_label(hashtag) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="uk-margin-top uk-flex">
                        <div>
                            {{ form_label(form.newHashtag) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ form_widget(form.newHashtag) }}
                        </div>
                    </div>
                </li>
            </ul>
            
            <div class="uk-flex uk-margin-small-top">
                <div>
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>
            
            {{ form_end(form) }} 
        </div>
    </div>
</div>

<script>
$("input[id^='itemLinks_rubricFilter_']").each(function() {
    $(this).change(function(){
        $data = $("input[id^='itemLinks_rubricFilter_']:checked");
        var $form = $(this).closest('form');
        $.ajax({
            url : '/commsy.php/room/{{ roomId }}/item/{{ itemId }}/editlinks',
            type: $form.attr('method'),
            data : $data,
            success: function(html) {
                $('#itemLinks_items').replaceWith(
                    $(html).find('#itemLinks_items')
                );
            }
        });
    });
});
</script>