{% form_theme form 'CommsyBundle:Form:uikit_layout.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% macro nestedForm(data) %}
    <li>
        {{ form_widget(data) }}
        {{ form_label(data) }}
    </li>
    {% if data.children is not empty %}
        <ul>
            {% for child in data.children %}
                {#{ _self.nestedForm(child) }#}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}

    <ul id="linksFormTabs" class="uk-tab" data-uk-tab="{connect:'#linksForm'}">
        <li><a href="">{{ 'linked entries'|trans({})|capitalize }}</a></li>
        <li><a href="">{{ 'categories'|trans({})|capitalize }}</a></li>
        <li><a href="">{{ 'hashtags'|trans({})|capitalize }}</a></li>
    </ul>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <!-- This is the container of the content items -->
    <ul id="linksForm" class="uk-switcher uk-margin">
        <li>
            
            
        </li>
        
        <li>
            <ul>
                {% for child in form.categories.children %}
                    {{ _self.nestedForm(child) }}
                {% endfor %}
            </ul>
        </li>
        
        <li>
            <div class="uk-grid-width-small-1-4" data-uk-grid data-uk-check-display>
                {% for hashtag in form.hashtags %}
                    <div>
                    {{ form_widget(hashtag) }}
                    {{ form_label(hashtag) }}
                    </div>
                {% endfor %}
            </div>
            <div class="uk-margin-top uk-flex">
                <div>
                    {{ form_label(form.newHashtag) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_widget(form.newHashtag) }}
                </div>
            </div>
        </li>
    </ul>
    
    <div class="uk-flex uk-margin-small-top">
        <div>
            {{ form_row(form.save) }}
        </div>
        <div class="uk-margin-small-left">
            {{ form_row(form.cancel) }}
        </div>
    </div>
    
    {{ form_end(form) }}
    
</div>