{% macro files(item, draft) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macrosUtils %}

    {% set fileArray = item.fileList.to_array %}

    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- "files"|trans({}) }}
                    ({{ fileArray|length }})
                </h4>
            </div>

            <div class="uk-width-2-10 uk-flex uk-flex-right">
                {# edit action #}
                {% if is_granted('ITEM_EDIT', item.itemId) %}
                    <div class="uk-display-inline cs-edit uk-invisible {% if draft %}cs-edit-draft{% endif %}" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                {% if not fileArray is empty %}
                    <div class="uk-display-inline cs-toggle-icon uk-margin-left">
                        <a class="cs-toggle" data-uk-toggle="{target:'.toggle-files-{{ item.itemId }}'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
                    </div>
                {% endif %}
           </div>
        </div>

        {# content #}
        {% if not fileArray is empty %}
            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">

                {# preview #}
                <div class="toggle-files-{{ item.itemId }} cs-toggle-preview-small">
                    {% if fileArray|length > 10 %}
                        <div class="uk-slidenav-position uk-margin-top uk-margin-bottom" data-uk-slider="{infinite: true}">
                            <div class="uk-slider-container">
                                <ul class="uk-slider uk-grid uk-grid-width-medium-1-10">
                    {% else %}
                        <div class="uk-margin-top uk-margin-bottom">
                            <div>
                                <ul class="uk-grid cs-file-grid uk-grid-width-medium-1-10">
                    {% endif %}
                                {% for file in fileArray %}
                                     <li>
                                        <div class="uk-panel uk-panel-box-secondary cs-file-panel-box uk-vertical-align">
                                            {% if file.extension|lower == 'jpg' or file.extension|lower == 'jpeg' or file.extension|lower == 'png' or file.extension|lower == 'gif' %}
                                                <a class="uk-margin-remove" href="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" data-uk-lightbox="{group:{{ item.itemId }}}" data-lightbox-type="image">
                                                    <div class="uk-clearfix">
                                                        <div class="cs-align-center" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename}} ({{ file.fileSize }} kb)">
                                                            <img class="cs-align-center cs-slider" style="height:28px;" src="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" />
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %} 
                                                <div class="uk-clearfix">
                                                    <div class="cs-align-center" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename}} ({{ file.fileSize }} kb)">
                                                        <div class="cs-align-center uk-vertical-align-middle">                        
                                                            <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}" ><i class="cs-icon-medium  cs-slider {{ macrosUtils.iconClassForFileType(file.extension) }}"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% if fileArray|length > 10 %}
                            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous" draggable="false"></a>
                            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next" draggable="false"></a>
                        {% endif %}
                    </div>

                    <a class="" href="#" data-cs-unhide-collapsed="{src: '.toggle-files-{{ item.itemId }}'}" data-cs-readmore>
                        <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                    </a>

                </div>

                {# full content #}
                <div class="toggle-files-{{ item.itemId }} cs-toggle-content uk-hidden">
                    <div class="uk-margin-top uk-margin-bottom" data-uk-grid="{gutter: 20}" data-uk-check-display>
                        {% for file in fileArray %}
                            <div class="uk-width-medium-1-2 uk-width-large-1-4">
                                <div class="uk-panel uk-panel-box-secondary uk-vertical-align">
                                    {% if file.extension|lower == 'jpg' or file.extension|lower == 'jpeg' or file.extension|lower == 'png' or file.extension|lower == 'gif' %}
                                        <a class="uk-margin-remove" href="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" data-uk-lightbox="{group:{{ item.itemId }}}" data-lightbox-type="image">
                                            <div class="uk-clearfix">
                                                <div class="cs-align-center">
                                                    <img class="cs-align-center cs-slider" style="height:80px;" src="{{ path('commsy_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" />
                                                </div>
                                            </div>
                                        </a>
                                    {% else %}
                                        <div class="uk-clearfix">
                                            <div class="cs-align-center">
                                                <div class="cs-align-center uk-vertical-align-middle">
                                                    <i class="cs-icon-xxl-large  cs-slider {{ macrosUtils.iconClassForFileType(file.extension) }}"></i>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="uk-vertical-align-middle" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename }}">
                                        <a href="{{ path('commsy_file_getfile', {'fileId': file.fileId}) }}">{{ file.filename|truncate(20) }}</a><br/>
                                        ({{ file.fileSize }} kb)
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="" href="#" data-cs-unhide-collapsed="{src: '.toggle-files-{{ item.itemId }}'}" data-cs-readmore>
                        <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="uk-width-9-10 uk-margin-top-remove">
                
                <div class="toggle-files-{{ item.itemId }} cs-toggle-empty">
                    <span class="uk-text-muted">{{ 'no content'|trans({}, "room") }}</span>
                </div>

            </div>
        {% endif %}
    </article>
{% endmacro %}

{% macro links(item,withTags,withCategories,roomCategories, draft) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
    {% import _self as itemMacros %}
    
    {% set countEntries = item.tagsArray|length + item.buzzwordArray|length + item.AllLinkeditemIDArray|length %}

    {% set preview %}
    <div class="uk-grid">
        <div class="uk-width-1-3">
            <strong>{{ 'linked entries'|trans({}, "room") }}:</strong> <br/>
            {{ render(controller(
                'CommsyBundle:Link:showDetailShort',
                { 'roomId': item.contextId, 'itemId': item.itemId }
            ))}}            
        </div>
        {% if withCategories %}
            <div class="uk-width-1-3">
                <strong>{{ 'categories'|trans({}, "room") }}:</strong> <br/>
                {% set count = 1 %}
                {% if (item.tagsArray|length) < 4 %}
                    {% if (item.tagsArray|length) == 0 %}
                        {{ 'no linked items'|trans({}, "room")}}    
                    {% else %}
                        {% for tag in item.tagsArray %}
                            {{tag.title|decodeHtmlEntity}}{% if count < item.tagsArray|length %}, {% endif %}
                            {% set count = count +1 %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                        {{item.tagsArray|length}} {{ 'categories'|trans({}, "room") }}
                {% endif %}
            </div>
        {% endif %}
        {% if withTags %}
            <div class="uk-width-1-3">
                <strong>{{ 'hashtags'|trans({}, "room") }}:</strong> <br/>
                {% set count = 1 %}
                {% if (item.buzzwordArray|length) < 4 %}
                    {% if (item.buzzwordArray|length) == 0 %}
                        {{ 'no linked items'|trans({}, "room")}}    
                    {%else%}
                        {% for tag in item.buzzwordArray %}
                            {{tag}}{% if count < item.buzzwordArray|length %}, {% endif %}
                            {% set count = count +1 %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                        {{item.buzzwordArray|length}} {{ 'hashtags'|trans({}, "room") }}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endset %}

    {% set content %}

    <div class="uk-grid">
        <div class="uk-width-1-3">
            <strong>{{ 'linked entries'|trans({}, "room") }}:</strong> <br/>
            {{ render(controller(
                'CommsyBundle:Link:showDetail',
                { 'roomId': item.contextId, 'itemId': item.itemId }
            ))}}            
        </div>
        <div class="uk-width-1-3">
            <strong>{{ 'categories'|trans({}, "room") }}:</strong>
            {% if (item.tagsArray|length) > 0 %}
                <div class="cs-tree-plain">
                    {{ itemMacros.nestedTagList(item.tagsArray, roomCategories, 1) }}
                </div>
            {% else %}
                <br/>{{ 'no linked items'|trans({}, "room")}}
            {% endif %}
        </div>
        <div class="uk-width-1-3">
            <strong>{{ 'hashtags'|trans({}, "room") }}:</strong> <br/>
            {% set tagArray = item.buzzwordList.to_array() %} 
            {% if (tagArray|length) > 0 %}
                {% for tag in tagArray %}
                    <button class="uk-button uk-margin-small-bottom">{{tag.title|decodeHtmlEntity}}</button>
                {% endfor %}
            {% else %}
                {{ 'no linked items'|trans({}, "room")}}
            {% endif %}
        </div>
    </div>
    {% endset %}
    
    {{ macros.editContent('links', item, true, content, preview, true, true, countEntries, draft) }}
{% endmacro %}

{% macro workflow(item, workflowGroupArray, workflowUserArray, workflowText, workflowValidityDate, workflowResubmissionDate, workflowTitles, withTrafficLight, withValidity, withResubmission) %}
    {% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

    {% set preview %}

    <div class="uk-grid">
        {% if withTrafficLight %}
            <div class="uk-width-1-3">
                <strong>{{ 'worflow status'|trans({}, "material") }}:</strong> <br/>
                <div class="uk-flex-inline">
                    <div class="uk-margin-right">{{ macros.workflowTrafficLight(item, workflowTitles) }}</div>
                    <div>{{workflowText}}</div>
                 </div>
            </div>
        {% endif %}
        {% if workflowValidityDate != '0000-00-00 00:00:00' and withValidity %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow validity date'|trans({}, "material") }}</strong>: <br/>
                    {{ workflowValidityDate|craue_date }}       
                </div>
            </div>
        {% endif %}
        {% if workflowResubmissionDate != '0000-00-00 00:00:00' and withResubmission %}
             <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow resubmission date'|trans({}, "material") }}</strong>:<br/> 
                    {{ workflowResubmissionDate|craue_date }}
                </div>
            </div>
       {% endif %}
    </div>

        
    {% endset %}

    {% set content %}
    <div class="uk-grid">
        {% if withTrafficLight %}
            <div class="uk-width-1-3">
                <strong>{{ 'worflow status'|trans({}, "material") }}:</strong> <br/>
                <div class="uk-flex-inline uk-margin-bottom">
                    <div class="uk-margin-right">{{ macros.workflowTrafficLight(item, workflowTitles) }}</div>
                    <div>{{workflowText}}</div>
                 </div>
            </div>
        {% endif %}
        {% if workflowValidityDate != '0000-00-00 00:00:00' and withValidity %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow validity date'|trans({}, "material") }}</strong>: <br/>
                    {{ workflowValidityDate|craue_date }}       
                </div>
            </div>
        {% endif %}
        {% if workflowResubmissionDate != '0000-00-00 00:00:00' and withResubmission %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow resubmission date'|trans({}, "material") }}</strong>:<br/> 
                    {{ workflowResubmissionDate|craue_date }}
                </div>
            </div>
       {% endif %}
       {% if not workflowGroupArray is empty %}
            <div class="uk-width-1-2">
                <strong>{{ 'workflow marked as read by groups'|trans({}, "material") }}:</strong><br/>
                {% set counter = 1 %}
                {% for workflowGroup in workflowGroupArray %}
                    <a href="{{ path('commsy_group_detail', {'roomId': item.contextId, 'itemId': workflowGroup.iid}) }}">{{workflowGroup.title|decodeHtmlEntity}}</a> ({{workflowGroup.userCount}} {{ 'of'|trans({}, "room") }} {{workflowGroup.userCountComplete}})
                    {% if counter != workflowGroupArray|length %}, {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
            </div>
        {% endif %}       
        {% if not workflowUserArray is empty %}
            <div class="uk-width-1-2">            
               <strong>{{ 'workflow marked as read by users'|trans({}, "material") }}:</strong><br/>
               {% set counter = 1 %}
               {% for workflowUser in workflowUserArray %}
                   <a href="{{ path('commsy_user_detail', {'roomId': item.contextId, 'itemId': workflowUser.iid}) }}">{{workflowUser.name}}</a> 
                    {% if counter != workflowUserArray|length %}, {% endif %}
                    {% set counter = counter + 1 %}
               {% endfor %}
           </div>
       {% endif %}       
     </div>
   {% endset %}
    
    {{ macros.editContent('workflow', item, true, content, preview, true, false, 0) }}
{% endmacro %}

{% macro itemDescription(title, item, edit, content, draft) %}
    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- title|trans({}) -}}
                </h4>
            </div>

            <div class="uk-width-2-10 uk-flex uk-flex-right">

                {# edit action #}
                {% if edit and is_granted('ITEM_EDIT', item.itemId) %}
                    <div class="uk-display-inline cs-edit uk-invisible {% if draft %}cs-edit-draft{% endif %}" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                {% if not content is empty %}
                    <div class="uk-display-inline cs-toggle-icon uk-margin-left uk-invisible" data-cs-unhide-collapsed="{src: '.toggle-{{ title }}-{{ item.itemId }}'}">
                        <a class="cs-toggle" data-uk-toggle="{target:'.toggle-{{ title }}-{{ item.itemId }}', cls: 'cs-toggle-full'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}">
                            <i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {# content #}
        {% if not content is empty %}
            <div class="uk-width-9-10">

                {# preview #}
                <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-preview">
                    {{ content|commsyMarkup|raw }}
                </div>

                <a class="uk-invisible" href="#" data-cs-unhide-collapsed="{src: '.toggle-{{ title }}-{{ item.itemId }}'}" data-cs-readmore>
                    <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                    <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
                </a>

            </div>
        {% endif %}
{% endmacro %}

{% macro nestedTagList(tags, roomTags, level) %}
    {% set opened = true %}
    <ul class="uk-list">
    {% for child in roomTags %}
    
        {% set childTitle %}
            <div><span class="uk-text-muted">{{ child.title|decodeHtmlEntity }}</span></div>
        {% endset %}
        {% for tag in tags %}
            {% if tag.id == child.item_id %}
                {% set childTitle %}
                    <div><span class="uk-text-bold">{{ child.title|decodeHtmlEntity }}</span></div>
                {% endset %}
            {% endif %}
        {% endfor %}
    
        {% if child.children is defined and not child.children is empty %}
            <li id="tag_{{ child.title|decodeHtmlEntity }}" data-jstree='{"opened": {{ opened }}}'>
                {{ childTitle }}
                {{ _self.nestedTagList(tags, child.children, level+1) }}
            </li>
        {% else %}
            <li id="tag_{{ child.title|decodeHtmlEntity }}" data-jstree='{"opened": {{ opened }}}'>
                {{ childTitle }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
