{% extends 'CommsyBundle:Base:room.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-1-1">

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Send item'|trans({}, "mail") }}</div>
                    </div>
                </div>

                <div class="uk-alert uk-alert-success">
                    <i class="uk-icon-check-square-o uk-icon-medium"></i>
                    {{ 'Your mail has been successfully send.'|trans({}, "mail") }}
                </div>

                <div>
                    {{ 'Back to'|trans({}, "mail") }} <a href="{{ link }}">{{ title }}</a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}