{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

<article class="uk-article uk-position-relative cs-send">
    {{ form_start(form) }}

        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}

        {% if form.send_to_attendees is defined %}
            {{ form_row(form.send_to_attendees) }}
        {% endif %}

        {% if form.send_to_assigned is defined %}
            {{ form_row(form.send_to_assigned) }}
        {% endif %}

        {% if form.send_to_group_all is defined %}
            {{ form_row(form.send_to_group_all) }}
        {% endif %}

        {% if form.send_to_groups is defined %}
            {{ form_row(form.send_to_groups) }}
        {% endif %}

        {% if form.send_to_institutions is defined %}
            {{ form_row(form.send_to_institutions) }}
        {% endif %}

        {% if form.send_to_all is defined %}
            {{ form_row(form.send_to_all) }}
        {% endif %}

        {{ form_row(form.copy_to_sender) }}
        {{ form_row(form.additional_recipients) }}

        <div class="uk-form-row">
            <a href="#" id="cs-form-send-add-recipient">{{ 'Add another recipient'|trans({}, 'mail') }}</a>
        </div>

        <div class="uk-form-row">
            {{ form_widget(form.save) }}
            {{ form_widget(form.cancel) }}
        </div>
    {{ form_end(form) }}
</article>

<hr class="uk-width-9-10">