{% extends 'CommsyBundle:base:room.html.twig' %}

{% import 'CommsyBundle:item:macros.html.twig' as macrosItem %}
{% import 'CommsyBundle:group:macros.html.twig' as macrosGroup %}
{% import 'CommsyBundle:utils:macros.html.twig' as macros %}

{% set item = group %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# group content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        <div class="uk-flex-inline uk-width-2-5 ">

                            {# back navigation #}
                            <div class="uk-margin-right">
                                {% if firstItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left uk-button-primary"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left uk-button-primary"></i>
                                {% endif %}
                            </div>

                            {# item dropdown #}
                            <div class="uk-button-dropdown uk-margin-right" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'Group'|transchoice(0, {}, "rubric")}} {{ counterPosition }} / {{ count }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div id="cs-entry-navigation" class="uk-dropdown uk-padding-remove">
                                   <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                                       {% for tempGroup in groupList %}
                                            {% if tempGroup.itemId != group.itemId %}
                                                <li><a href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': tempGroup.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempGroup.title|decodeHtmlEntity }}">{{ tempGroup.title|decodeHtmlEntity|truncate(25) }}</a></li>
                                            {% else %}
                                                <li><a href="#" data-uk-tooltip="{delay:'250'}" title="{{ tempGroup.title|decodeHtmlEntity }}" class="uk-text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tempGroup.title|decodeHtmlEntity|truncate(20)  }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            {# forward navigation #}
                            <div>
                                {% if nextItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right uk-button-primary"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a class="uk-button-primary" href="{{ path('commsy_group_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right uk-button-primary"></i>
                                {% endif %}
                            </div>
                        </div>

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">


                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown uk-dropdown-small uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">

                                        {% if not isArchived and not item.isSystemLabel %}
                                            {# join and leave group (and group room) #}
                                            <li id="join-group-link" {% if userIsMember %} class="uk-hidden" {% endif %}>
                                                <a id="join-group-link" href="#" data-cs-action="{{ {
                                                    'url': path('commsy_group_join', {'roomId': roomId, 'itemId': group.itemId}),
                                                    'action': 'join',
                                                    'itemId': group.itemId,
                                                    'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                    'mode': 'click',
                                                    'successMessage': '<i class=\'uk-icon-medium uk-icon-user-plus\'></i>' ~ 'Joined group %s'|trans|format(group.title|decodeHtmlEntity)
                                                }|json_encode|e('html_attr') }}">
                                                    <i class="uk-icon-small uk-icon-user-plus uk-icon-justify uk-visible-large"></i> {{ 'join'|trans({})|capitalize }}
                                                </a>
                                            </li>
                                            {% if item.isGroupRoomActivated %}
                                                <li id="join-group-and-room-link" {% if userIsMember or not memberStatus == 'join' %} class="uk-hidden" {% endif %}>
                                                    <a href="{{ path('commsy_group_join', {'roomId': roomId, 'itemId': group.itemId, 'joinRoom': true}) }}">
                                                        <i class="uk-icon-small uk-icon-user-plus uk-icon-justify uk-visible-large"></i> {{ 'join'|trans({})|capitalize }} {{ 'withGrouproom'|trans({}) }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li id="leave-group-link" {% if not userIsMember %} class="uk-hidden" {% elseif memberStatus == 'enter' %} data-uk-tooltip title="{{ 'leave grouproom before group'|trans({},'group') }}" {% endif %}>
                                                <a id="leave-group-link" {% if memberStatus == 'enter'%} class="uk-text-muted" style="pointer-events: none;" {% endif%} href="#" data-cs-action="{{ {
                                                    'url': path('commsy_group_leave', {'roomId': roomId, 'itemId': group.itemId}),
                                                    'action': 'leave',
                                                    'itemId': group.itemId,
                                                    'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                    'mode': 'click',
                                                    'successMessage': '<i class=\'uk-icon-medium uk-icon-user-times\'></i>' ~ 'Left group %s'|trans|format(group.title|decodeHtmlEntity)
                                                }|json_encode|e('html_attr') }}">
                                                    <i class="uk-icon-small uk-icon-user-times uk-icon-justify uk-visible-large"></i> {{ 'leave'|trans({})|capitalize }}
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if is_granted('ITEM_EDIT', 'NEW') %}
                                            {# new entry #}
                                            <li>
                                                <a class="" href="{{ path('commsy_group_create', {'roomId': roomId}) }}" id="newEntry">
                                                    <i class="uk-icon-small uk-icon-plus-circle uk-icon-justify uk-visible-large"></i> {{ 'new'|trans({}) }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        
                                        {# print #}
                                        <li>
                                            <a href="{{ path('commsy_group_print', {'roomId': roomId, 'itemId': group.itemId}) }}" target="_blank" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# save #}
                                        <li>
                                            <a href="#" data-cs-action="{{ {
                                                'url': path('commsy_group_download', {'roomId': roomId}),
                                                'action': 'save',
                                                'itemId': group.itemId,
                                                'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                'mode': 'click',
                                            }|json_encode|e('html_attr') }}">
                                                <i class="uk-icon-justify uk-icon-small uk-icon-save uk-visible-large"></i> {{ 'save'|trans({})|capitalize }}
                                            </a>
                                        </li>

                                        {# send #}
                                        <li>
                                            <a href="{{ path('commsy_group_send', {'roomId': roomId, 'itemId': group.itemId}) }}">
                                                <i class="uk-icon-small uk-icon-send-o uk-icon-justify uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                                            </a>
                                        </li>

                                        {% if is_granted('ITEM_EDIT', item.itemId) %}
                                            {# delete #}
                                            <li>
                                                <a  href="#" data-cs-action="{{ {
                                                    'url': path('commsy_group_xhrdelete', {'roomId': roomId, 'itemId': group.itemId}),
                                                    'action': 'delete',
                                                    'itemId': group.itemId,
                                                    'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                                                    'mode': 'click',
                                                    'itemType': group.itemType,
                                                    'title': 'list choice'|trans({},'rubric')|capitalize,
                                                    'confirmQuestion': 'confirm delete'|trans({},'rubric'),
                                                    'confirmCancel': 'confirm delete cancel'|trans({},'rubric'),
                                                    'confirmOk': 'confirm delete confirm'|trans({},'rubric'),
                                                    'returnUrl': path('commsy_group_list', {'roomId': roomId})
                                                }|json_encode|e('html_attr') }}">
                                                    <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% if alert %}
                    {{ macros.showAlert(alert) }}
                {%  endif %}

                {% if pathTopicItem %}
                    {{ macros.showPath(pathTopicItem, group) }}
                {%  endif %}

                {# content #}
                <article class="uk-article uk-position-relative {% if draft %}cs-edit-draft{% endif %}" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosGroup.title(group, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ group.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editdescription', {'roomId': group.contextId, 'itemId': group.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': group.contextId, 'itemId': group.itemId}) }}' }">
                        {{ macrosItem.itemDescription('description', group, true, group.description, draft) }}
                    </div>
            
                    {# members #}
                    {% if userRubricVisible %}
                        <div id="member{{ group.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe>
                            {{ macrosGroup.members(group, members) }}
                        </div>
                    {% endif %}
 
                    {# grouproom #}
                    <div id="member{{ group.itemId }}" class="cs-toggle" data-uk-observe>
                        <hr class="uk-width-9-10"/>
                        {{ macrosGroup.grouproom(group, roomId, userIsMember, memberStatus, draft, user.isRoot) }}
                    </div>

                    {% if not draft %}
                        {# links #}
                        <div id="links{{ group.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('commsy_item_editlinks', {'roomId': group.contextId, 'itemId': group.itemId}) }}', cancelEditUrl: '{{ path('commsy_item_canceledit', {'roomId': group.contextId, 'itemId': group.itemId}) }}' }">
                            {{ macrosItem.links(group, showHashtags, showCategories, roomCategories) }}
                        </div>
                    {% endif %}

                    {% if draft %}
                        <div id="draft-buttons-wrapper">
                            <a id="draft-save-combine-link" href="" class="uk-button uk-button-primary">
                                {{ 'create entry'|trans({}, "form") }}
                            </a>
                            <a id="draft-cancel-link" href="" class="uk-button uk-button-secondary">
                                {{ 'cancel'|trans({}, "form") }}
                            </a>
                        </div>
                    {% endif %}
                </article>
            </div>
        </div>

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ group.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ group.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        {% if userRubricVisible %}
                            <li><a href="#member{{ group.itemId }}">{{ 'members'|trans({})}}</a></li>
                        {% endif %}
                        <li><a href="#grouproom{{ group.itemId }}">{{ 'grouproom'|trans({},'group')}}</a></li>
                        <li><a href="#links{{ group.itemId }}">{{ 'links'|trans({})}}</a></li>
                     </ul>
                </div>
            </div>

        </div>
      
    </div>
{% endblock %}

{# end #}
