{% import 'utils/macros.html.twig' as macros %}

<div class="uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'utils/save_spinner.html.twig' %}
    <div class="uk-form-horizontal">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="uk-flex">
            <div class="uk-width-9-10">
                    {{ form_widget(form.title) }}
            </div>
        </div>

            {% if group.creator.itemId == currentUser.itemId or currentUser.isModerator %}
            <div class="uk-margin-small-left uk-flex">
                <label class="uk-form-label">{{ 'hidden'|trans({}, "form")|capitalize }}</label>
                <div>
                    {{ form_widget(form.hidden) }}
                </div>
            </div>
            <div class="uk-margin-small-left uk-flex">
                <label class="uk-form-label">{{ 'hidden until'|trans({}, "form")|capitalize }}</label>
                <div class="uk-margin-small-top">
                    {{ form_widget(form.hiddendate) }}
                </div>
            </div>
            {% endif %}

            {% if isDraft and (showHashtags or showCategories) %}
                {{ macros.mandatoryLinks(showHashtags, showCategories, form) }}
            {% endif %}

            <div class="uk-flex uk-margin-small-top">
                <div class="uk-margin-small-left">
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>   
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>