{% macro title(item, modifierList, userCount, readCount, readSinceModificationCount, draft, showRating) %}
    {% import 'utils/macros.html.twig' as macros %}
    {% set pathName = '' %}
    {% if item.itemType == 'group' %}
        {% set pathName = 'app_group_edit' %}
    {% elseif item.itemType == 'section' %}
        <a name="section{{item.ItemID}}"></a>
        {% set pathName = 'app_group_edit' %}
    {% endif %}
    {% if userCount == 0 %}
        {% set userCount = 1 %}
    {% endif %}
    
    <div id="section{{ item.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{editUrl: '{{ path(pathName, {'roomId': item.contextId, 'itemId': item.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': item.contextId, 'itemId': item.itemId}) }}', draft: '{{ draft }}'}">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                        </div>
                    </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'utils/edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {% if '9999-00-00' not in item.getModificationDate %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {% else %}
                                                    {{ 'last changed'|trans({})|capitalize }}: {{item.creationDate|date("d.m.Y H:i")}}<br/>
                                                {% endif %}
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endmacro %}

{% macro titleSave(item, modifierList, userCount, readCount, readSinceModificationCount) %}
    {% import 'utils/macros.html.twig' as macros %}
    <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <h1 class="uk-article-title">{{ item.title|decodeHtmlEntity }}</h1>
                        </div>
                    </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('title', item, true) }}
                        {% include 'utils/edit_spinner.html.twig' %}
                    {% else %}
                        {{ macros.actionIcons('title', item, false) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-margin-left uk-margin-right uk-position-relative">
            <div class="uk-width-1-1 uk-padding-remove uk-margin-small-bottom">    
                <div class="uk-grid uk-margin-small-left uk-margin-top-remove">
                    <div class="uk-width-9-10 uk-padding-remove">
                        <div class="toggle-title-{{ item.itemId }}">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-title-{{ item.itemId }} uk-hidden">
                            <div class="uk-panel">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">
                                        <div class="uk-flex">
                                            <div class="uk-margin-right">
                                                {% if item.modificatorItem.isUser %}
                                                    {{  macros.userIconLink(item.modificatorItem) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.modificatorItem) }}
                                                {% endif %}
                                            </div>
                                            <div class="uk-margin-right">
                                                {{ 'last changed'|trans({})|capitalize }}: {{item.modificationDate|date("d.m.Y H:i")}}<br/>
                                                {{ 'changed by'|trans({})|capitalize }}: {{item.modificatorItem.Fullname}}<br/>
                                                {{ 'reference number'|trans({})|capitalize }}: {{ item.itemId }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-5">
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if item.creator.isUser %}
                                                    {{  macros.userIconLink(item.creator) }}
                                                {% else %}
                                                    {{  macros.userIcon(item.creator) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="uk-clearfix">
                                            {{ 'creator'|trans({})}} 
                                        </div>
                                    </div>
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-margin-remove">
                                                {% if modifierList[item.itemId] is defined %}
                                                    {% if not modifierList[item.itemId] is empty %}
                                                        <div class="uk-flex">
                                                            {% for modifier in modifierList[item.itemId] %}
                                                                <div class="">
                                                                    {% if modifier.isUser %}
                                                                        {{  macros.userIconLink(modifier) }}
                                                                    {% else %}
                                                                        {{  macros.userIcon(modifier) }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>                           
                                        {% if modifierList[item.itemId] is defined %}
                                        {% if not modifierList[item.itemId] is empty %}
                                        <div class="uk-clearfix">
                                            {{ 'editors'|trans({})}} 
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>                            
                                </div>                        
                            </div>
                            <div class="uk-panel uk-margin-top">
                                <div class="uk-grid">
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since last editing'|trans({})}}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readSinceModificationCount/userCount*100)|round %}
                                                    <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readSinceModificationCount}}</div>
                                                </div>
                                           </div>
                                        </div>                           
                                    </div>                            
                                    <div class="uk-width-1-5">                            
                                    </div>                            
                                    <div class="uk-width-2-5">                           
                                        <div class="uk-clearfix">
                                            <div class="uk-align-left uk-width-1-1">
                                            {{ 'clicked since creating'|trans({}) }}: <br/>
                                                <div class="uk-progress">
                                                    {% set activePercent = (readCount/userCount*100)|round %}
                                                   <div class="uk-progress-bar cs-progress-bar" style="width: {{ activePercent }}%;">{{readCount}}</div>
                                                </div> 
                                            </div>
                                        </div>                           
                                    </div>                            
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}



{% macro members(item,members) %}
    {% import 'utils/macros.html.twig' as macros %}

    {% set preview = '' %}
    {% set content = '' %}
 
    {% if not members is empty %}
       {% set preview %}

            {% if members|length > 10%}
                <div class="uk-slidenav-position uk-margin-bottom" style="margin-top:-5px;" data-uk-slider="{infinite: false}">
                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid uk-grid-width-medium-1-10">
            {% else %}
                <div class="uk-margin-bottom">
                    <div>
                        <ul class="uk-grid cs-file-grid uk-grid-width-medium-1-10">
            {% endif %}
        {% for member in members %}
            <li>
                <div class="uk-panel cs-file-panel-box uk-vertical-align" data-uk-tooltip title="{{member.title}} {{member.fullname}}">
                    {% if member.isUser %}
                        {{  macros.userIconLink(member) }}
                    {% else %}
                        {{  macros.userIcon(member) }}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
                    </ul>
                </div>
            {% if members|length > 10%}
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous" draggable="false"></a>
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next" draggable="false"></a>
            {% endif %}
            </div>
        {% endset %}
    
        {% set content %}
        <div class="uk-margin-top uk-margin-bottom" data-uk-grid="{gutter: 20}" data-uk-check-display>
            {% for member in members %}
        <div class="uk-width-medium-1-2">

            <div class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom">
 
                <div class="uk-panel-teaser cs-panel-teaser-user">
                   <img class="uk-thumbnail uk-border-circle" style="height:50px; width:50px;" src="{{ path('app_user_image', {'roomId': member.contextId, 'itemId': member.itemId}) }}" data-uk-tooltip title="{{ member.fullname }}">
                    <span class="uk-text-large uk-text-middle">
                        <a href="{{ path('app_user_detail', {'roomId': member.contextId, 'itemId': member.itemId}) }}">{{ member.title }} {{member.fullname}}</a>
                    </span>
                </div>
                <span>
                    {% if member.email %}
                        <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                    {% else %}
                        {'no email'|trans({}) }
                    {% endif %}
                </span><br/>
                <div class="uk-flex uk-flex-space-between">
                    <div>
                        {% if member.telephone %}
                            <a href="tel:{{member.telephone}}" data-uk-tooltip title="{{member.telephone}}" >{{ member.telephone|truncate(20) }}</a><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no telephone'|trans({}) }}">---</span><br/>
                        {% endif %}
                        {% if member.cellularphone %}
                            <a href="tel:{{member.cellularphone}}" data-uk-tooltip title="{{member.cellularphone}}" >{{ member.cellularphone|truncate(20) }}</a>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no handy'|trans({}) }}">---</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if member.street %}
                            <span data-uk-tooltip title="{{member.street}}">{{ member.street |truncate(20)}}</span><br/>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no street'|trans({}) }}">---</span><br/>
                        {% endif %}
                        
                        {% if member.city %}
                            <span >{{ member.zipcode }} {{ member.city }}</span>
                        {% else %}
                            <span class="uk-text-muted" data-uk-tooltip title="{{'no city'|trans({}) }}">---</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}

        </div>
        {% endset %}
    {% endif %}
    {{ macros.editContent('members', item, false, content, preview, true, true, members|length) }}
{% endmacro %}


{% macro grouproom(item, roomId, userIsGroupMember, roomMemberStatus, draft, isRoot) %}
    {% import 'utils/macros.html.twig' as macros %}
    <div id="grouproom{{ item.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{editUrl: '{{ path('app_group_editgrouproom', {'roomId': item.contextId, 'itemId': item.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': item.contextId, 'itemId': item.itemId}) }}'}">
        <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-8-10 uk-margin-small-bottom" >
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <a name="grouproom"></a>
                            {# title row #}
                            <div class="uk-grid uk-margin-small-bottom">
                                <div class="uk-width-9-10">
                                    <h4 class="cs-detail-section-header">
                                        {{'grouproom'|trans({},'group') }}
                                    </h4>
                                </div>
                            </div>
                            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">
                                <div class="uk-flex">
                                    <div class="uk-width-1-5 uk-text-left">
                                        {% if item.isGroupRoomActivated %}
                                            <div class="uk-width-1-5 uk-text-left">
                                                {% if isRoot or (userIsGroupMember and roomMemberStatus == 'enter') %}
                                                    <a href="{{ path('app_room_home', {'roomId': item.groupRoomItem.ItemId}) }}" class="uk-icon-large uk-icon-button uk-icon-sign-in" data-uk-tooltip title="{{'enter grouproom'|trans({}) }}"></a>
                                                {% else %}
                                                    <span class="uk-icon-large uk-icon-button uk-icon-remove" data-uk-tooltip title="{{'no access'|trans({}, 'room') }}"> </span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <span class="uk-icon-large uk-icon-button uk-icon-remove" data-uk-tooltip title="{{'no grouproom'|trans({},'group') }}"> </span>
                                        {% endif %}
                                    </div>
                                    <div class="uk-width-2-5 uk-text-left uk-margin-right">
                                        {% if item.isGroupRoomActivated and item.groupRoomItem %}
                                            <span class="uk-text-bold">{{item.groupRoomItem.title|decodeHtmlEntity}}</span><br/>
                                            <p>
                                            {{'grouproom description text'|trans({},'group') }}    
                                            </p>
                                            <p>
                                            {{'grouproom access'|trans({},'group') }}
                                            </p>
                                            <p>
                                            {{ macros.contextLink(roomId, item.getGroupRoomItem, roomMemberStatus, (isRoot or userIsGroupMember)) }}
                                            </p>
                                        {% else %}
                                            <span class="uk-text-bold">{{'no grouproom'|trans({},'group') }}</span><br/>
                                            <p>
                                            {{'no grouproom description text'|trans({},'group') }}    
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="uk-width-2-5 uk-text-left">
                                        {% if item.isGroupRoomActivated and item.groupRoomItem %}
                                            <span class="uk-text-bold">{{'grouproom information'|trans({},'group') }}</span><br/>
                                            <p>
                                                {{'grouproom moderators'|trans({},'group') }}: {{item.groupRoomItem.ModeratorListString}}     
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
                <div class="uk-width-2-10 uk-text-right">
                    {# edit #}
                    {% if is_granted('ITEM_EDIT', item.itemId) %}
                        {{ macros.actionIcons('editgrouproom', item, true, draft) }}
                        {% include 'utils/edit_spinner.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
