{% extends 'CommsyBundle:Base:profile.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-warning">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <span class="uk-text-uppercase uk-text-bold">
                            {{ 'lockRoomMembership'|trans({}, 'profile') }}
                        </span>
                    </div>
                </div>
                <div class="uk-alert uk-alert-warning">
                    {{ form_start(form_lock) }}
                        <span>{{ 'lockRoomMembershipText'|trans({}, 'profile') }}</span>

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'lock'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form_lock.confirm_field) }}
                            {{ form_widget(form_lock.confirm_field) }}
                            {{ form_widget(form_lock.confirm_button) }}
                        </div>
                    {{ form_end(form_lock) }}
                </div>

                <br/>

                <div class="uk-panel-teaser cs-panel-teaser-danger">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <span class="uk-text-uppercase uk-text-bold">
                            {{ 'deleteRoomMembership'|trans({}, 'profile') }}
                        </span>
                    </div>
                </div>
                <div class="uk-alert uk-alert-danger">
                    {{ form_start(form_delete) }}
                        <span>{{ 'deleteRoomMembershipText'|trans({}, 'profile') }}</span>

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'delete'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form_delete.confirm_field) }}
                            {{ form_widget(form_delete.confirm_field) }}
                            {{ form_widget(form_delete.confirm_button) }}
                            <span class="uk-margin-left uk-text-uppercase uk-text-bold">{{ 'warning'|trans({}, 'menu') }}</span> {{ 'irreversibleMessage'|trans({}, 'menu') }}
                        </div>
                    {{ form_end(form_delete) }}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}