{% extends 'CommsyBundle:Base:profile.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block side_navigation %}
    {{ knp_menu_render('account') }}
{% endblock %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-danger">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'deleteAccount'|trans({}, 'profile') }}</div>
                    </div>
                </div>

                <div class="uk-alert uk-alert-danger">
                    <div class="uk-margin">
                        {{ form_start(form) }}

                        <p class="uk-text-uppercase uk-text-bold">
                            {{ 'disableAccount'|trans({}, 'profile') }}
                        </p>
                        {{ 'disableAccountText'|trans({}, 'profile') }}

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'disable'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form.confirmDisable) }}
                            {{ form_label(form.confirmDisable) }}
                            {{ form_widget(form.confirmDisable) }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_widget(form.end) }}
                        </div>

                        <p class="uk-text-uppercase uk-text-bold">
                            {{ 'deleteAccount'|trans({}, 'profile') }}
                        </p>
                        {{ 'deleteAccountText'|trans({}, 'profile') }}
                        <br/>
                        <span class="uk-text-uppercase uk-text-bold">{{ 'warning'|trans({}, 'menu') }}</span> {{ 'irreversibleMessage'|trans({}, 'menu') }}

                        <div class="uk-margin">
                            {{ 'Delete explanation start'|trans({}, 'settings') }}
                            <span class="uk-text-uppercase uk-text-bold">{{ 'delete'|trans({}, 'profile') }}</span>
                            {{ 'Delete explanation end'|trans({}, 'settings') }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_errors(form.confirmDelete) }}
                            {{ form_label(form.confirmDelete) }}
                            {{ form_widget(form.confirmDelete) }}
                        </div>

                        <div class="uk-form-row">
                            {{ form_widget(form.delete) }}
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}