{% if roomId != "" and userId != "" and userId != "0" %}
    <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar">
        <ul class="uk-nav uk-nav-navbar">
        <li>
            <a href="{{ path('commsy_profile_personal', {'roomId': roomId, 'itemId': userId }) }}"><i class="uk-icon-justify uk-icon-user"></i> {{ 'Account'|trans([], 'profile') }}</a>
        </li>
        <li>
            <a href="{{ path('commsy_profile_general', {'roomId': roomId, 'itemId': userId }) }}"><i class="uk-icon-justify uk-icon-th-list"></i> {{ 'Room profile'|trans([], 'profile') }}</a>
        </li>
        <li class="uk-nav-divider"></li>
            <li>
                <a href="{{ path('commsy_logout_logout', {'roomId': roomId }) }}"><i class="uk-icon-justify uk-icon-power-off"></i> {{ 'Sign out'|trans([], 'profile') }}</a>
            </li>
        </ul>
    </div>
{% endif %}
