{% extends 'CommsyBundle:Profile:settings.html.twig' %}

{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'user profile'|trans({}, 'settings') }}</div>
                    </div>
                </div>
                
                <div class="uk-margin-left uk-margin-right">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="uk-panel uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'profile'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(form.firstname) }}</td>
                                    <td rowspan="7">
                                        <div class="uk-clearfix">
                                                <img id="profile_form_user_image" class="uk-thumbnail uk-border-circle uk-float-right uk-margin-bottom" style="height:100px; width:100px;" src="{{ path('commsy_user_image', {'roomId': user.contextId, 'itemId': user.itemId}) }}" data-uk-tooltip title="{{ user.fullname }}">
                                                <div class="uk-float-right uk-clearfix">
                                                    {{ form_row(form.image, {'attr': {'class': 'uk-float-right'}}) }}
                                                    {{ form_row(form.imageChangeInAllContexts, {'attr': {'class': 'uk-float-right'}}) }}
                                                </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.lastname) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.userId) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.currentPassword) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.newPassword) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.newPasswordConfirm) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.language) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.autoSaveStatus) }}</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="uk-panel uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'personal data'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(form.title) }}</td>
                                    <td>{{ form_row(form.titleChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.dateOfBirth) }}</td>
                                    <td>{{ form_row(form.dateOfBirthChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.street) }}</td>
                                    <td>{{ form_row(form.streetChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.zipcode) }}</td>
                                    <td>{{ form_row(form.zipcodeChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.city) }}</td>
                                    <td>{{ form_row(form.cityChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.room) }}</td>
                                    <td>{{ form_row(form.roomChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.organisation) }}</td>
                                    <td>{{ form_row(form.organisationChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.position) }}</td>
                                    <td>{{ form_row(form.positionChangeInAllContexts) }}</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="uk-panel uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'contact data'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(form.email) }}</td>
                                    <td>{{ form_row(form.emailChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.isEmailVisible) }}</td>
                                    <td>{{ form_row(form.isEmailVisibleChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.phone) }}</td>
                                    <td>{{ form_row(form.phoneChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.mobile) }}</td>
                                    <td>{{ form_row(form.mobileChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.icq) }}</td>
                                    <td>{{ form_row(form.icqChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.msn) }}</td>
                                    <td>{{ form_row(form.msnChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.skype) }}</td>
                                    <td>{{ form_row(form.skypeChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.yahoo) }}</td>
                                    <td>{{ form_row(form.yahooChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.jabber) }}</td>
                                    <td>{{ form_row(form.jabberChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.homepage) }}</td>
                                    <td>{{ form_row(form.homepageChangeInAllContexts) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {{ form_row(form.description) }}
                                        {{ form_row(form.descriptionChangeInAllContexts) }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="uk-panel uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'newsletter'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(form.newsletterStatus) }}</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="uk-panel uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'commsy bar'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(form.widgetStatus) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.calendarStatus) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.stackStatus) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.portfolioStatus) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.switchRoomStatus) }}</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="uk-panel uk-margin-large-bottom">
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_widget(form.save) }}</td>
                                </tr>
                            </table>
                        </div>
                    {{ form_end(form) }}
                    
                    {{ form_start(formCombine) }}
                        {{ form_errors(formCombine) }}
                        <div class="uk-panel uk-panel-divider uk-margin-large-bottom">
                            <div class="uk-panel uk-panel-header">
                                <h3>{{ 'combine accounts'|trans({})|capitalize }}</h3>
                            </div>
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_row(formCombine.combineUserId) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_row(formCombine.combinePassword) }}</td>
                                </tr>
                            </table>
                        </div>
                    
                        <div class="uk-panel uk-margin-large-bottom">
                            <table class="uk-table">
                                <tr>
                                    <td>{{ form_widget(formCombine.save) }}</td>
                                </tr>
                            </table>
                        </div>
                    {{ form_end(formCombine) }}
                </div>
            </div>
        </div>
        
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    Some usefull text...
                </div>
            </div>

        </div>
    </div>
{% endblock content %}