{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{# anchor #}
<a name="{{ section.itemId }}"></a>

{# edit #}
{% if is_granted('ITEM_EDIT', section.itemId) %}
    <div class="uk-position-top-right cs-article-edit uk-hidden">
        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
    </div>

    {% include 'CommsyBundle:Utils:editSpinner.html.twig' %}
{% endif %}

{# title #}
<h3 class="uk-artitcle-title">{{ section.title|raw }}</h3>

{# modifier information #}
{{ macros.detailInformation(section, modifierList) }}

<div class="uk-margin-left">
    {# section description #}
    <div class="cs-detail-description">
        {{ section.description|raw }}
    </div>

    {# files #}
    <div class="cs-detail-files">
        {{  macros.fileList(section) }}
    </div>
</div>