{% extends 'base/room.html.twig' %}

{% import 'item/macros.html.twig' as macrosItem %}
{% import 'room/macros.html.twig' as macrosRoom %}
{% import 'utils/macros.html.twig' as macros %}

{% set project = item %}

{% block main %}
    <div class="uk-grid">

        <div class="uk-width-4-5@m">

            {# project content panel #}
            {% component 'v3:card' with { title: item.type|trans([], 'room') } %}
                {% import 'item/macros.html.twig' as macrosItem %}
                {% import 'room/macros.html.twig' as macrosRoom %}

                {% block teaser_right %}
                    {# actions #}
                    {% if not project.isUserroom and (is_granted('ROOM_MODERATOR', project.itemId) or is_granted('PARENT_ROOM_MODERATOR', project.itemId)) %}
                        {% component 'v3:dropdown' with {
                            icon: 'triangle-down',
                            title: 'selected entries'|trans({},'rubric')|capitalize,
                            buttonStyle: 'danger'
                        } %}
                            {% block dropdown %}
                                <ul class="uk-nav uk-dropdown-nav cs-list-moderation uk-padding-remove uk-margin-remove uk-text-left">
                                    <li>
                                        {% if project.isLocked %}
                                            <a href="{{ path('app_cancellablelockanddelete_unlock', {'roomId': project.contextId, 'itemId': project.itemId}) }}">
                                                <span uk-icon="icon: unlock"></span> {{ 'Unlock workspace'|trans({}, 'room') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_cancellablelockanddelete_deleteorlock', {'roomId': project.contextId, 'itemId': project.itemId}) }}">
                                                <span uk-icon="icon: lock"></span> {{ 'Lock workspace'|trans({}, 'room') }}
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="{{ path('app_cancellablelockanddelete_deleteorlock', {'roomId': project.contextId, 'itemId': project.itemId}) }}">
                                            <span uk-icon="icon: trash"></span> {{ 'Delete workspace'|trans({}, 'room') }}
                                        </a>
                                    </li>
                                </ul>
                            {% endblock %}
                        {% endcomponent %}
                    {% endif %}
                {% endblock %}

                {% block content %}
                    <article class="uk-article uk-position-relative">
                        {# title, etc. #}
                        <div class="cs-toggle">
                            {{ macrosRoom.title(project) }}
                        </div>

                        {# description #}
                        <div id="description{{ project.itemId }}" class="cs-edit-section cs-toggle" data-cs-edit="{
                            editUrl: '{{ path('app_item_editdescription', { 'roomId': project.contextId, 'itemId': project.itemId }) }}',
                            cancelEditUrl: '{{ path('app_item_canceledit', { 'roomId': project.contextId, 'itemId': project.itemId }) }}'
                        }">
                            {{ macrosItem.itemDescription('description', project, true, project.description) }}
                        </div>

                        {# access #}
                        <div id="access{{ project.itemId }}">
                            <hr class="uk-width-9-10"/>

                            {{ macrosRoom.access(project, project.contextId, memberStatus, contactModeratorItems) }}
                        </div>
                    </article>
                {% endblock %}
            {% endcomponent %}
        </div>

        <div class="uk-width-1-5@m uk-visible@m">
            {# quick navigation #}
            {% component 'v3:card' with { title: 'quick navigation'|trans(), sticky: true } %}
                {% block content %}
                    <div id="cs-nav-quick">
                        <ul class="uk-nav uk-nav-default uk-nav-parent-icon quick-nav" uk-scrollspy-nav="closest: li;  scroll: true">
                            <li><a href="#description{{ project.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                            <li><a href="#access{{ project.itemId }}">{{ 'Membership'|trans({},'room')}}</a></li>
                        </ul>
                    </div>
                {% endblock %}
            {% endcomponent %}
        </div>

    </div>
{% endblock %}
