<!DOCTYPE html>
{% import 'base/printmacro.html.twig' as macros %}

{% if date is defined %}
    {% set item = date %}
{% endif %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('css/build/commsy.css')) }}" />
        {% endblock %}

    </head>

    <body>

        {% block content %}
        <div>

	        <div>

	            {# discussion content panel #}
	            <div class="uk-panel-box-primary">
	                {# content #}
	                <article>
	                    {# title, etc. #}
	                    <div>
	                        {{ macros.title(item, modifierList, userCount, readCount, readSinceModificationCount, draft) }}
	                    </div>

	                    {# date #}
	                    <div>
	                        {{ macros.details(item) }}
	                    </div>
	            
	                    {# description #}
	                    <div>
	                        {{ macros.itemDescription('description', item, true, item.description) }}
	                    </div>
	            
	                    {# files #}
	                    <div>
	                        {{ macros.files(item) }}
	                    </div>
	        
	                    {# links #}
	                    <div>
	                        {{ macros.links(item,showHashtags,showCategories,roomCategories) }}
	                    </div>
	        
	                    
	                </article>
	            
	            
	        
	            

	            {# annotations #}
	                      
	                
	                    {{ render(controller(
	                        'App\\Controller\\AnnotationController::feedPrintAction',
	                        { 'roomId': roomId, 'linkedItemId': item.itemId }
	                    ))}}

	        </div>
        </div>
            


			        
		{% endblock %}
          
        
    </body>
</html>