{% import 'date/macros.html.twig' as macrosDate %}
{% import 'utils/macros.html.twig' as macros %}

<div class="uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'utils/save_spinner.html.twig' %}
    <div class="uk-form-horizontal">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="uk-flex">
                <div class="uk-width-9-10">
                        {{ form_widget(form.title) }}
                </div>
            </div>

            <div class="uk-margin-small-left uk-margin-small-top">
                <div class="uk-form-row">
                    {{ form_label(form.start) }}
                    {% if language == 'en' %}
                        {{ form_widget(form.start_eng) }}
                    {% else %}
                        {{ form_widget(form.start) }}
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.end) }}
                    {% if language == 'en' %}
                        {{ form_widget(form.end_eng) }}
                    {% else %}
                        {{ form_widget(form.end) }}
                    {% endif %}
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.whole_day) }}
                    {{ form_widget(form.whole_day) }}
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.place) }}
                    {{ form_widget(form.place) }}
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.calendar) }}
                    <div style="float:left">
                    {% for tempCalendar in form.calendar.iterator %}
                        <span class="uk-margin-small-right">{{ form_widget(tempCalendar) }}</span>
                        <span class="tooltipster" style="color:{{ tempCalendar.vars.attr.color }}" title="{{ tempCalendar.vars.attr.title }}">
                            {% if tempCalendar.vars.attr.hasLightColor %}
                                <span class="uk-vertical-align-middle tooltipster uk-border-circle" style="background-color:{{tempCalendar.vars.attr.color}}; border: 1px solid #444; width:8px; height:8px;" title="{{tempCalendar.vars.attr.title}}"></span>
                            {% else %}
                                <span class="uk-vertical-align-middle tooltipster uk-border-circle" style="background-color:{{tempCalendar.vars.attr.color}}; width:10px; height:10px;" title="{{tempCalendar.vars.attr.title}}"></span>
                            {% endif %}
                        </span>
                        <span class="uk-vertical-align-middle">
                            {{ tempCalendar.vars.attr.title|trans({},'date') }}
                        </span>
                        <br/>
                    {% endfor %}
                    </div>
                </div>

                {% if form.recurring_select is defined %}
                <div class="uk-form-row">
                    <div>
                        {{ form_label(form.recurring_select) }}
                        {{ form_widget(form.recurring_select) }}
                    </div>
                </div>
                {% else %}
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ 'recurring date'|trans({}, 'date') }}</label>
                    <div class="uk-form-controls">
                        {{ macrosDate.recurringDateDescription(date) }} <i>({{ 'recurring date no chance hint'|trans({}, 'date') }})</i>
                    </div>
                </div>
                {% endif %}

                {% if form.recurring_sub is defined %}
                <div class="uk-form-row">
                    <label class="uk-form-label">Wiederholung</label>
                    <div id="date_recurring_sub" style="margin-left: 200px">
                        {% if form.recurring_sub.recurrenceDay is defined %}
                            <div class="uk-margin-small-top">
                                <div>
                                    {{ 'every'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.recurrenceDay) }}.{{ 'day'|trans({}, 'date') }}
                                </div>
                                <div class="uk-margin-small-top">
                                    {{ 'repeat until'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.untilDate) }}
                                </div>
                            </div>
                        {% elseif form.recurring_sub.recurrenceWeek is defined and form.recurring_sub.recurrenceDaysOfWeek is defined %}
                            <div class="uk-margin-small-top">
                                <div class="uk-form-row">
                                    {{ 'every week'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.recurrenceWeek) }}.{{ 'week'|trans({}, 'date') }}
                                </div>
                                <div class="uk-form-row">
                                    {{ form_label(form.recurring_sub.recurrenceDaysOfWeek) }}
                                    <br/>
                                    <div class="uk-margin-left">
                                        {% for weekDay in form.recurring_sub.recurrenceDaysOfWeek.iterator %}
                                            <div>
                                                <input type="checkbox" value="{{ weekDay.vars['value'] }}" name="date[recurring_sub][recurrenceDaysOfWeek][]" style="vertical-align: baseline;">
                                                <label>{{weekDay.vars['value']|trans({}, 'date')}}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    {{ 'repeat until'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.untilDate) }}
                                </div>
                            </div>
                        {% elseif form.recurring_sub.recurrenceMonth is defined and form.recurring_sub.recurrenceDayOfMonthInterval is defined  and form.recurring_sub.recurrenceDayOfMonth is defined %}
                            <div class="uk-margin-small-top">
                                <div>
                                    {{ 'every'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.recurrenceMonth) }}.{{ 'month'|trans({}, 'date') }}
                                </div>
                                <div class="uk-margin-small-top">
                                    {{ 'every'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.recurrenceDayOfMonthInterval) }}{{ form_widget(form.recurring_sub.recurrenceDayOfMonth) }}
                                </div>
                                <div class="uk-margin-small-top">
                                    {{ 'repeat until'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.untilDate) }}
                                </div>
                            </div>
                        {% elseif form.recurring_sub.recurrenceDayOfMonth is defined and form.recurring_sub.recurrenceMonthOfYear is defined  %}
                            <div class="uk-margin-small-top">
                                <div>
                                    {{ 'every'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.recurrenceDayOfMonth) }}{{ form_widget(form.recurring_sub.recurrenceMonthOfYear) }}
                                </div>
                                <div class="uk-margin-small-top">
                                    {{ 'repeat until'|trans({}, 'date') }}{{ form_widget(form.recurring_sub.untilDate) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if date.creator.itemId == currentUser.itemId or currentUser.isModerator %}
                <div class="uk-form-row">
                    <label class="uk-form-label">
                        <span data-uk-tooltip title="{{ macros.userFullname(date.creator) }}">{{ 'permission'|trans({}, "form") }}</span>
                    </label>
                    <div>
                        {{ form_widget(form.permission) }}
                        <i class="uk-icon-question-circle uk-icon-small uk-icon-justify uk-icon-bottom uk-margin-small-top" data-uk-tooltip="{pos:'right'}" title="{{ 'permission-info'|trans({'%name%': macros.userFullname(date.creator)}, 'form') }}"></i>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ 'hidden'|trans({}, "form")|capitalize }}</label>
                    <div>
                        {{ form_widget(form.hidden) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ 'hidden until'|trans({}, "form")|capitalize }}</label>
                    <div class="uk-margin-small-top">
                        {% if language == 'en' %}
                            {{ form_widget(form.hiddendate_eng) }}
                        {% else %}
                            {{ form_widget(form.hiddendate) }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if form.external_viewer is defined %}
                    <div class="uk-form-row">
                        {{ form_row(form.external_viewer) }}
                        <i class="uk-icon-question-circle uk-icon-justify uk-icon-small uk-icon-bottom" data-uk-tooltip="{pos:'right'}" title="{{ 'external_viewer_desc' | trans({}, 'form') }}"></i>
                    </div>
                {%  endif %}
            </div>

            {% if isDraft and (showHashtags or showCategories) %}
                {{ macros.mandatoryLinks(showHashtags, showCategories, form) }}
            {% endif %}

            <div class="uk-flex uk-margin-small-top">
                {% if not withRecurrence %}
                <div class="uk-margin-small-left">
                    {{ form_row(form.save) }}
                </div>
                {% else %}
                <div class="uk-margin-small-left">
                    {{ form_row(form.saveThisDate) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.saveAllDates) }}
                </div>
                {% endif %}
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>   
            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>

<script>
$('#date_start_date, #date_start_time, #date_end_date, #date_end_time').change(function() {
    var startDate = new Date($('#date_start_date').val().split(".").reverse().join("/"));
    var endDate   = new Date($('#date_end_date').val().split(".").reverse().join("/"));

    startDate.setHours($('#date_start_time').val().split(":")[0]);
    startDate.setMinutes($('#date_start_time').val().split(":")[1]);

    endDate.setHours($('#date_end_time').val().split(":")[0]);
    endDate.setMinutes($('#date_end_time').val().split(":")[1]);

    if (startDate.getTime() > endDate.getTime()) {
        if($(this).attr('id').indexOf('start') > 0) {
            $('#date_end_date').val($('#date_start_date').val());
            $('#date_end_time').val($('#date_start_time').val());
        }
        else {
            $('#date_start_date').val($('#date_end_date').val());
            $('#date_start_time').val($('#date_end_time').val());
        }
    }
})

$('#date_whole_day').change(function(){
    if($(this).is(":checked")) {
        $('#date_start_time').prop('disabled', true);
        $('#date_end_time').prop('disabled', true);
    } else {
        $('#date_start_time').prop('disabled', false);
        $('#date_end_time').prop('disabled', false);
    }
});
if ($('#date_whole_day').length > 0) {
    if ($('#date_whole_day').is(":checked")) {
        $('#date_start_time').prop('disabled', true);
        $('#date_end_time').prop('disabled', true);
    }
}

var $recurring = $('#date_recurring_select');
// When sport gets selected ...
$recurring.change(function() {
    // ... retrieve the corresponding form.
    var $form = $(this).closest('form');
    // Simulate form data, but only include the selected sport value.
    var data = {};

    data[$(this).attr('name')] = $(this).val();
    // Submit data via AJAX to the form's action path.
    $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
            // Replace current position field ...
            // add field
            if (!$('#date_recurring_sub').length) {
                $('#date_recurring_select').after(
                // ... with the returned one from the AJAX response.
                $(html).find('#date_recurring_sub')
                // html
                );
            } else {
                $('#date_recurring_sub').replaceWith(
                // ... with the returned one from the AJAX response.
                $(html).find('#date_recurring_sub')
                // html
                );
            }
            // console.log(html);
            // Position field now displays the appropriate positions.
        }
    });
});
</script>