{% import 'utils/macros.html.twig' as macros %}

{% for date in dates %}
    <article class="uk-comment">
           
            {{ macros.statusColor(readerList, date.itemId) }}
        <header class="uk-comment-header uk-flex">
            <div class="dates-checkbox uk-margin-right uk-margin-top uk-hidden">

                {% if is_granted('ITEM_EDIT', date.itemId) %}
                    <form class="uk-form">
                        <input type="checkbox">
                    </form>
                {% else %}
                    <i class="uk-icon-ban uk-icon-small red"></i>
                {% endif %}
                
            </div>
            <div class="uk-margin-right uk-flex-item-none">
                    {% if not date.creator.isDeleted and date.creator.isUser %}
                        {{ macros.userIconLink(date.creator) }}
                    {% else %}
                        {{ macros.userIcon(date.creator) }}
                    {% endif %}
                    <div class="uk-comment-meta">
                        {% if date.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                            {{ 'today'|trans({})|capitalize }}, {{date.getModificationDate|date("H:i")}}
                        {% else %}
                            {{ date.modificationDate|craue_date }}
                        {% endif %}
                    </div>
            </div>
            <div>
                <h4 class="uk-comment-title">
                    <a href="{{ path('app_date_detail', {'roomId': roomId, 'itemId': date.itemId}) }}">{{ date.title|decodeHtmlEntity }}</a>
                </h4>

                <div class="uk-comment-meta">{{ formatDateTimeRange(date.wholeDay, date.dateTimeObject_Start, date.dateTimeObject_End) }}{% if date.place != '' %}, {{ date.place }}{% endif %}</div>
                
                <div class="uk-comment-meta">
                    {{ macros.fileListShort(date) }}
                </div>
            </div>
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}
