{% extends 'base/room.html.twig' %}

{% block content %}

    {% form_theme form 'form/uikit_stacked_layout.html.twig' %}

    <hr class="uk-width-9-10  cs-detail-divider"/>
    <div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
        <a name="description"></a>
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-9-10">
                <h2 class="cs-detail-section-header">{{ 'import dates'|trans({},'date')}}</h2>
                {{ 'import dates description'|trans({},'date')}}
            </div>
        </div>

        <div>
            {% include 'utils/save_spinner.html.twig' %}

            {{ form_start(form) }}
            <div class="uk-flex uk-margin-small-top">
                <div class="uk-width-9-10 cs-upload-form">
                    {{ form_widget(form.upload) }}
                </div>
            </div>
            <div class="uk-flex">
                {% do form.files.setRendered %}
                <div data-prototype="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}">
                    {% for file in form.files %}
                        {{ form_widget(file.checked) }}
                        {{ form_widget(file.fileId) }}

                        <label class="uk-form-label" for="{{ file.vars.id }}">
                            {{- file.vars.value.filename }} ({{ file.vars.value.creationDate|craue_datetime }})
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-top">
                <div class="uk-width-9-10">
                    {{ 'import dates into clendar'|trans({},'date')}}:{{ form_widget(form.calendar) }}<br/>
                    {{ 'import dates new calendar name'|trans({},'date')}}:{{ form_widget(form.calendartitle) }}
                    {{ 'import dates new calendar color'|trans({},'date')}}:{{ form_widget(form.calendarcolor) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-top">
                <div>
                    {{ form_row(form.save) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}