</!DOCTYPE html>
{% import 'App:base:printmacro.html.twig' as macros %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('css/build/commsy.css')) }}" />
        {% endblock %}
</head>
<body>
{% block content %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        
        <div class="uk-panel-teaser cs-panel-teaser-primary">
            <div class="uk-flex uk-flex-middle uk-flex-space-between">
                <div class="uk-text-large">
                    {% if not module is empty %}

                        {{module|transchoice(1, {}, "rubric")|capitalize }}
                    {% else %}
                        Missing rubric title
                    {% endif %}

                    <div id="commsy-list-count-display" style="display:inline;">
                        ({{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}})
                    </div>
                </div>
            </div>
        </div>

        <div>
            {% block feed %}
                {% for date in dates %}
                    <article class="uk-comment page-break-inside">
                        
                        {# item change information #}
                        {{ macros.statusColor(readerList, date.itemId) }}
                 
                        <header class="uk-grid uk-comment-header">
                            
                            {# user icon and modification time #}
                            <div class="uk-width-1-10">
                                {% if date.creator.isUser %}
                                    {{  macros.userIconLink(date.creator) }}
                                {% else %}
                                    {{  macros.userIcon(date.creator) }}
                                {% endif %}
                                <div class="uk-comment-meta">
                                    {% if date.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                                        {{ 'today'|trans({})|capitalize }}, {{date.getModificationDate|date("H:i")}}
                                    {% else %}
                                        {{date.getModificationDate|date("d.m.Y")}}
                                    {% endif %}
                                </div>
                            </div>

                            {# title and meta #}
                            <div class="uk-width-7-10">
                                <h4 class="uk-comment-title">
                                    <a>{{ date.title|decodeHtmlEntity }}</a>
                                </h4>

                                <div class="uk-comment-meta">

                                        {{date.getDateListDescription}}{% if date.getPlace != '' %}, {{date.getPlace}}{% endif %}

                                </div>
                               
                                <div class="uk-comment-meta">
                                    {{  macros.fileListShort(date) }}
                                </div>
                            </div>
            
                        </header>
                    </article>
                {% else %}
                    {{ 'No more results found'|trans}}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>
