{% use "form/uikit3/uikit_layout.html.twig" %}

{# Labels #}

{% block form_label -%}
    {% set commsy_class = '' %}
    {% if 'choice' in block_prefixes and expanded %}
        {% set commsy_class = 'cs-form-expanded-radio-label' %}
    {%- endif -%}
    {% set label_attr = label_attr|merge({class: (attr.class|default('') ~ ' uk-form-label' ~ ' ' ~ commsy_class)|trim}) %}
    {{- parent() -}}
{%- endblock form_label %}

{# Widgets #}

{% block _license_sort_license_widget %}
    {% import _self as macros %}

    <div class="uk-hidden">
        {% if form.children is not empty %}
            {% for child in form.children %}
                <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {% if child.vars.checked %} checked="checked"{% endif %} />
            {% endfor %}
        {% endif %}
    </div>

    {% if form.children is not empty %}
        <ul id="licenseSortList" class="uk-nav" uk-sortable="handle: .uk-sortable-handle">
            {% for child in form.vars.choices %}
                <li id="license_{{ child.value }}" data-id='{{ child.data.id }}'>
                    <div class="uk-nestable-panel uk-clearfix">
                        <span class="uk-sortable-handle uk-margin-small-right uk-text-center" uk-icon="icon: table"></span>
                        {{ child.label -}}
                        <a class="uk-button uk-button-mini uk-button-primary uk-float-right uk-margin-left" href="{{ path('app_portalsettings_licenses', {
                            portalId: commsy.portal.id,
                            licenseId: child.data.id
                        }) }}">
                            {{- 'Edit'|trans({}, 'form') -}}
                        </a>
                        <button class="license_delete uk-button uk-button-mini uk-button-danger uk-float-right" data-id='{{ child.data.id }}'>
                            {{- 'Delete'|trans({}, 'form') -}}
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'No licenses have been created yet.'|trans({}, 'portal') }}
    {% endif %}

{% endblock %}

{# Rows #}

{%- block form_row -%}
    {% set row_attr = row_attr|merge({class: (attr.class|default('') ~ ' uk-margin')|trim}) %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        {{- form_label(form) -}}
        {{ row_attr.group_class|default('') }}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{%- endblock form_row -%}

{# Misc #}

{% block form_group_class -%}
    uk-form-controls
{%- endblock form_group_class %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
<form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %} class="uk-form-horizontal">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}