{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}
{% if not linkedItems is empty %}
    <ul class="uk-list">
        {% for linkedItem in linkedItems %}
            <li><i class="{{ macros.iconClassForItemType(linkedItem.itemType) }}"></i> <a href="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/{{ linkedItem.itemType }}/{{ linkedItem.itemID }}">{{ linkedItem.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}