{% if not groups is empty %}
    <ul class="uk-list">
        {% for group in groups %}
            <li><i class="uk-icon-home"></i> <a href="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/group/{{ group.itemID }}">{{ group.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if not users is empty %}
    <ul class="uk-list">
    {% for user in users %}
        <li><i class="uk-icon-user"></i> <a href="{{ app.request.baseURL }}/room/{{ app.request.attributes.get('roomId') }}/user/{{ user.itemID }}">{{ user.fullname }}</a></li>
    {% endfor %}
    </ul>
{% endif %}