{% extends 'layout.html.twig' %}

{% block top_navigation_left %}
{#    <div class="uk-navbar-item uk-logo">Portalübersicht</div>#}
{% endblock %}

{% block main %}

    {% if activePortals is not empty %}
        <div class="uk-grid-match uk-child-width-expand@m uk-flex uk-flex-center" uk-grid>

            {% for activePortal in activePortals %}
                <div class="uk-width-medium">
                    <div class="uk-card uk-card-default uk-card-small">
                        {% if activePortal.logoFilename is not empty %}
                            <div class="uk-card-body uk-padding-remove">
                                {# TODO: Just a placeholder from the mockup, please replace #}
                                {# TODO: try images in 220px by 80 px and play around with uk-padding-remove #}
                                {# TODO: of parent element, cheers #}
                                <img src="{{ asset('build/agora_logo.png') }}" style="height: 80px">
                            </div>
                        {% endif %}

                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-child-width-1-2" uk-grid>
                                <div>
                                    <dl class="uk-description-list uk-text-meta uk-text">
                                        <dt>{{ 'portal.num_rooms'|trans({}, 'portal') }}</dt>
                                        <dd>{{ usageInformation[activePortal.id].rooms }}</dd>
                                    </dl>
                                </div>
                                <div>
                                    <dl class="uk-description-list uk-text-meta uk-text">
                                        <dt>{{ 'portal.num_members'|trans({}, 'portal') }}</dt>
                                        <dd>{{ usageInformation[activePortal.id].users }}</dd>
                                    </dl>
                                </div>
                            </div>

                            {% macro activityPercentage(activity, maxActivity) %}
                                {% set percentage = 0 %}

                                {% if maxActivity > 0 %}
                                    {% set divisor = maxActivity / 20 %}

                                    {% set percentage = (activity / divisor + 1)|log %}

                                    {% if percentage < 0 %}
                                        {% set percentage = 0 %}
                                    {% endif %}

                                    {% set max = (maxActivity / divisor + 1)|log %}

                                    {% set percentage = (percentage / max) * 100 %}
                                {% endif %}

                                {{ percentage }}
                            {% endmacro %}

                            <progress class="uk-progress" value="{{ _self.activityPercentage(activePortal.activity, totalMaxActivity) }}" max="100"></progress>
                        </div>

                        <div class="uk-card-body uk-margin-large-bottom">
                            <h3 class="uk-card-title">{{ activePortal.title }}</h3>
                            {% if app.request.locale is same as("de") %}
                                {% set description = activePortal.descriptionGerman %}
                            {% else %}
                                {% set description = activePortal.descriptionEnglish %}
                            {% endif %}

                            {% if description is not empty %}
                                <p>{{ description|raw }}</p>
                            {% endif %}
                        </div>

                        <div class="uk-card-footer uk-position-bottom">
                            <a href="{{ path('app_helper_portalenter', { 'context': activePortal.id }) }}" class="uk-button uk-button-text">{{ 'portal.enter'|trans({}, 'portal') }}</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if is_granted('ROOT') %}
                <div class="uk-width-medium">
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                        <a class="uk-text-large uk-link-text" href="{{ path('app_server_createportal') }}">{{ 'portal.create'|trans({}, 'portal') }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="uk-section uk-section-muted">
            <div class="uk-container uk-container-xsmall">
                <p>
                    {{ 'portal.none'|trans({}, 'portal') }}

                    <a href="{{ path('app_server_createportal') }}">{{ 'portal.create'|trans({}, 'portal') }}</a>
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}