{% extends 'layout.html.twig' %}

{% import 'common/announcements.html.twig' as announcements %}

{% block top_navigation_left %}
{% endblock %}

{% block cover %}
    {% if server.logoImageName %}
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large">
                <img data-src="{{ path('app_file_serverlogo') }}" width="300" height="120" alt="server logo" uk-img>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    {{ announcements.server(server) }}

    {% if activePortals is not empty %}
        <div class="uk-grid-match uk-child-width-expand@m uk-flex uk-flex-center" uk-grid>

            {% for activePortal in activePortals %}
                <div class="uk-width-medium">
                    <div class="uk-card uk-card-default uk-card-small">
                        {% if activePortal.logoFilename is not empty %}
                            <div class="uk-card-body uk-padding-remove">
                                <img data-src="{{ path('app_file_portallogo', { 'portalId': activePortal.id }) }}" width="260" height="80" alt="portal logo" uk-img>
                            </div>
                        {% endif %}

                        <div class="uk-card-body uk-margin-large-bottom">
                            <h3 class="uk-card-title">{{ activePortal.title }}</h3>

                            <div class="uk-grid-small uk-child-width-1-2" uk-grid>
                                <div>
                                    <dl class="uk-description-list">
                                        <dt>{{ 'portal.num_rooms'|trans({}, 'portal') }}</dt>
                                        <dd>{{ usageInformation[activePortal.id].rooms }}</dd>
                                    </dl>
                                </div>
                                <div>
                                    <dl class="uk-description-list">
                                        <dt>{{ 'portal.num_members'|trans({}, 'portal') }}</dt>
                                        <dd>{{ usageInformation[activePortal.id].users }}</dd>
                                    </dl>
                                </div>
                            </div>

                            {%- macro activityPercentage(activity, maxActivity) -%}
                                {%- set percentage = 0 -%}

                                {%- if maxActivity > 0 -%}
                                    {%- set divisor = maxActivity / 20 -%}

                                    {%- set percentage = (activity / divisor + 1)|log -%}

                                    {%- if percentage < 0 -%}
                                        {%- set percentage = 0 -%}
                                    {%- endif -%}

                                    {%- set max = (maxActivity / divisor + 1)|log -%}

                                    {%- set percentage = (percentage / max) * 100 -%}
                                {%- endif -%}

                                {{- percentage -}}
                            {%- endmacro -%}

                            <progress class="uk-progress" value="{{- _self.activityPercentage(activePortal.activity, totalMaxActivity) -}}" max="100"></progress>

                            {% if app.request.locale is same as("de") %}
                                {% set description = activePortal.descriptionGerman %}
                            {% else %}
                                {% set description = activePortal.descriptionEnglish %}
                            {% endif %}

                            {% if description is not empty %}
                                <p>{{ description|raw }}</p>
                            {% endif %}
                        </div>

                        <div class="uk-card-footer uk-position-bottom">
                            <a href="{{ path('app_helper_portalenter', { 'context': activePortal.id }) }}" class="uk-button uk-button-text">{{ 'portal.enter'|trans({}, 'portal') }}</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if is_granted('ROOT') %}
                <div class="uk-width-medium">
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                        <a class="uk-text-large uk-link-text" href="{{ path('app_server_createportal') }}">{{ 'portal.create'|trans({}, 'portal') }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="uk-section uk-section-muted">
            <div class="uk-container uk-container-xsmall">
                <p>
                    {{ 'portal.none'|trans({}, 'portal') }}

                    <a href="{{ path('app_server_createportal') }}">{{ 'portal.create'|trans({}, 'portal') }}</a>
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}