<article class="uk-comment uk-margin-remove">
    <div uk-grid>

        <div class="uk-width-3-5">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                {# Hidden checkbox for selection mode #}
                <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox" value="{% block item_id %}{% endblock %}">
                    </form>
                </div>

                <div class="uk-width-auto">
                    {% block left %}
                    {% endblock %}
                </div>
                <div class="uk-width-expand">
                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_above %}
                        {% endblock %}
                    </ul>

                    <h4 class="uk-comment-title uk-margin-remove uk-text-large">
                        {% block title %}
                        {% endblock %}
                    </h4>

                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_top %}
                        {% endblock %}
                    </ul>

                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_bottom %}
                        {% endblock %}
                    </ul>
                </div>
            </header>
        </div>

        <div class="uk-width-2-5">
            <div class="uk-comment-body">
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>
</article>










{#<article class="uk-comment uk-margin-top-remove">#}

{#    <div class="uk-grid">#}
{#        <div class="uk-width-6-10">#}
{#            <header class="uk-comment-header uk-flex">#}

{#                <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">#}
{#                    <form class="uk-form">#}
{#                        <input type="checkbox" value="{{ room.itemId }}">#}
{#                    </form>#}
{#                </div>#}

{#                <div class="uk-margin-right uk-flex-item-none">#}
{#                    <div class="uk-container-center uk-margin-small-top" style="width:24px; height:24px;">#}
{#                        {{ macrosUtils.contextLinkIcon(roomId, room, projectsMemberStatus[room.itemId]) }}#}
{#                    </div>#}
{#                    <div class="uk-comment-meta">#}
{#                        {% if room.getModificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}#}
{#                            {{ 'today'|trans({})|capitalize }}, {{room.getModificationDate|date("H:i")}}#}
{#                        {% else %}#}
{#                            {% if '9999-00-00' not in room.getModificationDate %}#}
{#                                {{room.getModificationDate|date("d.m.Y")}}#}
{#                            {% else %}#}
{#                                {{room.getCreationDate|date("d.m.Y")}}#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <h4 class="uk-comment-title">#}
{#                        {% if 'archived' not in projectsMemberStatus[room.itemId] %}#}
{#                            <a href="{{ path('app_room_detail', {'roomId': roomId, 'itemId': room.itemId}) }}">{{ room.title|decodeHtmlEntity }}</a>#}
{#                        {% else %}#}
{#                            <span class="uk-text-muted">{{ room.title|decodeHtmlEntity }}</span>#}
{#                        {% endif %}#}
{#                        {% if room.template == 1 %}<span class="uk-text-muted"> &ndash; {{ 'Template'|trans({}, 'room') }}</span>{% endif %}#}
{#                    </h4>#}

{#                    <div class="uk-comment-meta">#}
{#                        {% if room.contactPersons is not empty %}#}
{#                            {{ room.contactPersons }}#}
{#                        {% else %}#}
{#                            {{ room.getContactModeratorListString }}#}
{#                        {% endif %}#}
{#                    </div>#}

{#                    <div class="uk-comment-meta">#}
{#                        {{ macrosUtils.contextLink(roomId, room, projectsMemberStatus[room.itemId]) }}#}
{#                    </div>#}
{#                </div>#}
{#            </header>#}
{#        </div>#}

{#        <div class="uk-width-4-10">#}
{#            {{ macros.activityBar(room.activity, portal.maxRoomActivityPoints) }}#}
{#        </div>#}
{#    </div>#}

{#</article>#}