{% import 'utils/macros.html.twig' as macrosUtils %}

{% if simple %}
    <ul class="uk-thumbnav">
        {% for file in item.fileList %}
            <li>
                {% set disposition = 'attachment' %}
                {% if file.extension|lower == 'pdf' %}
                    {% set disposition = 'inline' %}
                {% endif %}
                <a href="{{ path('app_file_getfile', {'fileId': file.fileId, 'disposition': disposition }) }}" target="_blank" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename }}">
                    <i class="uk-icon-small {{ macrosUtils.iconClassForFileType(file.extension) }}" ></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% set fileArray = item.fileList.to_array %}

    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'utils/edit_spinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- "files"|trans({}) }}
                    ({{ fileArray|length }})
                </h4>
            </div>

            <div class="uk-width-2-10 uk-flex uk-flex-right">
                {# edit action #}
                {% if is_granted('ITEM_EDIT', item.itemId) and is_granted('ITEM_FILE_LOCK', item.itemId) %}
                    <div id="{{ item.type }}-files-edit" class="uk-display-inline cs-edit {% if draft %}cs-edit-draft{% endif %}" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                <div class="uk-display-inline cs-toggle-icon uk-margin-left uk-invisible">
                    <a class="cs-toggle" uk-toggle="{target:'.toggle-files-{{ item.itemId }}'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}"><i class="uk-icon-small uk-icon-hover uk-icon-chevron-down"></i></a>
                </div>
            </div>
        </div>

        {# content #}
        {% if not fileArray is empty %}
            {% for file in fileArray %}
                {% if this.supportsOnlineOffice(file) and is_granted('ITEM_EDIT_LOCK', item.itemId) %}
                    <div {{ stimulus_controller('wopi_modal', {
                        'url': path('app_wopi_host', {
                            'roomId': item.contextId,
                            'itemId': item.itemId,
                            'fileId': file.fileId
                        })
                    }) }}>
                        <div id="modal_wopi_{{ item.itemId }}" class="uk-modal" {{ stimulus_target('wopi_modal', 'modal') }}>
                            <div class="uk-modal-dialog uk-modal-dialog-blank">
                                <a class="uk-modal-close uk-close uk-margin-right"></a>
                                <div class="uk-height-viewport" {{ stimulus_target('wopi_modal', 'content') }}></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="uk-width-9-10">
                <div class="uk-slidenav-position uk-margin-top uk-margin-bottom" data-uk-slider="{infinite: false}">
                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid uk-grid-width-1-3 uk-grid-width-medium-1-6">

                            {% for file in fileArray %}
                                <li>
                                    <div class="uk-panel uk-panel-box-secondary">
                                        <div class="uk-flex uk-flex-column uk-text-center uk-text-break" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename }} ({{ file.fileSize }} kb)">

                                            {% if file.extension|lower == 'jpg' or file.extension|lower == 'jpeg' or file.extension|lower == 'png' or file.extension|lower == 'gif' %}
                                                <a href="{{ path('app_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" data-uk-lightbox="{group:{{ item.itemId }}}" data-lightbox-type="image">
                                                    <img class="uk-margin-remove-bottom" style="height:28px;" src="{{ path('app_file_getfile', {'fileId': file.fileId, 'disposition': 'inline'}) }}" />
                                                </a>
                                            {% else %}
                                                {% set disposition = 'attachment' %}
                                                {% if file.extension|lower == 'pdf' %}
                                                    {% set disposition = 'inline' %}
                                                {% endif %}

                                                <div class="uk-margin-remove-bottom">
                                                    <a href="{{ path('app_file_getfile', {'fileId': file.fileId, 'disposition': disposition }) }}" target="_blank">
                                                        <i class="uk-icon-medium {{ macrosUtils.iconClassForFileType(file.extension) }}"></i><br>
                                                        <span>{{ file.filename|u.truncate(40, '...') }}</span>
                                                    </a>
                                                </div>

                                                {% if this.supportsOnlineOffice(file) and is_granted('ITEM_EDIT_LOCK', item.itemId) %}
                                                    <div class="uk-margin-remove-bottom">
                                                        <a href="#modal_wopi_{{ item.itemId }}" data-uk-modal
                                                        ><i class="uk-icon-edit"></i> {{ 'item.file.live_edit'|trans({}, 'item') }}</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if fileArray|length > 6 %}
                        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous" draggable="false"></a>
                        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next" draggable="false"></a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </article>
{% endif %}
