{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block main %}

    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'login.migration_change_password'|trans({}, 'login') }}{% endblock %}

        {% block body %}
            <p>
                {{ 'login.migration_change_password_intro01'|trans({}, 'login') }}
                <br>
                {{ 'login.migration_change_password_intro02'|trans({}, 'login') }}
            </p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
