{% extends 'base/list.html.twig' %}
{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}
{% import 'common/feed.html.twig' as feed %}

{% block feed %}
    <div id="topic-feed" class="uk-grid">
        {{ render(controller(
            'App\\Controller\\TopicController::feed', {
                'roomId': roomId,
                'topicFilter': app.request.query.all('topic_filter')
            }
        ))}}
    </div>

    {{ feed.spinner('topic', app.request.baseUrl ~ '/room/' ~ commsy.room.itemId ~ '/topic/feed/') }}
{% endblock %}

{% block editbox %}
    {% component 'v3:dropdown' with { icon: 'triangle-down', title: 'selected entries'|trans({},'rubric')|capitalize } %}
        {% block dropdown %}
            <ul class="uk-nav uk-dropdown-nav uk-list-striped">

                <li>
                    {% if is_granted('ITEM_NEW') %}
                        <a href="{{ path('app_topic_create', {'roomId': roomId}) }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                        </span>
                    {% endif %}
                </li>

                <li>
                    <a href="{{ path('app_topic_printlist', {'roomId': roomId}) }}" target="_blank" id="print">
                        <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                    </a>
                </li>

                <li>
                    {% if user.isUser %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhrmarkread', {'roomId': roomId}),
                            'action': 'markread',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({},'item')
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-check uk-visible-large"></i> {{ 'mark read'|trans({},'rubric')|capitalize }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-check uk-visible-large"></i> {{ 'mark read'|trans({},'rubric')|capitalize }}
                        </span>
                    {% endif %}
                </li>

                <li>
                    {% if showCategories and is_granted('CATEGORY_EDIT') %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhrcategorize', {'roomId': roomId}),
                            'action': 'categorize',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-sitemap uk-visible-large"></i> {{ 'categorize'|trans({},'rubric') }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-sitemap uk-visible-large"></i> {{ 'categorize'|trans({},'rubric') }}
                        </span>
                    {% endif %}
                </li>

                <li>
                    {% if showHashTags and is_granted('HASHTAG_EDIT') %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhrhashtag', {'roomId': roomId}),
                            'action': 'hashtag',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-hashtag uk-visible-large"></i> {{ 'hashtag'|trans({},'rubric') }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-hashtag uk-visible-large"></i> {{ 'hashtag'|trans({},'rubric') }}
                        </span>
                    {% endif %}
                </li>

                <li>
                    {% if user.isUser and not user.isReadOnlyUser %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhractivate', {'roomId': roomId}),
                            'action': 'activate',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-toggle-on uk-visible-large"></i> {{ 'Activate'|trans({},'rubric') }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-toggle-on uk-visible-large"></i> {{ 'Activate'|trans({},'rubric') }}
                        </span>
                    {% endif %}
                </li>

                <li>
                    {% if user.isUser and not user.isReadOnlyUser %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhrdeactivate', {'roomId': roomId}),
                            'action': 'activate',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-toggle-off uk-visible-large"></i> {{ 'Deactivate'|trans({},'rubric') }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-toggle-off uk-visible-large"></i> {{ 'Deactivate'|trans({},'rubric') }}
                        </span>
                    {% endif %}
                </li>

                <li>
                    {% if (user.isUser and not user.isReadOnlyUser) and not isArchived %}
                        <a href="#" class="commsy-select-action" data-uk-button data-cs-action="{{ {
                            'url': path('app_topic_xhrdelete', {'roomId': roomId}),
                            'action': 'delete',
                            'errorMessage': '<i class="uk-icon-medium uk-icon-info"></i>' ~ 'action error'|trans,
                            'mode': 'selection',
                            'noSelectionMessage': 'no entry selected'|trans({}, 'item'),
                            'confirmQuestion': 'confirm delete'|trans({}, 'rubric'),
                            'confirmCancel': 'confirm delete cancel'|trans({}, 'rubric'),
                            'confirmOk': 'confirm delete confirm'|trans({}, 'rubric'),
                            'returnUrl': path('app_topic_list', {'roomId': roomId})
                        }|json_encode|e('html_attr') }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'delete'|trans({},'rubric')|capitalize }}
                        </a>
                    {% else %}
                        <span class="uk-text-muted">
                            <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'delete'|trans({},'rubric')|capitalize }}
                        </span>
                    {% endif %}
                </li>
            </ul>
        {% endblock %}
    {% endcomponent %}
{% endblock %}
