{% import 'utils/macros.html.twig' as macros %}
{% if not feedList is empty %}
    {% for feedItem in feedList %}
        <article class="uk-comment" data-item-id="{{ feedItem.itemId }}">
            <i class="{{ macros.iconClassForItemType(feedItem.itemType) }} uk-icon-small"></i>
            {% if feedItem.type != 'date' %}
                {{ macros.statusColor(readerList, feedItem.itemId) }}
            {% else %}
                {% if not feedItem.isExternal %}
                    {{ macros.statusColor(readerList, feedItem.itemId) }}
                {% endif %}
            {% endif %}
            <header class="uk-comment-header uk-flex">
                <div class="uk-margin-right uk-flex-item-none">
                    {% if feedItem.itemType != 'user' %}
                        {% if feedItem.type != 'date' %}
                            {% if not feedItem.modificatorItem.isDeleted and feedItem.modificatorItem.isUser %}
                                {{ macros.userIconLink(feedItem.modificatorItem) }}
                            {% else %}
                                {{ macros.userIcon(feedItem.modificatorItem) }}
                            {% endif %}
                        {% else %}
                            {% if not feedItem.isExternal %}
                                {% if not feedItem.modificatorItem.isDeleted and feedItem.modificatorItem.isUser %}
                                    {{ macros.userIconLink(feedItem.modificatorItem) }}
                                {% else %}
                                    {{ macros.userIcon(feedItem.modificatorItem) }}
                                {% endif %}
                            {% else %}
                                <div class="uk-comment-avatar uk-thumbnail uk-border-circle cs-comment-thumbnail" style="height:42px; width:42px;" data-uk-tooltip title="{{ feedItem.calendar.title }}">
                                    <div class="uk-container-center uk-margin-small-top" style="width:24px; height:24px;">
                                        <i class="uk-icon-medium uk-icon-calendar" style="color:{{ feedItem.calendar.color }}; width:24px; height:24px;"></i>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if not feedItem.isDeleted and feedItem.isUser %}
                            {{ macros.userIconLink(feedItem) }}
                        {% else %}
                            {{ macros.userIcon(feedItem) }}
                        {% endif %}
                    {% endif %}
                    <div class="uk-comment-meta">
                        <span class="uk-text-nowrap">
                            {% if feedItem.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                                {{ 'today'|trans({})|capitalize }}, {{ feedItem.modificationDate|date("H:i") }}
                            {% else %}
                                {% if '9999-00-00' not in feedItem.modificationDate %}
                                    {{ feedItem.modificationDate|craue_date }}
                                {% else %}
                                    {{ feedItem.creationDate|craue_date }}
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div>
                    <div class="uk-comment-meta"><a href="{{ app.request.baseURL }}/room/{{ feedItem.contextItem.itemId }}">{{feedItem.contextItem.title|decodeHtmlEntity}}</a></div>
                    <h4 class="uk-comment-title">
                        {% set feedItemType = feedItem.type %}
                        {% if feedItem.type == 'label' %}
                            {% set feedItemType = feedItem.labelType %}
                        {% endif %}

                        <a href="{{ app.request.baseURL }}/room/{{ feedItem.contextItem.itemId }}/{{ feedItemType }}/{{ feedItem.itemID }}">
                            {% if feedItem.itemType != 'user' %}
                                {{ feedItem.title|decodeHtmlEntity }} {% if feedItem.itemType == 'date' and feedItem.getRecurrencePattern != '' %} ({{ 'recurring date'|trans({}, 'date') }}) {% endif %}
                            {% else %}
                                {{ macros.userFullname(feedItem) }}
                            {% endif %}
                        </a>
                    </h4>
                    {% if feedItem.itemType == 'announcement' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem.creator) }}</div>
                    {% elseif feedItem.itemType == 'date' %}
                        <div class="uk-comment-meta">{{ formatDateTimeRange(feedItem.wholeDay, feedItem.dateTimeObject_Start, feedItem.dateTimeObject_End) }}{% if feedItem.place != '' %}, {{ feedItem.place }}{% endif %}</div>
                    {% elseif feedItem.itemType == 'material' %}
                        <div class="uk-comment-meta">
                            {% if feedItem.author != '' %}
                                    <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{feedItem.author|decodeHtmlEntity|raw}} ({{feedItem.publishingdate|decodeHtmlEntity|raw}})</div>
                                {% else %}
                                    <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: <a href="{{ path('app_user_sendmailviacontactform', {'roomId': feedItem.contextItem._environment.current_context_id, 'itemId': feedItem.creator.itemId, 'originPath': 'app_dashboard_overview'}) }}">{{ macros.userFullname(feedItem.creator) }}</a>({{ feedItem.creationDate|craue_date }})</div>
                            {% endif %}                        
                        </div>
                    {% elseif feedItem.itemType == 'discussion' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem.creator) }}</div>
                    {% elseif feedItem.itemType == 'user' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem) }}</div>
                    {% elseif feedItem.itemType == 'group' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem.creator) }}</div>
                    {% elseif feedItem.itemType == 'todo' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem.creator) }}</div>
                    {% elseif feedItem.itemType == 'task' %}
                        <div class="uk-comment-meta">{{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(feedItem.creator) }}</div>
                    {% endif %}
                    <div class="uk-comment-meta">{{ macros.fileListShort(feedItem) }}</div>
                </div>
            </header>
        </article>
    {% endfor %}
{% endif %}