{% macro dashboardAllRooms(roomItem, userMayCreateContext) %}
    <section aria-labelledby="rooms-heading">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser cs-panel-teaser-primary">
            <div class="uk-flex uk-flex-middle">
                <h3 id="rooms-heading" class="uk-panel-title">{{ 'Rooms'|trans({}, "room") }}</h3>
             </div>
        </div>
        <form action="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}" class="uk-form-horizontal uk-form">
            <input type="text" name="room_filter[title]" placeholder="{{ 'search-filter-placeholder'|trans({}, "room") }}" style="min-width:225px;">
            <button type="submit" class="uk-button uk-button-primary">{{ 'Room search'|trans({}, "search") }}</button>
        </form>
        <ul class="uk-list">
            <li>
                <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}">{{ 'List all rooms'|trans([], 'room') }}</a>
            </li>
            <li>
                <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}|merge({'room_filter[membership]': 1})) }}">{{ 'List my rooms'|trans([], 'room') }}</a>
            </li>
            {% if userMayCreateContext and is_granted('ITEM_NEW') %}
                <li>
                    <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_create', {'roomId': roomItem.itemId}) }}">{{ 'Create new context'|trans([], 'room') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </section>
{% endmacro %}

{% macro dashboardFeed(roomItem) %}
    {#<li id="dashboard-latest" class="uk-grid-margin">#}
        <section aria-labelledby="feed-heading">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-panel-teaser cs-panel-teaser-primary">
                <div class="uk-flex uk-flex-middle">
                    <h3 id="feed-heading" class="uk-panel-title">{{ 'latest entries from my rooms'|trans({}, "room") }}</h3>
                 </div>
            </div>

            <div class="feed">
                <ul id="dashboard-feed" class="uk-comment-list">
                    {{ render(controller(
                        'App\\Controller\\DashboardController::feed',
                        { 'roomId': roomItem.itemId }
                    ))}}
                </ul>
            </div>

            <div class="feed-load-more" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 0}" data-feed='{"url": "{{ app.request.baseURL }}/dashboard/{{ roomItem.itemId }}/feed/", "target": "#dashboard-feed"}'>
                <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
            </div>

        </div>
        </section>
    {#</li>#}
{% endmacro %}

{% macro dashboardCalendar(roomItem, calendars, iCal, contextArray) %}
    {% import 'utils/macros.html.twig' as macros %}

    {#<li id="dashboard-calendar" class="uk-grid-margin">#}
        <section aria-labelledby="calendar-heading">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-panel-teaser cs-panel-teaser-primary">
                <div class="uk-flex uk-flex-middle uk-flex-space-between">
                    <h3 id="calendar-heading" class="uk-panel-title">{{ 'calendar'|trans({}, "date") }}</h3>
                 </div>
            </div>

            {{ render(controller(
            'App\\Controller\\DateController::calendardashboard',
            { 'roomId': roomItem.itemId }
            ))}}
        </div>
        </section>
    {#</li>#}
{% endmacro %}

{% macro dashboardRss(roomItem) %}
    {#<li id="dashboard-rss" class="uk-grid-margin">#}
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-panel-teaser cs-panel-teaser-primary">
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-text-large">{{ 'rss feeds'|trans({}, "dashboard") }}</div>
                 </div>
            </div>

            {{ render(controller(
            'App\\Controller\\DashboardController::rss',
            { 'roomId': roomItem.itemId }
            ))}}
        </div>
    {#</li>#}
{% endmacro %}

{% macro dashboardExternalAccess(roomItem) %}
    {#<li id="dashboard-external-access" class="uk-grid-margin">#}
        <section aria-labelledby="external-access-heading">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-panel-teaser cs-panel-teaser-primary">
                <div class="uk-flex uk-flex-middle">
                    <h3 id="external-access-heading" class="uk-panel-title">{{ 'external access'|trans({}, "dashboard") }}</h3>
                 </div>
            </div>

            {{ render(controller(
            'App\\Controller\\DashboardController::externalaccess',
            { 'roomId': roomItem.itemId }
            ))}}
        </div>
        </section>
    {#</li>#}
{% endmacro %}

{% macro dashboardMyViews(roomItem) %}
    <section aria-labelledby="my-views-heading">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser cs-panel-teaser-primary">
            <div class="uk-flex uk-flex-middle">
                <h3 id="my-views-heading" class="uk-panel-title">{{ 'my views'|trans({}, "dashboard") }}</h3>
            </div>
        </div>
        {{ render(controller(
            'App\\Controller\\DashboardController::myViews',
            { 'roomId': roomItem.itemId }
        )) }}
    </div>
    </section>
{% endmacro %}
