{% macro dashboardAllRooms(roomItem, userMayCreateContext) %}
    {% embed 'components/toggable_card.twig' %}
        {% block title %}{{ 'Rooms'|trans({}, "room") }}{% endblock %}

        {% block body %}
            <form action="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}" class="uk-form-horizontal">
                <input type="text" class="uk-input uk-form-width-medium" name="room_filter[title]" placeholder="{{ 'search-filter-placeholder'|trans({}, "room") }}" style="min-width:225px;">
                <button type="submit" class="uk-button uk-button-primary">{{ 'Room search'|trans({}, "search") }}</button>
            </form>
            <ul class="uk-list">
                <li>
                    <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}">{{ 'List all rooms'|trans([], 'room') }}</a>
                </li>
                <li>
                    <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}|merge({'room_filter[membership]': 1})) }}">{{ 'List my rooms'|trans([], 'room') }}</a>
                </li>
                {% if userMayCreateContext and is_granted('ITEM_EDIT', 'NEW') %}
                    <li>
                        <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_create', {'roomId': roomItem.itemId}) }}">{{ 'Create new context'|trans([], 'room') }}</a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro dashboardFeed(roomItem) %}
    {% embed 'components/feed_card.twig' %}
        {% block feedTitle %}{{ 'latest entries from my rooms'|trans({}, "room") }}{% endblock %}

        {% block feed %}
            <ul id="dashboard-feed" class="uk-comment-list">
                {{ render(controller(
                    'App\\Controller\\DashboardController::feedAction',
                    { 'roomId': roomItem.itemId }
                )) }}
            </ul>

            <div class="feed-load-more" uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, topoffset: 0}" data-feed='{"url": "{{ app.request.baseURL }}/dashboard/{{ roomItem.itemId }}/feed/", "target": "#dashboard-feed"}' uk-spinner>
            </div>
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro dashboardCalendar(roomItem, calendars, iCal, contextArray) %}
    {% import 'utils/macros.html.twig' as macros %}

    {% embed 'components/toggable_card.twig' %}
        {% block title %}{{ 'calendar'|trans({}, "date") }}{% endblock %}

        {% block body %}
            {{ render(controller(
                'App\\Controller\\DateController::calendardashboardAction',
                { 'roomId': roomItem.itemId }
            )) }}
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro dashboardRss(roomItem) %}
    {% embed 'components/toggable_card.twig' %}
        {% block title %}{{ 'rss feeds'|trans({}, "dashboard") }}{% endblock %}

        {% block body %}
            {{ render(controller(
                'App\\Controller\\DashboardController::rssAction',
                { 'roomId': roomItem.itemId }
            )) }}
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro dashboardExternalAccess(roomItem) %}
    {% embed 'components/toggable_card.twig' %}
        {% block title %}{{ 'external access'|trans({}, "dashboard") }}{% endblock %}

        {% block body %}
            {{ render(controller(
                'App\\Controller\\DashboardController::externalaccessAction',
                { 'roomId': roomItem.itemId }
            )) }}
        {% endblock %}
    {% endembed %}
{% endmacro %}