{% extends 'base/sidebar_layout.html.twig' %}

{% import 'dashboard/macros.html.twig' as macros %}

{% block title %}
    {{ 'Dashboard'|trans({}, "room") }}
{% endblock %}

{% block main %}
    <div id="dashboard-cover" aria-hidden="false">
        <h1 class="uk-h2">{{ 'my home'|trans({}, "menu") }}</h1>
    </div>

    <div class="uk-grid">
        {% set showServerNews = server.showServerNews %}
        {% if showServerNews and not portal.showNewsFromServer %}
            {% set showServerNews = false %}
        {% endif %}

        {# announcements #}
        {% if portal.showServerNews %}
            <div class="{% if portal.showServerNews and showServerNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                <div class="uk-alert uk-alert-warning" style="border: 1px solid rgba(226,131,39,.3)" data-uk-alert>
                    {#<a class="uk-alert-close uk-close" href=""></a>#}
                    <h2 class="uk-article-title">{{ portal.serverNewsTitle }}</h2>
                    <p>
                        {{ portal.serverNewsText|raw }}
                    </p>
                    <p>
                        <a href="{{ portal.serverNewsLink }}">{{ portal.serverNewsLink }}</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if showServerNews %}
            <div class="{% if portal.showServerNews and showServerNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                <div class="uk-alert uk-alert-warning" style="border: 1px solid rgba(226,131,39,.3)" data-uk-alert>
                    {#<a class="uk-alert-close uk-close" href=""></a>#}
                    <h2 class="uk-article-title">{{ server.serverNewsTitle }}</h2>
                    <p>
                        {{ server.serverNewsText|raw }}
                    </p>
                    <p>
                        <a href="{{ server.serverNewsLink }}">{{ server.serverNewsLink }}</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {# right column #}
        <div class="uk-width-1-2@m">
            {{ macros.dashboardCalendar(roomItem, calendars, iCal, contextArray) }}
            {{ macros.dashboardExternalAccess(roomItem) }}
        </div>

        {# left column #}
        <div class="uk-width-1-2@m uk-flex-first@m">
            {{ macros.dashboardAllRooms(roomItem, userMayCreateContext) }}
            {{ macros.dashboardFeed(roomItem) }}
        </div>
    </div>
{% endblock %}