{% extends 'base/room.html.twig' %}

{% import 'dashboard/macros.html.twig' as macros %}
{% import 'common/announcements.html.twig' as announcements %}

{% block roomTitle %}
    {{ 'Dashboard'|trans({}, "room") }}
{% endblock %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}

{% block content %}
    <div id="dashboard-cover" aria-hidden="false">
        <h1 class="uk-h2">{{ 'my home'|trans({}, "menu") }}</h1>
    </div>

    <div class="uk-grid uk-grid-match" data-uk-grid-margin>
        {# server announcements #}
        {% set showServerNews = server.announcementEnabled|default(false) %}
        {% if showServerNews and not (portal.serverAnnouncementEnabled ?? true) %}
            {% set showServerNews = false %}
        {% endif %}

        {% if portal.announcementEnabled|default(false) %}
            <div class="{% if showServerNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                <div class="uk-alert{% if portal.announcementSeverity != 'normal' %} uk-alert-{{ portal.announcementSeverity }}{% endif %}" style="border: 1px solid #DFE3E4" data-uk-alert>
                    <a class="uk-alert-close uk-close" href=""></a>
                    <h3 class="uk-article-title">{{ portal.announcementTitle }}</h3>
                    <p>{{ portal.announcementText|raw }}</p>
                </div>
            </div>
        {% endif %}

        {% if showServerNews %}
            <div class="{% if portal.showServerNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                <div class="uk-alert{% if item.announcementSeverity != 'normal' %} uk-alert-{{ item.announcementSeverity }}{% endif %}" style="border: 1px solid #DFE3E4" data-uk-alert>
                    <a class="uk-alert-close uk-close" href=""></a>
                    <h3>{{ item.announcementTitle }}</h3>
                    <p>{{ item.announcementText|raw }}</p>
                </div>
            </div>
        {% endif %}

        {# right column #}
        <div class="uk-width-medium-1-2 uk-push-1-2">
            {{ macros.dashboardMyViews(roomItem) }}
            {{ macros.dashboardCalendar(roomItem, calendars, iCal, contextArray) }}
            {{ macros.dashboardExternalAccess(roomItem) }}
        </div>

        {# left column #}
        <div class="uk-width-medium-1-2 uk-pull-1-2 uk-row-first">
            {{ macros.dashboardAllRooms(roomItem, userMayCreateContext) }}
            {{ macros.dashboardFeed(roomItem) }}
        </div>
    </div>
{% endblock %}