{% extends 'base/room.html.twig' %}

{% import 'common/announcements.html.twig' as announcements %}

{% block roomTitle %}
    {{ 'Dashboard'|trans({}, "room") }}
{% endblock %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}

{% block main %}
    <div id="dashboard-cover" aria-hidden="false">
        <h1 class="uk-h2">{{ 'my home'|trans({}, "menu") }}</h1>
    </div>

    {% set showServerNews = server.announcementEnabled|default(false) %}
    {% if showServerNews and not (portal.serverAnnouncementEnabled ?? true) %}
        {% set showServerNews = false %}
    {% endif %}

    {% set showPortalNews = portal.announcementEnabled|default(false) %}

    {% if showPortalNews or showServerNews %}
        <div class="uk-grid-match" uk-grid>
            {# portal announcements #}
            {% if showPortalNews %}
                <div class="{% if showServerNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                    <div class="uk-alert{% if portal.announcementSeverity != 'normal' %} uk-alert-{{ portal.announcementSeverity }}{% endif %}" style="border: 1px solid #DFE3E4" data-uk-alert>
                        <a class="uk-alert-close uk-close" href=""></a>
                        <h3 class="uk-article-title">{{ portal.announcementTitle }}</h3>
                        <p>{{ portal.announcementText|raw }}</p>
                    </div>
                </div>
            {% endif %}

            {# server announcements #}
            {% if showServerNews %}
                <div class="{% if showPortalNews %}uk-width-1-2{% else %}uk-width-1-1{% endif %}">
                    <div class="uk-alert{% if server.announcementSeverity != 'normal' %} uk-alert-{{ server.announcementSeverity }}{% endif %}" style="border: 1px solid #DFE3E4" data-uk-alert>
                        <a class="uk-alert-close uk-close" href=""></a>
                        <h3>{{ server.announcementTitle }}</h3>
                        <p>{{ server.announcementText|raw }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div uk-grid>
        {# right column #}
        <div class="uk-width-1-2@m uk-flex-last@m">
            <div class="uk-flex uk-flex-column">
                <div>
                    {% component 'v3:card' with { title: 'my views'|trans({}, 'dashboard') } %}
                        {% block content %}
                            {{ render(controller(
                                'App\\Controller\\DashboardController::myViews',
                                { 'roomId': roomItem.itemId }
                            )) }}
                        {% endblock %}
                    {% endcomponent %}
                </div>
                <div class="uk-margin-top">
                    {% import 'utils/macros.html.twig' as macros %}

                    {% component 'v3:card' with { title: 'calendar'|trans({}, 'date') } %}
                        {% block content %}
                            {{ render(controller(
                                'App\\Controller\\DateController::calendardashboard',
                                { 'roomId': roomItem.itemId }
                            )) }}
                        {% endblock %}
                    {% endcomponent %}
                </div>
                <div class="uk-margin-top">
                    {% component 'v3:card' with { title: 'external access'|trans({}, 'dashboard') } %}
                        {% block content %}
                            {{ render(controller(
                                'App\\Controller\\DashboardController::externalaccess',
                                { 'roomId': roomItem.itemId }
                            )) }}
                        {% endblock %}
                    {% endcomponent %}
                </div>
            </div>
        </div>

        {# left column #}
        <div class="uk-width-1-2@m">
            <div class="uk-flex uk-flex-column">
                <div>
                    {% component 'v3:card' with { title: 'Rooms'|trans({}, 'room') } %}
                        {% block content %}
                            <form action="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}" class="uk-form-horizontal">
                                <input class="uk-input" type="text" name="room_filter[title]" placeholder="{{ 'search-filter-placeholder'|trans({}, "room") }}">

                                <div class="uk-margin">
                                    <button type="submit" class="uk-button uk-button-primary">{{ 'Room search'|trans({}, "search") }}</button>
                                </div>
                            </form>

                            <ul class="uk-list">
                                <li>
                                    <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}) }}">{{ 'List all rooms'|trans([], 'room') }}</a>
                                </li>
                                <li>
                                    <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_listall', {'roomId': roomItem.itemId}|merge({'room_filter[membership]': 1})) }}">{{ 'List my rooms'|trans([], 'room') }}</a>
                                </li>
                                {% if userMayCreateContext and is_granted('ITEM_NEW') %}
                                    <li>
                                        <a class="uk-comment-title cs-link-highlight" href="{{ path('app_room_create', {'roomId': roomItem.itemId}) }}">{{ 'Create new context'|trans([], 'room') }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    {% endcomponent %}
                </div>
                <div class="uk-margin-top">
                    {% component 'v3:card' with { title: 'latest entries from my rooms'|trans({}, 'room') } %}
                        {% import 'common/feed.html.twig' as feed %}
                        {% block content %}
                            <ul id="dashboard-feed" class="uk-comment-list uk-list-striped">
                                {{ render(controller(
                                    'App\\Controller\\DashboardController::feed',
                                    { 'roomId': roomItem.itemId }
                                ))}}
                            </ul>

                            {{ feed.spinner('dashboard', app.request.baseUrl ~ '/dashboard/' ~ roomItem.itemId ~ '/feed/') }}
                        {% endblock %}
                    {% endcomponent %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
