{% macro editAnnotationContent(title, item, content) %}
    {% import 'utils/macros.html.twig' as macros %}
    <div class="uk-grid uk-margin-top-remove">

        <div class="cs-comment-head">
            <div class="uk-comment-meta">
                {{ 'by'|trans({})|capitalize }}: {{ macros.userFullname(item.creator) }}
            </div>
            <div class="uk-comment-meta uk-margin-bottom">
                {{ 'last changed'|trans({})|capitalize }}: {{item.getModificationDate|craue_date}} {{item.getModificationDate|date("H:i")}}
            </div>
        </div>

        {# content #}
        {% if not content is empty %}
            <div class="uk-width-8-10">

                <div class="fade-preview uk-hidden">&nbsp;</div>

                {# preview #}
                <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-preview-small">
                    {{ content|commsyMarkup|raw }}
                </div>

                <a class="uk-invisible" href="#" data-cs-unhide-collapsed="{src: '.toggle-{{ title }}-{{ item.itemId }}'}" data-cs-readmore>
                    <span class="cs-readmoreless">{{- "read more"|trans({}) -}}</span>
                    <span class="cs-readmoreless uk-hidden">{{- "read less"|trans({}) -}}</span>
                </a>

            </div>
        {% endif %}

        {% include 'utils/edit_spinner.html.twig' %}

        {# title row #}
        <div class="uk-width-2-10 uk-margin-small-bottom">

            <div class="uk-flex uk-flex-right">

                {# edit action #}
                {% if is_granted('ITEM_EDIT', item.itemId) %}
                    <div class="uk-display-inline cs-edit" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit" data-uk-tooltip title="{{ 'edit'|trans({}) }}"></a>
                    </div>
                {% endif %}

                {# delete action #}
                {% if is_granted('ITEM_EDIT', item.itemId) %}
                    <div class="uk-display-inline cs-delete uk-margin-small-left" data-delete-title="{{ "delete"|trans({}, 'annotation') }}" data-delete-confirm="{{ 'delete annotation'|trans({}, 'annotation') }}" data-delete-url="{{ path('app_annotation_delete', {'roomId': item.contextId, 'itemId': item.itemId}) }}" data-confirm-delete-cancel="{{ 'cancel'|trans({}, 'form') }}" data-confirm-delete-confirm="{{ 'confirm'|trans({}, 'annotation') }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-trash" data-uk-tooltip title="{{ 'delete'|trans({}, 'annotation') }}"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                <div class="uk-display-inline cs-toggle-icon uk-margin-left uk-invisible" data-cs-unhide-collapsed="{src: '.toggle-{{ title }}-{{ item.itemId }}', limit: 70}">
                    <a class="cs-toggle" data-uk-toggle="{target:'.toggle-{{ title }}-{{ item.itemId }}', cls: 'cs-toggle-full'}" data-uk-tooltip title="{{ "unhide"|trans({}) }}" data-hide-title="{{ "hide"|trans({}) }}" data-unhide-title="{{ "unhide"|trans({}) }}">
                        <i class="uk-icon-hover uk-icon-small uk-icon-chevron-down"></i>
                    </a>
                </div>

            </div>

       </div>
    </div>    
{% endmacro %}