{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% import 'utils/macros.html.twig' as macros %}

<hr class="uk-width-9-10  cs-detail-divider"/>
<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
    <a name="workflow"></a>
    <div class="uk-grid uk-margin-small-bottom">
        <div class="uk-width-9-10">
            <h4 class="cs-detail-section-header">
                <span class="cs-detail-section-header-background">{{ 'edit workflow'|trans({},'form')}}
                 </span>
            </h4>
        </div>
    </div>
<div>

<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    <div class="uk-width-9-10">
    {% include 'utils/save_spinner.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div
        {% if not workflow.withTrafficLight %}
            class="uk-hidden"
        {% endif %}
    >
        {{ form_label(form.workflowTrafficLight) }}
        <div class="uk-flex">
            <div class="uk-flex">
                <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{ 'workflowNoStatus'|trans({}, 'item') }}">
                    <div>
                        {{ form_widget(form.workflowTrafficLight[0]) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ macros.workflowStatus('3_none') }}
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textGreen}}">
                    <div>
                        {{ form_widget(form.workflowTrafficLight[1]) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ macros.workflowStatus('0_green') }}
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textYellow}}">
                    <div>
                        {{ form_widget(form.workflowTrafficLight[2]) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ macros.workflowStatus('1_yellow') }}
                    </div>
                </div>
                <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textRed}}">
                    <div>
                        {{ form_widget(form.workflowTrafficLight[3]) }}
                    </div>
                    <div class="uk-margin-small-left">
                        {{ macros.workflowStatus('2_red') }}
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <div
        {% if not workflow.withResubmission %}
            class="uk-hidden"
        {% endif %}
    >
        <div class="uk-flex uk-margin-small-top">
            <div>
                {{ form_row(form.workflowResubmission) }}
            </div>
        </div>
        <div id="workflowResubmission"
            {% if item.workflowResubmission == "-1" or not item.workflowResubmission %}
                class="uk-hidden"
            {% endif %}
        >
            <div class="uk-margin-small-top">
                <div>
                    {{ form_label(form.workflowResubmissionDate) }}
                </div>
                <div>
                    {{ form_widget(form.workflowResubmissionDate) }}
                </div>
            </div>
            {{ form_label(form.workflowResubmissionWho) }}
            <div class="uk-flex uk-margin-small-top">
                <div>
                    <div class="uk-flex">
                        <div>
                            {{ form_widget(form.workflowResubmissionWho[0]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ 'notify creator'|trans({}, 'item') }} ({{ macros.workflowWhoCreator(item) }})
                        </div>
                    </div>
                    <div class="uk-flex">
                        <div>
                            {{ form_widget(form.workflowResubmissionWho[1]) }}
                        </div>
                        <div class="uk-margin-small-left">
                             {{ 'notify all modifiers'|trans({}, 'item') }} ({{ macros.workflowWhoModifier(item) }})
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-small-top">
                <div>
                    {{ form_label(form.workflowResubmissionWhoAdditional) }}
                </div>
                <div>
                    {{ form_widget(form.workflowResubmissionWhoAdditional) }}
                </div>
            </div>
            {{ form_label(form.workflowResubmissionTrafficLight) }}
            <div class="uk-flex uk-margin-small-top">
                <div class="uk-flex">
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{ 'workflowNoStatus'|trans({}, 'item') }}">
                        <div>
                            {{ form_widget(form.workflowResubmissionTrafficLight[0]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('3_none') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textGreen}}">
                        <div>
                            {{ form_widget(form.workflowResubmissionTrafficLight[1]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('0_green') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textYellow}}">
                        <div>
                            {{ form_widget(form.workflowResubmissionTrafficLight[2]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('1_yellow') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textRed}}">
                        <div>
                            {{ form_widget(form.workflowResubmissionTrafficLight[3]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('2_red') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <div 
        {% if not workflow.workflowValidity %}
            class="uk-hidden"
        {% endif %}
    >
        <div class="uk-flex uk-margin-small-top">
            <div>
                {{ form_row(form.workflowValidity) }}
            </div>
        </div>
        <div id="workflowValidity"
            {% if item.workflowValidity == "-1" or not item.workflowResubmission %}
                class="uk-hidden"
            {% endif %}
        >
            <div class="uk-margin-small-top">
                <div>
                    {{ form_label(form.workflowValidityDate) }}
                </div>
                <div>
                    {{ form_widget(form.workflowValidityDate) }}
                </div>
            </div>
            {{ form_label(form.workflowValidityWho) }}
            <div class="uk-flex uk-margin-small-top">
                <div>
                    <div class="uk-flex">
                        <div>
                            {{ form_widget(form.workflowValidityWho[0]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ 'notify creator'|trans({}, 'item') }} ({{ macros.workflowWhoCreator(item) }})
                        </div>
                    </div>
                    <div class="uk-flex">
                        <div>
                            {{ form_widget(form.workflowValidityWho[1]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ 'notify all modifiers'|trans({}, 'item') }} ({{ macros.workflowWhoModifier(item) }})
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-small-top">
                <div>
                    {{ form_label(form.workflowValidityWhoAdditional) }}
                </div>
                <div>
                    {{ form_widget(form.workflowValidityWhoAdditional) }}
                </div>
            </div>
            {{ form_label(form.workflowValidityTrafficLight) }}
            <div class="uk-flex uk-margin-small-top">
                <div class="uk-flex">
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{ 'workflowNoStatus'|trans({}, 'item') }}">
                        <div>
                            {{ form_widget(form.workflowValidityTrafficLight[0]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('3_none') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textGreen}}">
                        <div>
                            {{ form_widget(form.workflowValidityTrafficLight[1]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('0_green') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textYellow}}">
                        <div>
                            {{ form_widget(form.workflowValidityTrafficLight[2]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('1_yellow') }}
                        </div>
                    </div>
                    <div class="uk-flex uk-margin-small-top uk-margin-right" data-uk-tooltip title="{{workflow.textRed}}">
                        <div>
                            {{ form_widget(form.workflowValidityTrafficLight[3]) }}
                        </div>
                        <div class="uk-margin-small-left">
                            {{ macros.workflowStatus('2_red') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-flex uk-margin-top cs-button-margin-top">
        <div>
            {{ form_row(form.save) }}
        </div>
        <div class="uk-margin-small-left">
            {{ form_row(form.cancel) }}
        </div>
    </div>
    {{ form_end(form) }}
    </div>
    </div>
    
    
