{% macro files_simple(item, draft = false) %}
    {% import 'utils/macros.html.twig' as macrosUtils %}

    <ul class="uk-thumbnav">
        {% for file in item.fileList %}
            <li>
                {% set disposition = 'attachment' %}
                {% if file.extension|lower == 'pdf' %}
                    {% set disposition = 'inline' %}
                {% endif %}
                <a href="{{ path('app_file_getfile', {'fileId': file.fileId, 'disposition': disposition }) }}" target="_blank" data-uk-tooltip="{pos:'top-left'}" title="{{ file.filename }}">
                    <i class="uk-icon-small {{ macrosUtils.iconClassForFileType(file.extension) }}" ></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro links(item,withTags,withCategories,roomCategories, draft, buzzExpanded, catzExpanded) %}
    {% import 'utils/macros.html.twig' as macros %}
    {% import _self as itemMacros %}

    {% set buzzExpanded = false %}
    {% set catzExpanded = false %}

    {% set countEntries = item.buzzwordArray|length + item.tagsArray|length %}

    {% set preview %}
    <div class="uk-grid">
        {% if withCategories %}
            <div class="uk-width-1-3">
                {% if (item.tagsArray|length) > 0 %}
                    <strong>{{ 'categories'|trans({}, "room") }}:</strong> <br/>
                {% endif %}

                {% set count = 1 %}
                {% if (item.tagsArray|length) < 4 %}
                    {% if (item.tagsArray|length) == 0 %}

                    {% else %}
                        {% for tag in item.tagsArray %}
                            {{tag.title|decodeHtmlEntity}}{% if count < item.tagsArray|length %}, {% endif %}
                            {% set count = count +1 %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                        {{item.tagsArray|length}} {{ 'categories'|trans({}, "room") }}
                {% endif %}
            </div>
        {% endif %}
        {% if withTags %}
            <div class="uk-width-1-3">
                {% set count = 1 %}
                {% if (item.buzzwordArray|length) < 4 %}
                    {% if (item.buzzwordArray|length) == 0 %}
                    {%else%}
                        <strong>{{ 'hashtags'|trans({}, "room") }}:</strong> <br/>
                        {% for tag in item.buzzwordArray %}
                            {{tag}}{% if count < item.buzzwordArray|length %}, {% endif %}
                            {% set count = count +1 %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                        {{item.buzzwordArray|length}} {{ 'hashtags'|trans({}, "room") }}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endset %}

    {% set content %}

    {% if catzExpanded %}
        <div class="uk-grid" id="structureExpanded">
    {% elseif buzzExpanded %}
        <div class="uk-grid" id="structureExpanded">
    {% else %}
        <div class="uk-grid">
    {% endif %}
        {% if withCategories %}

            <div class="uk-width-1-3">
                {% if (item.tagsArray|length) > 0 %}
                    <strong>{{ 'categories'|trans({}, "room") }}:</strong>
                    <div class="cs-tree-plain">
                        {{ itemMacros.nestedTagList(item.tagsArray, roomCategories, 1) }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if withTags %}
            <div class="uk-width-1-3">

            {% set tagArray = item.buzzwordList.to_array() %}
            {% if (tagArray|length) > 0 %}
                <strong>{{ 'hashtags'|trans({}, "room") }}:</strong> <br/>
                {% for tag in tagArray %}
                    <button class="uk-button uk-margin-small-bottom">{{tag.title|decodeHtmlEntity}}</button>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endset %}

    {{ macros.editContent('categoriesAndBuzzwords', item, true, content, preview, true, true, countEntries, draft) }}
{% endmacro %}

{% macro linksAssociations(item,withTags,withCategories,roomCategories, draft, showAssociations) %}
    {% import 'utils/macros.html.twig' as macros %}
    {% import _self as itemMacros %}

    {% set countEntries = item.AllLinkeditemIDArray|length  %}

    {% set preview %}
        <div class="uk-grid">
            <div class="uk-width-9-10">
                {{ render(controller(
                    'App\\Controller\\LinkController::showDetailShortAction',
                    { 'roomId': item.contextId, 'itemId': item.itemId }
                ))}}
            </div>
        </div>
    {% endset %}

    {% set content %}
        <div class="uk-grid">
            <div class="uk-width-9-10">
                {% if showAssociations %}
                {{ render(controller(
                    'App\\Controller\\LinkController::showDetailLongToggleAction',
                    { 'roomId': item.contextId, 'itemId': item.itemId }
                ))}}
                {% else %}
                    {{ render(controller(
                        'App\\Controller\\LinkController::showDetailLongAction',
                        { 'roomId': item.contextId, 'itemId': item.itemId }
                    ))}}
                {% endif %}
            </div>
        </div>
    {% endset %}

    {{ macros.editContent('links', item, true, content, preview, true, true, countEntries, draft) }}
{% endmacro %}

{% macro workflow(item, workflowGroupArray, workflowUserArray, workflowText, workflowValidityDate, workflowResubmissionDate, workflowTitles, withTrafficLight, withValidity, withResubmission) %}
    {% import 'utils/macros.html.twig' as macros %}

    {% set preview %}

    <div class="uk-grid">
        {% if withTrafficLight %}
            <div class="uk-width-1-3">
                <strong>{{ 'worflow status'|trans({}, "material") }}:</strong> <br/>
                <div class="uk-flex-inline">
                    <div class="uk-margin-right">{{ macros.workflowTrafficLight(item, workflowTitles) }}</div>
                    <div>{{workflowText}}</div>
                 </div>
            </div>
        {% endif %}
        {% if workflowResubmissionDate != '0000-00-00 00:00:00' and withResubmission %}
             <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow resubmission date'|trans({}, "material") }}</strong>:<br/>
                    {{ workflowResubmissionDate|craue_date }}
                </div>
            </div>
       {% endif %}
        {% if workflowValidityDate != '0000-00-00 00:00:00' and withValidity %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow validity date'|trans({}, "material") }}</strong>: <br/>
                    {{ workflowValidityDate|craue_date }}
                </div>
            </div>
        {% endif %}
    </div>


    {% endset %}

    {% set content %}
    <div class="uk-grid">
        {% if withTrafficLight %}
            <div class="uk-width-1-3">
                <strong>{{ 'worflow status'|trans({}, "material") }}:</strong> <br/>
                <div class="uk-flex-inline uk-margin-bottom">
                    <div class="uk-margin-right">{{ macros.workflowTrafficLight(item, workflowTitles) }}</div>
                    <div>{{workflowText}}</div>
                 </div>
            </div>
        {% endif %}
        {% if workflowResubmissionDate != '0000-00-00 00:00:00' and withResubmission %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow resubmission date'|trans({}, "material") }}</strong>:<br/>
                    {{ workflowResubmissionDate|craue_date }}
                </div>
            </div>
       {% endif %}
        {% if workflowValidityDate != '0000-00-00 00:00:00' and withValidity %}
            <div class="uk-width-1-3">
                <div class="uk-margin-bottom">
                    <strong>{{ 'workflow validity date'|trans({}, "material") }}</strong>: <br/>
                    {{ workflowValidityDate|craue_date }}
                </div>
            </div>
        {% endif %}
        {% set workflowReaderShowTo = item.contextItem.getWorkflowReaderShowTo %}
        {% if workflowReaderShowTo is same as('all') or (workflowReaderShowTo is same as('moderator') and is_granted('MODERATOR')) %}
            {% if not workflowGroupArray is empty %}
                <div class="uk-width-1-2">
                    <strong>{{ 'workflow marked as read by groups'|trans({}, "material") }}:</strong><br/>
                    {% set counter = 1 %}
                    {% for workflowGroup in workflowGroupArray %}
                        <a href="{{ path('app_group_detail', {'roomId': item.contextId, 'itemId': workflowGroup.iid}) }}">{{ workflowGroup.title|decodeHtmlEntity }}</a> ({{ workflowGroup.userCount }} {{ 'of'|trans({}, "room") }} {{ workflowGroup.userCountComplete }})
                        {% if counter != workflowGroupArray|length %}, {% endif %}
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if not workflowUserArray is empty %}
                <div class="uk-width-1-2">
                    <strong>{{ 'workflow marked as read by users'|trans({}, "material") }}:</strong><br/>
                    {% set counter = 1 %}
                    {% for workflowUser in workflowUserArray %}
                        <a href="{{ path('app_user_detail', {'roomId': item.contextId, 'itemId': workflowUser.iid}) }}">{{ workflowUser.name }}</a>
                        {% if counter != workflowUserArray|length %}, {% endif %}
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
     </div>
   {% endset %}

    {{ macros.editContent('workflow', item, true, content, preview, true, false, 0) }}
{% endmacro %}

{% macro itemDescription(title, item, edit, content, draft) %}
    <hr class="uk-width-9-10"/>

    <article class="uk-article uk-margin-left uk-margin-right">
        <a name="description"></a>
        {% include 'utils/edit_spinner.html.twig' %}

        {# title row #}
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-8-10">
                <h4 class="cs-detail-section-header">
                    {{- title|trans({}) -}}
                </h4>
            </div>

            <div class="uk-width-2-10 uk-flex uk-flex-right">

                {# edit action #}
                {% if edit and is_granted('ITEM_EDIT', item.itemId) %}
                    <div id="{{ item.type }}-description-edit" class="uk-display-inline cs-edit {% if draft %}cs-edit-draft{% endif %}" data-edit-title="{{ "edit"|trans({}) }}">
                        <a href="#" class="uk-icon-hover uk-icon-small uk-icon-edit"></a>
                    </div>
                {% endif %}

                {# toggle action #}
                <div class="uk-display-inline uk-margin-left uk-invisible{% if content is empty %} cs-always-invisible {% endif %}">
                    <div style="height:18px; width:18px;"></div>
                </div>
            </div>
        </div>

        {# content #}
        {% if not content is empty %}
            <div class="uk-width-9-10">

                {# preview #}
                <div class="toggle-{{ title }}-{{ item.itemId }} cs-toggle-full">
                    <span class="{% if item.hasOverwrittenContent %}uk-text-muted{% endif %}">{{ content|commsyMarkup(item)|raw }}</span>
                </div>

            </div>
        {% endif %}
{% endmacro %}

{% macro nestedTagList(tags, roomTags, level) %}
    {% import _self as itemMacros %}

    {% set opened = true %}
    <ul class="uk-list">
    {% for child in roomTags %}

        {% set childTitle %}
            <div><span class="uk-text-muted">{{ child.title|decodeHtmlEntity }}</span></div>
        {% endset %}
        {% for tag in tags %}
            {% if tag.id == child.item_id %}
                {% set childTitle %}
                    <div><span class="uk-text-bold">{{ child.title|decodeHtmlEntity }}</span></div>
                {% endset %}
            {% endif %}
        {% endfor %}

        {% if child.children is defined and not child.children is empty %}
            <li id="tag_{{ child.title|decodeHtmlEntity }}_{{ child.item_id }}" data-jstree='{"opened": {{ opened }}}'>
                {{ childTitle }}
                {{ itemMacros.nestedTagList(tags, child.children, level+1) }}
            </li>
        {% else %}
            <li id="tag_{{ child.title|decodeHtmlEntity }}_{{ child.item_id }}" data-jstree='{"opened": {{ opened }}}'>
                {{ childTitle }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
