{% extends 'App:base:room.html.twig' %}

{% form_theme form 'App:form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-1-1">

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Send item'|trans({}, "mail") }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}

                    {% if form.vars.errors is not empty %}
                        <div class="uk-alert-danger uk-alert" uk-alert>
                            <p>{{ form_errors(form) }}</p>
                        </div>
                    {% endif %}

                        {{ form_row(form.subject) }}
                        {{ form_row(form.message) }}

                        {% if form.send_to_attendees is defined %}
                            {{ form_row(form.send_to_attendees) }}
                        {% endif %}

                        {% if form.send_to_assigned is defined %}
                            {{ form_row(form.send_to_assigned) }}
                        {% endif %}

                        {% if form.send_to_group_all is defined %}
                            {{ form_row(form.send_to_group_all) }}
                        {% endif %}

                        {% if form.send_to_groups is defined %}
                            <div class="uk-margin-top uk-margin-bottom">
                                {{ form_label(form.send_to_groups) }}
                                <div style="margin-left:150px;">
                                {% for tempGroup in form.send_to_groups.iterator %}
                                    <div class="uk-margin-small-bottom"><span class="uk-margin-right">{{ form_widget(tempGroup) }}</span>{{ tempGroup.vars.label }}</div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if form.send_to_institutions is defined %}
                            {{ form_row(form.send_to_institutions) }}
                        {% endif %}

                        {% if form.send_to_all is defined %}
                            {{ form_row(form.send_to_all) }}
                        {% endif %}

                        {% if form.send_to_selected is defined %}
                            {{ form_row(form.send_to_selected) }}
                        {% endif %}

                        {{ form_row(form.copy_to_sender) }}
                        {{ form_row(form.additional_recipients) }}

                        <div class="uk-form-row">
                            <a href="#" id="cs-form-send-add-recipient">{{ 'Add another recipient'|trans({}, 'mail') }}</a>
                        </div>

                        {{ form_row(form.save) }}
                        {{ form_row(form.cancel) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#cs-form-send-add-recipient').on('click', function(event) {
            event.preventDefault();

            var emailContainer = $('#send_additional_recipients');

            // grab the prototype template
            var newWidget = emailContainer.data('prototype');

            // get the number of current used email fields
            var currentEmailCount = $('input[name^="send[additional_recipients]"]').length;

            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to the other fields
            newWidget = newWidget.replace(/__name__/g, currentEmailCount);

            // add the new element
            $(newWidget).appendTo(emailContainer);
        });
    </script>
{% endblock %}