{% extends 'base/room.html.twig' %}

{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-1-1">

            {# new project room#}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Create new project room'|trans({}, "project") }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function updateTemplateDescription(){
            let description = $descriptions[$("#project_master_template option:selected").val()];
            if (description) {
                $("#project_template_description").val(description).show();
            }
            else {
                $("#project_template_description").val("").hide();
            }
        }
        window.onload = function() {
            $descriptions = $("#project_master_template").data('description');
            updateTemplateDescription();
        }
        $("#project_master_template").change(updateTemplateDescription);
    </script>
{% endblock %}
