{% extends 'base/room.html.twig' %}

{% import 'item/macros.html.twig' as macrosItem %}
{% import 'project/macros.html.twig' as macrosProject %}
{% import 'utils/macros.html.twig' as macros %}

{% set project = item %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# project content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        {{ render(controller(
                            'App\\Controller\\ItemController::stepperAction',
                            { 'roomId': roomId, 'itemId': item.itemId }
                        ))}}

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">


                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                    {# {% if (is_granted('MODERATOR') or is_granted('UNDERLAYING_PROJECT_MODERATOR')) %} #}
                                    {% if is_granted('MODERATOR')  %}
                                        <ul class="uk-nav uk-nav-dropdown cs-list-moderation uk-padding-remove uk-margin-remove uk-text-left">
                                            {#{ path('app_user_delete', {'roomId': roomId, 'itemId': user.itemId}) }}" id="delete" data-uk-button data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}#}
                                            <li>
                                                <a href="{{ path('app_secureprojectdetaildeletion_deleteorlock', {'roomId': roomId, 'communityId': project.itemId}) }}">
                                                    <i class="uk-icon-justify uk-icon-small uk-icon-times-circle uk-visible-large"></i> {{ 'Delete or lock project'|trans({},'settings') }}
                                                </a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>
                    {# title, etc. #}
                    <div class="cs-toggle" data-uk-observe>
                        {{ macrosProject.title(project, modifierList, userCount, readCount, readSinceModificationCount) }}
                    </div>

                    {# description #}
                    <div id="description{{ project.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': project.contextId, 'itemId': project.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': project.contextId, 'itemId': project.itemId}) }}' }">
                        {{ macrosItem.itemDescription('description', project, true, project.description) }}
                    </div>

                    {# access #}
                    <div id="description{{ project.itemId }}" class="cs-toggle" data-uk-observe>
                        <hr class="uk-width-9-10"/>

                        {{ macrosProject.access(project, roomId, memberStatus, contactModeratorItems) }}
                    </div>
                </article>
            </div>
        </div>
        
        <div class="uk-width-medium-1-5 cs-addon-navigation">
            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ project.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#description{{ project.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#access{{ project.itemId }}">{{ 'Membership'|trans({},'room')}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}