{% extends 'base/list.html.twig' %}
{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% import 'utils/macros.html.twig' as utilsMacros %}

{% block feed %}
    <ul id="dates-feed" class="uk-comment-list" data-uk-observe>
        {{ render(controller(
            'App\\Controller\\ProjectController::feedAction',
            { 'roomId': roomId }
        ))}}
    </ul>

    <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/project/feed/", "target": "#dates-feed"}'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}

{% block sortbox %}
        {# sort dropdown #}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini">{{ 'list sort'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    {# sorting options #}
                    {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', '') }}
                    {{ utilsMacros.sortActor('modificator', 'modifier', 'rubric', 'modificator', 'modificator_rev', '') }}
                    {{ utilsMacros.sortActor('date', 'modification_date', 'rubric', 'date', 'date_rev', 'desc') }}
               </ul>
            </div>
        </div>
{% endblock %}

{% block editbox %}
    {% if is_granted('ITEM_EDIT', 'NEW') and userCanCreateContext %}
        <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-mini">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
            <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                    <li>
                         <a href="{{ path('app_project_create', {'roomId': roomId}) }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'New project room'|trans([], 'project') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock%}