{% extends 'base/list.html.twig' %}
{% form_theme form 'form/uikit_horizontal_layout.html.twig' %}

{% block feed %}
    <ul id="dates-feed" class="uk-comment-list" data-uk-observe>
        {{ render(controller(
            'App\\Controller\\ProjectController::feed',
            { 'roomId': roomId }
        ))}}
    </ul>

    <div class="feed-load-more" data-uk-scrollspy="{repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/project/feed/", "target": "#dates-feed"}'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}

{% block sortbox %}
        {# sort dropdown #}
        {% component 'v2:dropdown' with { icon: 'caret-down', title: 'list sort'|trans({},'rubric')|capitalize } %}
            {% import 'utils/macros.html.twig' as utilsMacros %}

            {% block dropdown %}
                <ul class="uk-nav uk-nav-dropdown uk-list-striped">
                    {# sorting options #}
                    {{ utilsMacros.sortActor('title', 'title', 'rubric', 'title', 'title_rev', '') }}
                    {{ utilsMacros.sortActor('modificator', 'modifier', 'rubric', 'modificator', 'modificator_rev', '') }}
                    {{ utilsMacros.sortActor('date', 'modification_date', 'rubric', 'date', 'date_rev', 'desc') }}
               </ul>
            {% endblock %}
        {% endcomponent %}
{% endblock %}

{% block editbox %}
    {% if is_granted('ITEM_NEW') and userCanCreateContext %}
        {% component 'v2:dropdown' with { icon: 'caret-down', title: 'selected entries'|trans({},'rubric')|capitalize } %}
            {% block dropdown %}
                <ul class="uk-nav uk-nav-dropdown uk-list-striped">
                    <li>
                         <a href="{{ path('app_project_create', {'roomId': roomId}) }}">
                            <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'New project room'|trans([], 'project') }}
                        </a>
                    </li>
                </ul>
            {% endblock %}
        {% endcomponent %}
    {% endif %}
{% endblock%}
