{% set mailSequence = newsletterData.mailSequence|trans({}, 'mail') %}
{{ 'mail.newsletter_body_intro'|trans({'%mailSequence%': mailSequence, '%portal%': portal.title}, 'mail') }}
{%~ if newsletterData.rooms is empty ~%}
<br/><br/>
{{ 'mail_newsletter_body_no_new_entries'|trans({}, 'mail') }}
{%~ endif ~%}
{%~ for id, roomData in newsletterData.rooms -%}
    <br/><br/>
    {%- set room = roomData.roomItem -%}
    <strong><a href="{{ roomData.homeUrl }}">{{ room.title }}</a></strong>
    {% for rubricSpecifier, rubricData in roomData.rubrics -%}
        <br/><br/>  <a href="{{ url('app_' ~ rubricSpecifier ~ '_list', { 'roomId': id }) }}">{{ rubricSpecifier|trans({}, 'menu') }}</a> ({{ rubricData.itemsCount }}):
        {% for itemId, itemData in rubricData.items -%}
            {%- set item = itemData.item -%}
            <br/>  -  <a href="{{ url('app_' ~ item.itemType ~ '_detail', { 'roomId': id, 'itemId': itemId }) }}">{{ item.title|decodeHtmlEntity }}</a>
        {% endfor ~%}
    {% endfor ~%}
{%- endfor ~%}
<br/><br/>
--
<br/><br/>
{{ 'mail.newsletter_body_outro'|trans({}, 'mail') }}
