{% extends 'CommsyBundle:Settings:settings.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Additional Configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Structural auxilaries'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;"></div>
                            {{ form_widget(form.structural_auxilaries) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Tasks'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">In der Aufgabenrubrik gibt es normalerweise drei Bearbeitungsstatus: "nicht bearbeitet", "in Berabeitung" und "erledigt". Hier können Sie bei Bedarf noch eigene zusätzliche Status definieren.</div>
                            {{ form_widget(form.tasks) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Template'|trans({}, 'settings') }}</h1> 
                            <div style="margin-bottom: 25px;">Machen Sie diesen Raum als Vorlage für neue Räume verfügbar. Bei Auswahl einer Vorlage beim Eröffnen eines Raumes werden sämtliche Voreinstellungen und Inhalte der Vorlage in den neuen Raum übernommen, mit Ausnahme der Informationen zu Personen.</div>
                            {{ form_widget(form.template) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Terms'|trans({}, 'settings') }}</h1> 
                            <div style="margin-bottom: 25px;">Hiermit werden Nutzungsvereinbarungen in den Prozess zur Anmeldung der Teilnahme an diesem Raum integriert. Potentielle TeilnehmerInnen müssen die AGBs bewußt ankreuzen, um Zutritt zu diesem Raum zu erhalten. </div>
                            {{ form_widget(form.terms) }}
                        </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    Some usefull text...
                </div>
            </div>

        </div>
    </div>
    <script>
    var languageSelection = document.getElementById('additional_settings_terms_language');
    var ckeditor = CKEDITOR.instances['additional_settings_terms_agb_text_editor'];

    // similar ckeditor events: 'loaded', 'instanceCreated'
    ckeditor.on('instanceReady', function(e){
 
        this.on('blur', function(e){
            document.getElementById('additional_settings_terms_agb_text_' + languageSelection.value).value = this.getData();
        });

        // This is just a workaround needed because the blur event above apparently does not fire when directly clicking the submit button after typing text into the CKEdtor
        document.getElementsByClassName('uk-form-horizontal')[0].onsubmit=function(){           
            document.getElementById('additional_settings_terms_agb_text_' + languageSelection.value).value = ckeditor.getData();
        }        

        languageSelection.onchange=function(e){
            ckeditor.setData(document.getElementById('additional_settings_terms_agb_text_' + this.value).value);         
        };

        // initially display data from DB once the CKEditor is ready
        ckeditor.setData(document.getElementById('additional_settings_terms_agb_text_' + languageSelection.value).value);  
      
    });
    </script>
{% endblock content %}
