{% extends 'CommsyBundle:Settings:settings.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Additional Configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>Strukturierungshilfen:</b> 
                            <div class="uk-form-horizontal uk-form-controls"></div>
                            {{ form_widget(form.structural_auxilaries) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>Aufgaben:</b> 
                            <div class="uk-form-horizontal uk-form-controls">In der Aufgabenrubrik gibt es normalerweise drei Bearbeitungsstatus: "nicht bearbeitet", "in Berabeitung" und "erledigt". Hier können Sie bei Bedarf noch eigene zusätzliche Status definieren.</div>
                            {{ form_widget(form.tasks) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>Vorlage:</b> 
                            <div class="uk-form-horizontal uk-form-controls">Machen Sie diesen Raum als Vorlage für neue Räume verfügbar. Bei Auswahl einer Vorlage beim Eröffnen eines Raumes werden sämtliche Voreinstellungen und Inhalte der Vorlage in den neuen Raum übernommen, mit Ausnahme der Informationen zu Personen.</div>
                            {{ form_widget(form.template) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>Nutzungsvereinbarungen:</b> 
                            <div class="uk-form-horizontal uk-form-controls">Hiermit werden Nutzungsvereinbarungen in den Prozess zur Anmeldung der Teilnahme an diesem Raum integriert. Potentielle TeilnehmerInnen müssen die AGBs bewußt ankreuzen, um Zutritt zu diesem Raum zu erhalten. </div>
                            {{ form_widget(form.terms) }}
                        </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    Some usefull text...
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
