{% extends 'CommsyBundle:Settings:settings.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Appearance Configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Configure events'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Configure events text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.dates_status) }}
                        </div>
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Configure color theme'|trans({}, 'settings') }}</h1>
                            <div style="margin-bottom: 25px;">{{ 'Configure color theme text'|trans({}, 'settings') }}</div>
                            {{ form_row(form.theme) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <h1 class='uk-panel-title'>{{ 'Room image'|trans({}, 'settings') }}</h1>

                            {{ form_widget(form.room_image.choice) }}

                            <div id="bgPreview" class="uk-form-controls uk-cover-background uk-position-relative">
                                {% if bgImageFilepathCustom is not empty %}
                                    {# <img id="customBackgroundImage" style="display: none; width: 100%; height: 180px;" src="{{bgImageFilepathCustom}}" /> #}
                                    <img id="customBackgroundImage" style="display: none; width: 856px; height: 180px;" src="{{bgImageFilepathCustom}}" />
                                {% else %}
                                    {# <img id="customBackgroundImage" style="display: none; width: 100%; height: 180px;" src="" /> #}
                                    <img id="customBackgroundImage" style="display: none; width: 856px; height: 180px;" src="" />
                                {% endif %}

                                {% if bgImageFilepathTheme is not empty %}
                                    {# <img id="themeBackgroundImage" style="width: 100%; height: 180px;" src="{{bgImageFilepathTheme}}" /> #}
                                    <img id="themeBackgroundImage" style="width: 856px; height: 180px;" src="{{bgImageFilepathTheme}}" />
                                {% else %}
                                    {# <img id="themeBackgroundImage" style="width: 100%; height: 180px;" src="" /> #}
                                    <img id="themeBackgroundImage" style="width: 856px; height: 180px;" src="" />
                                {% endif %}

                                {# <div class="uk-position-cover" style="opacity: 0.7;"> #}
                                <div class="uk-position-cover" style="width: 856px; opacity: 0.7;">
                                    {{ form_widget(form.room_image.room_image_upload) }}
                                </div>

                                <!-- for debugging -->
                                <ul id="imageInfo"></ul>
                            </div>

                            <script>
                                var uploads = document.getElementsByClassName('upload');
                                if(uploads.length){
                                    uploads[0].className = uploads[0].className.replace(/\bupload\b/,'');
                                }
                            </script>
                            {# {{ form_row(form.room_image.repeat_x) }} #}
                            {# {{ form_row(form.room_image.scroll_image) }} #}
                            {# {{ form_row(form.room_image.delete_custom_image) }} #}
                            {{ form_row(form.room_image.room_image_data) }}
                        </div>

                    {{ form_end(form) }}
                </div>
                
            </div>
        </div>
        
{#         <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>
                <div>
                    {{ 'Useful information'|trans({}, 'settings') }}
                </div>
            </div>
        </div> #}

    </div>
    <script>
    window.onload = function(){

        let positionCover = document.getElementsByClassName('uk-position-cover');
        let coverFormControls = positionCover[0].getElementsByClassName('uk-form-controls')[0];

        coverFormControls.style.marginLeft = "0px";

        // let deleteRow = document.getElementById('appearance_settings_room_image_delete_custom_image').parentElement.parentElement;
        // let repeatRow = document.getElementById('appearance_settings_room_image_repeat_x').parentElement.parentElement;
        // let scrollRow = document.getElementById('appearance_settings_room_image_scroll_image').parentElement.parentElement;

        // deleteRow.className += " uk-form-controls";
        // repeatRow.className += " uk-form-controls";
        // scrollRow.className += " uk-form-controls";

        document.getElementById('appearance_settings_room_image_choice').onchange = function(event){
            // toggleUploadListener(this, deleteRow, scrollRow, repeatRow);
            // toggleUploadListener(this, deleteRow, repeatRow);
            toggleUploadListener(this);
        }

        document.querySelector('form.uk-form-horizontal').onsubmit = function(event){
            this.querySelector('input[type="file"]').disabled = true;
        }

        // toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'), deleteRow, scrollRow, repeatRow);
        // toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'), deleteRow, repeatRow);
        toggleUploadListener(document.getElementById('appearance_settings_room_image_choice'));
    };

    function setBackgroundImage(f, previewImage){
        // TODO: set threshold to sensible value (e.g. the real upload size limit of the server)!
        if(f.size > 2000000){
            alert("File size too large ("+(f.size / 1000) +" KB)! \n This service accepts image files up to 500 KB only!");
            return false;
        }
        else if(f.type.substring(0, 5) != 'image'){
            alert("Files of type '"+f.type+"' can not be used as background images!");
            return false;
        }
        let reader = new FileReader();
        reader.onload = function(event){
            previewImage.src = event.target.result;
            document.getElementById('appearance_settings_room_image_room_image_data').value = f.name + ";" + event.target.result;

            // document.getElementById("imageInfo").innerHTML = 
            //         '<li>Name: '+f.name+
            //         '</li><li>Type: '+f.type+
            //         '</li><li>Size: '+f.size+' bytes'+
            //         '</li><li>width: '+previewImage.width+
            //         '</li><li>height: '+previewImage.height+
            //         '</li><li>naturalWidth: '+previewImage.naturalWidth+
            //         '</li><li>naturalHeight: '+previewImage.naturalHeight+
            //         '</li><li>aspect ratio: '+(previewImage.naturalWidth / previewImage.naturalHeight)+
            //         '</li><li>Data: '+event.target.result.substring(0,50)+'...</li>';
        }
        reader.readAsDataURL(f);
    }

    // function toggleUploadListener(containerElement, deleteRow, scrollRow, repeatRow){
    // function toggleUploadListener(containerElement, deleteRow, repeatRow){
    function toggleUploadListener(containerElement){

        let bgPreview = document.getElementById("bgPreview");

        let themeBg = document.getElementById("themeBackgroundImage");
        let customBg = document.getElementById("customBackgroundImage");

        let imageType = containerElement.querySelector('input:checked').value;

        // TODO: dynamically load bg preview depending on choice (custom image / default theme image)
        if(imageType === 'default_image'){
            document.getElementsByClassName("cs-upload-form")[0].style.display = 'none';
            // repeatRow.style.display = 'block';
            // deleteRow.style.display = 'none';
            // scrollRow.style.display = 'none';

            themeBg.style.display = 'inline';
            customBg.style.display = 'none';

            bgPreview.onmouseover = function(e){
                e.preventDefault();
                return false;
            };

            bgPreview.onmouseleave = function(e){
                e.preventDefault();
                return false;
            };

            bgPreview.ondragover = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondragleave = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondrop = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.querySelector('input[type="file"]').onchange = function(e){
                e.preventDefault();
                return false;
            };
        }
        else if(imageType === 'custom_image'){
            document.getElementsByClassName("cs-upload-form")[0].style.display = 'block';
            // repeatRow.style.display = 'none';
            // deleteRow.style.display = 'block';
            // scrollRow.style.display = 'block';

            themeBg.style.display = 'none';
            customBg.style.display = 'inline';

            bgPreview.onmouseover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };

            bgPreview.onmouseleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };

            bgPreview.ondragover = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.9";
                return false;
            };
            bgPreview.ondragleave = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                return false;
            };
            bgPreview.ondragend = function(e){
                e.preventDefault();
                return false;
            };
            bgPreview.ondrop = function(e){
                e.preventDefault();
                this.querySelector(".uk-position-cover").style.opacity = "0.7";
                setBackgroundImage(e.dataTransfer.files[0], bgPreview.querySelector('img'));
            };

            bgPreview.querySelector('input[type="file"]').onchange = function(e){
                setBackgroundImage(e.target.files[0], bgPreview.querySelector('img'));
            };
        }
    }
    </script>
{% endblock content %}