{% extends 'CommsyBundle:Settings:settings.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-3-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Extensions Configuration'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    {{ form_start(form) }}
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>{{ form_label(form.assessment) }}</b>
                            <div class="uk-form-horizontal uk-form-controls">Wenn diese Funktion aktiviert ist, können Einträge innerhalb von Räumen bewertet werden.</div>
                            {{ form_widget(form.assessment) }}
                        </div>

                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>{{ form_label(form.workflow) }}</b> 
                            <div class="uk-form-horizontal uk-form-controls">Die Workflow Einstellungen sind Zusatzfunktionen für die Rubrik Materialien, um den Redaktionsprozess zu koordinieren.</div>
                            {{ form_widget(form.workflow) }}
                        </div>
                        <div class="uk-panel uk-panel-box" style="margin-bottom: 20px;">
                            <b>{{ form_label(form.wikiEnabled) }}</b> 
                            <div class="uk-form-horizontal uk-form-controls">Setzen Sie diese Checkbox, um das Wiki zu aktivieren.</div>
                            {{ form_widget(form.wikiEnabled) }}
                        </div>                        
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ 'Information'|trans({}, 'settings') }}</div>
                    </div>
                </div>

                <div>
                    Some usefull text...
                </div>
            </div>

        </div>
    </div>
{% endblock content %}