<!DOCTYPE html>
{% import 'base/printmacro.html.twig' as macros %}

<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('css/build/commsy.css')) }}" />
        {% endblock %}

    </head>

    <body>

        {% block content %}
        <div>

	        <div>

	            {# discussion content panel #}
	            <div class="uk-panel-box-primary">
	                {# content #}
	                <article>
	                    {# title, etc. #}
	                    <div>
	                        {{ macros.title(user, modifierList, userCount, readCount, readSinceModificationCount, draft) }}
	                    </div>

	                    {# description #}
	                    <div>
	                        {{ macros.itemDescription('description', user, true, user.description) }}
	                    </div>
	            
	                   {# groups #}

                    <div>
                        <hr class="uk-width-9-10"/>
                        <article >
                            <a name="linked-groups"></a>
                            {# title row #}
                            <div>
                                <div >
                                    <h4 class="cs-detail-section-header">
                                        {{'linked groups'|trans({}) }}
                                       ({{linkedGroups|length}})
                                    </h4>
                                </div>
                            </div>
                            <div >
                                <div class="uk-grid">
                                   {% for group in linkedGroups %}

                                   <div>
                                       <a>{{ group.title|decodeHtmlEntity }} </a>
                                       ({{group.getCountMemberItemList}} &nbsp{{'members'|trans({}) }})
                                    </div>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
	                    
	                </article>

			        
		{% endblock %}
          
        
    </body>
</html>