{% extends 'base/room.html.twig' %}

{% import 'item/macros.html.twig' as macrosItem %}
{% import 'user/macros.html.twig' as macrosUser %}
{% import 'utils/macros.html.twig' as macros %}

{% set item = user %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-4-5">

            {# user content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                {# panel teaser #}
                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-grid">

                        {# quick item navigation #}
                        <div class="uk-flex-inline uk-width-2-5 ">

                            {# back navigation #}
                            <div class="uk-margin-right">
                                {% if firstItemId %}
                                    <a class="uk-button-primary" href="{{ path('app_user_detail', {'roomId': roomId, 'itemId': firstItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-left uk-button-primary"></i>
                                {% endif %}
                                {% if prevItemId %}
                                    <a class="uk-button-primary" href="{{ path('app_user_detail', {'roomId': roomId, 'itemId': prevItemId}) }}"><i class="uk-icon-small uk-icon-angle-left"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-left uk-button-primary"></i>
                                {% endif %}
                            </div>

                            {# item dropdown #}
                            <div class="uk-button-dropdown uk-margin-right" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'User'|transchoice(0, {}, "rubric")}} {{ counterPosition }} / {{ count }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div id="cs-entry-navigation" class="uk-dropdown uk-padding-remove">
                                   <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                                       {% for tempUser in userList %}
                                            {% if tempUser.itemId != user.itemId %}
                                                <li><a href="{{ path('app_user_detail', {'roomId': roomId, 'itemId': tempUser.itemId}) }}" data-uk-tooltip="{delay:'250'}" title="{{ tempUser.title|decodeHtmlEntity}} {{ tempUser.fullname|decodeHtmlEntity }}">{{ tempUser.title|decodeHtmlEntity}} {{ tempUser.fullname|decodeHtmlEntity|truncate(25) }}</a></li>
                                            {% else %}
                                                <li><a href="#" data-uk-tooltip="{delay:'250'}" title="{{ tempUser.title|decodeHtmlEntity}} {{ tempUser.title|decodeHtmlEntity }}" class="uk-text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tempUser.title|decodeHtmlEntity}} {{ tempUser.fullname|decodeHtmlEntity|truncate(20)  }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            {# forward navigation #}
                            <div>
                                {% if nextItemId %}
                                    <a class="uk-button-primary" href="{{ path('app_user_detail', {'roomId': roomId, 'itemId': nextItemId}) }}"><i class="uk-icon-small uk-icon-angle-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-right uk-button-primary"></i>
                                {% endif %}
                                {% if lastItemId %}
                                    <a class="uk-button-primary" href="{{ path('app_user_detail', {'roomId': roomId, 'itemId': lastItemId}) }}"><i class="uk-icon-small uk-icon-angle-double-right"></i></a>
                                {% else %}
                                    <i class="uk-icon-small uk-icon-angle-double-right uk-button-primary"></i>
                                {% endif %}
                            </div>
                        </div>

                        {# actions #}
                        <div class="uk-width-3-5 uk-text-right">


                            {# additional actions #}
                            <div class="uk-margin-left uk-button-dropdown" data-uk-dropdown>
                                <button class="uk-button uk-button-mini">
                                    {{ 'selected entries'|trans({}, 'rubric') }}
                                    <i class="uk-icon-caret-down"></i>
                                </button>

                                <div id="cs-additional-actions" class="uk-dropdown  uk-padding-remove">
                                    <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                                        {# print #}
                                        <li>
                                            <a href="{{ path('app_user_print', {'roomId': roomId, 'itemId': user.itemId}) }}" target="_blank" id="print">
                                                <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_user_send', {'roomId' : roomId, 'itemId': user.itemId}) }}" id="send">
                                                <i class="uk-icon-justify uk-icon-small uk-icon-send-o uk-visible-large"></i> {{ 'send email'|trans({},'user') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {% if is_granted('MODERATOR') and is_granted('ITEM_EDIT', item.itemId) %}
                                <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                    <button class="uk-button uk-button-mini">
                                        {{ 'Manage user'|trans({},'user') }}
                                        <i class="uk-icon-caret-down"></i>
                                    </button>
                                    <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
                                            {% if user.isRequested %}
                                                {# confirm #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-confirm', 'userDetail': 1}) }}" id="status-confirm">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-sign-in uk-visible-large"></i> {{ 'confirm'|trans({},'user') }}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% if not isSelf or moderatorListLength > 1 %}

                                                {# delete #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-delete', 'userDetail': 1}) }}" id="status-delete">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-trash-o uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                    </a>
                                                </li>

                                                {# block #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-block', 'userDetail': 1}) }}" id="status-block">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-ban uk-visible-large"></i> {{ 'block'|trans({},'user') }}
                                                    </a>
                                                </li>

                                                {# reading #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-status-reading-user', 'userDetail': 1}) }}" id="status-reading">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-user-secret uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'reading user'|trans({},'user') }}
                                                    </a>
                                                </li>

                                                {# user #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-status-user', 'userDetail': 1}) }}" id="status-user">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-user uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'user'|trans({},'user') }}
                                                    </a>
                                                </li>

                                            {% else %}
                                                {# reading #}
                                                <li>
                                                    <a href="#" id="status-reading" class="uk-text-muted" data-uk-tooltip title="{{ 'no moderators left'|trans({}, 'user') }}">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-user-secret uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'reading user'|trans({},'user') }}
                                                    </a>
                                                </li>

                                                {# user #}
                                                <li>
                                                    <a href="#" id="status-user" class="uk-text-muted" data-uk-tooltip title="{{ 'no moderators left'|trans({}, 'user') }}">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-user uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'user'|trans({},'user') }}
                                                    </a>
                                                </li>

                                                {# delete #}
                                                <li>
                                                    <a href="#" id="" class="uk-text-muted" data-uk-tooltip title="{{ 'no moderators left'|trans({}, 'user') }}">
                                                        <i class="uk-icon-small uk-icon-trash-o uk-icon-justify uk-visible-large"></i> {{ 'trash'|trans({})|capitalize }}
                                                    </a>
                                                </li>

                                                {# block #}
                                                <li>
                                                    <a href="#" id="status-block" class="uk-text-muted" data-uk-tooltip title="{{ 'no moderators left'|trans({}, 'user') }}">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-ban uk-visible-large"></i> {{ 'block'|trans({},'user') }}
                                                    </a>
                                                </li>

                                            {% endif %}

                                            {% if not user.isModerator %}
                                                {# moderator #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-status-moderator', 'userDetail': 1}) }}" id="status-moderator">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-wrench uk-visible-large"></i> {{ 'status'|trans({},'user') }}: {{ 'moderator'|trans({},'user') }}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% if user.isContact %}
                                                {# remove contact#}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-contact-remove', 'userDetail': 1}) }}" id="status-remove-contact">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-square-o uk-visible-large"></i> {{ 'contact remove'|trans({},'user') }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                {# contact #}
                                                <li>
                                                    <a href="{{ path('app_user_changestatus', {'roomId': roomId, 'userIds[]': user.itemId, 'status': 'user-contact', 'userDetail': 1}) }}" id="status-contact">
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-phone uk-visible-large"></i> {{ 'contact'|trans({},'user') }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>

                {% if alert %}
                    {{ macros.showAlert(alert) }}
                {%  endif %}

                {% if pathTopicItem %}
                    {{ macros.showPath(pathTopicItem, user) }}
                {%  endif %}

                {# content #}
                <article class="uk-article uk-position-relative" data-uk-observe>

                    <div id="userdata{{ user.itemId }}" class="cs-toggle" data-uk-observe>
                        {{ macrosUser.title(user, modifierList, userCount, readCount, readSinceModificationCount, draft, isSelf) }}
                    </div>
            
                    {# description #}
                    <div id="description{{ user.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_item_editdescription', {'roomId': user.contextId, 'itemId': user.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': user.contextId, 'itemId': user.itemId}) }}' }">
                        {{ macrosItem.itemDescription('description', user, isSelf, user.description) }}
                    </div>
                    
                    {# groups #}

                    <div id="links{{ user.itemId }}">
                        <hr class="uk-width-9-10"/>
                        <article class="uk-article uk-margin-left uk-margin-right">
                            <a name="linked-groups"></a>
                            {# title row #}
                            <div class="uk-grid uk-margin-small-bottom">
                                <div class="uk-width-9-10">
                                    <h4 class="cs-detail-section-header">
                                        {{'linked groups'|trans({}) }}
                                       ({{linkedGroups|length}})
                                    </h4>
                                </div>
                            </div>
                            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">
                                <div class="uk-grid">
                                   {% for group in linkedGroups %}


                                    <div class="uk-width-medium-1-3">
                                        <div class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom">
                                            <div class="uk-panel-teaser cs-panel-teaser-user">
                                               <div class="uk-grid">
                                                    <div class="uk-width-2-3">
                                                       <span class="uk-text-large uk-text-middle">
                                                           <a href="{{ path('app_group_detail', {'roomId': roomId, 'itemId': group.itemId}) }}">{{ group.title|decodeHtmlEntity }} </a>
                                                       </span>
                                                    </div>
                                                    {% if group.isGroupRoomActivated %}
                                                        <div class="uk-width-1-3 uk-text-right">
                                                            <a href="{{ path('app_room_home', {'roomId': group.groupRoomItemID}) }}" class="uk-icon-button uk-icon-sign-in cs-grouproom-sign-in" data-uk-tooltip title="{{'enter grouproom'|trans({}) }}"></a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <span>
                                            <a href="{{ path('app_group_send', {'roomId': roomId, 'itemId': group.itemId}) }}">
                                                {{'send mail to group'|trans({}) }}
                                            </a>
                                            </span><br/>
                                            <div class="uk-flex uk-flex-space-between">
                                                <div>
                                                    {{'members'|trans({}) }}: {{group.getCountMemberItemList}}                   
                                                </div>
                                                <div>
                                                    {{'links'|trans({}) }}: {{group.getCountAllLinkItemList}}              
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>


                    {# account #}
                    {% if user.itemId == currentUser.itemId or currentUser.isModerator %}
                    <div id="account{{ user.itemId }}">
                        <hr class="uk-width-9-10"/>
                        <article class="uk-article uk-margin-left uk-margin-right">
                            <a name="account"></a>
                            {# title row #}
                            <div class="uk-grid uk-margin-small-bottom">
                                <div class="uk-width-9-10">
                                    <h4 class="cs-detail-section-header">
                                        {{'account information'|trans({}) }} 
                                    </h4>
                                </div>
                            </div>
                            <div class="uk-width-9-10 uk-margin-remove uk-padding-remove">
                                <table class="uk-table-condensed" style="margin-bottom:30px;">
                                    <tbody>
                                        <tr>
                                            <td class="uk-text-bold">{{ 'account'|trans({})|capitalize }}</td>
                                            <td>{{ user.userId }}</td>
                                        </tr>
                                        {% if user.status == 1 and user.userComment != "" %}
                                            <tr>
                                                <td class="uk-text-bold">{{ 'user comment'|trans({}, 'user')|capitalize }}</td>
                                                <td>{{ user.userComment }}</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </div>
                    {% endif %}
 

                </article>
            </div>



        </div>

        <div class="uk-width-medium-1-5 cs-addon-navigation">

            {# quick navigation #}
            <div class="uk-panel uk-panel-box uk-padding-remove uk-panel-box-primary" data-uk-sticky>
                <div class="uk-panel-teaser uk-text-large cs-panel-teaser-primary uk-margin-remove">
                    {{ 'quick navigation'|trans({})|capitalize }}
                </div>
                <div id="cs-nav-quick" class="cs-nav-quick">
                    <ul class="uk-list uk-list-striped uk-padding-remove uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav="{toggle: '>li.uk-parent > a[href=\'#sections{{ user.itemId }}\']'}" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true}">
                        <li><a href="#userdata{{ user.itemId }}">{{ 'user data'|trans({})}}</a></li>
                        <li><a href="#description{{ user.itemId }}">{{ 'entry description'|trans({})}}</a></li>
                        <li><a href="#links{{ user.itemId }}">{{ 'linked groups'|trans({})}}</a></li>
                        {% if user.itemId == currentUser.itemId or currentUser.isModerator %}
                            <li><a href="#account{{ user.itemId }}">{{ 'account information'|trans({})}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
      
    </div>
    </div>
{% endblock %}

{# end #}