{% form_theme form _self %}

<div class="uk-margin-right uk-margin-bottom uk-position-relative uk-padding-remove">
    {% include 'utils/save_spinner.html.twig' %}
    <div class="uk-form-horizontal">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.emailRoom) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.hideEmailInThisRoom) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.phone) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left uk-margin-bottom">
                <div class="uk-width-9-10">
                    {{ form_row(form.mobile) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.title) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left uk-margin-bottom">
                <div class="uk-width-9-10">
                    {{ form_row(form.dateOfBirth) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.street) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.zipCode) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left uk-margin-bottom">
                <div class="uk-width-9-10">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.room) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.organisation) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left uk-margin-bottom">
                <div class="uk-width-9-10">
                    {{ form_row(form.position) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.homepage) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left">
                <div class="uk-width-9-10">
                    {{ form_row(form.skype) }}
                </div>
            </div>
            <div class="uk-flex uk-margin-small-left uk-margin-bottom">
                <div class="uk-width-9-10">
                    {{ form_row(form.language) }}
                </div>
            </div>
            <div class="uk-flex">
                <div class="uk-margin-small-left">
                    {{ form_row(form.save) }}
                </div>
                <div class="uk-margin-small-left">
                    {{ form_row(form.cancel) }}
                </div>
            </div>        
        {{ form_end(form) }}
    </div>
</div>

{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}} {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors is defined and errors|length > 0 -%}
        <span class='form-errors'> {%- for error in errors -%} {{ error.message }} {%- endfor -%}</span>
    {%- endif -%}
{%- endblock form_errors -%}