{% if showPortalConfigurationLink %}
    {% if portal.itemId is defined %}
        {% set portalId = portal.itemId %}
    {% else %}
        {% set portalId = portal.id %}
    {% endif %}
    <li>
        <a href="{{ path('app_portalsettings_index', {'portalId': portalId }) }}" uk-icon="icon: settings" title="{{ 'Portal configuration'|trans({}, 'portal') }}"></a>
    </li>
{% endif %}

{% if supportLink is not empty and tooltip is not empty %}
    <li>
        <a href="{{ supportLink }}" title="{{ tooltip }}" target="_blank" uk-icon="icon: question"></a>
    </li>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li>
        <a href="{{ path('app_copy_list', {'roomId': roomId}) }}" title="{{ 'copies'|capitalize|trans({}, "rubric")}}" uk-icon="icon: copy">
            <small id="cs-nav-copy-indicator">
            {% if count > 0 %}
                {{ count }}
            {% endif %}
            </small>
        </a>
    </li>

    {% if privateRoomItem %}
        <li>
            <a href="{{ path('app_portfolio_index', {'roomId': privateRoomItem.itemId}) }}" title="{{ 'Portfolios'|trans({}, "portfolio") }}" uk-icon="icon: table">
                <i class="uk-icon-table"></i>
            </a>
        </li>

        <li>
            <a href="{{ path('app_material_list', {'roomId': privateRoomItem.itemId}) }}" title="{{ 'stackStatus'|trans({}, "profile")}}" uk-icon="icon: folder">
            </a>
        </li>

        {% if privateRoomItem %}
            <li>
                <a href="{{ path('app_dashboard_overview', {'roomId': privateRoomItem.itemId}) }}" title="{{ 'dashboard'|trans({}, "rubric")}}" uk-icon="icon: home">
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endif %}