{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% for topic in topics %}

        <div class="uk-width-medium-1-2">

            {% set entryAllowedActions = '' %}
            {% if allowedActions[topic.itemId] is defined %}
                {% set entryAllowedActions = allowedActions[topic.itemId] %}
            {% endif %}
            <article class="uk-panel uk-panel-box cs-panel-border uk-margin-bottom" data-allowed-actions="{{ entryAllowedActions|json_encode() }}">
 
                <div class="uk-panel-teaser cs-panel-teaser-user">
                    {{ macros.statusColor(readerList, topic.itemId, 'grid') }}
 
                    <div class="items-checkbox uk-float-left uk-margin-small-right uk-hidden">
                        <form class="uk-form">
                            <input type="checkbox" value="{{ topic.itemId }}">
                        </form>
                    </div>
                    <div class="uk-grid uk-text-truncate">
                        <div>
                           <span class="uk-text-large">
                               <a href="{{ path('commsy_topic_detail', {'roomId': roomId, 'itemId': topic.itemId}) }}">{{ topic.title|decodeHtmlEntity }} </a>
                           </span>
                        </div>
                    </div>
                </div>
                
                <span>
                   {% set fileArray = topic.fileList.to_array %}
                   {{'files'|trans({}) }}: {% if not fileArray is empty %} {{macros.fileListShort(topic)}} {% else %} {{'no files'|trans({}) }} {% endif %}             
                </span><br/>

                <div class="uk-flex-space-between uk-text-nowrap">
                    <div>
                        {{'links'|trans({}) }}: {{topic.getCountAllLinkItemList}}              
                    </div>
                    <div>
                        {{'topic path'|trans({}) }}: {% if topic.isPathActive %} {{'topic path activated'|trans({}) }}{% else %} {{'topic path not activated'|trans({}) }} {% endif %}              
                    </div>
                </div>

                
            </article>
        </div>


{% else %}
    <span>{{ 'No more results found'|trans}}</span>
{% endfor %}




