{% extends 'CommsyBundle:Base:list.html.twig' %}
{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block content %}

    <div class="uk-grid">

    {% block contentwidth %}
        <div class="uk-width-medium-2-3">
    {% endblock %}

    <div class="uk-panel uk-panel-box uk-panel-box-primary">
    
    <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">
                            {% if not module is empty %}
                            {#
                                {% if module == 'material' %}
                                    <i class="uk-icon-justify uk-icon-medium uk-icon-file-o"></i>
                                {% elseif module == 'announcement'%}
                                    <i class="uk-icon-justify uk-icon-small uk-icon-comment-o"></i>
                                {% endif %}
                            #}

                                {{module|transchoice(1, {}, "rubric")|capitalize }}
                            {% else %}
                                Missing rubric title
                            {% endif %}

                            <div id="commsy-list-count-display" style="display:inline;">
                                <!-- ({#{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}#}) -->
                            </div>
                            <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">
                                <!-- (<span id="commsy-list-count-selected">{#{itemsCountArray.count}#}</span> {#{ 'of'|trans({},'messages')}#} <span id="commsy-list-count-all">{#{itemsCountArray.countAll}#}</span> {#{ 'selected'|trans({},'messages')}#}) -->
                            </div>
                        </div>
                        <div>
                            {% block sortbox %}
                            {% endblock %}
    
                            {% block editbox %}
                            {% endblock%}
    
                            <div class="uk-float-right uk-margin-small-left">
                                <i class="uk-icon-calendar uk-icon-small" data-uk-tooltip title="{{ 'calendar view'|trans({}, "date") }}"></i>
                            </div>
                            <div class="uk-float-right uk-margin-small-left">
                                <a href="{{ path('commsy_date_list', {'roomId': roomId}) }}" class="uk-text-contrast"><i class="uk-icon-list-ul uk-icon-small cs-icon-mute" data-uk-tooltip title="{{ 'list view'|trans({}, "date") }}"></i></a>
                            </div>

                            {# selection mode old code
                            <button class="uk-button uk-button-mini" data-uk-button data-commsy-select="{target:'.feed ul', actionUrl: '{{ path('commsy_material_feedaction', {'roomId': roomId}) }}'}" data-title="{{ 'list choice'|trans({},'rubric')|capitalize }}" data-alt-title="{{ 'unset list choice'|trans({},'rubric')|capitalize }}" data-confirm-delete="{{ 'confirm delete'|trans({},'rubric')}}" data-confirm-delete-cancel ="{{'confirm delete cancel'|trans({},'rubric')}}" data-confirm-delete-confirm ="{{'confirm delete confirm'|trans({},'rubric')}}">
                                {{ 'list choice'|trans({},'rubric')|capitalize }}
                            </button>
                            #}
                        </div>
                    </div>
                </div>
    
    <div id='calendar' data-events='{"url": "{{ path('commsy_date_events', {'roomId': roomId, 'dateFilter': app.request.query.get('date_filter')}) }}", "dateUrl": "{{ path('commsy_date_list', {'roomId': roomId}) }}"}' data-confirm-change='{{ 'confirm change'|trans({},"date")}}' data-confirm-change-cancel='{{ 'confirm change cancel'|trans({},"date")}}' data-confirm-change-ok='{{ 'confirm change ok'|trans({},"date")}}'></div>
    
    </div>
        </div>

    {% block listsidebar %}

        {# sidebar #}
        <div class="uk-width-medium-1-3 cs-right-column">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#list-filter', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'list filter'|trans({},"room")}}
                        </div>
                    </div>
                </div>
                <div id="list-filter">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock%}
        
    </div>

{% endblock %}