{% extends 'CommsyBundle:Base:list.html.twig' %}
{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}
{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

{% block content %}

    <div class="uk-grid">

    {% block contentwidth %}
        <div class="uk-width-medium-2-3">
    {% endblock %}

    <div class="uk-panel uk-panel-box uk-panel-box-primary">
    
    <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">
                            {% if not module is empty %}
                                {{module|capitalize|transchoice(1, {}, "rubric") }}
                            {% else %}
                                Missing rubric title
                            {% endif %}

                            <div id="commsy-list-count-display" style="display:inline;">
                                <!-- ({#{itemsCountArray.count}} {{ 'of'|trans({},'messages')}} {{itemsCountArray.countAll}#}) -->
                            </div>
                            <div id="commsy-list-count-edit" style="display:inline;" class="uk-hidden">
                                <!-- (<span id="commsy-list-count-selected">{#{itemsCountArray.count}#}</span> {#{ 'of'|trans({},'messages')}#} <span id="commsy-list-count-all">{#{itemsCountArray.countAll}#}</span> {#{ 'selected'|trans({},'messages')}#}) -->
                            </div>
                        </div>
                        <div>
                            {% block sortbox %}
                            {% endblock %}
    
                            {% block editbox %}
                                <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                    <button class="uk-button uk-button-mini cs-button-list">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>
                                    <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left uk-nav-parent-icon" data-uk-nav>

                                            {% if is_granted('ITEM_EDIT', 'NEW') %}
                                            <li>
                                                 <a href="{{ path('commsy_date_create', {'roomId': roomId, 'dateDescription' : "now"}) }}">
                                                    <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'new'|trans({})}}
                                                </a>
                                            </li>
                                            {% endif %}

                                            {# print #}
                                            <li>
                                                <a href="{{ path('commsy_date_printlist', {'roomId': roomId,'date_filter':app.request.query.get('date_filter')}) }}" target="_blank" id="print">
                                                    <i class="uk-icon-small uk-icon-print uk-icon-justify uk-visible-large"></i> {{ 'print'|trans({})|capitalize }}
                                                </a>
                                            </li>

                                            {% if iCal.show %}
                                                {# date export #}
                                                <li class="uk-parent">
                                                    <a href="#">
                                                        <i class="uk-icon-small uk-icon-calendar-o uk-icon-justify uk-visible-large"></i> {{ 'export dates'|trans({}, 'date') }}
                                                    </a>
                                                    <ul class="uk-nav-sub uk-list-striped uk-text-left">
                                                        {% for calendar in calendars  %}
                                                            <li>
                                                                <a href="{{ iCal.exportUrl }}&calendar_id={{ calendar.id }}" target="_blank" style="color:#444">
                                                                    {{ macros.calendarIcon(calendar) }}
                                                                    <span class="uk-vertical-align-middle">
                                                                        {{ calendar.title|trans({}, 'date') }}
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>

                                                {# date abo#}
                                                <li class="uk-parent">
                                                    <a href="#">
                                                        <i class="uk-icon-small uk-icon-calendar-plus-o uk-icon-justify uk-visible-large"></i> {{ 'abo dates'|trans({}, 'date') }}
                                                    </a>
                                                    <ul class="uk-nav-sub uk-list-striped uk-text-left">
                                                        {% for calendar in calendars  %}
                                                            <li>
                                                                <a href="{{ iCal.aboUrl|replace({"http:" : "webcal:", "https:" : "webcal:"}) }}&calendar_id={{ calendar.id }}" target="_blank" style="color:#444">
                                                                    {{ macros.calendarIcon(calendar) }}
                                                                    <span class="uk-vertical-align-middle">
                                                                        {{ calendar.title|trans({}, 'date') }}
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}

                                            {% if is_granted('MODERATOR') %}
                                                {# import iCal #}
                                                <li>
                                                    <a href="{{ path('commsy_date_import', {'roomId': roomId}) }}" >
                                                        <i class="uk-icon-justify uk-icon-small uk-icon-download uk-visible-large"></i> {{ 'import dates'|trans({},'date') }}
                                                    </a>
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                            {% endblock %}
    
                            <div class="uk-float-right uk-margin-small-left">
                                <i class="uk-icon-calendar uk-icon-small" data-uk-tooltip title="{{ 'calendar view'|trans({}, "date") }}"></i>
                            </div>
                            <div class="uk-float-right uk-margin-small-left">
                                <a href="{{ path('commsy_date_list', {'roomId': roomId}) }}" class="uk-text-contrast"><i class="uk-icon-list-ul uk-icon-small cs-icon-mute" data-uk-tooltip title="{{ 'list view'|trans({}, "date") }}"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
    <div id='calendar' data-events='{"url": "{{ path('commsy_date_events', {'roomId': roomId, 'dateFilter': app.request.query.get('date_filter')}) }}", "dateUrl": "{{ path('commsy_date_list', {'roomId': roomId}) }}"}' data-confirm-change='{{ 'confirm change'|trans({},"date")}}' data-confirm-change-cancel='{{ 'confirm change cancel'|trans({},"date")}}' data-confirm-change-ok='{{ 'confirm change ok'|trans({},"date")}}' data-translations='{"prevYear": "{{ 'prevYear'|trans({}, 'date') }}", "prev": "{{ 'prev'|trans({}, 'date') }}", "next": "{{ 'next'|trans({}, 'date') }}", "nextYear": "{{ 'nextYear'|trans({}, 'date') }}"}' data-options='{"locale": "de" }'></div>
    
    </div>
        </div>

    {% block listsidebar %}

        {# sidebar #}
        <div class="uk-width-medium-1-3 cs-right-column">

            {% if usageInfo is defined and usageInfo is not empty %}
                <div class="uk-panel uk-panel-box uk-panel-box-primary">
                    <div class="uk-panel-teaser cs-panel-teaser-primary">
                        <div class="uk-clearfix">
                            <div class="uk-float-right">
                                <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#usage-info', animation: 'uk-animation-fade'}">
                                    <i class="uk-icon-chevron-up"></i>
                                </a>
                            </div>
                            <div class="uk-text-large uk-float-left">
                                {{ usageInfo.title }}
                            </div>
                        </div>
                    </div>
                    <div id="usage-info">
                        {{ usageInfo.text|raw }}
                    </div>
                </div>
            {% endif %}

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-secondary" data-uk-toggle="{target: '#list-filter', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-text-large uk-float-left">
                            {{ 'list filter'|trans({},"room")}}
                        </div>
                    </div>
                </div>
                <div id="list-filter">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock%}
        
    </div>

{% endblock %}