{% extends 'CommsyBundle:Base:detail.html.twig' %}

{% set item = date %}

{% block content_left_column %}
    <div class="uk-panel">
        <div class="uk-panel-badge"><i class="{{ macros.iconClassForItemType(date.itemType) }} uk-icon-small {{ macros.statusColor(readerList, date.itemId) }}"></i></div>
        <h3 class="uk-panel-title">{{ date.title|raw }}</h3>
        {{ macros.detailInformation(date, modifierList) }}
    </div>
    
    <div class="uk-panel uk-margin-left uk-margin-bottom">
        {{ 'date'|trans({})|capitalize }}: {{ date.dateDescription }}
    </div>
    
    <div class="uk-panel uk-margin-left uk-margin-bottom">
        {{ 'place'|trans({})|capitalize }}: {{ date.place }}
    </div>
    
    <div class="uk-panel uk-margin-left uk-margin-bottom">
        {{ 'participants'|trans({})|capitalize }}:
        {% for participant in date.participantsItemList.to_array %}
            <a href="{{ path('commsy_user_detail', {'roomId': roomId, 'itemId': participant.itemId}) }}">
                {{ participant.fullname }}
            </a>
        {% endfor %}
    </div>
    
    <div class="uk-panel uk-margin-left uk-margin-bottom">
        {{ date.description|raw }}
    </div>
    
    <div class="uk-panel uk-margin-left uk-margin-bottom">
        {{  macros.fileList(date) }}
    </div>
{% endblock %}

{% block content_right_column %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser panel-teaser-primary">
            <div class="uk-clearfix">
                <div class="uk-float-right">
                    <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#user-main', animation: 'uk-animation-fade'}">
                        <i class="uk-icon-chevron-up"></i>
                    </a>
                </div>
                <div class="uk-float-left">
                    {{ '...'|trans({}, "room") }}
                </div>
            </div>
        </div>
        
        <div id="user-main" class="uk-overflow-container">
            <div class="">
                ...
            </div>
        </div>
    </div>
    
    {{ render(controller(
        'CommsyBundle:Link:show',
        { 'roomId': app.request.attributes.get('roomId'), 'itemId': date.itemId }
    ))}}

    {{ render(controller(
        'CommsyBundle:Hashtag:show',
        { 'roomId': roomId }
    ))}}

    {{ render(controller(
        'CommsyBundle:Category:show',
        { 'roomId': roomId }
    ))}}
{% endblock %}