{% if pageCount > 1 %}
<ul class="uk-pagination uk-pagination-left">
    {% if first is defined and current != first %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                <i class="uk-icon-angle-double-left"></i>
            </a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                <i class="uk-icon-angle-left"></i>
            </a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="uk-active">
                <span>{{ page }}</span>
            </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                <i class="uk-icon-angle-right"></i>
            </a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                <i class="uk-icon-angle-double-right"></i>
            </a>
        </li>
    {% endif %}
</ul>
{% endif %}
