{% extends 'CommsyBundle:Base:room.html.twig' %}

{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% form_theme form.request 'CommsyBundle:Form:uikit_layout.html.twig' %}
{% form_theme form.cancel 'CommsyBundle:Form:uikit_layout.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-1">

            {# request content panel #}
            <div class="uk-panel uk-panel-box uk-panel-box-primary">

                <div class="uk-panel-teaser cs-panel-teaser-primary cs-remove-overflow">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Request membership'|trans({}, "room") }} {{ 'for'|trans({}, 'messages') }} {{ 'room'|trans({}, 'profile') }} '{{ title }}'</div>
                    </div>
                </div>

                {# content #}
                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {# optional code #}
                    {% if form.code is defined %}
                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-form-controls-text">
                                {{ 'room code description'|trans({}, 'room') }}
                            </div>
                        </div>
                        {{ form_row(form.code) }}
                    {% endif %}

                    {# description #}
                    <div class="uk-form-row">
                        <div class="uk-form-controls uk-form-controls-text">
                            {{ 'room join description'|trans({}, 'room') }}
                        </div>
                    </div>
                    {{ form_row(form.description) }}

                    {# optional agb #}
                    {% if form.agb is defined %}
                        <div class="uk-form-row">
                            {{ form_label(form.agb) }}

                            <div class="uk-form-controls">
                                <pre class="uk-scrollable-text">{{ agbText|raw }}</pre>
                            </div>
                        </div>

                        <div class="uk-form-row">
                            <div class="uk-form-controls uk-form-controls-text">
                                {{ form_errors(form.agb) }}
                                <input style="vertical-align: baseline;" id="{{ form.agb.vars.id }}" name="{{ form.agb.vars.full_name }}" value="{{ form.agb.vars.value }}" type="checkbox">
                                <label>{{ 'Accept'|trans({}, 'room') }}</label>
                            </div>

                            {% do form.agb.setRendered %}
                        </div>
                    {% endif %}

                    {# buttons #}
                    <div class="uk-form-row">
                        <div class="uk-form-controls uk-button-group">
                            {{ form_widget(form.request) }}

                            <div class="uk-margin-small-left">
                                {{ form_widget(form.cancel) }}
                            </div>
                        </div>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
