{% import 'CommsyBundle:utils:macros.html.twig' as macros %}

{% for result in results %}
    {% set entity = result.entity %}

    <article class="uk-comment">

        <header class="uk-comment-header uk-flex">

            {# user icon and modification time #}
            <div class="uk-margin-right uk-flex-item-none">
                {% if entity.modifier is defined and entity.modifier is not empty %}
                    {% if entity.modifier.status >= 2 %}
                        {{ macros.userIconLink(entity.modifier) }}
                    {% else %}
                        {{ macros.userIcon(entity.modifier) }}
                    {% endif %}
                {% else %}
                    {# if modifier is undefined, show creator #}
                    {% if entity.creator.status >= 2 %}
                        {{ macros.userIconLink(entity.creator) }}
                    {% else %}
                        {{ macros.userIcon(entity.creator) }}
                    {% endif %}
                {% endif %}
                <div class="uk-comment-meta">
                    {% if entity.modificationDate|date("d.m.Y") == "now"|date("d.m.Y") %}
                        {{ 'today'|trans({})|capitalize }}, {{ entity.modificationDate|date("H:i") }}
                    {% else %}
                        {{ entity.modificationDate|date("d.m.Y") }}
                    {% endif %}
                </div>
            </div>

            {# title and meta #}
            <div class="uk-width-8-10">
                <h4 class="uk-comment-title">
                    <a href="{{ path(result.routeName, {'roomId': entity.contextId, 'itemId': entity.itemId}) }}">
                        {% if entity.title is defined %}
                            {{ entity.title|decodeHtmlEntity }}
                        {% endif %}

                        {% if entity.firstname is defined and entity.lastname is defined %}
                            {{ entity.firstname }} {{ entity.lastname }}
                        {% endif %}
                    </a>
                </h4>

                <div class="uk-comment-meta">
                    {% if entity.author is defined and entity.author is not empty %}
                        {{ 'by'|trans({})|capitalize }}: {{ entity.author }} ({{ entity.publishingDate }})
                    {% else %}
                        {% if entity.modifier is defined and entity.modifier is not empty %}
                            {{ 'by'|trans({})|capitalize }}: {{ entity.modifier.fullname }} ({{ entity.getCreationDate|date("d.m.Y") }})
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </header>
    </article>
{% else %}
    {{ 'No more results found'|trans}}
{% endfor %}