<form name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="{{ form.vars.method }}" class="uk-search" data-uk-search="{
    source:'{{ path('commsy_search_results', { 'roomId': roomId, 'mode': 'json' }) }}',
    delay: 300,
    msgResultsHeader: '{{ 'best matches'|trans({}, 'search') }}',
    msgMoreResults: '{{ 'more results'|trans({}, 'search') }}',
    msgNoResults: '{{ 'No results found'|trans({}, 'search') }}'
}">

    <div class="uk-autocomplete" data-uk-autocomplete='{
        "source": "{{ path('commsy_search_itemsearchresults', { 'roomId': roomId, 'mode': 'json' }) }}"
    }' data-cs-link-search='{
        "source": "{{ path('commsy_item_singlearticle', {'roomId': roomId, 'itemId': -1}) }}"
    }'>
        {{ form_widget(form.phrase) }}
        {#{{ form_widget(form.type) }}#}
        {#{{ form_widget(form.submit) }}#}

        <script type="text/autocomplete">
        {% verbatim %}
            <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                {{~items}}
                <li data-value="{{ $item.value }}">
                    <a>
                        {{ $item.title }}
                        <div>{{{ $item.text }}}</div>
                    </a>
                </li>
                {{/items}}
            </ul>
        {% endverbatim %}
        </script>
    </div>
{{ form_end(form) }}